* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    width: 100%;
    position: relative;
    margin: 0;
}

button {
    color: rgb(26, 150, 244);
    background-color: rgba(103, 51, 51, 0);
    border: 0 solid white;
}

p {
    font-size: 0.8rem;
    line-height: 120%;
}

li {
    font-size: 0.85rem;
}

.comment_box p {
    display: inline;
}

/* -- Nav bar -- */
.navbar_back {
    width: 100%;
    height: 55px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #FFFFFF;
    border: 1px solid rgb(210, 210, 210);
}

.navbar_box {
    width: 50%;
    width: 900px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 30px;
    transform: translateY(10);
}

/* -- Nav Searchbar -- */
.searchbar_box {
    position: relative;
    width: 200px;
    height: 25px;
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px solid rgb(210, 210, 210);
}

.searchbar_box img {
    height: 10px;
    position: absolute;
    left: 40px;
    top: 7px;
    opacity: 0.3;
}

/* -- Nav Icon, image -- */
.icons {
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.icons img {
    height: 23px;
    border: 0;
    border-radius: 100%;
}

/* --  Main Start --  */

.whole_box {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
}


/* --  Story --  */

.story_section {
   width: 615px;
   height: 120px;
   display: flex;
   justify-content: space-around;
   margin-top: 25px;
   border-radius: 3px;
   background-color: #FFFFFF;
   border: 1px solid rgb(210, 210, 210);
}

.story_innerbox {
    border: 0 solid black;
    width: 100px;
    height: 100%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.profile_box {
    display: flex;
    justify-content: center;
}

.story_profile{
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
}

.story_section p {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

/* --  Feed --  */

.feed_box {
    width: 615px;
    height: 815px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid rgb(210, 210, 210);
}

.feed_profile {
    width: 615px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.feed_profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.feed_profile p {
    font-size: 0.65rem;
    line-height: 170%;
}

.feed_profile strong {
    font-size: 0.75rem;
    color: rgb(30, 30, 30);
}

.feed_img {
    width: 615px;
    height: auto;
}

/* -- Comment -- */
.comment_box {
    width: 100%;
    padding: 10px;
}

.explanation {
    border: 2px solid white;
}

.comment_icons {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
}

.icons_left {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.do_like {
    position: absolute;
    left: 0;
    z-index: 1;
}

.undo_like {
    visibility: hidden;
    z-index: 50;
}

.bubble {
    transform: translate(-5px);
}

.comment_inputbox {
    height: 50px;
    position: relative;
}

.comments_loaded {
    list-style-type: none;
}

.comment_input {
    width: 100%;
    height: 100%;
    border: 0;
    border-top: 1px solid rgb(210, 210, 210);
}

.comment_button {
    position: absolute;
    right: 0;
    top: 15px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.comment {
    height: 100px;
}

.comments_loaded {
    position: relative;
}

.delete {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 5px;
}

/* -- Recommend Start -- */
.recommend {
    width: 320px; 
    height: 400px;
    padding: 20px 30px 0 30px;
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    top: 40px;
}

.recommend_box {
    width: 100%;
    height: 100%;
}

.rec_myprofile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rec_myprofile img {
    width: 58px;
    height: 58px;
    border: 0;
    border-radius: 50%;
}

.rec_text {
    margin-left: 10px;
    font-size: 0.75rem;
}

.follow_profile {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;

}

.follow_box1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 10px;
}

.follow_recommend {
    width: 190px;
    margin-left: 10px;
}

.follow_box1 button {
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(30, 30, 30);
}

.follow_box2 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.follow_box2 p {
    font-size: 0.65rem;
    line-height: 120%;
    margin: 0;
}

.follow_box2 strong {
    font-size: 0.75rem;
    color: rgb(50, 50, 50);
}

.follow_box2 button {
    background-color: rgba(255, 255, 255, 0);
    width: 50px;
    font-weight: 500;
    font-size: 0.7rem;
    color: rgb(26, 150, 244);
    border: 0 solid white;
}

.follow_box2 button:focus {
    outline: none;
}

