* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    width: 100%;
}
7
button {
    color: rgb(26, 150, 244);
    background-color: rgba(255, 255, 255, 0);
    border: 0 solid white;
}

h3 {
    font-size: 0.6 rem;
    font-weight: 500;
}


/* -- Nav bar -- */
.navbar_back {
    width: 100%;
    height: 55px;
    background-color: pink;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar_box {
    border: 3px solid blueviolet;
    width: 50%;
    max-width: 940px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 30px;
}

/* -- Nav Searchbar -- */
.searchbar_box {
    position: relative;
    display: flex;  
    width: 220px;
    height: 25px;
    background-color: white;
    border-radius: 2px;
}

.searchbar_box img {
    height: 15px;
    position: absolute;
    left: 30px;
    top: 5px;
    
}

/* -- Nav Icon, image -- */
.icons {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.icons img {
    height: 23px;
    border: 0;
    border-radius: 100%;
}

/* --  Main Start --  */

.whole_box {
    background-color: salmon;
    display: flex;
    justify-content: center;
}


/* --  Story --  */

.story_section {
   background-color: slategray;
   width: 615px;
   height: 120px;
   display: flex;
   justify-content: space-around;
}

.story_innerbox {
    border: 2px solid black;
    width: 80px;
    height: 115px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.story_profile{
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
}

.story_section p {
    width: 80px;
    height: 150px;
    border: 8px solid green;
}

/* --  Feed --  */

.feed_box {
    background-color: tan;
    width: 615px;
    height: 900px;
}

.feed_profile {
    border: 2px solid springgreen;
    width: 615px;
    height: 60px;
    display: flex;
    align-items: center;
}

.feed_profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.feed_img {
    width: 615px;
    height: auto;
}

/* -- Comment -- */
.comment_box {
    width: 100%;
    padding: 15px;
    border: 2px solid teal;
}

.explanation {
    border: 2px solid white;
}

.comment_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icons_left {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.comment_inputbox {
    height: 50px;
    position: relative;
}

.comments_loaded {
    list-style-type: none;
    border: 1px solid cornflowerblue;   
}

.comment_input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: silver;
}

.comment_button {
    position: absolute;
    right: 0;
    top: 15px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.comment {
    border: 2px solid peru;
    height: 100px;
}

/* -- Recommend Start -- */
.recommend {
    width: 350px; 
    height: 100vh;
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
    background-color: rgb(113, 214, 214);
}

.recommend_box {
    width: 350px;
    border: 2px solid goldenrod;
}

.rec_myprofile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.follow_recommend {
    width: 250px;
}

.follow_profile {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
}

.follow_box {
    position: relative;
    display: flex;
    justify-content: space-between;
}