body {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.loginWrapper {
  width: 390px;
  height: 420px;
  margin: 30px auto;
  padding: 30px 45px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
.logo {
  display: block;
  margin: 0 auto;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
input {
  height: 40px;
  margin-bottom: 5px;
  padding: 3px 8px;
  border: 1px solid lightgray;
  border-radius: 3px;
  color: #9e9e9e;
  background-color: #fafafa;
}
.loginBtn {
  height: 30px;
  margin-top: 10px;
  border: 1px solid #bee1fd;
  border-radius: 5px;
  color: white;
  background-color: #bee1fd;
  font-weight: 600;
}
p {
  margin-top: 130px;
  color: #134273;
  font-weight: 600;
  text-align: center;
}
