body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--b3f,250,250,250),1);
}


.login {
    width: 348px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid #bbb;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

}


.westaLogo {
    font-family:'Lobster', cursive;
    font-size: 50px;
    font-weight: 500;
}


.inputText{
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 36px;
    margin-bottom: 50px;
    
}


.inputText input{
    padding: 9px 0 7px 8px;
    margin: 3px; 
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color:rgba(var(--b3f,250,250,250),1);
}


.inputText input:focus{
    outline: none;
}


.loginButton {
    width: 248px;
    height: 30px;
    background-color: #0095f6;
    color: white;
    border-radius: 3px;
    border: none;
}


a {
    margin-top: 50px;
    font-size: 12px;
    color: #385185;
    font-weight: 600;
} 

.loginButton:disabled {
    background-color: #B9DFFC;
}


.loginButton:disabled:hover {
    cursor: default;
}


.loginButton:enabled:hover {
    cursor: pointer;
}



.loginButton:focus {
    outline: none;
}