.container {
    width: 21.88rem;
    margin: 3.125rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    background-color: var(--white);
}

.logo {
    margin: 2.5rem 0;
    font-size: 2.5rem;
}

.login-wrap {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrap input {
    height: 2.5rem;
    margin: 0.1875rem 0px;
    padding: 0.875rem 0.625rem 0.875rem 0.625rem;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.1875rem;
}

.login-wrap input:focus {
    border: 1px solid #a8a8a8;
}

.login-wrap input::placeholder {
    color: #ACACAC;
}

.login-btn {
    height: 2.5rem;
    margin: 0.625rem 0px;
    border: 0;
    border-radius: 0.3125rem;
    background-color: var(--disabled);
    color: var(--white);
    font-weight: 700;
    font-size: 0.9375rem;
}

.find-password {
    margin: 3.75rem 0 1.25rem 0;
    color: #00376b;
    text-align: center;
    font-size: 12px;
}

.enabled-btn {
    background-color: var(--enabled);
    cursor: pointer;
}

.disabled-btn {
    background-color: var(--disabled);
    cursor: default;
}

@media (max-width: 450px) {
    .container {
        background-color: var(--background);
        border: 0;
    }
}