.container {
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    background-color: #fff;
}

.logo {
    margin: 40px 0;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.login-wrap {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrap input {
    height: 40px;
    margin: 3px 0px;
    padding: 14px 10px 14px 10px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.login-wrap input:focus {
    border: 1px solid #a8a8a8;
}

.login-wrap input::placeholder {
    color: #ACACAC;
    font-weight: 600;
}

.login-btn {
    height: 32px;
    margin: 10px 0px;
    border: 0px;
    border-radius: 5px;
    background-color: #B9DFFC;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.find-password {
    margin: 60px 0 20px 0;
    text-align: center;
    color: #00376b;
    font-size: 12px;
}

/* login keyup event */
.enabledBtn {
    background-color: #0095F6;
    cursor: pointer;
}

.disabledBtn {
    background-color: #B9DFFC;
    cursor: default;
}