a,span {
    font-size: 0.875rem
}

button:focus{ 	
    border: none;
    outline:none;
}

/* nav bar */
.nav-container {
    position: fixed;
    width: 100%;
}

.nav-bar {
    height: 3.375rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
}

.navbar-wrap {
    width: 58.44rem;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrap a {
    text-decoration: none;
}

.logo {
    margin: auto 0;
    margin-right: 5rem;
    color: var(--black);
    font-size: 1.5rem;
}

.search-wrap {
    position: relative;
}

.keyword-delete-btn {
    position: absolute;
    right: 5px;
    bottom: 0.3rem;
    border: 0;
    background-color: #c9c9c9c9;
    border-radius: 50%;
    color: -white;
    color: var(--white);
    width: 1rem;
    height: 1rem;
    font-size: 12px;
    padding: 0px 0px 1px 1px;
}

.search-input {
    flex: 0 1 auto;
    min-width: 7.813rem;
    width: 13.44rem;
    height: 1.75rem;
    margin: auto 0;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.1875rem;
    text-indent: 1.375rem;
}

.search-input::placeholder {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-size: contain;
    background-position: 4.375rem center;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 0;
}

.search-input:focus::placeholder { 
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-size: contain;
    background-position: 0.3125rem center;
    background-repeat: no-repeat;
    padding-left: 1.563rem;
    text-align: left;
    text-indent: 0;
    color: var(--gray);
}

/* 검색결과창 */
.search-result-wrap {
    position: absolute;
    width: 150%;
    left: 50%;
    margin: 0.9375rem 0;
    transform:translateX(-50%);
}

.speech-bubble {
    width: 0.9375rem;
    height: 0.9375rem;
    margin: -0.4375rem auto;
    transform: rotate(45deg);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.search-result {
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0 0.8125rem 1.688rem -0.3125rem,
                rgba(0, 0, 0, 0.3) 0 0.5rem 1rem -0.5rem;
}

.search-list span {
    display: flex;
}

.search-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.search-list li div {
    margin: 0 0.625rem;
}

.search-list li div span:last-child {
    color: var(--gray);
}

.search-list li img {
    width: 2.75rem;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.noResult {
    height: 21.88rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-size: 0.85rem;
}

.icon-wrap {
    width: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-wrap a {
    height: 1.375rem;
}

.nav-icon {
    width: 1.375rem;
    height: 1.375rem;
}

.profile-wrap {
    padding-top: 0.3125rem;
}

.profile-img {
    width: 1.375rem;
    border-radius: 50%;
}

/* 프로필 메뉴박스 */
.profile-menu-wrap {
    width: 14.38rem;
    position: absolute;
    margin: 1rem 0;
    right: 15%;
    z-index: 2;
}

.profile-menu-wrap .speech-bubble {
    position: absolute;
    right: 15%;
}

.profile-menu {
    position: relative;
    background-color: var(--white);
    border-radius: 0.3125rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 0.8125rem 1.688rem -0.3125rem, 
                rgba(0, 0, 0, 0.3) 0 0.5rem 1rem -0.5rem;
}

.profile-list svg {
    width: 1rem;
}

.profile-list li {
    display: flex;
    padding: 0.625rem 0.9375rem;
    align-items: center;
}

.profile-list li:hover {
    background-color: var(--background);
}

.profile-list li div {
    margin: 0 0.625rem;
}

.logout {
    border-top: 1px solid var(--border);
}

.logout a {
    padding-top: 0.0625rem;
}


/* 메인 */
.main {
    width: 58.44rem;
    display: flex;
    margin: 0 auto;
    padding: 5rem 0;
}

.feeds {
    width: 38.38rem;
    justify-content: center;
}

/* 스토리 */
.insta-story {
    display: flex;
    align-items: center;
    /* width: 38.38rem; */
    padding: 1rem 0;
    margin-bottom: 1.875rem;
    border: 1px solid var(--border);
    border-radius: 0.1875rem;
}

.scroll-btn-wrap {
    width: 38.38rem;
    position: absolute;
}

.scroll-btn-wrap button {
    width: 1.563rem;
    height: 1.563rem;
    margin: 0.3125rem;
    background-color: var(--white);
    border: 0;
    border-radius: 50%;
    mix-blend-mode: screen;
    box-shadow: rgba(100, 100, 111, 0.5) 0 0.4375rem 1.813rem 0;
}

.scroll-btn-wrap .next-btn {
    float: right;
}

.insta-story ul::-webkit-scrollbar {
    display: none;
}

.insta-story ul {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.insta-story ul li {
    margin: 0 0.625rem;
}

.insta-story ul li .gradient-wrap {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    margin-bottom: 0.3125rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}

.gradient-wrap img {
    border-radius: 50%;
    width: 3.5rem;
    border: 2px solid var(--white);
}

.insta-story ul li p {
    text-overflow: ellipsis;
    max-width: 3.75rem;
    overflow: hidden;
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: 0.1px;
    text-align: center;
}

/* 피드 */
article {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 0.1875rem;
}

.feed-nav {
    height: 3.75rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.feed-nav .profile-img {
    width: 2rem;
}

.id-wrap {
    width: 33.5rem;
    margin-left: 0.85rem;
    justify-content: space-between;
}

.id-wrap i {
    float: right;
}

.feed-img {
    width: 38.31rem;
    height: 38.31rem;
}

.feed-content {
    background-color: var(--white);
    
}

.feed-icon {
    padding: 0.3125rem 0.5rem;
}

.feed-icon svg {
    margin: 0.5rem;
}

.feed-icon svg:last-child {
    float: right;
}

.like-list {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.like-list .profile-img {
    width: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.like-list span {
    margin: 0 0.3125rem;
}

.feed-article {
    padding: 0 1rem;
}

.feed-content p {
    margin: 0;
    padding: 0;
    color: var(--gray);
}

.reply-list{
    padding: 0 1rem 0.75rem 1rem;
}

.like-heart {
    margin: 0.15rem 0.2rem 0.15rem 0rem;
    float: right;
    font-size: 0.85rem;
}

.delete-reply {
    float: right;
    font-size: 1rem;
}

/* 댓글입력 */
.add-comment {
    height: 3.125rem;
    display: flex;
    padding: 0 0.9375rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
}

.add-comment svg {
    width: 1.5rem;
    height: 1.5rem;
}

.add-comment input {
    width: 85%;
    border: 0;
}

.add-comment-btn {
    border: 0;
    background-color: var(--white);
    color: var(--disabled);
}

/* main-right */
.main-right {
    width: 18.31rem;
    position: fixed;
    left: 55.44rem;
    top: 5.5rem;
    padding-left: 0.3125rem;
    z-index: -1;
}

.account {
    display: flex;
    padding: 1.25rem 0;
    align-items: center;
}

.account img {
    width: 3.5rem;
    border-radius: 50%;
}

.main-right .id-wrap {
    width: 100%;
}

.main-right .id-wrap span{
    margin: 0 0.625rem;
}

.main-right .id-wrap a {
    float: right;
}

.recommend-for-user {
    padding-bottom: 0.625rem;
}

.recommend-list span {
    display: flex;
    justify-content: space-between;
}

.recommend-list span span:first-child {
    color: var(--gray);
}

.recommend-for-user a {
    font-size: 0.75rem;
}

.recommend-list li {
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.recommend-list li div {
    width: 70%;
}

.recommend-list li div span:last-child {
    font-size: 0.75rem;
    color: var(--gray);
}

.recommend-list li img {
    width: 2rem;
    border-radius: 50%;
}

.account a, .follow {
    color: var(--enabled);
    font-size: 0.75rem;
}

/* keyup event */
.enabled-btn {
    color: var(--enabled);
    cursor: pointer;
}

.disabled-btn {
    color: var(--disabled);
    cursor: default;
}

.hidden {
    display: none;
}

/* 반응형 */
@media (max-width: 1078px) {
    .main-right {
        display: none;
    }

    .main {
        justify-content: center;
    }

    .navbar-wrap {
        justify-content: space-evenly;
    }

}

@media (max-width: 768px) {
    .search-wrap {
        display: none;
    }
}