*{ 
    box-sizing: border-box;
}

.root{
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
}

.contaner{
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    border: 1px solid rgba(000,000,000,0.2);   
}

.logo-contaner{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo{
    width: 150px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.login-contaner{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
input{
    margin-bottom: 7px;
    background-color: #FAFAFA;
    border: 1px solid rgba(000,000,000,0.2);   
    border-radius: 3px;
    font-size: 10px;
    padding: 10px;
}

.login-button{
    background-color: #C4E0FB;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(000,000,000,0.1);   
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.footer{
    margin-top: 70px;
    margin-bottom: -15px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: #00376B;
}



