.login_page{
    margin-top: 60px;
}

.login_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    height: 606px;
}

.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-dark-white);
}

.login_form,
.has_account{
    background:var(--color-lighter-white);
}

.login_form h1{
    font-size: 45px;
    align-self: center;
    font-family: var(--font-title);
}

/* input part*/
.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_container :first-child, .input_container input:nth-of-type(2) {
    margin-bottom: 8px;
    width: 266px;
    height: 37px;
    border: 1px solid var(--color-dark-white);
    background-color: var(--color-white);
    outline: none;
}

.input_container :last-child{
    margin-top: 8px;
    width: 270px;
    height: 31px;
    font-weight: bold;
    border-style: none;
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-color: #B9DFFC;
    outline: none;
}

/* or container part*/
.or_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px ;
}

.or_container div{
    margin-top: 7px;
    padding-left: 103px;
    border-top: 1px solid var(--color-dark-white);
}

h1.text_or{
    margin: 0px 20px 10px 20px;
    font-size: 13px;
    color:var(--color-gray);
}

/* facebook part */
.facebook_login_link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facebook_login_text{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-dark-blue);
}

.facebook_login_text i {
    font-size: larger;
    color: var(--color-dark-blue);
}

.facebook_login_link a{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 11px;
    color:var(--color-dark-blue);
}

/* hasAccount part */
.has_account{
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-dark-white);
    margin: 10px 0 10px;
    font-size: 14px;
    text-decoration: none;
}

.has_account_content a {
    text-decoration: none;
    font-weight: bold;
    color: #1E9DF7;
}

.has_account_content{
    margin: 20px auto;
}

/* download-App part */
.download_APP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download_APP p{
    font-size: 14px;
}

.download_button{
    display: flex;
}

.download_button a{
    margin-right: 15px;
    border-radius: var(--border-radius);
    color: var(--color-white);
}

.apple_icon{
    height: 40px;
    width: 134px;
}

.googleplay_icon{
    height: 40px;
    width: 136px;
}
