/* navigation*/
.westargram_whole_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:flex-start;
    background: var(--color-white);
}

.navigation_bar_container{
    display: flex;
    justify-content: space-between;
    align-self:stretch;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--color-dark-white);
    background:  var(--color-lighter-white);
    order: 0;
}

/* title */
.title_nav{
    display: flex;
    justify-content: space-around;
}

.title_nav div:last-of-type{
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 25px;
}

.title_nav i,
.title_nav div{
    margin-right: 10px;
    font-size: 20px
}

.title_nav i,
.title_nav div:first-of-type {
    margin-top: 10px;
    margin-left: 10px;
}

/* navigation search part */
.input_search_container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: 28px;
    width: 215px;
    border: 0 solid var(--color-black);
}

.input_search_bar{
    position: absolute;
    padding: 3px 10px 3px 26px;
    border: solid 1px var(--color-dark-white);
    height: 100%;
    width: 100%;
    font-size: 14px;
    background: var(--color-white);
    outline: 0;
}

.searched_id_container{
    display: block;
}

.searched_id_list{
    display: flex;
    flex-direction: column;
}

.searched_id_list div {
    position: relative;
    padding-top: 8px;
    padding-left:10px ;
    bottom: -11px;
    width: 100%;
    height: 30px;
    border: solid 1px var(--color-dark-white);
    border-radius: var(--border-radius);
    font-size: 12px;
    background: var(--color-white);
    opacity: 0.9;
    z-index: 9;
}

/* navigation right part icons */
.nav_icons{
    padding-top: 10px;
}

.nav_icons img{
    margin-left: 22px;
    width: 22px;
    height: 22px;
}

/* main-page */
.main_image_container{
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

.main_image{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 500px;
    min-height: 500px;
}

.main_container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.feed_container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    margin-right: 30px;
    margin-top: 30px;
    border: 1px solid var(--color-dark-white);
    width:615px;
    background:var(--color-lighter-white);
}

/* main header part */
.feed_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 40px 16px 16px;
    height: 60px;
    border-bottom: 1px solid var(--color-light-white);
}

.feed_header div{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.feed_header div p{
    margin: 0;
}

.settings_icon{
    margin-left: auto;
}

.round_image{
    margin-right: 10px;
    width: 42px;
    height: 42px;
    border-radius: var(--border-round-radius);
}

/* main page board part */
.board_container{
    padding: 0px 10px 10px 10px;
}

/* icons container */
.icons_contianer{
    display: flex;
    justify-content: flex-start;
}

.icons_contianer i{
    margin: 10px 15px 10px 0px;
    font-size: 22px;
}

.icons_contianer i:last-of-type{
    margin-left: auto; 
}

/* feed icons */
.feed_icons_container{
    margin-bottom: 10px;
}

.feed_message_container{
    margin-bottom: 10px;
}

.feed_message_container span:first-of-type{
    margin-right: 10px;
}

/* comment part */
.comment_line{
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-light-white);
}

.each_comment_list{
    display: flex;
    vertical-align: middle;
}

.commented_user_id,
.commented_text,
.commented_text_remove{
    display: inline;
    margin: 0 10px 0 0;
}

.commented_user_id{
    float: left;
}

.commented_text{
    font-size: 12px;
    padding-top: 1px;
}

.commented_text_remove{
    color: var(--color-blue);
    margin-left: auto;
    font-size: 10px;
}

.comment_write_form{
    display: flex;
}

.comment_input{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0;
    height: 18px;
    color: #262626;
    resize: none; 
    outline: 0;
}

.comment_submit_button{
    display: inline;
    margin-left: auto;
    padding: 0;
    text-align: center;
    border: 0;
    background: 0 0;
    color: var(--color-blue);
    cursor: pointer;
}

/* main right part*/
.round_image_small{
    width: 20px;
    height: 20px;
    border-radius: var(--border-round-radius);
}

.recomandation_profile{
    display: flex;
    justify-content: flex-start;
}

.recomandation_profile div:last-of-type{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--color-blue);
}

.own_profile_container p{
    margin: 0 0 0 8px;
    font-size: 15px;
}

.recomandation_list div:first-of-type{
    display: flex;
    justify-content: space-between;
}

.right_whole_container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.main_right_container {
    position: fixed;
}

.recomandation_image{
    width: 30px;
    height: 30px;
    border-radius: var(--border-round-radius);
}

.recomandation_individual{
    display: flex;
    justify-content: space-between;
}

.recomandation_individual div:first-of-type{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 50px;
}

.user_follow_status{
    font-size: 12px;
}

.recomandation_individual div:last-of-type{
    margin-top: 5px;
}

@media (max-width:900px){
    .right-whole-container{
        display: none;
    }
}
