/* navigation*/
.westargram-whole-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items:flex-start;
    background: var(--color-white);
}
.navigation-bar-container{
    display: flex;
    justify-content: space-between;
    align-self:stretch;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--color-dark-white);
    background:  var(--color-lighter-white);
    order: 0;
}
/* title */
.title-nav{
    display: flex;
    justify-content: space-around;
}
.title-nav div:last-of-type{
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 25px;
}
.title-nav i,
.title-nav div{
    margin-right: 10px;
    font-size: 20px
}
.title-nav i,
.title-nav div:first-of-type {
    margin-top: 10px;
    margin-left: 10px;
}
/* navigation search part */
.input-search-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    height: 28px;
    width: 215px;
    border: 0 solid var(--color-black);
}
.input-search-bar{
    position: absolute;
    padding: 3px 10px 3px 26px;
    border: solid 1px var(--color-dark-white);
    height: 100%;
    width: 100%;
    font-size: 14px;
    background: var(--color-white);
    outline: 0;
}
.searched-id-container{
    display: block;
}
.searched-id-list{
    display: flex;
    flex-direction: column;
}
.searched-id-list div {
    position: relative;
    padding-top: 8px;
    padding-left:10px ;
    bottom: -11px;
    width: 100%;
    height: 30px;
    border: solid 1px var(--color-dark-white);
    border-radius: var(--border-radius);
    font-size: 12px;
    background: var(--color-white);
    opacity: 0.9;
    z-index: 9;
}
/* navigation right part icons */
.nav-icons{
    padding-top: 10px;
}
.nav-icons img{
    margin-left: 22px;
    width: 22px;
    height: 22px;
}
/* main-page */
.main-image-container{
    display: block;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}
.main-image{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 500px;
    min-height: 500px;
}
.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.feed-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    margin-right: 30px;
    margin-top: 30px;
    border: 1px solid var(--color-dark-white);
    width:615px;
    background:var(--color-lighter-white);
}
/* main header part */
.feed-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 16px 40px 16px 16px;
    height: 60px;
    border-bottom: 1px solid var(--color-light-white);
}
.feed-header div{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.feed-header div p{
    margin: 0;
}
.settings-icon{
    margin-left: auto;
}
.round-image{
    margin-right: 10px;
    width: 42px;
    height: 42px;
    border-radius: var(--border-round-radius);
}

/* main page board part */
.board-container{
    padding: 0px 10px 10px 10px;
}
/* icons container */
.icons-contianer{
    display: flex;
    justify-content: flex-start;
}

.icons-contianer i{
    margin: 10px 15px 10px 0px;
    font-size: 22px;
}
.icons-contianer i:last-of-type{
    margin-left: auto; 
}

/* feed icons */
.feed-icons-container{
    margin-bottom: 10px;
}
.feed-message-container{
    margin-bottom: 10px;
}
.feed-message-container span:first-of-type{
    margin-right: 10px;
}

/* comment part */
.comment-line{
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-light-white);
}
.each-comment-list{
    display: flex;
    vertical-align: middle;
}
.commented-user-id,
.commented-text,
.commented-text-remove{
    display: inline;
    margin: 0 10px 0 0;
}
.commented-user-id{
    float: left;
}
.commented-text{
    font-size: 12px;
    padding-top: 1px;
}
.commented-text-remove{
    color: var(--color-blue);
    margin-left: auto;
    font-size: 10px;
}
.comment-write-form{
    display: flex;
}
.comment-input{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 0;
    height: 18px;
    color: #262626;
    resize: none; 
    outline: 0;

}
.comment-submit-button{
    display: inline;
    margin-left: auto;
    padding: 0;
    text-align: center;
    border: 0;
    background: 0 0;
    color: var(--color-blue);
    cursor: pointer;
}

/* main right part*/
.round-image-small{
    width: 20px;
    height: 20px;
    border-radius: var(--border-round-radius);
}
.recomandation-profile{
    display: flex;
    justify-content: flex-start;
}
.recomandation-profile div:last-of-type{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--color-blue);
}
.own-profile-container p{
    margin: 0 0 0 8px;
    font-size: 15px;
}

.recomandation-list div:first-of-type{
    display: flex;
    justify-content: space-between;
}

.right-whole-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.main-right-container {
    position: fixed;
}
.recomandation-image{
    width: 30px;
    height: 30px;
    border-radius: var(--border-round-radius);
}
.recomandation-individual{
    display: flex;
    justify-content: space-between;
}

.recomandation-individual div:first-of-type{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 50px;
}
.user-follow-status{
    font-size: 12px;
}
.recomandation-individual div:last-of-type{
    margin-top: 5px;
}
@media (max-width:900px){
    .right-whole-container{
        display: none;
    }
}