body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 480px;
  margin-top: 100px;
}

.logo {
  padding-top: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.container .loginForm input {
  width: 266px;
  height: 40px;
  margin: 5px 40px 5px 40px;
  padding-left: 8px;
  font-size: 13px;
  background-color: #fafbfa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.container .loginForm .loginBtn {
  width: 279px;
  height: 36px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin: 8px 40px;
  background-color: #b9e0fc;
  border: 1px solid #b9e0fc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 110px;
  padding: 0;
}

.container a {
  color: #00376c;
  font-size: 13px;
  text-decoration: none;
}