* {
  box-sizing: border-box;
  font-family: "Arial";
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 173, 173, 0.1);
  height: 100vh;
}

.login__wrap {
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(173, 173, 173, 0.5);
}

.login__logo {
  margin-bottom: 40px;
}

.login__input {
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  height: 35px;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid rgba(206, 204, 204, 0.301);
  background-color: rgba(206, 204, 204, 0.1);
  text-indent: 10px;
  font-size: 12px;
}

.login__btn {
  width: 250px;
  height: 35px;
  margin-top: 8px;
  background-color: rgb(0, 149, 246, 0.4);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.login__paintBtn {
  background-color: rgb(0, 149, 246);
}

.input__id {
  margin-bottom: 5px;
}

.login__forgetPw {
  margin-top: 80px;
}

.login__forgetPw a {
  font-size: 13px;
  color: rgb(61, 83, 135);
}
