* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
  height: 54px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 945px;
}

.navLogo {
  display: flex;
  align-items: center;
}

.navContainer ul {
  display: flex;
  padding: 0;
}

.navContainer ul li img,
.navContainer ul li svg {
  width: 22px;
  margin: 0 10px;
  box-sizing: content-box;
}

.navMenuContainer {
  display: flex;
  align-items: center;
}

.navMenu img {
  border-radius: 50%;
}

.navLogotext img {
  width: 103px;
  height: 29px;
}

nav .navSearch {
  width: 230px;
  height: 30px;
  text-align: center;
  color: lightgray;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

nav .navSearch::placeholder {
  color: #b0b1b3;
}

/* Main */

main {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.mainContainer {
  display: flex;
}

/* Feeds */
.feeds {
  width: 614px;
  height: max-content;
  border: 1px solid #dbdbdb;
  margin: 0 28px 0 0;
  background-color: #ffffff;
}

/* Feed head */
.feedHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 614px;
  height: 60px;
}

.feedHead .meta {
  display: flex;
}

.profileImage {
  margin-right: 20px;
}

.profileImage img {
  width: 32px;
  border-radius: 50%;
}

.profileInfo .userName {
  font-weight: bold;
  font-size: 14px;
}

.profileInfo .location {
  font-size: 12px;
}
.feedHeadBtn img {
  width: 16px;
}

.feedMain img {
  max-width: 614px;
  width: 100%;
}

/* Feed Social */
.socialBtns {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.socialBtns button {
  all: unset;
  cursor: pointer;
  padding: 8px;
}

.socialBtns img {
  width: 24px;
}

.LikeNumberAndUsers {
  padding: 0 16px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.contents {
  padding: 0 16px;
}

.contents #userId {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.feedTime {
  padding: 0 16px;
  font-size: 10px;
  margin-bottom: 8px;
}

.replyInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-top: 1px solid #dbdbdb;
  height: 56px;
}

.replyForm {
  display: flex;
  align-items: center;
  max-width: 580px;
  width: 100%;
}

.replyInput .reply {
  border: none;
  box-shadow: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: transparent;
  width: 100%;
}

.replyInput .replyUpBtn {
  all: unset;
  cursor: pointer;
  font-size: small;
  color: #c4dff6;
  width: 30px;
  height: 18px;
  font-size: 14px;
}

.main-right {
  width: 293px;
  height: 738px;
}

.main-right .userMeta {
  display: flex;
  margin-bottom: 28px;
}

.userProfileIdAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.userProfileIdAndName .profileId {
  font-size: 14px;
  font-weight: bold;
}

.userProfileIdAndName .profileName {
  font-size: 12px;
  color: #989898;
}

.userProfileImage img {
  width: 56px;
  border-radius: 50%;
}

.otherUserProfilePhoto img {
  width: 32px;
  border-radius: 50%;
}

.otherUserRecommand {
  display: flex;
  justify-content: space-between;
}

.otherUserRecommand .recommandMent {
  font-size: 14px;
  font-weight: bold;
  color: #8e8e8e;
}

.otherUserRecommand .recommandLook {
  font-size: 12px;
}

.otherUsers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}
.otherUser {
  display: flex;
  justify-content: space-between;
}

.otherUserProfile {
  display: flex;
}

.otherUserProfileMeta {
  margin-left: 10px;
}

.otherUser .otherUserProfileName {
  font-size: 14px;
  font-weight: bold;
}

.otherUserFollow {
  font-size: 12px;
  color: #3994dd;
  font-weight: bold;
}

.otherUser .otherUserRelationInformaion {
  font-size: 12px;
  color: #8f8f8f;
}
