.login_container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 350px;
	height: auto;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--space-xxl);
	border: 1px solid var(--border-color);
}

.logo {
	font-family: 'Lobster Two', cursive;
	font-size: calc(var(--fs-medium) * 3);
	font-weight: lighter;
	margin-bottom: var(--space-xxl);
}

.login_form {
	font-family: inherit;
	width: 100%;
}

.login_data {
	font-size: var(--fs-medium);
	padding: var(--space-medium) 0;
	position: relative;
}

.login_data input {
	width: 100%;
	background-color: var(--bg-color);
	font-family: inherit;
	font-size: var(--fs-small);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: var(--space-medium);
	margin-bottom: 10px;
	outline: none;
	transition: border 200ms ease-in;
}

.login_data input::placeholder {
	color: var(--grey);
}

.login_data input:focus {
	border: 1px solid var(--grey);
}

.display_password,
.hide_password {
	font-size: var(--fs-small);
	font-weight: bold;
	position: absolute;
	right: 10px;
	bottom: 30px;
	cursor: pointer;
	display:none;
}

.display_password.show,
.hide_password.show {
	display:block;
}

#login_btn {
	width: 100%;
	background-color: var(--inactive-color);
	font-family: inherit;
	font-size: var(--fs-small);
	font-weight: bold;
	color: var(--white);
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: var(--space-xl);
	outline: none;
	transition: background-color 200ms ease-in;
}

#login_btn.active {
	background-color: var(--active-color);
	transition: background-color 200ms ease-in;
}

#login_btn.active:hover {
	cursor: pointer;
}

#login_btn:active {
	background-color: var(--inactive-color);
}

.login_alternative {
	width: 100%;
	color: var(--grey);
	font-size: var(--fs-small);
	text-align: center;
	margin-bottom: var(--space-xxl);;
	position: relative;
}

.login_alternative::before {
	content: '';
	width: 40%;
	height: 1px;
	background-color: var(--grey);
	position: absolute;
	left: 0;
	top: 50%;
}

.login_alternative::after {
	content: '';
	width: 40%;
	height: 1px;
	background-color: var(--grey);
	position: absolute;
	right: 0;
	top: 50%;
}

.login_facebook {
	color: #385185;
	font-size: var(--fs-small);
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: var(--space-medium);
}

.login_facebook i {
	font-size: var(--fs-large);
	margin-right: var(--space-small);
}

.forgot_password {
	font-size: var(--fs-small);
	color: #2c5379;
	text-decoration: none;
}
