@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@0;1&family=Roboto&display=swap');
@import url('./reset.css');
@import url('./login.css');
@import url('./main.css');
@import url('../css/idCard.css');

:root {
	/* color */
	--white: #ffff;
	--grey: #8e8e8e;
	--bg-color: #fafafa;
	--border-color: #dbdbdb;
	--border-color-light: #f1eded;
	--active-color: #0195f7;
	--inactive-color: #b2dffc;
	/* size */
	--fs-xs: 12px;
	--fs-small: 14px;
	--fs-medium: 16px;
	--fs-large: 18px;
	--fs-xl: 20px;
	--fs-xxl: 22px;
	/* space */
	--space-small: 5px;
	--space-medium: 10px;
	--space-large: 15px;
	--space-xl: 20px;
	--space-xxl: 30px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
	color: #262626;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #00376B;
}

li {
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
	font-family: inherit;
}

i {
	cursor: pointer;
}
