@charset "UTF-8";
@import "../../styles/common.scss";
@import "../../styles/profile.scss";

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-lightgray;

  .we-header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: $padding-value 0;
    background-color: $color-white;
    margin: 0 auto;

    .shrink {
      flex-grow: 1;
      max-width: 975px;

      .header__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $padding-value;
        width: 100%;
      }

      /* 로고 */

      .header__div .logo-box {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }

      .logo-box .icon-box {
        width: $icon-instagram--width;
      }

      .logo-box h1 {
        margin-left: $padding-value--7;
        padding-left: $padding-value--7;
        font-size: $font-size-large;
        border-left: 1px solid $color-black;
      }

      .icon-box img {
        width: 100%;
      }

      /* 검색 */
      .search-box {
        position: relative;
        display: flex;
        min-width: 150px;
        flex-basis: $search-input--width;
      }

      .search-box .search {
        flex-grow: 1;
        width: $search-input--width;
        height: $search-input-height;
        font-weight: lighter;
        text-align: center;
        border: 1px solid $color-gray2;
        border-radius: 3px;
        background-color: $color-lightgray;
      }

      .search-box img {
        position: absolute;
        left: 30%;
        top: 30%;
        width: $icon-search--width;
        height: $icon-search--width;
      }

      /* 네비게이션 */
      .link-box {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
      }

      .link-box a {
        display: inline-block;
        margin-left: $padding-value;
        width: $icon-instagram--width;
        height: $icon-instagram--width;
      }

      .link-box a img {
        width: 100%;
        height: 100%;
      }
    }
  }

  /* 메인 */
  .we-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 90px 0;

    .we-main {
      padding-right: $margin-value;

      .feed-box {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .feed {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 600px;
          background-color: $color-white;

          .feed__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: $padding-value;

            .profile-box {
              @include box;
            }

            .profiles {
              @include profiles-size($img-profile--width, $img-profile--width);
            }

            .profiles img {
              @include Image;
            }

            .profile-box span {
              margin-left: $padding-value--7;
              font-weight: bold;
            }

            .menu-icon {
              width: $icon-width;
            }

            .menu {
              width: 100%;
              height: 100%;
            }
          }

          /* 피드 사진 */
          .feed__photo {
            width: 600px;
            height: 600px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center top;
            }
          }

          /* 코멘트 wrapper */
          .comment-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .like__section {
              display: flex;
              justify-content: space-between;
              padding: $padding-value--14 $padding-value--14 $padding-value--7
                $padding-value--14;
            }

            .icons {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .icon-btn {
              margin-right: $padding-value;
              width: $icon-instagram--width;
            }

            .icon-btn img {
              width: 100%;
            }

            .icon-btn.bookmark {
              margin-right: 0;
            }

            /* 댓글 - '좋아합니다' 정보 */
            .profiles-wrapper {
              display: flex;
              align-items: center;
              padding: $padding-value--7 $padding-value;

              .profiles {
                @include profiles-size($icon-width, $icon-width);
              }

              .profiles img {
                @include Image;
                border: 1px solid $color-gray2;
              }

              span {
                .weight {
                  font-weight: bold;
                }
              }
            }

            /* 몇 분 전  */
            .feed__comment {
              padding: $padding-value--7 $padding-value;
            }

            .comment {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
            }

            .comment__div {
              display: flex;
              align-items: center;
            }

            .nickname {
              font-weight: bold;
              margin-right: $padding-value--7;
            }

            .more {
              margin-left: $padding-value--7;
              color: $color-gray;
            }

            .time {
              font-size: $font-size--small;
              color: $color-gray;
            }

            /* 댓글 내역 */

            .comment__ul {
              margin-bottom: $padding-value--7;
            }

            .like-delete {
              display: flex;
              align-items: center;
            }

            .mini-like-btn {
              width: $icon-search--width;
              margin-right: $padding-value;
            }

            .mini-heart {
              width: 100%;
            }

            /* 댓글 입력 */
            .comment-input {
              display: flex;
              padding: $padding-value;
              border-top: 1px solid $color-gray2;
            }

            .comment__form {
              flex-grow: 1;
            }

            .comment-area {
              width: 100%;
            }

            .post-btn {
              font-weight: bold;
              color: $color-blue;
            }
          }
        }
      }
    }

    /* aside */
    .position {
      position: relative;
      width: 293px;

      .aside-box {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 293px;

        .profiles-wrapper {
          .profile-info {
            display: flex;
            flex-direction: column;

            .nickname {
              font-weight: bold;
            }

            .sentence {
              color: $color-gray;
            }
          }
        }

        /* 스토리 */
        .aside-in-list {
          margin: $padding-value 0;

          .aside__header {
            display: flex;
            justify-content: space-between;

            .title {
              color: $color-darkgray;
              font-weight: bold;
            }

            .all-btn {
              font-weight: bold;
            }
          }

          ul {
            height: 20vh;
            overflow: scroll;

            .aside-list {
              margin: $padding-value 0;
            }

            /* 팔로우 */

            .aside-follow-list {
              display: flex;
              justify-content: space-between;
              margin: $padding-value 0;

              .sentence {
                font-size: $font-size--small;
              }

              .follow-btn {
                font-size: $font-size--small;
                font-weight: bold;
                color: $color-blue;
              }
            }
          }
        }

        /* 링크 */

        .etc-link {
          margin-bottom: $padding-value;

          .links {
            display: flex;
            flex-wrap: wrap;
          }

          .links a {
            font-size: $font-size--micro;
          }

          .links .links-item:after {
            content: "\00B7";
            margin: 0 0.25em 0 0.25em;
            color: $color-gray;
          }
        }

        /* 저작권 */
        .copyright {
          font-size: $font-size--micro;
          color: $color-gray;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    .we-main-wrapper {
      .we-main {
        padding-right: 0;
      }

      .position {
        display: none;
      }
    }
  }
}
