/* login-page */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 380px;
  border: 1px solid var(--border-line);
}

.login__title {
  margin-top: 30px;
  font-size: 40px;
  font-family: "Lobster", cursive;
}

.login__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.login__inputs input {
  width: 275px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid var(--border-line);
  background-color: var(--input-lignt-gray);
}

.login__inputs input::placeholder {
  color: var(--dark-gray);
}

.login__input__pw {
  margin-top: 5px;
}

.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: var(--button-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}

.login__button:active {
  opacity: 0.6;
}

.login__find-pw {
  margin-top: 70px;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-blue);
}

/* login-button disable */
.login__button:disabled {
  opacity: 0.3;
  cursor: inherit;
}
