body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 550px;
    border: 1px solid lightgray;
    text-align: center;
}

img {
    margin: 30px auto;
}

input {
    width: 320px;
    height: 46px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 10px;
    margin-bottom: 15px;
}

input::placeholder {
    padding-left: 10px;
    color: rgb(74, 76, 78, 0.55);
    font-weight: bold;
}

button {
    width: 320px;
    height: 36px;
    margin-top: 15px;
    color: white;
    background-color: rgb(94, 159, 245);
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    opacity: 0.35;
    outline: none;
}

.bottom_container{
    margin-bottom: 60px;
}

span {
    color: navy;
    font-size: 13px;
    cursor: pointer;
}