body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--greyColor);
  height: 100vh;
}

.mainLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  background-color: var(--loginBoxColor);
  border: var(--loginBoxBorder);
  border-radius: 1px;
  height: 380px;
  width: 350px;
}

.loginHeader {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.2);
  margin: 0px 50px;
}

.loginForm input {
  display: flex;
  background-color: var(--greyColor);
  border: var(--inputBorder);
  border-radius: 2px;
  color: var(--greyBorder);
  padding: 12px 10px;
  margin-bottom: 10px;
}

.loginForm button {
  color: var(--whiteColor);
  border-radius: 3px;
  background-color: var(--loginFormColor);
  font-weight: bold;
  padding: 12px 5px;
  margin-top: 10px;
  margin-bottom: 70px;
}

.forgotPassword {
  font-size: 12px;
  text-align: center;
}

.forgotPassword a {
  color: var(--darkBlueButton);
  text-decoration: none;
}
