* {
  box-sizing: border-box;
}

.bodyContainer {
  height: 100vh;
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  padding: 20px 50px;
}

.navBarLeft {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.navBarLeft a {
  color: black;
  font-family: "Lobster", cursive;
  font-size: 25px;
  text-decoration: none;
}

.navBarSearch {
  display: flex;
  align-items: center;
  position: relative;
}

.navBarSearch input {
  border-radius: 5px;
  border: var(--inputBorder);
  text-align: center;
  padding: 6px 35px;
}

.navBarSearch i {
  position: absolute;
  color: var(--greyBorder);
  margin-left: 80px;
}

.navBarRight {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.navBarRight ul {
  display: flex;
  align-items: center;
}

.navBarRight ul > li {
  margin: 0px 10px;
}

/* feeds */

.mainContainer {
  display: flex;
  justify-content: center;
  background-color: var(--greyColor);
  height: 75%;
  width: 100%;
}

.feeds {
  width: 620px;
  margin-right: 50px;
}

.post {
  background-color: var(--whiteColor);
  border: 1px solid var(--greyBorder);
  border-radius: 2px;
  width: 100%;
  margin-bottom: 55px;
}

.postHeader {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.postHeaderImage img {
  display: flex;
  align-items: center;
  border: 1px solid var(--greyBorder);
  border-radius: 70%;
  width: 30px;
  margin-left: 5px;
}

.user {
  display: flex;
}

.userName {
  display: flex;
}

.userName a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15px;
}

.more {
  display: flex;
}

.more i {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.post-mainimage img {
  display: flex;
  height: 430px;
  width: 100%;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.post-icons__left {
  display: flex;
}

.post-icons__left i {
  display: flex;
  margin: 0px 5px;
}

.post-icons__right {
  display: flex;
}

.post-icons__right i {
  margin-right: 11px;
}

.post-likes {
  display: flex;
  padding: 6px 12px;
}

.post-likes__count {
  font-weight: bold;
}

.post-user {
  padding: 6px 12px;
}

.post-user__id {
  font-weight: bold;
}

.post-time {
  display: flex;
  padding: 6px 12px;
}

.post-time__period {
  font-size: 12px;
  font-weight: lighter;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--greyBorder);
  padding: 12px 12px;
}

.comments-icon i {
  display: flex;
  align-items: center;
}

.comments-input textarea {
  background-color: transparent;
  border: 0px solid;
  color: #ccc;
  height: 20px;
  width: 530px;
  resize: none;
  padding-left: 20px;
}

.comments-post button {
  background: none;
  border: none;
  color: var(--postBtnColor);
  padding: 0px;
}

.user-info {
  display: flex;
}

.user-info__image img {
  border-radius: 70%;
  width: 55px;
}

.user-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.user-info__id a {
  font-weight: bold;
}

.user-info__name a {
  color: var(--userInfoColor);
}

.suggestion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.suggestion-header__tag {
  color: #949494;
  font-size: 14px;
}

.suggestion-header a {
  font-size: 14px;
}

.suggestion-list {
  flex-direction: column;
}

.suggestion-list__container {
  display: flex;
}

.suggestion-list__picture img {
  border: 1px solid var(--grey-border);
  border-radius: 70%;
  width: 30px;
}

.suggestion-list__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.suggestion-list__id {
  font-size: 12px;
}

.suggestion-list__id__suggest {
  font-size: 12px;
}

.suggestion-button {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.suggestion-button button {
  padding: 0;
  border: none;
  background: none;
  color: var(--blueButton);
}
