.main-page {
  height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Nav */
.nav-bar {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-around;
  width: 100%;
  top: 0px;
  padding: 20px 50px;
}

.nav-bar__left {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.nav-bar__left a {
  text-decoration: none;
  color: black;
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.nav-bar__search {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bar__search input {
  text-align: center;
  padding: 6px 35px;
  border-radius: 5px;
  border: var(--input-border);
}

.nav-bar__search i {
  position: absolute;
  color: var(--grey-color);
  margin-left: 80px;
}

.nav-bar__right {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.nav-bar__right ul {
  display: flex;
  align-items: center;
}

.nav-bar__right ul > li {
  margin: 0px 10px;
}

/* feeds */

.main-container {
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  width: 100%;
  height: 75%;
}

.feeds {
  width: 620px;
  margin-right: 50px;
}

.post {
  width: 100%;
  margin-bottom: 55px;
  border: 1px solid var(--grey-border);
  border-radius: 2px;
  background-color: white;
}

.post-header {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.post-header__image img {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 30px;
  border-radius: 70%;
  border: 1px solid var(--grey-border);
}

.user {
  display: flex;
}

.user-name {
  display: flex;
}

.user-name a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.more {
  display: flex;
}

.more i {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.post-mainimage img {
  display: flex;
  width: 100%;
  height: 430px;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.post-icons__left {
  display: flex;
}

.post-icons__left i {
  display: flex;
  margin: 0px 5px;
}

.post-icons__right {
  display: flex;
}

.post-icons__right i {
  margin-right: 11px;
}

.post-likes {
  display: flex;
  padding: 6px 12px;
}

.post-likes__count {
  font-weight: bold;
}

.post-user {
  padding: 6px 12px;
}

.post-user__id {
  font-weight: bold;
}

.post-time {
  display: flex;
  padding: 6px 12px;
}

.post-time__period {
  font-size: 12px;
  font-weight: lighter;
}

.comments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 12px;
  border-top: 1px solid var(--grey-border);
}

.comments-icon i {
  display: flex;
  align-items: center;
}

.comments-input textarea {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 530px;
  color: #ccc;
  resize: none;
  padding-left: 20px;
}

.comments-post button {
  padding: 0px;
  border: none;
  background: none;
  color: rgb(173, 216, 230, 0.7);
}

.user-info {
  display: flex;
}

.user-info__image img {
  width: 55px;
  border-radius: 70%;
}

.user-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.user-info__id a {
  font-weight: bold;
}

.user-info__name a {
  color: #949494;
}

.suggestion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.suggestion-header__tag {
  color: #949494;
  font-size: 14px;
}

.suggestion-header a {
  font-size: 14px;
}

.suggestion-list {
  flex-direction: column;
}

.suggestion-list__container {
  display: flex;
}

.suggestion-list__picture img {
  width: 30px;
  border-radius: 70%;
  border: 1px solid var(--grey-border);
}

.suggestion-list__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.suggestion-list__id {
  font-size: 12px;
}

.suggestion-list__id__suggest {
  font-size: 12px;
}

.suggestion-button {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.suggestion-button button {
  padding: 0;
  border: none;
  background: none;
  color: #0096f6;
}
