.login-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 32px 0 25px;
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

.login-form {
    margin: 35px 40px 120px;
}

.login-form__input-box {
    margin-bottom: 15px;
}

input {
    margin: 3px 0;
    padding: 12px 10px 10px;
    border: 1px solid var(--main-border);
    border-radius: 3px;
    background-color: var(--bg-light-grey);
}

input::placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
    color: var(--font--grey);
}

input:focus {
    border: 1px solid var(--border--gray);
}

button {
    width: 100%;
    border-radius: 4px;
    background-color: var(--btn--blue);
    color: #fff;
    font-weight: 600;
}

.find-pw {
    font-size: 13px;
}