body {
    padding-top: 54px;
    line-height: 18px;
}

/* 레이아웃 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid var(--main-border);
    background-color: #fff;
}

.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 975px;
    box-sizing: border-box;
}
    
main {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.feeds {
    width: 100%;
    max-width: 610px;
}

.main-right {
    position: sticky;
    top: 84px;
    margin-left: 30px;
    width: 295px;
    height: 0;
}

/* 스타일 */
    /* 네비게이션 */
header {
    font-weight: 600;
}

h1 a {
    display: flex;
    align-items: center;
    color: var(--main-font);
}

h1 a img {
    margin-right: 15px;
    padding-right: 14px;
    width: 22px;
    height: 22px;
    box-sizing: content-box;
    border-right: 2px solid var(--main-font);
}

h1 a span {
    padding-bottom: 7px;
    font-size: 28px;
}

.nav__search {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 26px;
    width: 215px;
    min-width: 125px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid var(--main-border);
    border-radius: 3px;
    background-color: var(--bg-light-grey);
}

.nav__search input {
    height: 100%;
    background-color: transparent;
}

.nav__search input::placeholder {
    text-align: center;
}

.nav__menu {
    display: flex;
}

.nav__menu li {
    margin-left: 22px;
    width: 22px;
    height: 22px;
}

.nav__menu li a {
    display: block;
}

    /* 메인 콘텐츠 */
.feed {
    margin-bottom: 60px;
}

.feed__header{
    padding: 8px 16px;
}

.feed__header__more-icon{
    margin-right: -12px;
    padding: 12px;
}

.feed__image {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    overflow: hidden;
}

.feed__image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.feed__btns {
    display:flex;
    margin-top: 4px;
    padding: 0 8px;
}

.feed__likes-number {
    margin-bottom: 5px;
    padding: 0 16px;
}

.feed__likes-number a {
    color: var(--main-font);
    font-weight: 600;
    cursor: pointer;
}

.feed__description {
    margin-bottom: 5px;
    padding: 0 16px;
}

.feed__comments {
    padding: 0 16px 16px;
    border-bottom: 1px solid var(--border--lighten);
}

.feed__comment {
    position: relative;
    margin-bottom: 5px;
}

.feed__comment a{
    margin-right: 4px;
}

.feed__comment:hover .delete-btn {
    display: block;
}

.feed__comment .delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -20px;
    color: var(--main-font);
    line-height: 24px;
    opacity: .2;
}

.feed__comment:hover .delete-btn:hover {
    opacity: .5;
}

.feed__comment .like-btn {
    padding: 0;
    width: 12px;
    height: 12px;
}

.like-btn svg {
    fill: none;
    stroke: var(--border--darken);
    stroke-width: 45px;
}

.like-btn svg.clicked {
    fill: var(--btn--red);
    stroke: var(--btn--red);
}

.feed__form {
    padding: 0 8px;
    height: 56px;
}

.feed__input-comment {
    width: calc(100% - 96px);
}

.feed__submit-comment {
    width: auto;
    font-size: 14px;
    font-weight: 600;
    color: var(--btn--blue);
}

/* 메인 콘텐츠 우측 */
.user-profile {
    padding: 0 8px;
}

.story {
    margin: 16px 0;
    padding: 8px 16px;
    height: 220px;
    overflow: auto;
}

.recommendation {
    padding: 8px 16px;
}

.story__item , .story__header, .recommendation__item, .recommendation__header{
    padding: 8px 0;
}

.story__title, .recommendation__title {
    color: var(--font--grey);
    font-size: 14px;
}

.story__header a, .recommendation__header a {
    color: var(--main-font);
    font-size: 12px;
}

.main-right button {
    font-size: 12px;
}

.follow {
    margin-right: -8px;
    width: auto;
}