body {
    padding-top: 54px;
    background-color: #fafafa;
    font-size: 14px;
    line-height: 18px;
}

header {
    font-weight: 600;
}

button, .submit-comment {
    display: block;
    padding: 8px;
    width: 40px;
    height: 40px;
    font-weight: 600;
    color: #0095f6;
}

.align-item-center {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-right {
    margin-left: auto;
}

.profile-image-big {
    display: block;
    margin-right: 16px;
    width: 56px;
    height: 56px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image-small {
    display: block;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    overflow: hidden;
}

.user-name {
    color: #262626;
    font-weight: 800;
    font-size: 14px;
}

.user-name:hover {
    text-decoration: underline;
}

.comment a, .user-name {
    margin-right: 4px;
}

.detail-info {
    color: #8e8e8e;
    font-size: 12px;
    line-height: 14px;
}

/* 레이아웃 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 975px;
    box-sizing: border-box;
}
    
main {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.feeds {
    width: 100%;
    max-width: 610px;
}

.main-right {
    position: sticky;
    top: 84px;
    margin-left: 30px;
    width: 295px;
    height: 0;
}

#user-profile {
    padding: 0 8px;
}

.story {
    margin: 16px 0;
    height: 200px;
    overflow: auto;
}

.story, .recommendation {
    padding: 8px 16px;
}

article, .story, .recommendation {
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

/* 스타일 */
    /* 네비게이션 */
h1 a {
    display: flex;
    align-items: center;
    color: #262626;
}

h1 a img {
    margin-right: 15px;
    padding-right: 14px;
    width: 22px;
    height: 22px;
    border-right: 2px solid #262626;
}

h1 a span {
    padding-bottom: 7px;
    font: 28px 'Lobster', cursive;
}

.search {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 26px;
    width: 215px;
    min-width: 125px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
}

.search input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;   
    background-color: transparent;
}

.search input::placeholder {
    text-align: center;
}

.search input:focus {
    outline: none;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 22px;
    width: 22px;
    height: 22px;
}

.menu li a {
    display: block;
}

    /* 메인 콘텐츠 */
article {
    margin-bottom: 60px;
}

article > header{
    padding: 8px 16px;
}

.contents {
    padding: 0 16px 16px;
    border-bottom: 1px solid #efefef;
}

.more-icon{
    margin-right: -12px;
    padding: 12px;
}

.posted-image {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    overflow: hidden;
}

.posted-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.btn-wrap {
    display:flex;
    margin-top: 4px;
}

.btn-wrap button:first-child {
    margin-left:-8px;
}

.btn-wrap button:last-child {
    margin-right:-8px;
}

.likes-number a {
    font-weight: 600;
    cursor: pointer;
}

.contents p {
    margin-bottom: 5px;
}

.comment .like-btn {
    padding: 0;
    width: 12px;
    height: 12px;
}

.like-btn svg {
    fill: none;
    stroke: #5b5b5b;
    stroke-width: 45px;
}

.like-btn svg.clicked {
    fill: #ed4956;
    stroke: #ed4956;
}

.comment-form {
    padding: 0 8px;
    height: 56px;
}

.input-comment {
    width: calc(100% - 96px);
}

.submit-comment {
    width: auto;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
}

.submit-comment:disabled {
    opacity: .3;
}

/* 메인 콘텐츠 우측 */
.story li, .story header, .recommendation li, .recommendation header{
    padding: 8px 0;
}

.follow {
    margin-right: -8px;
    width: auto;
}

.story header span, .recommendation header span {
    color: #8e8e8e;
    font-size: 14px;
}

.story header a, .recommendation header a {
    color: #262626;
    font-size: 12px;
}

.main-right button {
    font-size: 12px;
}