* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}

input {
	border: none;
	background: none;
}

input:focus {
    outline: none;
}