:root {
    --bg-light-grey: #fafafa;

    --main-border: #dbdbdb;
    --border--lighten: #efefef;
    --border--darken: #5b5b5b;
    --border--gray: #a8a8a8;

    --main-font: #262626;
    --font--grey: #8e8e8e;
    --font--dark-blue: #01376b;
    
    --btn--blue: #0095f6;
    --btn--red: #ed4956;
}