.nav-box {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    position: fixed;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 975px;
    height: 54px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
}

.logo-box, .search-box, .btn-box {
    display: flex;
    max-width: auto;
    margin: auto 0;
    align-items: center;
}

.logo1 img {
    width: 24px;
    cursor:pointer;
    vertical-align: middle;
}

.line {
    height: 30px;
    margin: 0 15px;
    border-left: 2px solid black;
}

.logo2 img {
    width: 103px;
    position: relative;
    top: 2px;
    cursor: pointer;
    vertical-align: middle;
}

.search {
    width: 215px;
    height: 28px;
    padding: 7px;
    text-align: center;
    font-weight: 100;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}
.search-bar::placeholder {
    font-weight: 100;
    color: #8e8e8e;
}

input.search:focus {
    text-align: left;
    color: #262626;
}

.btn-box img {
    width: 22px;
    margin-left: 24px;
    cursor:pointer;
}

.main-box {
    display: flex;
    justify-content: space-between;
    width: 935px;
    height: auto;
    margin: 90px auto;
}

.article-box {
    display: flex;
    flex-direction: column;
    width: 616px;
    height: auto;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.article-head {
    display: flex;
    width: 614px;
    height: 60px;
}

.profile {
    display: flex;
    margin: auto 0;
    padding-left: 15px;
}

.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.user-id {
    margin: auto 0;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}
.btn-option {
    width: 24px;
    height: 24px;
    margin: auto 10px auto auto;
    cursor: pointer;
}

.article-photo {
    width: 614px;
    height: auto;
}

.article-photo img {
    width: 614px;
}
.article-btn {
    display: flex;
    width: 614px;
    height: 40px;
    padding: 12px 8px 8px 8px;
}

.article-btn img:not(.btn-bookmark) {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 12px auto 5px;
}

.btn-bookmark {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 2px auto auto;
}

.content-box {
    width: 614px;
    height: auto;
    font-size: 14px;
    color: #262626;
}

.contents {
    padding: 5px 0px 0px 15px;
}

.likes-info {
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 8px;
    cursor: pointer;
}

.comment-box {
    line-height: 20px;
}

.writer-id {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}

.viewer-id {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}

.viewer-comment {
    padding-left: 4px;
    font-size: 14px;
    color: #262626;
}

.new-line {
    display: block;
}
.post-time {
    font-size: 10px;
    color: #828282;
    margin: 8px 0 8px 0;
}
.add-comment-box {
    display: flex;
    border-top: 1px solid #efefef;
}

.write-comment {
    width: 575px;
    height: 56px;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #262626;
    border: none;
}

.write-comment::placeholder {
    color: #888888;
    font-size: 14px;
}

.add-comment {
    position: relative;
    left: -10px;
    width: auto;
    height: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    color: #262626;
    border: none;
    background: none;
    cursor: pointer;
    color: #0095f6;
}

.add-comment:disabled {
    cursor: default;
    color: #c5def9;
}

.aside-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 293px;
    height: auto;
    margin-left: 650px;
}

.aside-head {
    width: 293px;
    height: 56px;
    margin: 20px 0 0 -15px;
}

.aside-head .profile-icon {
    width: 56px;
    height: 56px;
}

.aside-contents {
    width: 293px;
    height: auto;
}

.recommend {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 -15px;
}

.user-profile {
    display: flex;
    padding: 8px 16px;
}

.profile-side {
    text-indent: 10px;
}

.profile-id {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}

.user-profile p {
    line-height: 23px;
    font-size: 12px;
    color: #8e8e8e;
}

.btn-follow {
    font-size: 12px;
    color: #0095f6;
    margin: auto 5px auto auto;
    font-weight: 600;
    cursor: pointer;
}

.aside-footer {
    width: 290px;
    padding: 15px 0 0 0;
}
.aside-footer ul, li {
    display: inline;
    font-size: 11px;
    color: #c7c7c7;
}

.aside-footer li {
    cursor: pointer;
}

.copyright {
    margin-top: 20px;
    font-size: 11px;
    color: #c7c7c7;
}