/* nav */
.navbox {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
    position: fixed;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 975px;
    height: 54px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;
}

.logobox, .searchbox, .btnbox {
    display: flex;
    max-width: auto;
    margin: auto 0;
    align-items: center;
}

.logo1 img {
    width: 24px;
    cursor:pointer;
    vertical-align: middle;
}

.line {
    height: 30px;
    margin: 0 15px;
    border-left: 2px solid black;
}

.logo2 img {
    width: 103px;
    position: relative;
    top: 2px;
    cursor: pointer;
    vertical-align: middle;
}

.search {
    width: 215px;
    height: 28px;
    padding: 7px;
    text-align: center;
    font-weight: 100;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}
.search-bar::placeholder {
    font-weight: 100;
    color: #8e8e8e;
}

input.search:focus {
    text-align: left;
    color: #262626;
}

.btnbox img {
    width: 22px;
    margin-left: 24px;
    cursor:pointer;
}

/* article */
.mainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 935px;
    height: auto;
    margin: 90px auto;
}

.articlebox {
    display: flex;
    flex-direction: column;
    width: 616px;
    height: auto;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.articlehead {
    display: flex;
    width: 614px;
    height: 60px;
}

.profile {
    display: flex;
    margin: auto 0;
    padding-left: 15px;
}

.profileicon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.userid {
    margin: auto 0;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}
.btn-option {
    width: 24px;
    height: 24px;
    margin: auto 10px auto auto;
    cursor: pointer;
}

.articlephoto {
    width: 614px;
    height: auto;
}

.articlephoto img {
    width: 614px;
}
.articlebtn {
    display: flex;
    width: 614px;
    height: 40px;
    padding: 12px 8px 8px 8px;
}

.articlebtn img:not(.btn-bookmark) {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 12px auto 5px;
}

.btn-bookmark {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 2px auto auto;
}

.contentbox {
    width: 614px;
    height: auto;
    font-size: 14px;
    color: #262626;
}

.contents {
    padding: 5px 0px 0px 15px;
}

.likesinfo {
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 8px;
    cursor: pointer;
}

.commentbox {
    line-height: 20px;
}

.writerid {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}

.viewerid {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}

.posttime {
    font-size: 10px;
    color: #828282;
    margin: 8px 0 8px 0;
}
#addcommentbox {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #efefef;
}

#writecomment {
    width: 575px;
    height: 56px;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #262626;
    border: none;
}

#writecomment::placeholder {
    color: #888888;
    font-size: 14px;
}

#addcomment {
    position: relative;
    left: -10px;
    width: auto;
    height: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    color: #262626;
    border: none;
    background: none;
    cursor: pointer;
    color: #0095f6;
}

#addcomment:disabled {
    cursor: default;
    color: #c5def9;
}
/* aside */
.asidebox {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 293px;
    height: auto;
    margin-left: 650px;
}

.asidehead {
    width: 293px;
    height: 56px;
    margin: 20px 0 0 -15px;
}

.asidehead .profileicon {
    width: 56px;
    height: 56px;
}

.asidecontents {
    width: 293px;
    height: auto;
}

.recommend {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 -15px;
}

.userprofile {
    display: flex;
    padding: 8px 16px;
}

.userprofile img {
}

.profileside {
    text-indent: 10px;
}

.profileid {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}

.userprofile p {
    line-height: 23px;
    font-size: 12px;
    color: #8e8e8e;
}

.btnfollow {
    font-size: 12px;
    color: #0095f6;
    margin: auto 5px auto auto;
    font-weight: 600;
    cursor: pointer;
}

.asidefooter {
    width: 290px;
    padding: 15px 0 0 0;
}
.asidefooter ul, li {
    display: inline;
    font-size: 11px;
    color: #c7c7c7;
}

.asidefooter li {
    cursor: pointer;
}

.copyright {
    margin-top: 20px;
    font-size: 11px;
    color: #c7c7c7;
}