* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button {
  border: 0;
  outline: 0;
  /* outline-style: none; */
}


