html,
body {
  height: 100%;
}

/* 지금은 main이랑 .container 가 크기가 동일함   */
main {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

/* 로그인화면을 감싸고 있는 container  테두리 있는부분(border) */
.loginContainer {
  width: 350px;
  height: 380px;
  padding: 0 0 10px 0;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: #ffffff;
}

/* 로고, 이미지  */
.loginContainer .logo {
  text-align: center;
}

.loginContainer .logo img {
  margin: 32px auto 12px;
}

/* 로그인 폼 (아이디,비밀번호, 버튼 , 비밀번호 찾기 )  */
.loginContainer .loginForm {
  width: 348px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 로그인 폼 - 1. 아이디, 2.비밀번호 input 칸 */
.loginForm input {
  width: 268px;
  height: 36px;
  padding: 9px 0px 7px 8px;
  margin-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fafafa;
}

/* 로그인폼 - 로그인하기 버튼 */
.loginForm button {
  width: 268px;
  height: 30px;
  margin: 8px 0px;
  background-color: rgb(192, 223, 253);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* 로그인폼 - 비밀번호 찾기 링크  */
.loginForm .lostPassword {
  position: absolute;
  bottom: 0px;
}

.lostPassword a {
  color: rgb(0, 55, 107);
  font-size: 12px;
}
