body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

.loginContainer {
  width: 350px;
  height: 380px;
  padding: 0 0 10px 0;
  border: 1px solid #DBDBDB;
  background-color: #ffffff;
}

.logo {
  text-align: center;
}

.logo img {
  margin: 32px auto 12px;
}

.loginForm {
  width: 348px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loginForm input {
  width: 268px;
  height: 36px;
  padding: 9px 0px 7px 8px;
  margin-bottom: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fafafa;
}

.loginBtn {
  width: 268px;
  height: 30px;
  margin: 8px 0px;
  background-color: rgb(192, 223, 253);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.loginBtn:hover:enabled {
  cursor: pointer;
}

.loginBtn:enabled{
  background-color: #0095F6; 
}

.lostPassword {
  position: absolute;
  bottom: 0px;
}

.lostPassword a {
  color: rgb(0, 55, 107);
  font-size: 12px;
}