body{
    height: 150%;
}

a {
    height: 100%;
    display: block; 
}

.navContainer{
    width: 100%;
    height: 54px;  
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin:0; 
    padding:0;
    background-color: white;
    border-bottom:1px solid #DBDBDB;
}

.navContainer nav{  
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navLogo {
    width: 103px;
    display: flex;
    align-items: center;

}

.navLogo img {
    width: 103px;
    height: 29px;
}

.navSearch {
    width: 215px;
    height: 28px;
}

.navSearch input {
    width: inherit;
    height: inherit;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    background-color: #FAFAFA;
}

.navIconList {
    width: 198px;
    height: 22px;
}

.navIconList ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png") center no-repeat;
}

.listIcon {
    height: 22px;
}

.listIcon img {
    width: 22px;
    height: 22px;
}

.profileImg {
    border-radius: 50%;
}

main {
    height: 100%; 
    display: flex;
    justify-content: center;
    margin-top:54px;
    background-color: #FAFAFA;
}

main section {  
    width: 935px;
    display: flex;
    padding-top: 30px;
}

/* feeds 부분 구현  */
.feeds {
    width: 614px;
    height: 100%;
    margin-right: 28px;
}

.storyContainer {
    height: 118px;
    margin-bottom: 24px;
    padding: 19px 0px;
    border : 1px solid #DBDBDB;
    background-color: white;
}

.storyContainer ul {
    display: flex;
}

.storyItem {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storyCircle {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    border-radius: 50%;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.storyContainer .profileImg {
    width: 56px;
    height: 56px;
    border: 2px solid white;
}

.storyId {
    font-size: 12px;
    text-align: center;
}

.articleConatiner{
    width: inherit;
    border: 1px solid #DBDBDB;
    background-color: white;
}

.articleTop {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.profilePicture {
    height: 32px;
}

.profilePicture img {
    width: 32px ;
}

.content {
    display: flex;
    flex-direction: column;
}

.content a {
    width: fit-content;
}

.articleTop .content {
    width: 496px;
}

.threeDots {
    width: 40px;
    height: 40px;
    background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png) center no-repeat;
    background-size: 24px ;
}

/* 사진 부분 */
.articlePictures {
    height: 614px;
    background : url(../img/107076099_189778595916222_2635888378644807428_n.jpg) center no-repeat;
    background-size: cover;
    background-size: contain;
}

.articleIconContainer {
    height: 40px;
    display: flex;
    position: relative;
}

.commentImg {
    background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png) center no-repeat;
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarkImg{
    position: absolute;
    right: 16px;
    background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png") center no-repeat;
}

.articleBtn {
    width: 40px;
    height: 100%;
    background-size: 24px;
    background-color: inherit;
}

.heartInfoContainer {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 9px;
    margin-bottom: 8px;
    font-size: 14px;
}

.heartInfoContainer .profileImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.infoBold {
    font-weight: 600;
    color: #262626;
}

/* 댓글 */
.commentContainer {
    padding: 0 9px;
    margin-bottom: 4px; 
}

.articleTimeInfo {
    margin-bottom: 4px;
    padding: 0 9px;
    font-size: 10px;
    color: #8e8e8e;
}

/* 댓글 달기 */
.AddCommentContainer {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 9px;
    margin-top: 4px;
    border-top:1px solid #DBDBDB;
}

.inputComment {
    width:557.77px;
    height: 18px;
}

.commentForm button {
    background-color: inherit;
    color: #0095F6;
}

/* Aside */
.mainAside{
    height: 700px;
    width: 293px;
    padding-top: 20px;
    position: sticky;
    top: 80px;
}

.profileContainer {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.profileContainer .profileImg {
    width: 56px;
    height: 56px;
}

.profileComment{
    margin-left: 12px;
}

.userId {
    color:#262626;
    font-weight: 600;
}

.userName {
    font-size: 12px;
    color: #8E8E8E;
}

/* mainAside - 추천  */
.suggestions{
    height: 291px;
    margin-top: 15px;
}

.suggestionsHeader {
    height: 18px;
    display: flex;
    position: relative;
}

.suggestionsTitle{
    font-size: 14px;
    font-weight: 600;
    color: #8E8E8E;
}

.suggestionsSeeAll {
    position: absolute;
    right: 0;
    font-size: 12px;
}

/* 추천목록  */
.suggestionsList .listItem {
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top :8px ;
}

.listPicture {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.listPicture .profileImg{
    width: 32px;
    height: 32px;
}

.listDescription {
    display: flex;
    flex-direction: column;
}

.suggestionsId {
    font-size: 14px;
    color: #262626;
}

.comment {
    font-size: 12px;
    color:#8E8E8E;
}

.listItem button {
    width: 31.14px;
    height: 14px;
    position: absolute;
    right: 0;
    font-size: 12px;
    background-color: inherit;
    color: #0095F6;
}

.bottomNav {
    margin-top: 20px;  
}

.bottomNav ul {
    height: 36px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 16px;
    color: #8E8E8E;
}

.bottomNav a, .bottomNav span {
    color: #8e8e8e;
    font-size: 11px;
}


