@import "reset.css";
/* nav */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  border-bottom: var(--container-border);
  background-color: #FFFFFF;
  z-index: 1;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 935px;
  height: 100%;
  margin: 0 auto;
}

nav div {
  font-size: 25px;
}

nav input {
  border: var(--container-border);
  box-sizing: border-box;

  background-color: var(--light-gray);
  padding: 3px;
  background-repeat: no-repeat;
}
nav input::-webkit-input-placeholder{
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
  background-size: contain;
  background-position: 50px center;
  background-repeat: no-repeat;
  text-align: center;
}
.icon {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
}

nav img {
  margin: 5px;
  width: 22px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  background-color: var(--light-gray);
}

.main_container{
  display: flex;
  position: relative;
  top: 54px;
  width: 935px;
}

/* div.feeds */
.feeds {
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 30px;
  width: 100%;
}


/* article */
article{
  display: inline-block;
  vertical-align: top;
  width: 614px;
  margin-bottom: 60px;
  border: var(--container-border);
  background-color: #ffffff;
}

/* article header */
article header{
  width: 100%;
  height: 60px;
  padding: 16px;
}

header img{
  border-radius: 100%;
  width: 30px;
}

header a{
  position: absolute;
  left: 70px;
  color: black;
  text-decoration: none;
}

.account_name{
  font-size: 14px;
  font-weight: bold;
}

.feed_place{
  top: 40px;
  font-size: 12px;
}

header button{
  all: unset;
  position: absolute;
  left: 570px;
  padding: 8px;
  cursor: pointer;
}

/* feed_img */
.feed_img{
  width: 100%;
  height: 100%;
}

/* feed_detail */
.feed_detail{
  width: 100%;
  margin-top: 4px;
}

/* feed_detail feed_icon */
main .feed_icon{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  padding: 0 16px;
}

.icon button{
  all: unset;
  left: -8px;
  margin-left: -8px;
  padding: 8px;
  cursor: pointer;
}

/* feed_detail feed_like_account */
.like_account{
  margin-bottom: 8px;
  padding: 0 16px;
  display: flex;
}

.like_account_img{
  margin-right: 4px;
  width: 24px;
  border-radius: 100%;
}

.like_account div{
  justify-content: center;
  margin-left: 5px;
}

/* comment_input */
.comment_input{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  
  width: 100%;
  height: 56px;
  margin-top: 4px;
  padding: 0 16px;
  background-color: wheat;
  border-top: var(--container-border);
  font-size: 14px;
}
.comment_input form{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.comment_input textarea{
  width: 100%;
  resize: none;
  border: 0;
  height: 18px;
}

.inactive_button, .active_button{
  all: unset;
  width: 100%;  
}

.inactive_button{
  color: var(--inactive-color);
}
.active_button{
  color: var(--active-color);
  cursor: pointer;
}









/* div.main-right */
.main-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  right: 0;
  height: 100vh;
}

.right_container{
  width: 293px;
  display: block;
  position: fixed;
  background-color: gray;
}

