* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

footer {
    height: 100%;
    padding: 0 20px;
}

footer nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
}

section {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 935px;
    margin: 10px 0 44px -6px;
}

.loginImgContainer {
    display: flex;
    height: 618px;
    width: 443px;
    margin-left: -35px;
    background: url(/img/main-iphone.png)no-repeat center / 454px;
}

.loginImgInner {
    position: relative;
    margin: 100px 0 0 146px;
    width: 240px;
    height: 427px;
    background: url(/img/feed.jpg)no-repeat center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 793px;
    max-width: 350px;
    margin-top: 12px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    height: 380px;
    margin: 0 0 10px;
    padding-top: 25px;
    background-color: white;
}

.loginBorder {
    border-radius: 1px;
    border: 1px solid rgba(219,219,219);
}

.loginHeader {
    width: 100%;
    height: 85px;
    background: url(/img/logo_text.png)no-repeat center / 52%;
}

.loginFormWrap {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inputFormTop {
    margin-top: 24px;
}

.loginFormInput {
    display: flex;
    justify-content: center;
    height: 38px;
    margin: 0 40px 6px;
    font-size: 1.6rem;
}

.loginBoxOr {
margin: 10px 40px 18px;
}

.inputText {
    display: flex;
    width: 100%;
    padding: 9px 8px 8px 7px;
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
}

.loginBoxBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 8px 40px;
    outline: none;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 149 ,246 ,.3);
}

.btn-active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 8px 40px;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 149, 246);
}

.btn-off {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 8px 40px;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 149, 246, .3);
}

.loginBoxOr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.loginBoxOrLine {
background-color: #dbdbdb;
height: 1px;
width: 100%;
top: .45em;
}

.loginBoxOrText {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0 18px;
    color: rgb(142,142,142);
}

.loginBoxFb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: none;
    background:none;
    outline: none;
    cursor: pointer;
}

.fbIcon {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    background: url(/img/facebook.png)-347px -329px / 440px;
}

.fbText {
    display: inline-block;
    color: #385185;
    font-size: 1.4rem;
    font-weight: 600;
}

.loginBoxPw {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    line-height: 14px;
    margin-top: 12px;
    color: rgb(0,55,107);
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;
    margin: 0 0 10px;
    padding: 10px 0;
    background-color: white;
}

.signUp p {
    font-size: 1.4rem;
    color: #8e8e8e;
    margin-right: 3px;
}

.signUp a {
    font-size: 1.4rem;
    color: #0095f6;
    font-weight: 600;
}

.appContainer {
    height: 102px;
}

.appContainer  p{
    text-align: center;
    margin: 10px 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: rgba(38, 38, 38);
}

.appIconWrap {
    display: flex;
    justify-content: space-evenly;
    margin: 0 27px;
}

.appApple {
    background: url(/img/main-appStore.png)no-repeat center / 100%;
}
.appGoogle {
    background: url(/img/main-googleStore.png)no-repeat center / 100%;
}

.appIcon {
    width: 136px;
    height: 40px;
}

.footerWrap {
    width: 100%;
    height: 100%;
    max-width: 1012px;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 38px;
}

.footerLi {
    width: 569px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 16px 3px 0;
}

.footerLiItem {
    font-size: 1.2rem;
    color: #385185;
}

.footerFont {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(142,142,142);
}