#main-page-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  z-index: 99;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-icon {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  margin-right: 10px;
  background-image: url("https://w7.pngwing.com/pngs/674/221/png-transparent-logo-computer-icons-organization-color-business-instagram-miscellaneous-company-service-thumbnail.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.home-bar {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 35px;
  font-weight: lighter;
}

.home-title {
  margin-right: 10px;
  color: black;
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  margin-left: 30px;
}

.search-form input {
  width: 100%;
  height: 30px;
  padding: 0 35px;
  border: 1px solid #e6e6e6;
}

.search-form button[type="reset"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  background: lightgrey;
}

.search-form button span {
  font-size: 10px;
}

.search-form i {
  position: absolute;
  left: 10px;
  color: gray;
}

.search-form-result {
  position: absolute;
  top: 30px;
  width: 100%;
  background: white;
}

.search-form-result li {
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid #e6e6e6;
}

.search-form-result li:nth-child(1) {
  border: none;
}

.search-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  margin-left: 5px;
}

.search-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 15px;
}

.search-description span:nth-child(2) {
  color: #9c9c9c;
  font-weight: normal;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon div {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-navigation {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

.menu-liked {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.menu-profile {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

.menu-profile-image {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

.menu-profile-image img {
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid black;
}

.menu-icon .menu-box {
  position: absolute;
  top: 60px;
  right: 5%;
  width: 250px;
  height: 160px;
  border: 1px solid #e6e6e6;
  background: white;
}

.menu-box li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px;
}

.menu-box li:nth-child(2) {
  margin-left: 2px;
}

.menu-box li:nth-child(4) {
  border-top: 1px solid #e6e6e6;
}

.menu-box i {
  margin-right: 10px;
}

.menu-box span {
  font-size: 14px;
}

#main-page-container main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.feeds {
  max-width: 600px;
  margin-left: 20px;
  border: 1px solid #e6e6e6;
}

.feeds-title {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
}

.feeds-title img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
}

.feeds-title i {
  position: absolute;
  right: 20px;
}

.feeds-image img {
  width: 100%;
  height: 500px;
}

.feeds-tab {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.feeds-tab i {
  margin-left: 10px;
  color: grey;
}

.feeds-tab i:nth-child(1) {
  color: tomato;
}

.feeds-tab i:nth-child(4) {
  position: absolute;
  right: 20px;
}

.feeds-tab .upload {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url("../images/upload.png");
  background-size: cover;
  color: grey;
}

.feeds-like {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
}

.feeds-like img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

.feeds-like div span {
  font-weight: bold;
}

.feeds-description {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.feeds-description span {
  margin-right: 5px;
  font-weight: bold;
}

.feeds-description div span {
  color: #9c9c9c;
}

.feeds-comment {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
}

.feeds-comment-lists li div:nth-child(1) {
  display: flex;
  align-items: center;
}

.feeds-comment-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: white;
  background: lightgrey;
}

.feeds-comment-delete span {
  font-size: 10px;
}

.feeds-comment-name {
  margin-right: 5px;
  font-weight: bold;
}

.feeds-comment-time {
  color: #9c9c9c;
}

.feeds-comment-heart {
  position: absolute;
  right: 20px;
  color: grey;
}

.clicked-heart {
  position: absolute;
  right: 20px;
  color: tomato;
}

.feeds-comment-form {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  border: none;
  border-top: 1px solid #e6e6e6;
}

.feeds-comment-form input {
  width: 90%;
  height: 100%;
  padding: 0 10px;
  border: none;
}

.feeds-comment-upload {
  position: absolute;
  right: 5px;
  width: 10%;
  height: 100%;
  background: none;
  color: #c5e1fc;
  font-size: 15px;
}

aside {
  width: 300px;
  margin-left: 30px;
}

.wecode {
  display: flex;
  align-items: center;
}

.wecode-profile {
  width: 50px;
  height: 50px;
}

.wecode-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wecode-description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-weight: bold;
}

.wecode-description span:nth-child(2) {
  color: #aaaaaa;
  font-weight: normal;
}

.story {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
}

.story-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-header span:nth-child(1) {
  color: #aaaaaa;
}

.story-profile {
  width: 45px;
  height: 45px;
}

.story-profile img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid tomato;
}

.story-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.story-description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-weight: bold;
}

.story-description span:nth-child(2) {
  color: #aaaaaa;
  font-weight: normal;
}

.recommend {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
}

.recommend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommend-header span:nth-child(1) {
  color: #aaaaaa;
}

.recommend-profile {
  width: 45px;
  height: 45px;
}

.recommend-profile img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid tomato;
}

.recommend-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.recommend-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
  font-weight: bold;
}

.recommend-description span:nth-child(2) {
  color: #aaaaaa;
  font-weight: normal;
}

.recommend-follow {
  margin-left: 10px;
  color: dodgerblue;
}

aside .info {
  margin-top: 20px;
  color: #cbcbcb;
}

@media (max-width: 750px) {
  aside {
    display: none;
  }
}
