nav {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: white;
  padding: 0 100px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 912px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  padding: 14px 0;
}

.nav-logo-img {
  width: 22px;
  height: 22px;
  z-index: 1000;
}

.nav-logo-text {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin-left: 20px;
}

.small-border {
  border-left: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  padding-left: 20px;
}

.search-bar {
  padding: 10px 0;
}

.search-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  margin-top: 2px;
}

.search-input {
  height: 28px;
  width: 250px;
  text-align: center;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  background-image: url("../img/loupe.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-x: 98px;
  background-color: #fafafa;
  background-position-y: center;
}

.search-input:focus {
  text-align: start;
  padding-left: 20px;
  background-position-x: 2px;
}

.search-list {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-bottom: none;
  border-radius: 3px;
  background-color: white;
  width: 290px;
  margin-left: -20px;
}

.search-list-flex:hover {
  background-color: #fafafa;
}

.search-list-flex {
  display: flex;
  height: 67px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding: 10px;
  align-items: center;
  font-weight: 600;
  margin: 0;
}

.search-list-flex div img {
  height: 32px;
  border-radius: 16px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.menu-icon {
  width: 22px;
  height: 22px;
  margin: 13px 10px;
}

.circle {
  border-radius: 11px;
}

.show-menu-box {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 4px;
  margin-top: -10px;
  box-shadow: 1px 1px 5px black;
}

.in-menu {
  height: 40px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding: 13px 0;
  padding-left: 10px;
  font-size: 14px;
}

.in-menu:hover {
  background-color: #fafafa;
}

.in-menu span {
  margin-left: 5px;
}

.feeds {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 614px;
  margin-left: -456px;
  padding-bottom: 100px;
}

article {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: white;
}

.article-header {
  height: 60px;
  padding: 14px 0;
  display: flex;
}

.header-image {
  width: 32px;
  height: 32px;
  margin: 0 20px;
  border-radius: 16px;
}

.header-nickname {
  height: 32px;
  font-size: 20px;
  padding: 6px 0;
}

.article-main img {
  width: 100%;
  height: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 5px;
}

.comment-header-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.comment-like {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.like-nickname {
  font-weight: bold;
}

.comment-list {
  margin: 15px 15px;
  font-size: 14px;
}

li {
  margin-top: 10px;
}

.comment-list-nickname {
  font-weight: bold;
  margin-right: 8px;
  color: black;
  text-decoration: none;
}

.input-box {
  display: flex;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  justify-content: flex-end;
}

.comment-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  height: 56px;
}

.input-button {
  width: 50px;
  height: 56px;
  background-color: white;
  outline: none;
  border: none;
  color: #bbe0fc;
  font-weight: bold;
}

.activate-button {
  cursor: pointer;
  color: #0095f6;
}

.delete-button {
  border: none;
  font-size: 14px;
  background-color: white;
  position: absolute;
  right: 35px;
  opacity: 0;
  outline: none;
  margin-top: -7px;
  padding-bottom: 5px;
}

li:hover .delete-button {
  opacity: 1;
  cursor: pointer;
}

.like-button {
  position: absolute;
  right: 15px;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .main-right {
    visibility: hidden;
  }
  .feeds {
    margin-left: -325px;
    left: 50%;
  }
  .nav-container {
    width: 650px;
  }
  nav {
    padding: 0;
  }
}

.main-right {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 300px;
  height: 400px;
  margin-left: 185px;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-profile {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.right-myname {
  height: 56px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18px;
  font-size: 14px;
}

.right-myname div {
  margin-top: 4px;
  margin-left: -15px;
}

.right-myname div span {
  font-weight: bold;
}

.right-nickname {
  color: #9a9a9a;
}

.right-button {
  color: #0095f6;
  font-size: 12px;
  cursor: pointer;
}

.right-mid-div {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 600;
}

.mid-left-div {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: bold;
}

.friends {
  margin-top: 10px;
}

.friends .right-container {
  margin-top: 10px;
}

.friends .right-profile {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
}

.friends .right-myname {
  height: 32px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18px;
  font-size: 12px;
}

.friends .right-myname div {
  margin-top: 4px;
  margin-left: -25px;
}
