/* 총길이 540 그리고 왼쪽패딩 15 오른쪽패딩 35 위쪽 패딩 15 아래쪽 패딩 15
1개 width값 65 */

.main_content {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: center;
}
/* - - - 왼쪽 전체 - - - */

.main_content_left {
  display: flex;
  flex-direction: column;
}

/* 왼쪽 story */

.content_story {
  width: 610px;
  height: 110px;
  background-color: white;
  margin-bottom: 25px;
  padding: 12px 35px 15px 15px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.content_story .story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-right: 15px;
}

.story_border {
  width: 64px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(circle at bottom left, #f58529 20%, #c42d91);
}

.content_story img {
  width: 60px;
  height: 60px;
  /* margin-bottom: 5px; */
  border-radius: 100%;
}

.content_story span {
  margin-top: 5px;
  font-size: 12px;
}

.content_story button {
  /* all: unset; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid rgba(243, 243, 243, 0.9);
  background-color: white;
  outline: none;
  position: absolute;
  top: 45px;
  right: 10px;
  color: white;
}

.content_story i {
  position: absolute;
  top: 48px;
  right: 17px;
  font-size: 18px;
  opacity: 0.2;
}

/* 왼쪽 peed */

.content_peed {
  width: 610px;
  height: 100%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* 왼쪽 헤더 */

.content_peed_header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: relative;
}

.content_peed_header_left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content_peed_header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
}

.content_peed_header span {
  margin-left: 15px;
}

.content_peed_header i {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 15px;
  top: 20px;
}

/* 왼쪽 body img */

.content_peed_img,
.content_peed_img img {
  width: 100%;
  height: 610px;
  /* height */
}

/* 왼쪽 body option */

.content_peed_option {
  width: 100%;
  height: 60px;
  background-color: white;
}

.content_peed_option_header {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  padding-top: 7px;
  padding-left: 13px;
  padding-right: 15px;
  opacity: 0.8;
}

.peed_option_header_left i {
  margin-right: 10px;
}

.content_peed_option_sub_header {
  padding-top: 10px;
  padding-left: 13px;
  font-size: 15px;
  font-weight: bold;
}
.content_peed_text {
  width: 100%;
  /* height: 50px; */
  background-color: white;
  padding-top: 5px;
  padding-left: 13px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.content_peed_text p {
  /* font-size: 14px; */
  margin-bottom: 8px;
  width: 100%;
  display: block;
}

.content_peed_text_time {
  width: 100%;
  padding-left: 13px;
  padding-top: 5px;
  text-align: left;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
}

/* 왼쪽 폼태그 이하 input */

.content_peed_form {
  width: 100%;
  background-color: white;
  position: relative;
}

.content_peed_reply {
  width: 100%;
  height: 30px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 15px;
}

.content_peed_reply:focus {
  outline: none;
}

.content_peed_submit {
  position: absolute;
  outline: none;
  border: none;
  background-color: white;
  right: 10px;
  top: 30px;
  color: #b2dffc;
  font-weight: bold;
  cursor: pointer;
}

.content_peed_submit:disabled {
  cursor: default;
}

/* - - - 오른쪽 전체 - - - */

/* 오른쪽 my profile */
.main_content_right {
  width: 300px;
  height: 500px;
  /* background-color: yellowgreen; */
  margin-left: 25px;
}

.sidebar_profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 20px;
}

.sidebar_profile_left {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.sidebar_profile_right span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}

.sidebar_profile_nametag {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.sidebar_profile_nametag span:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

.sidebar_profile_nametag span:nth-child(2) {
  font-size: 15px;
  color: gray;
}

.sidebar_profile_left img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/* 오른쪽 사이드바 바 */

.sidebar_bar {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}

.sidebar_bar span:nth-child(1) {
  color: gray;
  font-weight: bold;
}

.sidebar_bar span:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
}

/* 오른쪽 친구 추천 */

.sidebar_friend_recommend {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 오른쪽 친구 추천 1번 */

.friend_recommend-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recommend_left-1 {
  display: flex;
  align-items: center;
}

.recommend_left-1 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.recommend_profile_nametag-1 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.recommend_profile_nametag-1 span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recommend_profile_nametag-1 span:nth-child(2) {
  font-size: 11px;
  color: gray;
}

.recommend_right-1 span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}

/* 오른쪽 친구 추천 2번 */

.friend_recommend-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recommend_left-2 {
  display: flex;
  align-items: center;
}

.recommend_left-2 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.recommend_profile_nametag-2 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.recommend_profile_nametag-2 span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recommend_profile_nametag-2 span:nth-child(2) {
  font-size: 11px;
  color: gray;
}

.recommend_right-2 span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}
/* 오른쪽 친구 추천 3번 */

.friend_recommend-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recommend_left-3 {
  display: flex;
  align-items: center;
}

.recommend_left-3 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.recommend_profile_nametag-3 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.recommend_profile_nametag-3 span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recommend_profile_nametag-3 span:nth-child(2) {
  font-size: 11px;
  color: gray;
}

.recommend_right-3 span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}
/* 오른쪽 친구 추천 4번 */

.friend_recommend-4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recommend_left-4 {
  display: flex;
  align-items: center;
}

.recommend_left-4 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.recommend_profile_nametag-4 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.recommend_profile_nametag-4 span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recommend_profile_nametag-4 span:nth-child(2) {
  font-size: 11px;
  color: gray;
}

.recommend_right-4 span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}
/* 오른쪽 친구 추천 5번 */

.friend_recommend-5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recommend_left-5 {
  display: flex;
  align-items: center;
}

.recommend_left-5 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.recommend_profile_nametag-5 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.recommend_profile_nametag-5 span:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recommend_profile_nametag-5 span:nth-child(2) {
  font-size: 11px;
  color: gray;
}

.recommend_right-5 span {
  color: #0095f6;
  font-weight: bold;
  font-size: 13px;
}

/* 반응형 이미지 구현 */

@media screen and (max-width: 950px) {
  .main_content_right {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .content_story {
    display: none;
  }

  .content_peed {
    width: auto;
  }

  .nav_center_search {
    display: none;
  }
}
