/* media queries */

/* main */

@media screen and (max-width: 950px) {
  .main_content_right {
    display: none;
  }
}

/* nav */

@media screen and (max-width: 620px) {
  .content_story {
    display: none;
  }

  .content_peed {
    width: auto;
  }

  .nav_center_search {
    display: none;
  }
}
