body {
  height: 100%;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  position: sticky;
  align-self: flex-start;
  top: 0px;
  background-color: yellow;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: flex-end;
  background-color: gray;
}

.feeds {
  width: 70vw;
  /* height: 100%; */
  margin-right: 15px;
  background-color: ivory;
}

.main-right {
  width: 25vw;
  /* height: 100%; */
  margin-right: 15px;
  background-color: lawngreen;
}

.hd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  height: 100%;
  flex-basis: 40%;
  border: 1px solid black;
}

.serch {
  height: 100%;
  flex-basis: 30%;
  border: 1px solid black;
}

.nav {
  height: 100%;
  flex-basis: 40%;
  border: 1px solid black;
}

.hdLogos {
  height: 40%;
  padding-right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
#westargramLogo {
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 20px;
  border-left: 2px solid black;
}

.inputBox {
  width: 70%;
  height: 30%;
  border: 1px solid black;
}

/* #mainSerch {
  width: ; */
/* 아이콘을 배경이미지로 써보려 했지만 안됨 */

#serchIcon {
    height: 10px;
    opacity: 0.5;
    position: absolute;
    padding-right: 40px;
}

input {
  width: 100%;
  background-color: transparent;
}

.feeds {
  display: flex;
  justify-content: flex-end;
  width: 60vw;
  background-color: violet;
}

article { 
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100%;
  margin-top: 40px;
  border: 1px solid greenyellow;
}

.top {
  width: 100%;
  display: flex;
  height: 40px;
  background-color: orange;
}

.thumbnail img {
  height: 30px;
}

.center img {
  width: 100%;
  overflow: hidden;
}