body {
  height: 100%;
  /* width: 100vw; */
  /* width: 100%; */
}

.headerWrap {
  height: 54px;
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: white;
}

header {
  display: flex;
  height: 100%;
  width: 60vw;
  justify-content: space-between;
  /* background-color: yellow; */
}

.hd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  /* flex: 1; */
  /* border: 1px solid black; */
}

.serch {
  /* flex: 2; */
  width: 20%;
  /* border: 1px solid black; */
}

.inputBox {
  width: 100%;
  height: 55%;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(235, 235, 235);
}

.nav {
  /* flex: 1; */
  /* border: 1px solid black; */
}

.hdLogos {
  height: 40%;
  padding-right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
#westargramLogo {
  font-family: "Lobster", cursive;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 20px;
  border-left: 2px solid black;
}

#serchIcon {
  height: 10px;
  opacity: 0.5;
  position: absolute;
  padding-right: 40px;
}

input {
  width: 100%;
  background-color: transparent;
}

main {
  display: flex;
  /* height: auto; */
  /* width: 100vw; */
  /* height: 100%; */
  /* overflow: scroll; */
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.feeds {
  width: auto;
  height: auto;
  display: flex;
  /* background-color: violet; */
}

article {
  height: auto;
  width: 100%;
  min-width: 450px;
  max-width: 550px;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-top: 15px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
}

.contentHead {
  width: 100%;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
}

.contentHeadProfileThum img {
  margin-top: 5px;
  margin-left: 15px;
  height: 30px;
}

.contentHeadProfile {
  width: 150px;
  padding-left: 15px;
  /* word-wrap: normal; */
  align-self: center;
}

.contentHeadProfile p {
  font-size: 0.8em;
  font-weight: bold;
}

.contentHeadMoreOption {
  margin-left: auto;
  margin-right: 5px;
  align-self: center;
}

.contentHeadMoreOption button {
  background: none;
}

.imgContent {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.imgContent img {
  width: 100%;
  /* object-fit:cover;
  height: auto; */
}

.bottomBts {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

.bottomBts img {
  height: 30px;
  margin-left: 15px;
}

#bookMark {
  margin-left: auto;
  margin-right: 15px;
}

#likeCount {
  font-weight: bold;
  padding: 5px 0px 5px 15px;
  background-color: white;
}

#comments {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
}

#commentWrap {
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  border-top: 1px solid rgb(235, 235, 235);
}

#new-comment {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-left: 15px;
  resize: none;
  background-color: transparent;
}

.comment-row {
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
}

.comment-row button {
  width: 20%;
  background-color: transparent;
  color: rgb(197, 225, 252);
}

.comment-content {
  margin-left: 20px;
}

/* .commentId {
  font-weight: bold;
  color: red;
} */

.main-right {
  width: 300px;
  margin-left: 20px;
  /* background-color: lawngreen; */
}

.rightProfile {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.rightProfileThum img {
  height: 50px;
}

.rightProfileText p {
  font-size: 1em;
  font-weight: bold;
  margin-left: 8px;
}

.rightStory {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  padding: 15px 15px;
}

.rightStoryTop {
  display: flex;
  justify-content: space-between;
}

.rightStoryContent {
  margin-top: 15px;
  display: flex;
}

.rightStoryContent img {
  margin-left: 15px;
  height: 30px;
}

.rigtStoryConetntID {
  margin-left: 20px;
}

.suggestion {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  padding: 15px 15px;

}

.suggestionTop {
  display: flex;
  justify-content: space-between;
}

.suggestionContent {
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.suggestionContent img {
  margin-left: 15px;
  height: 30px;
}

.suggestionConetntID {
  margin-left: 20px;
  
}

.suggestionFollow {
  justify-self: right;
  margin-left: auto;
}

.rigthFoot {
  margin-top: 15px;
  width: 300px;
  height: 80px;
  color: rgb(207, 207, 207);
  /* background-color: royalblue; */
}

.grayText {
  color: rgb(161, 161, 161)
}

.linkText {
  color: blue;
}