/* 변수 */
:root{ 
  --gray-color:#8E8E8E;;
  --light-gray-color:#C7C7C7;
  --black-color:#262626;
  --blue-color:#0095f6;
  --font-bold:600;
  --white-color:#FFFFFF;
  --background-color:#FAFAFA;
  --border-color:rgb(219, 219, 219);
  --border-radius-container:3px;
}
/* 스타일링 */
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(250,250,250);
}
main{
  display:flex;
  max-width: 1012px;
  justify-content: center;
  align-items: center;
  margin: 61px auto;
}
img{
  height: 100%;
}
section{
  max-width: 506px;
  height: 506px;
  margin: 20px;
}
section div, form{
  width: 100%;
}
.main__left{
  width: 454px;
  height: 618px;
}
.main__right{
  width: 350px;
  height: 380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255,255,255);
  padding:30px 40px 15px 40px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
}
.right__logo, .right__forgetpw{
  text-align: center;
}
#text-logo{
  width: 60%;
}
.right__login{
  display:flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 37px;
}
.login-input-wrap{
  margin: 5px;
}

.login-button{
  width: 268px;
  padding: 0;
  background-color: var(--blue-color);
  opacity: 0.3;
  height: 30px;
  border: 1px solid transparent;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

.login-text{
  width: 268px;
  padding: 0;
  box-sizing: border-box;
  height: 36px;
  background-color: rgba(250,250,250,250);
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  padding: 10px;
  border-radius: 3px;
}



.right__forgetpw{
  font-size: 12px;
  position: absolute;
  bottom: 35px;
  color: rgba(var(--fe0,0,55,107),1);
}

#main-container{
  min-width: 1000px;
}