body {
    /* max-width: 1000px; */
    text-align: center;
    margin: 0 auto;
  }
  
  /* navbar styling */
  #navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
  }
  
  .navbar_title {
    font-size: 20px;
  }
  
  .navbar_title_logo {
    font-family: "Lobster", cursive;
  }
  
  .navbar_search {
    position: relative;
  }
  
  .navbar_search input {
    padding: 3px 10px;
    border: 1px solid lightgray;
  }
  
  .navbar_search input::-webkit-input-placeholder {
    text-align: center;
  }
  
  .navbar_search .fa-search {
    position: absolute;
    left: 35%;
    top: 8px;
    font-size: 3px;
  }
  
  .navbar_icons button {
    background-color: white;
  }
  
  .navbar_icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  /* main container */
  
  #main_container {
    display: flex;
    /* padding: 50px; */
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .main_left {
    margin-right: 20px;
    width: 70%;
  }
  .main_left_slider {
    display: flex;
    /* background-color: blue; */
    border: 1px solid lightgray;
    padding: 10px;
    overflow: hidden;
  }
  
  .main_left_slider img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid red;
  }
  
  .main_left_feeds {
    border: 1px solid lightgray;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .feeds_navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  .feeds_navbar_left {
    display: flex;
    align-items: center;
  }
  
  .feeds_navbar_left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid red;
  }
  
  .main_right {
    position: fixed;
    padding-top: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  
  .main_right_user_profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .main_right_user_profile,
  .main_right_recommendation {
    width: 100%;
    height: 100%;
  }
  
  .main_right_user_profile_name {
    display: flex;
    flex-direction: column;
  }
  
  .main_right_user_profile button {
    background-color: white;
    color: #0095f6;
  }
  
  .main_right_recommendation button {
    background-color: white;
    color: #0095f6;
  }
  .main_right_recommendation_list {
    margin-top: 20px;
  }
  
  .main_right_recommendation_list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .main_right_user_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .main_right_recommendation_list img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .main_right_recommendation_list button {
    background-color: white;
  }
  
  .main_right_recommendation_name {
    display: flex;
    flex-direction: column;
  }
  
  .main_right_footer {
    margin-top: 20px;
    text-align: left;
  }
  
  .main_right_footer li {
    display: inline-block;
  }
  
  .main_right_footer a,
  .main_right_footer div {
    color: lightgray;
  }
  
  .main_right_footer div {
    margin-top: 15px;
  }
  