* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Varela', sans-serif;
}

/* NAV SECTION */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
}

nav .center {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 54px;
}

nav .logoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

nav .navLogo {
  width: 22px;
  margin-right: 10px;
}

nav .companyName {
  padding-left: 10px;
  border-left: 2px solid #262626;
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

nav .searchBox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

nav .navSearch {
  padding: 5px 10px;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 5px;
  font-size: 14px;
}

nav input::-webkit-input-placeholder {
  text-align: center;
}

nav input:focus {
  outline: none;
}

nav input:focus::-webkit-input-placeholder {
  outline: none;
  text-align: left;
  padding-left: 20px;
}

nav .searchBox i {
  position: absolute;
  top: 20px;
  left: 55px;
  color: #bbb;
}

nav .searchBox i.active {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #bbb;
}

nav .searchBox i.none {
  display: none;
}

nav .iconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

nav .iconBox img {
  width: 22px;
  margin-left: 20px;
  cursor: pointer;
}

nav .miniMenuBox {
  display: none;
  position: absolute;
  top: 60px;
  right: 15px;
  width: 200px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 3px 7px 7px #eee;
  z-index: 3;
}

nav .miniMenuBox.active {
  display: block;
}

nav .miniMenuBox .fa-caret-up {
  position: absolute;
  top: -20px;
  right: 5px;
  color: #fff;
  font-size: 30px;
}

nav .miniMenuWrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

nav .miniMenuWrap .miniMenuList {
  padding: 10px;
  cursor: pointer;
}

nav .miniMenuWrap .miniMenuList:last-child {
  border-top: 2px solid #eee;
}

nav .miniMenuWrap .miniMenuList i {
  padding-right: 10px;
}

/* CONTAINER SECTION */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding-top: 50px;
}

/* CONTAINER_MAIN SECTION */
.container #main {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.container .mainBg {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 5px;
}

.container .mainTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  padding: 10px;
}

.container .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.container .mainTop img {
  width: 22px;
  margin-right: 10px;
}

.container .threeDot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.container .mainImg {
  width: 100%;
  height: 80vh;
  background-image: url('/images/img_main_feed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .mainBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .mbIconWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.container .mbIconLeft i,
.container .mIconRight i {
  font-size: 18px;
  cursor: pointer;
}

.container .mbLiked {
  display: flex;
  width: 100%;
  padding: 10px;
}

.container .mbLiked span {
  font-weight: bold;
}

.container .mbLiked img {
  width: 20px;
  margin-right: 20px;
}

.container .mbWrittenComments {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container .commentSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.container .commentSection i {
  cursor: pointer;
}

.container .deleteBtn {
  color: #262626;
}

.container .fas:first-child {
  color: #d61438;
}

.container .personalAccount {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
}

.container .personalAccount span {
  font-weight: 400;
}

.container .mbWrittenTime {
  padding: 10px;
  padding-top: 0;
  font-size: 11px;
  font-weight: 400;
}

.container .mbWrittenTime p {
  color: #8e8e8e;
}

.container .commentInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(219, 219, 219, 1);
}

.container .commentInput input {
  flex: 9;
  resize: none;
  height: 30px;
  padding-left: 10px;
  color: #8e8e8e;
  border: none;
  border-radius: 5px;
}

.container .commentInput input::placeholder {
  font-size: 15px;
}

.container .commentInput button {
  flex: 1;
  background-color: transparent;
  color: #0095f6;
  border: none;
  text-align: right;
  cursor: pointer;
}

/* CONTAINER_ASIDE SECTION */
.container #aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 500px;
  padding: 20px;
}

.container .asMyAccount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 13px;
}

.container .asMyAccount img {
  width: 50px;
  margin-right: 10px;
}

.container .asMyProfile > p {
  color: #262626;
  font-weight: bold;
}

.container .asMyProfile_bottom {
  display: flex;
  color: rgba(219, 219, 219, 1);
}

.container .asMyProfile_bottom p:first-child {
  padding-right: 10px;
  border-right: 1px solid rgba(219, 219, 219, 1);
}

.container .asMyProfile_bottom p:last-child {
  padding-left: 10px;
}

.container .asStory {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 5px;
}

.container .asStoryTop {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.container .asStoryTop p:first-child {
  color: #c7c7c7;
}

.container .asStoryListWrap {
  width: 100%;
  overflow: hidden;
}

.container .asStoryList {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.container .asStoryList img {
  width: 30px;
}

.container .asStoryInfo {
  padding-left: 10px;
}

.container .asStoryInfo p:nth-child(2) {
  color: #c7c7c7;
  font-size: 13px;
}

.container .asRecommandation {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 5px;
}

.container .asReTop {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.container .asReTop p:first-child {
  color: #c7c7c7;
}

.container .asReListWrap {
  width: 100%;
  overflow: hidden;
}

.container .asReList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.container .asReListLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}

.container .asReListLeft img {
  width: 30px;
  margin-right: 10px;
}

.container .asReInfo p:nth-child(2) {
  color: #c7c7c7;
  font-size: 13px;
}

.container .asReListfollowBox {
  color: #0095f6;
  font-weight: 500;
}

.container .asInfoWrap {
  padding: 0 10px;
  color: #c7c7c7;
  font-size: 15px;
}

.container .asInfoWrap p:last-child {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  nav .center {
    max-width: 560px;
  }

  .container #aside {
    display: none;
  }

  .container .center {
    max-width: 560px;
  }
}
