* {
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  border: 1.5px solid rgb(228, 228, 228);
  width: 350px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginImg {
  margin: 10px auto;
}

.inputWrap {
  width: 265px;
  margin: 20px auto;
}

input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  border: 1.5px solid #e4e4e4;
  border-radius: 3px;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  background-color: #badcfa;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 7px;
  font-weight: bold;
}

.passwordConfirm {
  align-items: flex-end;
}

a {
  color: #002e5d;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-top: 80px;
}
