.userCommentBox {
  display: flex;
  width: 600px;
  padding: 10px;
  border: 1px solid;
  border-radius: 3px;
}

.postUserId {
  font-weight: bold;
  margin-right: 15px;
}

.commentInput {
  width: 600px;
  padding: 10px;
  margin: 0;
}
