* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.feed-icons img {
  width: 24px;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  height: 54px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  z-index: 10000;
}

#nav-bar {
  display: flex;
  max-width: 975px;
  height: 54px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.nav-left {
  display: flex;
  align-items: center;
  min-width: 40px;
}

.nav-center {
  z-index: 2;
  cursor: text;
}

#nav-search {
  min-width: 125px;
  width: 215px;
  height: 28px;
  padding: 3px 10px 3px 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-align: center;
  font: 400 14px Arial;
  font-weight: 200;
}

.nav-right {
  display: flex;
}

#logo-visual {
  border-right: 1px solid rgb(118, 118, 118);
  padding: 1px 16px 0 0;
}

#logo-text {
  padding: 0 16px 0;
  margin-top: 7px;
}

.icons-nav:not(:first-child) {
  margin-left: 22px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  max-width: 975px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.main-feeds {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 614px;
}

.main-right {
  max-width: 700px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 60px;
  width: 100%;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

#feed-image img {
  width: 100%;
}

#feed-top {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.thumbnail-wrapper {
  width: 32px;
  height: 32px;
}

.profile-thumbnail {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.text-beside {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 14px;
  max-width: 100%;
  overflow: hidden;
}

.text-clickable {
  font-size: 13px;
  line-height: 16px;
}

.text-clickable-right {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

#feed-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  margin: 5px 0 5px 0;
}

.feed-icons:not(:first-child) {
  margin-left: 8px;
  align-content: flex-start;
}

.right-align {
  margin-left: auto;
}

#feed-info-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 4px;
}

.feed-info {
  margin-bottom: 6px;
}

.comment-singular {
  margin-bottom: 6px;
}

.timestamp-text {
  color: rgb(142, 142, 142);
  font-size: 10px;
}

#feed-comments {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  max-height: 80px;
  min-height: 56px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.comment {
  display: flex;
  width: 100%;
}

.comment-textarea {
  flex-grow: 1;
  width: 60%;
  margin: auto 0;
  height: 18px;
  max-height: 80px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  resize: none;
}

.comment-button {
  align-items: center;
  border: 0;
  color: rgba(1, 150, 246, 0.3);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

#profile-info-right {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 30px;
  margin-top: 18px;
}

.thumbnail-wrapper-right {
  width: 56px;
  height: 56px;
}

.profile-thumbnail-right {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.feed-right {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.title-right {
  display: flex;
  align-items: center;
  height: 20px;
  width: 100%;
}

.grey-title {
  color: rgb(142, 142, 142);
  font-weight: 600;
  float: left;
}

.cards-container {
  margin-top: 10px;
}

.friend-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}

.subtitle {
  color: rgb(142 142 142);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.follow-button {
  align-items: center;
  border: 0;
  color: rgb(1, 150, 246);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}
