* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.feed-icons img {
  width: 24px;
}

ul {
  list-style-type: none;
}

#nav-bar {
  position: fixed relative;
  display: flex;
  align-items: stretch center;
  justify-content: center;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgb(255, 255, 255);
  z-index: 3;
  overflow: hidden;
  margin: 0;
}

.nav-left {
  display: flex;
  flex-grow: 1;
  flex-shrink: 9999;
  flex-basis: 0%;
  align-items: center;
  justify-content: flex-start;
  min-width: 40px;
}

#logo-visual {
  border-right: 1px solid rgb(118, 118, 118);
  padding: 1px 16px 0 0;
}

#logo-text {
  padding: 0 16px 0;
  margin-top: 7px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

#nav-search {
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  height: 28px;
  min-width: 125px;
  width: 215px;
  padding: 3px 10px 3px 10px;
  background-color: rgb(250, 250, 250);
  color: rgba(var(--f52, 142, 142, 142), 1);
  font: 400 13.3333px Arial;
  font-weight: 200;
  z-index: 2;
  cursor: text;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  padding-left: 24px;
}

.icons-nav:not(:first-child) {
  margin-left: 22px;
}

main {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  padding-top: 30px;
  max-width: 935px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

div.main-feeds {
  display: absolute;
  display: flex;
  flex-direction: column;
  float: left;
  align-items: stretch;
  margin-right: 28px;
  max-width: 614px;
}

div.main-right {
  display: absolute;
  float: right;
}

.feed-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 60px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  margin-left: -1px;
  margin-right: -1px;
}

#feed-top {
  display: flex;
  position: relative;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  align-items: center;
}

.thumbnail-wrapper {
  width: 32px;
  height: 32px;
}

.profile-thumbnail {
  height: 100%;
  weight: 100%;
  border-radius: 50%;
}

.text-beside {
  display: flex;
  margin-left: 14px;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.text-clickable {
  font-size: 12px;
  line-height: 15px;
}

#feed-menu {
  position: relative;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin: 5px 0 5px 0;
  flex-wrap: wrap;
}

.left-align {
}

.feed-icons:not(:first-child) {
  margin-left: 8px;
  align-content: flex-start;
}

.right-align {
  margin-left: auto;
}

#feed-info-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 4px;
}

.feed-info {
  margin-bottom: 6px;
}

.comment-singular {
  margin-bottom: 6px;
}

.small-font {
  font-size: 10px;
  color: rgb(142, 142, 142);
}

#feed-comments {
  position: relative;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  max-height: 80px;
  min-height: 56px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.comment {
  width: 100%;
  display: flex;
  position: relative;
}

.comment-textarea {
  width: 60%;
  resize: none;
  border: none;
  flex-grow: 1;
  margin: auto 0;
  height: 18px;
  max-height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.comment-button {
  color: rgba(1, 150, 246, 0.3);
  background-color: rgb(255, 255, 255);
  border: 0;
  font-weight: 600;
  align-items: center;
}
