* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}

#nav-bar{
    padding: 0px 20px;
    overflow: hidden;
}