* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(237, 237, 237);
}

body{
    width: 100vw;
    height: 100vh;    
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -175px;
    padding: 10px 0;
}

.box1 {
    width: 350px;
    height: 380px;
    border: 1px solid rgb(219, 219, 219);
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: white;
}
.box2 {
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    margin: 0 auto 10px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
}
.box2 span{
    width: 320px;
    margin: 15px;
    text-align: center;
    background-color: white;
}
.joinUs{
    color: #0095f6;
    text-decoration: none;
    background-color: white;
}
.box3{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}
.box3 span{
    width: 310px;
    margin: 10px 20px;
    text-align: center;
    color: #262626;
}

.box4{
    display: flex;
    width: 350px;
}

.box4 div{
    margin: 0 auto;
}




.logo {
    display: block;
    margin: 22px auto 12px;    
    background-color: white;
    
}


/* flex > between */

#inputLogin {
    text-align: center;
    margin-top: 30px;
    background-color: white;
}

input {
    border-radius: 3px;
    width: 250px;
    height: 35px;
    margin: 2px auto;
    padding-left: 15px;
    justify-content: center;
    border: 0.3px solid rgb(222, 223, 224);
    font-size: 14px;
    background-color:rgb(247, 247, 247);
}


button {
    border-radius: 3px;
    width: 269px;
    height: 30px;
    margin-top: 15px;
    color: white;
    font-size: 13px;
    background-color: lightblue;
    border-style: none;
}

.or{
    display: flex;
    align-items: center;
    width: 268px;
    height: 15px;
    margin: 15px auto 14px;
    background-color: white;
}

.or *{
    background-color: white;
}
.or span{
    color:#8e8e8e;
    font-size: 13px;
    margin: 0 18px;
}
hr{
    width: 100px;
    height: 0.1px;
    color:#8e8e8e;
}




.loginIssue {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #385185;    
    font-size: 13px;
    background-color: white;
}

.loginIssue *{
    color: #385185;
    background-color: white;
    text-decoration: none;
}

.loginIssue span{
    font-size: 14px;
}

.loginIssue p{
    font-size: 12px;
}

.facebook img{
    display: flex;
    align-items: center;
}

.facebook a{
    display: flex;
    align-items: center;
}
