* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* navigation bar */
nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 54px;
  top: 0px;
  border-bottom: 0.5px solid lightgrey;
  background-color: white;
  z-index: 10;
}

.navContent {
  display: flex;
  width: 975px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.leftLogo {
  flex: 1;
}

.textlogo {
  width: 103px;
}

.middleSearch {
  display: flex;
  flex: 1;
  justify-content: center;
}

.rightMenu {
  flex: 1;
}

.middleSearch input {
  position: relative;
  width: 215px;
  height: 28px;
  text-align: center;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 13px;
  border: 0.2px solid rgb(220, 220, 220);
  outline: none;
  border-radius: 3px;
  background-color: rgb(246, 246, 246);
}

.middleSearch input:focus {
  padding-left: 10px;
  text-align: left;
}

.rightMenuBtn {
  display: flex;
  float: right;
  margin-left: 15px;
}

.rightMenuBtn a {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.rightMenuBtn a svg {
  width: 22px;
  height: 22px;
}

.rightMenuBtn a img {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

/* main */

main {
  width: 100%;
  margin-top: 54px;
  background-color: rgb(250, 250, 250);
}

.mainContent {
  display: flex;
  width: 935px;
  margin: 0 auto;
  padding-top: 30px;
}

.feedsColumn {
  display: flex;
  flex-direction: column;
}

.feeds {
  display: flex;
  width: 614px;
  margin-right: 28px;
  margin-bottom: 28px;
}

.storyFrame {
  width: 614px;
  height: 116px;
  margin-bottom: 24px;
  padding: 16px 0;
  border: 0.2px solid rgb(220, 220, 220);
  background-color: white;
}

.storyOverflow {
  display: flex;
  margin: 0 1px;
  padding: 0 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.eachStoryBox {
  height: 100px;
  width: 66px;
  margin-right: 20px;
}

.borders {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 66px;
  height: 66px;
  padding: 2px;
  align-items: center;
  color: #262626;
  font-size: 12px;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 0, 106), rgb(255, 145, 0));
}

.storyOverflow div img {
  width: 62px;
  height: 62px;
  margin-bottom: 6px;
  border: 2px solid white;
  border-radius: 100%;
}

.storyProfile {
  position: absolute;
  top: 70px;
  line-height: 14px;
  max-width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feeds article {
  width: 614px;
  height: auto;
  margin-bottom: 20px;
  border: 0.2px solid rgb(220, 220, 220);
  background-color: white;
}

.main-right {
  width: 293px;
}

/* 여기서부터 main.feeds 내부 */
/* 프로필 표시 범위 */

.articleProfile {
  display: flex;
  flex-direction: row;
  width: 613px;
  height: 60px;
  margin: 0 auto;
  padding: 16px;
  align-items: center;
}

.articleProfile a {
  text-decoration: none;
  justify-content: center;
}

.idpic img {
  flex-shrink: 0;
  width: 36px;
  margin-right: 10px;
}

.idspan {
  flex-grow: 1;
}

.idmore {
  flex-grow: 1;
}

.articleProfile-pic {
  float: left;
  flex-basis: content;
  border-radius: 100px;
}

.articleProfile span {
  color: black;
}

.more {
  float: right;
  width: 22px;
}

/* 사진 */
.articlePictures img {
  width: 100%;
}

/* 리액션 버튼 */
.viewersBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  padding: 0 8px;
}

.viewersLeftBtn svg {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.viewersRightBtn svg {
  width: 24px;
  height: 24px;
  margin: 8px;
}

/* 진짜 내용 */
.articleContent {
  display: flex;
  flex-direction: column;
  width: 582px;
  margin: 0 auto;
}

.texts {
  margin-top: 0;
}

.paragraph {
  display: inline-block;
  width: 540px;
  max-width: 400px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.moreBtn {
  color: rgb(148, 155, 161);
  padding: 0;
  outline: none;
  background-color: white;
  border-style: none;
}

.firstC {
  margin-top: 10px;
}
.comments {
  width: 613px;
  margin-top: 10px;
  border: 0.2px solid rgb(220, 223, 224);
}

.likes {
  margin-bottom: 5;
}
.likes img {
  width: 20px;
  border-radius: 100%;
}

.comments input {
  width: 558px;
  padding: 16px;
  border-style: none;
}

.createComment {
  display: flex;
  margin: 0 auto;
  overflow-y: scroll;
}

.inputComment {
  flex-shrink: 0;
  min-width: 543px;
  max-width: 543px;
  min-height: 56px;
  max-height: 80px;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
  border-style: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.commentBtn {
  flex-grow: 1;
  float: right;
  color: lightblue;
  border-style: none;
  outline: none;
  background-color: white;
}

.commentsList {
  list-style: none;
}

.commentsList ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

.commentsList ul li span {
  margin-left: 5px;
}

.commentsFrame li {
  display: flex;
  align-items: center;
  word-break: break-all;
}

.commentsFrame li br {
  display: none;
}

.deleteBtn {
  width: 30px;
  background-color: white;
  border-style: none;
  text-align: right;
  outline: none;
  color: rgb(192, 192, 192);
}

.mainRight {
  width: 293px;
}

.fixRight {
  position: fixed;
}

.rightProfile {
  display: flex;
  flex-direction: row;
  width: 293px;
}

.rightProfile a {
  margin: 5px;
  text-decoration: none;
  color: black;
}

.rightProfile-pic {
  float: left;
  width: 50px;
  margin-top: 2%;
  margin-left: 5%;
  border-radius: 100px;
}

.rightProfile p {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  padding-left: 5%;
}

.recommendProfile {
  display: flex;
  width: 293px;
  height: 56px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.recommendProfile img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  border-radius: 100%;
}

.userText {
  width: 206px;
}

.userid {
  font-size: 14px;
  font-weight: bold;
}

.secondLine {
  font-size: 12px;
  color: rgb(192, 192, 192);
}

.follow {
  float: right;
  color: rgb(38, 167, 218);
  font-weight: bold;
  font-size: 14px;
  border-style: none;
  outline: none;
  background-color: rgb(250, 250, 250);
}

.recommendTitle {
  width: 293px;
  height: 25px;
  justify-content: space-between;
  align-items: center;
}

.recommendTitle span {
  color: rgb(148, 155, 161);
  font-size: 13px;
}

.recommendTitle input {
  border-style: none;

  color: rgb(0, 0, 0);
  float: right;
  outline: none;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}

.recommend {
  width: 293px;
  margin: 20px 0;
  overflow: hidden;
}

.recommendList {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.source {
  flex: auto;
  width: 293px;
  margin-top: 20px;
}

.sitemap {
  width: 293px;
  font-size: 13px;
  color: rgb(192, 192, 192);
}

.instagram {
  width: 293px;
  font-size: 13px;
  color: rgb(192, 192, 192);
}

@media only screen and (max-width: 1080px) {
  .feeds {
    width: 80%;
    margin: 0 auto;
  }
  .mainRight {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .feeds {
    width: 96%;
    margin: 0 2%;
  }
  .mainRight {
    display: none;
  }
}
