* {
    margin: 0;
    box-sizing: border-box;
}
i *{
    font-family: FontAwesome;
}
body{
    margin: 0;
}


/* navigation bar */
nav{
    position: fixed;
    top: 0px;
    height: 54px;
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid lightgrey;
    z-index: 10;
    display: flex;

}
.navContent {
    display: flex;
    width: 975px;
    margin: 0 auto;
    padding : 0 20px;
    align-items: center; 
    justify-content: center;
}
.leftLogo{
    flex: 1;
}
.middleSearch{
    flex: 1;
    display: flex;
    justify-content: center;
}
.rightMenu{
    flex: 1;
}


.middleSearch input{
    position: relative;
    width: 215px;
    height: 28px;
    border-radius: 3px;
    border: 0.2px solid rgb(220, 220, 220);
    outline: none;
    background-color: rgb(246, 246, 246);
    font-family: FontAwesome;
    font-style: normal;
    font-size: 13px;
    text-align: center;
}
.middleSearch input:focus{
    text-align: left;
    padding-left: 10px;
}



.menuBtn{
    display: flex;
    float: right;
    margin-left: 15px;
}
.menuBtn a{
    width: 22px;
    height: 22px;
    margin-left: 22px;
}
.menuBtn a img{
    border-radius: 100%;
    width: 22px;
    height: 22px;
}



/* main */

main {
    margin-top: 54px;
    width: 100%;
    background-color: rgb(250, 250, 250);
}
.mainContent{
    display: flex;
    padding-top: 30px;
    width: 935px;
    margin: 0 auto;
}

.feedsColumn{
    display: flex;
    flex-direction: column;
}

.feeds{
    width: 614px;
    margin-right: 28px;
    margin-bottom: 28px;
    display: flex;
}
.storySection{
    width: 614px;
    height: 116px;
    padding: 16px 0;
    background-color: white;
    border: 0.2px solid rgb(220, 220, 220);
    margin-bottom: 24px;
}
.storyList{
    display: flex;
    padding: 0 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 1px;
}

.storyBox{
    height: 100px;
    width: 66px;
    margin-right: 20px;
}

.borders{
    position: relative;
    display: block;
    width: 66px;
    height: 66px;
    padding: 2px;
    border-radius: 50%; 
    display: flex;
    background: linear-gradient(rgb(255, 0, 106),rgb(255, 145, 0)); 
    flex-direction: column;
    align-items: center;
    color: #262626;
    font-size: 12px;

}
.storyList div img{
    width: 62px;
    height: 62px;
    border-radius: 100%;
    border: 2px solid white;
    margin-bottom: 6px;
}

.storyProfile{
    position: absolute;
    top: 70px;
    line-height: 14px;
    max-width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.feeds article{
    width: 614px;
    height: auto;
    border: 0.2px solid rgb(220, 220, 220);
    background-color: white;
}
.main-right {
    width: 293px;
}

/* 여기서부터 main.feeds 내부 */

/* 프로필 표시 범위 */

.contentprofile{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 613px;
    height: 60px;
    padding: 16px;
    align-items: center;
}

.contentprofile a {
    text-decoration: none;
    justify-content: center;
}
#idpic{
	flex-shrink: 0;
	width: 50px;
}
#idspan{
    flex-grow: 1;
}
#idmore{
    flex-grow: 1;

}
#contentprofile-pic{
    float: left;
    flex-basis: content;
    border-radius: 100px; 
}

.contentprofile span{
    color: black;
}

#more{
    float: right;
}

/* 사진 */

.pictures img{
    width: 100%;
}

/* 리액션 버튼 */

.viewersBtn {
    display: flex;
    padding: 0 8px;
    margin-top: 4px;
}
.viewersBtn svg{
    margin: 8px;
    width: 24px;
    height: 24px;
}

.emptyHeart{    
    position: absolute;
    visibility: visible;
}

.heart{
    position: relative;
    visibility: hidden;
    fill : rgb(237, 73, 86);
}


#bookMark{
    margin-left: auto;
}

/* 진짜 내용 */
.content{
    display: flex;
    flex-direction: column;
    width: 582px;
    margin: 0 auto;
}
.content div *{
    margin-top: 4px;
    align-items: center;
}
.comments{
    width: 613px;
    border: 0.2px solid rgb(220, 223, 224);
    margin-top: 10px;
}

.likes img{
    border-radius: 100%;
}
.comments input{
    padding: 16px;
    width: 558px;
    border-radius: 0;
    border-style: none;
}
form *{
    outline: none;
}

.createComment{
    display: flex;
}

#commentBtn{
    background-color: white;
    color: lightblue;
    border-style: none;
    margin-left: 4px;
}

.commentsList{
    list-style: none;
}
.commentsList ul{
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}
.commentsList ul li span {
    margin-left: 5px;
}

.mainRight{
    width: 293px;
}
.fixRight{
    position: fixed;
}

.rightProfile{
    display: flex;
    flex-direction: row;
    width: 293px;
}

.rightProfile a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

#rightProfile-pic{ 
    float: left;
    width: 55px;
    border-radius: 100px; 
    margin-top: 2%;
    margin-left: 5%;
}

.rightProfile p{
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-left: 5%;
}

.recommendProfile{
    display: flex;
    width: 293px;
    height: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
}

.recommendProfile img{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin: 0 5px;
}
.userText{
    width: 206px;
}
.userid{
    font-size: 14px;
    font-weight: bold;
}
.secondLine{
    font-size: 12px;
    color: rgb(192, 192, 192);
}
.follow{
    float: right;
    border-style: none;
    background-color: rgb(250, 250, 250);
    color: rgb(38, 167, 218);
    font-weight: bold;
    outline: none;
    font-size: 14px;
}

.recommendTitle {
    width: 293px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}
.recommendTitle span{
    color: rgb(148, 155, 161);
    font-size: 13px;
}
.recommendTitle input {
    border-style: none;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    float: right;
    outline: none;
    font-size: 12px;
}

.recommend{
    overflow: hidden;
    margin: 20px 0;
    width: 293px;
}

.recommendList{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

.source{
    flex: auto;
    margin-top: 20px;
    width: 293px;
}
.sitemap {
    font-size: 13px;
    width: 293px;
    color:rgb(192, 192, 192);
}
.instagram {
    font-size: 13px;
    width: 293px;
    color:rgb(192, 192, 192);
}

@media only screen and (max-width: 1080px) {
    .feeds {
        width: 80%;
        margin: 0 auto;}
    .mainRight {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    .feeds {
        width: 96%;
        margin: 0 2%;}
    .mainRight {
        display: none;
    }
}

