:root {
  /* color */
  --white-color: white;
  --grey-light-color: #fafafa;
  --grey-medium-color: #dbdbdb;
  --grey-dark-color: #8e8e8e;
  --blue-color: #0095f6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--grey-light-color);
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 380px;
  padding: 10px;
  border: 1px solid var(--grey-medium-color);
  border-radius: 1px;
  background-color: var(--white-color);
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: 175px;
  height: 51px;
  margin: 22px auto 36px auto;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 250px;
  height: 36px;
  padding: 9px 8px 7px 8px;
  margin-bottom: 6px;
  border-radius: 3px;
  border: 1px solid var(--grey-medium-color);
  font-size: 13px;
  background-color: var(--grey-light-color);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.loginBtn {
  width: 250px;
  margin: 8px 40px;
  padding: 5px 9px;
  border: 0 none;
  border-radius: 4px;
  background-color: var(--blue-color);
  opacity: 0.4;
  font-size: 13px;
  font-weight: bold;
  color: var(--white-color);
}

/* login option */
.loginOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* login option_askLoginOption */
.askLoginOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 18px;
  margin: 10px 40px 18px 40px;
}

.line {
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--grey-medium-color);
}

.askText {
  color: var(--grey-dark-color);
  font-size: 13px;
  font-weight: bold;
}

/* login option_facebook login */
.loginOption button {
  display: flex;
  align-items: center;
  margin: 8px 40px;
  border: none;
  background-color: var(--white-color);
}

.facebookLogo {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png");
  background-position: -414px -259px;
}

.facebookLoginText {
  color: #385185;
  font-weight: bold;
}

.askForgotPassword {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #00376b;
  font-size: 12px;
}
