:root {
  /* color */
  --white-color: white;
  --grey-light-color: #fafafa;
  --grey-medium-color: #dbdbdb;
  --grey-dark-color: #8e8e8e;
  --skyblue-color: #b2dffc;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-light-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 380px;
  padding: 10px;
  border: 1px solid var(--grey-medium-color);
  border-radius: 1px;
  background-color: var(--white-color);
}

/* header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
}

header img {
  width: 175px;
  height: 51px;
  margin: 22px auto 36px auto;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 250px;
  height: 36px;
  padding: 9px 8px 7px 8px;
  margin-bottom: 6px;
  border-radius: 3px;
  border: 1px solid var(--grey-medium-color);
  font-size: 13px;
  background-color: var(--grey-light-color);
}

main button {
  width: 250px;
  margin: 8px 40px;
  padding: 5px 9px;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  background-color: var(--skyblue-color);
  color: var(--white-color);
  font-weight: bold;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* footer_askLoginOption */
.askLoginOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 18px;
  margin: 10px 40px 18px 40px;
}

.line {
  width: 100px;
  height: 1px;
  border-top: 1px solid var(--grey-medium-color);
}

.askText {
  color: var(--grey-dark-color);
  font-size: 13px;
  font-weight: bold;
}

/* footer_facebook log in */
footer button {
  display: flex;
  align-items: center;
  margin: 8px 40px;
  border: none;
  background-color: var(--white-color);
}

.facebookLogo {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png");
  background-position: -414px -259px;
}

.facebookLoginText {
  color: #385185;
  font-weight: bold;
}

.askForgotPassword {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #00376b;
  font-size: 12px;
}
