* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

nav {
  background-color: thistle;
  display: flex;
  border: 1px solid black;
  width: 935px;
  justify-content: space-between;
  position: fixed;
  height: 54px;
  padding-top: 10px;
  top: 0;
  padding-left: 14px;
  padding-right: 14px;
}

#searchBar {
  width: 250px;
  height: 34px;
  border: none;
  border-radius: 5px;
  border: 2px solid #dbe3eb;
  background-color: #fafafa;
  padding-left: 7px;
  font-size: 14px;
}

.weLogo {
  display: flex;
  align-items: center;
}

.westaWord {
  border-left: 2px solid black;
  margin-left: 6px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.weLogo img {
  width: 28px;
}

.iconSet {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  width: 100px;
}
.iconSet img {
  width: 27px;
  height: 27px;
}

main {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 78px;
  width: 935px;
}

.feeds {
  background-color: greenyellow;
  border: 1px solid black;
  height: 1002px;
}

article {
  background-color: yellow;
  border: 1px solid black;
  width: 614px;
}

.profileSet {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bauhausLogo {
  width: 42px;
  height: 42px;
  border-radius: 70%;
  margin-right: 10px;
}

/* .bauhausLogo {
  border: 0.5px solid gray;
  border-radius: 5px;
  width: 22px;
} */

.bauhausLogo img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 70%;
}

.westaId {
  font-weight: bolder;
}

.postingImage img {
  width: 610px;
  height: 610px;
  object-fit: cover;
}

.postingBtn {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.heart {
  width: 24px;
  object-fit: cover;
}

.commentBtn {
  width: 22px;
  object-fit: cover;
}

.uploadBtn {
  width: 22px;
  object-fit: cover;
}

.bookMarkBtn {
  width: 22px;
  object-fit: cover;
}

.like {
  display: flex;
  align-items: center;
}

.bauhausLogoSmall img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 70%;
  margin-right: 3px;
  margin-left: 10px;
}

.westaIdSmall {
  font-weight: bold;
}

.postingWd {
  margin: auto 10px auto 10px;
}

.comment {
  margin-left: 10px;
}

.westaIdComment {
  font-weight: bold;
}

.commentTime {
  font-size: 10px;
  color: #828282;
}

.comment {
  font-size: 16px;
  color: #828282;
  margin: 10px 10px auto 10px;
  padding-top: 5px;
  border-top: 1px solid #828282;
}
.main-right {
  border: 1px solid black;
  width: 293px;
  font-size: 12px;
  margin-left: 30px;
}

.profileSetRight {
  display: flex;
  align-content: center;
}

.bauhausLogoRight img {
  object-fit: cover;
  border-radius: 70%;
  width: 56px;
}

.westaIdRightSet {
  font-size: 16px;
  padding-top: 3px;
  padding-left: 10px;
}

.westaIdRight {
  font-weight: bold;
  margin-top: 6px;
}

.storyBox {
  padding-left: 20px;
  padding-right: 20px;
}

.storyBoxNav {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  font-size: 12px;
}

.storyBoxSeeAll {
  font-weight: bolder;
}

.profileSetStory {
  display: flex;
  align-content: center;
}

.bauhausLogoStory {
  width: 42px;
  height: 42px;
  border-radius: 70%;
  margin-right: 10px;
}

.bauhausLogoStory img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 70%;
}

.westaIdStory {
  font-weight: bolder;
}

.westaIdStorySet {
  margin-top: 7px;
}

/* 프로필 이미지
42 42 이미지 겉 박스 크기
32 32 이미지 크기 */

/* 로고 전체 공통속성
object-fit: cover;
border-radius: 70%;
하나로 묶기 */
