* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

nav {
  display: flex;
  width: 965px;
  justify-content: space-between;
  position: fixed;
  height: 54px;
  padding-top: 10px;
  top: 0;
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fafafa;
}

#searchBar {
  width: 250px;
  height: 34px;
  border: none;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  background-color: #fafafa;
  padding-left: 7px;
  font-size: 14px;
}

.weLogo {
  display: flex;
  align-items: center;
}

.westaWord {
  border-left: 2px solid black;
  margin-left: 6px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.weLogo img {
  width: 28px;
}

.iconSet {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  width: 100px;
}
.iconSet img {
  width: 27px;
  height: 27px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 78px;
  width: 935px;
}

.feeds {
  height: 1002px;
}

article {
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 616px;
}

.profileSet {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bauhausLogo {
  width: 42px;
  height: 42px;
  border-radius: 70%;
  margin-right: 10px;
}

.bauhausLogo img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 70%;
}

.westaId {
  font-weight: bolder;
}

.postingImage img {
  width: 614px;
  height: 614px;
  object-fit: cover;
}

.postingBtn {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.heart {
  width: 24px;
  object-fit: cover;
}

.commentBtn {
  width: 22px;
  object-fit: cover;
}

.uploadBtn {
  width: 22px;
  object-fit: cover;
}

.bookMarkBtn {
  width: 22px;
  object-fit: cover;
}

.like {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.bauhausLogoSmall img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 70%;
  margin-right: 3px;
  margin-left: 10px;
}

.westaIdSmall {
  font-weight: bold;
}

.postingWd {
  margin: 5px 10px auto 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 7px;
}

.comment {
  margin-left: 10px;
}

#commentBoard {
  border: 3px solid #ebebeb;
  background-color: #fafafa;
  border: none;
  width: 590px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.itemAdd {
  border: none;
  background-color: #fafafa;
  padding-bottom: 10px;
  padding-right: 7px;
  color: #ababab;
}

.itemDel {
  border: none;
  background-color: #fafafa;
  color: #ababab;
  margin-left: 15px;
}

.westaIdComment {
  font-weight: bold;
}

.commentTime {
  margin-top: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #8d8d8d;
}

.items {
  margin: auto 10px auto 10px;
  list-style: none;
}

.comment {
  display: flex;
  font-size: 16px;
  color: #828282;
  margin: 10px 10px auto 10px;
}
.main-right {
  width: 320px;
  font-size: 12px;
  margin-left: 30px;
}

.profileSetRight {
  display: flex;
  align-content: center;
}

.dieterRamsRight img {
  object-fit: cover;
  border-radius: 70%;
  width: 56px;
  height: 56px;
}

.westaIdRightSet {
  font-size: 16px;
  padding-top: 3px;
  padding-left: 10px;
}

.westaIdRight {
  font-weight: bold;
  margin-top: 6px;
}

.storyBox {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  height: 240px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  overflow: hidden;
}

.storyBoxNav {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  font-size: 12px;
}

.storyBoxTitle {
  font-weight: bolder;
  color: #828282;
  font-size: 14px;
}

.storyBoxSeeAll {
  font-weight: bolder;
  font-size: 15px;
}

.profileSetStory {
  display: flex;
  align-content: center;
  margin-top: 15px;
}

.bauhausLogoStory {
  width: 42px;
  height: 42px;
  border-radius: 70%;
  margin-right: 10px;
}

.bauhausLogoStory img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 70%;
}

.westaIdStory {
  font-weight: bolder;
}

.westaStoryTime {
  margin-top: 2px;
}

.westaIdStorySet {
  margin-top: 7px;
}

.followRecommendBox {
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  height: 220px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  overflow: hidden;
}

footer {
  color: #828282;
  margin-top: 15px;
  font-weight: bold;
}
