.div-for-display-flex {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #fafafa;
}

div {
  text-align: center;
}

.right_main {
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
}

h1 {
  height: 30px;
  margin-top: 25px;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.login_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 330px;
}

.input_and_button_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  display: inline-block;
  width: 258px;
  height: 36px;
  margin: 3px;
  padding: 9px 0 7px 8px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  font-size: 14px;
}

button {
  display: inline-block;
  width: 258px;
  height: 30px;
  margin: 8px 40px;
  background-color: #b2dffc;
  color: #faffff;
  border: 0;
  border-radius: 3px;
  font: inherit;
}

.lost_password {
  margin-bottom: 10px;
  line-height: 14px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
}
