* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    /* border:1px solid black; */
}



nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    display:flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 975px;
}

.left-nav{
    width: 200px; 
    display:flex;
    justify-content: flex-start;
    padding-top: 9px;
}

.ig-logo{
    display:block;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-right: 10px;
}

.input-box {
    width: 215px;
    text-align: center;
}

input {
    margin-top: 15px;
    display: inline-block;
    background: rgba(var(--b3f,250,250,250),1);
    width: 100%;
    height: 25px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.nav-images-box{
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 60px
}

.nav-images{
    margin-top: 20px;
    display:inline-block;
    width:20px;
    height: 20px;
}

main{
    background-color: #FAFAFA;
    border: 1px solid black;
    height: 100vh; /* 이건 첨 본다. 머자  */
    margin-top: 61px;
    display: flex;
    justify-content: center;
}


.feeds{
    width:614px;
    margin-top: 8px;
    margin-right: 10px;
}

.main-right{
    width: 293px;
    margin-top: 8px;
    margin-left: 8px;
    height: 60%;
}

article {
    border:1px solid black;
    margin: 30px 5px 5px 5px;
}

.article-header{
    display: flex;
    justify-content: flex-start;
}

.article-writer{
    font-size: 14px;
}

.article-place{
    font-size: 12px;
}

.article-img-box{
    height: 615px;
}

.article-img{
    height: 614px;
}

.like-comment-share-bookmark{
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.third-row{
    display:flex;
    justify-content: space-between;
}

.first-column{
    width: 100px;
    display:flex;
    justify-content: space-around;
}