div.loginBox{
    position: relative;
    top: 200px;
    box-sizing: border-box;
    width: 400px; 
    height: 420px;
    margin: auto;
    border: 1px solid lightgrey;
}

h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 50px;
}

input.inputBox{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 250px; 
    height: 35px;
    padding: 2px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: rgb(247, 247, 247);
    font-size: 12px;
}

#idBox{
    top: 150px;
}

#passwordBox{
    top: 190px;
}

#loginButton{
    position: absolute;
    top: 235px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 250px; 
    height: 33px;
    padding: auto;
    border-style: none;
    border-radius: 5px;
    background-color: #0096f6;
    opacity: 0.5;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

div.breakLine{
    display: flex;
    justify-content: space-around;
    width: 250px;
    position: absolute;
    top: 270px;
    left: 75px;
}

div.line{
    width: 90px;;
    margin-bottom: 6px;
    border-bottom: 1px solid lightgrey;
}

#or{
    margin: 0 12px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

#facebookButton{
    position: absolute;
    top: 320px;
    left: auto;
    width: 400px;
    border-style: none;
    background: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #385185;
    cursor: pointer;
}

#forgetPassword{
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #385185;
    cursor: pointer;
}