.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 380px;
  margin: 50px auto 0px auto;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}

.main h1 {
  margin: 32px 0px 0px 0px;
  font-family: "Lobster", cursive;
  font-size: 41px;
  text-align: center;
}

.loginInput {
  width: 268px;
  height: 38px;
  padding: 9px 0px 7px 8px;
  background-color: #fafafa;
  border: rgb(219, 219, 219) 1px solid;
  border-radius: 3px;
}

.loginInput::placeholder {
  color: #8c8c8c;
}

.inputID {
  margin: 36px 0px 0px 0px;
}

.inputPW {
  margin: 6px 0px 0px 0px;
}

.loginBtn {
  margin-top: 14px;
  width: 268px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.btnActiveColor {
  background-color: #0095f6;
}

.btnPassiveColor {
  background-color: #c4e1fb;
}

.main span {
  margin: 99px 0px 0px 0px;
  color: #00376b;
  font-size: 12px;
}
