.loginContainer {
    width: 350px;
    height: 380px;
    margin: 50px auto 0px auto;
    display: flex;
    border: rgb(219, 219, 219) 1px solid;
    border-radius: 1px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 41px;
    margin: 32px 0px 0px 0px;
    text-align: center;
}

.loginInput {
    width: 268px;
    height: 38px;
    padding: 9px 0px 7px 8px;
    border: rgb(219, 219, 219) 1px solid;
    background-color: #fafafa;
    border-radius: 3px;
}

.loginInput::placeholder {
    color: #8c8c8c;
}

.inputID {
    margin-top: 36px;
}

.inputPW {
    margin-top: 6px;
}

.loginBtn {
    width: 268px;
    height: 30px;
    margin-top: 14px;
    background-color: #c4e1fb;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

span {
    margin-top: 99px;
    font-size: 12px;
    color: #00376b;
}
