.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

.navTitle {
  font-family: "Lobster", cursive;
  font-size: 41px;
}

.navSearch {
  position: relative;
  width: 215px;
  height: 28px;
}

.navSearch input {
  width: 100%;
  height: 100%;
}

.navSearch input::placeholder {
  text-align: center;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  width: 222px;
}

.navIcons i {
  font-size: 24px;
}

.navIcons img {
  width: 24px;
  border-radius: 50%;
}

.feeds {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}

.feeds article {
  width: 600px;
  margin-right: 20px;
  border: 1px solid #dbdbdb;
}

.feedHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 60px;
  padding: 16px;
  background-color: white;
}

.writer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.writer img {
  width: 32px;
  border-radius: 50%;
}

.writer h5 {
  margin: 0px 0px 0px 10px;
}

.feedHeader button {
  background-color: white;
  border: none;
}

.feedImage img {
  padding: 0px;
  width: 600px;
  height: 600px;
}

.feedBottomBox {
  width: 600px;
  background-color: white;
}

.feedButtons Button {
  background-color: white;
  border: none;
  font-size: 24px;
}

.feedButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 12px;
  width: 600px;
  height: 40px;
  background-color: white;
}

.feedLike {
  width: 600px;
  height: 18px;
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 0px 16px;
  background-color: white;
}

.feedLike button {
  all: unset;
}

.feedText {
  padding: 0px 16px;
  margin: 10px 0px 0px 0px;
  width: 600px;
  background-color: white;
}

.feedComment {
  padding: 0px 16px;
}

.feedText button {
  all: unset;
}

.feedComment button {
  all: unset;
}

.feedTime {
  width: 600px;
  margin: 12px 0px 0px 0px;
  padding: 0px 16px;
  background-color: white;
}

.writeHereComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  height: 56px;
  margin: 12px 0px 0px 0px;
  padding: 0px 16px;
  background-color: white;
  border-top: 1px solid #dbdbdb;
}

.writeHereComment i {
  font-size: 24px;
}

.writeHereComment input {
  width: 80%;
  height: 100%;
  background-color: white;
  border: none;
}

.writeHereComment button {
  all: unset;
}

.mainAside {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  margin: 55px 0px 0px 0px;
  background-color: white;
}

.profilewithrecommend {
  margin: 50px 0px 0px 20px;
}

.myProfile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 56px;
  background-color: white;
}

.myProfile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.myProfile dl {
  margin: 0px 0px 0px 20px;
  width: 196px;
  font-size: 14px;
}

.myProfile button {
  all: unset;
  font-size: 12px;
}

.recommendForYou {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 300px;
  margin: 20px 0px 0px 0px;
  background-color: white;
}

.recommendForYou span {
  width: 250px;
  font-size: 14px;
}

.recommendForYou button {
  all: unset;
  font-size: 12px;
}

.recommnedList {
  width: 300px;
  background-color: white;
}

.recommendProfile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 300px;
  margin: 16px 0px 0px 0px;
  background-color: white;
}

.recommendProfile img {
  width: 32px;
  border-radius: 50%;
}

.recommendProfile dl {
  margin: 0px 0px 0px 20px;
  width: 210px;
  font-size: 14px;
}

.recommendProfile button {
  all: unset;
  font-size: 12px;
}

.mainPage {
  margin: 55px 0px 0px 0px;
  width: 60%;
  background-color: white;
}

.feedButtons img {
  width: 24px;
  height: 24px;
}

.commentLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentLineTemplate {
  display: none;
}
