/* * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center; 
  font-size: 35px;
  color: white;
}


nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
 */


 * {
   box-sizing: border-box;
 }

 .frame { /*부모*/
  width: 365px;
  height: 420px;
  background:#ebeff3;
  /* border-radius: 10px; */
  position: relative;
 }

 .colorBox { /*자식*/
  background: #719fb0;
  width: 310px;
  height: 305px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 27px;
 }

 .miniText { /*색상이름*/
  position: absolute;
  opacity: 0;
  top: 270px;
  left: 0px;
  font-size: 16px;
 }

 .miniText span{ /*색상이름*/
  background: #578291;
  color: white;
 }

 .colorBox:hover .miniText { /*텍스트에 대한*/
  opacity: 1;
 }

 .minibox {
  position: absolute;
  width: 310;
  bottom: 25px;
  left: 28px;
  display: flex;
  justify-content:  space-between;
 }

 .flex-item {
  background: #ebeff3;
  padding: 13px 25px;
  border-radius: 10px;
  border-color: gainsboro;
  font-size: 18px;
  font-weight: bolder;
 }

 .days {
  padding: 13px 0px 13px 0px;
  font-size: 18px;
  font-weight: bolder;
 }

 .login {
  color: #ffff;
  background-color:  #b2dffc;
 }