/* 상단 nav 바 관련 스타일 */
.navContainer {
  width: 100%;
  border: #dbdbdb solid 1px;
  border-left: 0px;
  border-right: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
  width: 50%;
}

nav > * {
  margin: 0;
}

.logo {
  font-size: 1.7rem;
}

.search {
  background: no-repeat center/6% url('/img/search.png');
  background-position: 45% 40%;
  background-color: #fafafa;
  border: #dbdbdb solid 1px;
  border-radius: 2px;
  height: 1.7rem;
  width: 23%;
}
.search::placeholder {
  padding: 50%;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.icons img {
  width: 1.5rem;
  height: auto;
}

.icons img:hover {
  cursor: pointer;
}

#profileImg {
  border-radius: 50%;
  height: 1.5rem;
}

/* 전체 container(.main) 스티일 */

.main {
  width: 50%;
  height: auto;
  display: flex;
  flex: 1 0.5;
}

/* .main 내 좌측(-left) container 스타일 */

.main-left {
  width: 65%;
  margin: 2rem 0 1.5rem 0;
}

/* 다른 사람 프로필 (가로슬라이드) 영역 스타일 */
.main-left .profiles {
  border: #dbdbdb solid 1px;
  width: 100%;
  height: auto;
  padding: 0.2rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.main-left .profiles::-webkit-scrollbar {
  display: none;
}

.main-left .profile {
  margin: 10px;
}

.name {
  text-align: center;
}

.main-left .profiles img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: purple solid 1px;
}

/* .main container 내 피드 영역 스타일 */
.main-left .feeds {
  border: #dbdbdb solid 1px;
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.author > * {
  margin: 10px 5px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author #more {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: 10px;
}

.feeds > img {
  width: 100%;
}

.feeds > p {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.feedIcons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.feedIcons img {
  margin: 0 10px;
  width: 1.7rem;
  height: 1.7rem;
}

.feedIcons img:last-child {
  margin-left: auto;
}

#likes,
#comment {
  margin: 10px 20px;
  font-size: 0.8rem;
}

#writeTime {
  margin: 10px 20px;
  font-size: 10px;
  color: gray;
}

/* .feed 내 댓글 관련 영역 스타일 */

.writeCmt {
  border-top: #dbdbdb solid 1px;
}

.writeCmt > * {
  background-color: transparent;
  border-width: 0px;
  margin: 5px 0;
}

.writeCmt .postingCmt {
  width: 78%;
}

.writeCmt .postingCmt::placeholder {
  padding-left: 1rem;
}

.writeCmt > button {
  color: skyblue;
  width: 20%;
  text-align: right;
  padding-right: 5px;
}

/* 신규 댓글, 좋아요 이미지, 좋아요 수 및 삭제 버튼 style */
.newCmt {
  height: 1.5rem;
}

.newCmt img {
  width: 15px;
  height: auto;
}

.newCmt img:hover {
  cursor: pointer;
}

.newCmt > * {
  float: right;
}

/* 우측 aside 태그 영역(.main-right) 스타일 */
.main-right {
  width: 35%;
  margin: 3rem 0 0 2rem;
}

#rightProfile {
  margin-bottom: 1rem;
}

#rightProfile,
.recommandedFriend {
  display: flex;
  align-items: center;
}

#rightProfile span,
.recommandedFriend span {
  color: gray;
  font-size: 0.8rem;
}

.recommandedFriend {
  margin-top: 1rem;
}

.recommandedFriend img,
#rightProfileText {
  margin: 0.3rem;
}

#rightProfile img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0;
}

.recommand img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.recommand p {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 0.9rem;
}

.recommand p span {
  margin-left: 0;
}

.smblueText {
  color: skyblue;
  font-size: 0.8rem;
}

/* id 검색 결과 리스트 스타일 */
.matchedIdName {
  width: 5rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
}

.listContainer {
  border: #dbdbdb solid 1px;
  background-color: white;
  position: absolute;
  width: 110px;
  left: 45%;
  top: 6.5%;
  box-shadow: 0 0 5px 3px gainsboro;
}

.listContainer img {
  width: 1rem;
  border-radius: 50%;
  display: inline;
  margin: 10px 0px 5px 10px;
}

/* nav 내 프로필 클릭 메뉴 관련 스타일 */
.menuContainer {
  display: none;
  position: absolute;
  width: 7rem;
  top: 7%;
  right: 25%;
  background-color: white;
  border: #dbdbdb solid 1px;
  box-shadow: 0 0 5px 3px gainsboro;
  font-size: 1rem;
  z-index: 1;
}

.menuContainer img {
  width: 1.5rem;
}

.menuContainer p {
  border-top: gray solid 1px;
  text-align: center;
}

/* width가 800px 이하로 떨어지면 우측 박스(.main-right) 사라짐 */
@media screen and (max-width: 800px) {
  .main-right {
    display: none;
  }
  .main-left {
    width: 100%;
  }
}
