@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
    height: 100%;
    background-color: #FAFAFA;
    overflow: auto;
}

a {
    text-decoration: none;
}



@media screen and (max-width: 876px) {
    .westagram__content img {
        display: none;
    }
    .westagram__content .westagram__form__box__group {
        padding-bottom: 100px;
    }

    .westagram__facebook__login img {
        display: inline-block;
        top: -1px;
    }

    .westagram__downloadinfo .applogo__group img {
        display: inline-block;
        padding-left: 10px;
        height: 40px;

    }

    .westagram__feed__aside, .nav__center {
            display: none;
    }

    .westagram__story__box, .westagram__feed__box {
        width: 35rem;
        border: 1px solid red;
    }

    .section__group {
        width: 100%;
    }
}
