.login-box {
    width: 340px;
    height:430px;
    margin: auto;
    margin-top:100px;
    text-align: center;
    border : 1px solid;
}

.login-logo {
    margin-top: 10%;
}

.login-info {
    width: 250px;
    margin: 0 auto;
    margin-top: 10%;
}

input {
    width: 100%;
    line-height: 18px;
    font-size:11px;
    display: block;
    margin-bottom:6px;
    padding: 9px 0 7px 8px;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pw-container {
    display:flex;
}

.showPw {
    font-size: 12px;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 10px;
    position: absolute;
    cursor:pointer;
}

button {
    width:100%;
    font-size: 14px;
    font-weight:900;
    line-height: 20px;
    margin-top:20px;
    padding: 5px 9px;
    color: white;
    background-color: #c0dffd;
    border : 1px solid transparent;
    border-radius: 4px;
}

.login-bottom{
    font-size : 12px;
    font-weight: 900;
    color: #8e8e8e;
    display: flex;
    margin: 20px 32px 10px 35px;   
}

.login-fb {
    font-size: 14px;
    font-weight:900;
    margin-top: 33px;
    margin-bottom: 23px;
    color: #385185;
    display: block;
    cursor: pointer;
}

.fb-img {
    width:14px;
}

.login-pw {
    font-size: 12px;
    font-weight:600;
    color:#44668e;
    display: block;
    cursor:pointer;
}