.entire {
    width: 340px;
    display: flex;
    justify-content: center;
   
}
.login-box {
    border : 1px solid;
    height:360px;
     
}
input {
    display: block;
    margin: auto;
    font-size:16px;
    padding: 9px 0 7px 8px;
}
.login-logo {
    margin-top: 10%;
}
.login-info {
    width: 340px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    
}
.btn {
    color: white;
    background-color: #c0dffd;
    border-radius: 4px;
    border : 1px solid transparent;
    font-size: 16px;
}