:root{
    --color--lightgray: lightgray;
}
*{
    box-sizing: border-box;
}
/* 바디 */
body{
    font-family: Helvetica, Arial, sans-serif;
}
/*네비게이션 바*/
.navigation{
    width: 100%;
    height: 50px;
    border-bottom:1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
#nav__logo{
    height: 25px;
    /* margin-left: 300px; */
}
.nav__icon{
    height: 25px;
    margin: 0 10px;
    /* margin: auto 5px; */
}
.navigation input{
    text-align: center;
    margin: 0 250px;
}
/*메인*/
.main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/*메인 피드*/
.main__feeds{
    padding-top: 30px;
}
/*메인 피드 게시물*/
.main__feeds__article{
    border: 1px solid lightgray;
}
.main__feeds__article--profile{
    position: relative;
    display: flex;
    align-items: center;
}
.main__feeds__article--profile img{
    float: left;
    height: 40px;
    border-radius: 100%;
    margin: 5px;
}
#threeDot{
    position: absolute;
    right: 0px;
}
.main__feeds__article--content img{
    width: 600px;
}
/* 메인 피드 게시물 아래 부분 */
.main__feeds__article__bottom div{
    position: relative;
    padding: 0px 10px;
}
.main__feeds__article__bottom--icon img{
    height: 25px;
}
.main__feeds__article__bottom--text span{
    position: relative;
    bottom: -5px;
}
#bookmark{
    position: absolute;
    right: 10px;
}
/* 댓글 부분 */
.main__feeds__article__bottom--comment ul{
    list-style: none;
    padding: 0px;
}
.main__feeds__article__bottom--comment ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__feeds__article__bottom--comment ul li div span{
    margin: 2px;
}

.main__feeds__article__bottom--input{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}
.main__feeds__article__bottom--input input{
    border: none;
    height: 30px;
    width: 80%;
}
.main__feeds__article__bottom--input button{
    position: absolute;
    right: 2%;
    border: none;
    float: right;
    color: white;
    background-color: lightblue;
}

/*메인 우측 배너*/
.main__right{
    position: relative;
    top: 30px;
    padding-left: 20px;
    height: 100%;
}
/* 우측 배너 프로필 */
.main__right__profile{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main__right__profile img{
    width: 50px;
    border-radius: 100%;
}
.main__right__profile span{
    margin-left: 5px;
}
/* 스토리 */
.main__right__story{
    border: 1px solid var(--color--lightgray);
    border-radius: 5px;
    width: 280px;
    margin-bottom: 10px;
}
.main__right__story--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}
.main__right__story--title span {
    font-weight: bold;
}
.main__right__story--content div{
    margin: 10px;
}
.main__right__story--content div img{
    float: left;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.main__right__story--content div span{
    display: block;
}
/* 추천 */
.main__right__recommend{
    border: 1px solid var(--color--lightgray);
    border-radius: 5px;
    width: 280px;
}
.main__right__recommend--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}
.main__right__recommend--title span {
    font-weight: bold;
}
.main__right__recommend--content__1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__right__recommend--content__2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__right__recommend--content__3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__right__recommend--content img{
    height: 40px;
    border-radius: 100%;
    margin: 0 10px;
}
.main__right__recommend--content p{
    margin: 5px auto;
    width: 160px;
}
.main__right__recommend--content span{
    margin-right: 10px;
}
