.mainContainer {
    display: flex;
    justify-content: center;
}

.mainSub {
    padding-left: -80px;
}

.westagramTitle {
    width: 360px;
    height: 100px;
    margin: 60px 0px 0px 100px;
    font-size: 90px;
    font-family: 'Lobster Two', cursive;
    box-sizing: content-box;
}

.westagramInput {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    box-sizing: content-box;
    background-color: #FAFAFA;
    width: 530px;
    height: 70px;
    margin: 100px 0px 16px 0px;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
}

input[type="text"]::placeholder {
    color: rgb(180, 180, 180);
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
}

input[type="password"] {
    width: 530px;
    height: 70px;
    margin-bottom: 30px;
    background-color: #FAFAFA;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
}

input[type="password"]::placeholder {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
    color: rgb(180, 180, 180);
}

button {
    width: 525px;
    height: 60px;
    color: rgb(252, 252, 252);
    background-color: #C4E1FB;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    text-align: center;
    font-weight: 600px;
    box-sizing: content-box;
}

.blue {
    background-color: #1589f0;
}

.forget {
    margin: 120px 0px 0px 165px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    color: #0a4194;
}

input:focus {
    outline-color: rgb(146, 146, 146);
}