* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    background-color: #FAFAFA;
}

input, button {
    background-color: rgba(255, 255, 255, 0);
}

input:focus, button:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.page_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.nav_content {
    display: flex;
    flex-direction: row;
    max-width: 975px;
    width: 975px;
    height: 100%;
    padding: 0 20px;
}

.logo, .search, .menu {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-top: 7px;
    justify-content: flex-start;
}

.search {
    justify-content: center;
}

.search input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color: #FAFAFA;
    height: 28px;
    width: 215px;
}

.menu {
    justify-content: flex-end;
}

.menu .icon_container {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

.menu .icon_container div img {
    height: 22px;
    width: 22px;
    margin-left: 22px;
}

.nav_fixed_guard {
    width: 0;
    height: 54px;
}

main {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_content_container {
    display: flex;
    flex-direction: row;
    width: 935px;
    max-width: 935px;
    height: 100%;
}

.main_content_container section {
    width: 616px;
    max-width: 616px;
    height: 100%;
    margin-right: 28px;
}

.story {
    width: 100%;
    height: 118px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color:  rgb(255, 255, 255);
    padding: 16px 0;
    margin-bottom: 24px;
}

.story~article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color:  rgb(255, 255, 255);
}

.story~article header {
    width: 100%;
    height: 59px;
}

.post_img {
    width: 100%;
}

.post_img img {
    width: 100%;
}

.content_info_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_info_container .icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 0 16px;
}

.content_info_container .icon_container > div {
    width: 24px;
    height: 24px;
}

.content_info_container .icon_container > div > img {
    width: 100%;
    height: 100%;
}

.content_info_container .likes {
    display: flex;
    align-items: center;
    width: 100%;
    height: 18px;
    margin-bottom: 8px;
    padding: 0 16px;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
}

.content_info_container .desc {
    width: 100%;
    margin-bottom: 4px;
    padding: 0 16px;
}

.desc > span:nth-child(1), .comment_line_container > span:nth-child(1) {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

.desc > span:nth-child(2), .comment_line_container > span:nth-child(2) {
    font-size: 14px;
    color: #262626;
}

.content_info_container .see_all_comments {
    display: flex;
    align-items: center;
    width: 100%;
    height: 18px;
    margin-bottom: 4px;
    padding: 0 16px;
    font-size: 14px;
    color: #8e8e8e;
}

.content_info_container .comments {
    width: 100%;
    padding: 0 16px;
}

.comment_line_container {
    width: 100%;
    margin-bottom: 4px;
}

.content_info_container .day {
    width: 100%;
    height: 19px;
    margin-bottom: 4px;
    padding: 0 16px;
    font-size: 10px;
    line-height: 18px;
    color: #8e8e8e;
}

.content_info_container .comment_input_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    margin-top: 4px;
    border-top: 1px solid rgb(219, 219, 219);
    padding: 0 16px;
}

#commentInput {
    border: none;
    max-width: 554px;
    width: 554px;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.enroll_btn_block {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 100%;
}

.enroll_btn {
    display: flex;
    align-items: center;
    margin: auto;
    width: 26px;
    height: 14px;
    border: 0;
    padding: 0;
    word-break:keep-all;
    font-size: 14px;
    font-weight: 600;
    color: #0095F6;
}

.enroll_btn:disabled {
    opacity: 0.3;
    cursor: default;
}

aside {
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 500px;
    position: sticky;
    top: 84px;
}

.my_profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.profile_img {
    border-radius: 50%;
    overflow: hidden;
    width: 56px;
    height: 56px;
    margin-right: 6px;
}

.profile_img img {
    width: 100%;
    height: 100%;
}

.profile_info {
    margin-left: 12px;
    width: 187px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_info div {
    width: 100%;
    height: 18px;
    line-height: 18px;
}

.profile_info .my_id {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

.profile_info .my_name {
    font-size: 14px;
    color: #8e8e8e;
}

.change_btn_block {
    display: flex;
    justify-content: center;
    margin-left: 14px;
    width: 24px;
    height: 100%;
}

.change_btn {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 12px;
    border: 0;
    padding: 0;
    word-break:keep-all;
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
}

.recommend_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 291px;
    margin-bottom: 12px;
}

.recommend {
    width: 100%;
    height: 18px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    line-height: 18px;
    color: #8e8e8e;
}

.recommend_list {
    width: 100%;
    height: 256px;
    padding: 8px 0;
}

.recommend_list .member_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    padding: 8px 0;
    padding-left: 4px;
}

.member_block .member_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.member_img img {
    width: 100%;
    height: 100%;
}

.member_block .member_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100%;
}

.member_info .member_id {
    width: 100%;
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #262626;
}

.member_info > div:nth-child(2) {
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #8e8e8e;
}

.follow_btn_block {
    display: flex;
    justify-content: center;
    margin-left: 8px;
    width: 36px;
    height: 100%;
}

.follow_btn {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 9px;
    border: 0;
    padding: 0;
    word-break:keep-all;
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
}

footer {
    width: 100%;
    height: 68px;
    border: 1px solid black;
}