* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #FAFAFA;
}

.page_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.nav_content {
    display: flex;
    flex-direction: row;
    max-width: 975px;
    width: 975px;
    height: 100%;
    padding: 0 20px;
}

.logo, .search, .menu {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-top: 7px;
    justify-content: flex-start;
}

.search {
    justify-content: center;
}

.search input {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color: #FAFAFA;
    height: 28px;
    width: 215px;
}

.menu {
    justify-content: flex-end;
}

.menu .icon_container {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

.menu .icon_container div img {
    height: 22px;
    width: 22px;
    margin-left: 22px;
}

.nav_fixed_guard {
    width: 0;
    height: 54px;
}

main {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_content_container {
    display: flex;
    flex-direction: row;
    width: 935px;
    max-width: 935px;
    height: 100%;
}

.main_content_container section {
    width: 614px;
    max-width: 614px;
    height: 100%;
    margin-right: 28px;
}

.story {
    width: 100%;
    height: 118px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color:  rgb(255, 255, 255);
    padding: 16px 0;
    margin-bottom: 24px;
}

.story~article {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 917px; */
    margin-bottom: 60px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background-color:  rgb(255, 255, 255);
}

.story~article header {
    width: 100%;
    height: 59px;
}

.post_img {
    width: 100%;
}

.post_img img {
    width: 100%;
}

.content_info_container {
    width: 100%;
    padding: 0 16px;
}

.content_info_container .icon_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border-bottom: 1px solid black;
}

.content_info_container .likes {
    width: 100%;
    height: 18px;
    margin-bottom: 8px;
    border-bottom: 1px solid black;
}

.content_info_container .desc {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

.content_info_container .see_all_comments {
    width: 100%;
    height: 18px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;    
}

.content_info_container .comments {
    width: 100%;
    border-bottom: 1px solid black;
}

.comment_line_container {
    width: 100%;
    margin-bottom: 4px;
}

.content_info_container .day {
    width: 100%;
    height: 19px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
}

.content_info_container .comment_input_box {
    width: 100%;
    height: 56px;
    margin-top: 4px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 500px;
    position: sticky;
    top: 84px;
}

.my_profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.profile_img {
    border-radius: 50%;
    overflow: hidden;
    width: 56px;
    height: 56px;
}

.profile_img img {
    width: 100%;
    height: 100%;
}

.profile_info {
    margin-left: 12px;
    width: 187px;
    border: 1px solid black;
}

.change {
    display: flex;
    justify-content: center;
    margin-left: 14px;
    width: 24px;
    height: 56px;
}

.change_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 24px;
    height: 9px;
    border: 0;
    padding: 0;
}

.change_btn div {
    word-break:keep-all;
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
}

.recommend {
    width: 100%;
    height: 291px;
    margin-bottom: 12px;
    border: 1px solid black;
}

footer {
    width: 100%;
    height: 68px;
    border: 1px solid black;
}