.navBar {
  height: 54px;
  width: 100%;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 1px solid black;
  border-left: 0px solid black;
  position: fixed;
  display: flex;
  z-index: 3;
}

.menu {
  height: 100%;
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.leftMenu {
  display: flex;
}

.resetButtonInstaIcon {
  background-color: white;
  border-top: 0px solid black;
  border-right: 2px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  padding-right: 10px;
}

.instagramIcon {
  height: 29px;
}

.resetButtonInstaLetter {
  background-color: white;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  padding-left: 10px;
}
.instagramLetter {
  height: 29px;
}

.searchInfo {
  height: 28px;
  width: 215px;
  text-align: center;
  position: relative;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 2px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
}

.rightMenu {
  display: flex;
}

.searchIcon {
  height: 22px;
  width: 22px;
  margin: 15px;
}

.heartIcon {
  height: 22px;
  width: 22px;
  margin: 15px;
}

.mypageIcon {
  height: 22px;
  width: 22px;
  margin: 15px;
}

.entirePage {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  height: 3000pxx;
}

.mainPage {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  height: 3000px;
  border: 0px solid black;
  margin-top: 10px;
  max-width: 935px;
  margin: 0 auto;
}

.mainPageHeader {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 590px;
  height: 60px;
  padding-bottom: 0;
  margin-top: 30px;
}

.findWhoImage {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 0px solid black;
  margin-left: 10px;
}

.circleImage {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.findWhoLetter {
  height: 50px;
  width: 110px;
  font-size: 15px;
  border: 10px;
  background-color: white;
}

.mainPageContents {
  height: 700px;
  width: 100%;
  max-width: 935px;
  width: 590px;
}

.mainPageImage {
  height: 700px;
  width: 590px;
}

.mainPageComments {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 590px;
  border: 1px solid black;
  overflow: scroll;
}

.mainPageIdIcon {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin-right: 10px;
  border: 0px solid black;
}

.mainPageRight {
  height: 450px;
  width: 320px;
  border: 0px solid black;
  margin-left: 22px;
  display: flex;
  flex-direction: column;
}

.mainPageRigtUp {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 310px;
  border: 0px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
}

.mainRfindWhoId {
  border: 0px solid black;
  background-color: white;
}
.mainRfindWhoLetter {
  height: 30px;
  width: 185px;
  text-align: left;
  border: 0px solid black;
  background-color: white;
}

.mainRfindWhoLetterSum p {
  color: gray;
}

.mainPageRightMid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
}

.storyImage {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.storyLittleBox {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  height: 50px;
  width: 300px;
  margin-left: 10px;
}

.storyLetter {
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
}

.storyletter p {
  font-size: 16px;
  color: gray;
}

.mainPageRightEndLetter {
  margin-top: 10px;
  margin-left: 10px;
}

.mainPageRightEndLetter p {
  color: gray;
}

.mainRfindWhoLetterSum a {
  font-size: 15px;
}

.mainRfindWhoLetterSum {
  border: px solid black;
}

.mainPageCommentsIconsL {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.mainPageCommentsIconsR {
  margin-right: 10px;
}
.commentsHeart,
.speechBubleIcon,
.shareIcon,
.bookMark {
  height: 30px;
  width: 30px;
}
.mainPageCommentsIcons {
  width: 590px;
  display: flex;
  justify-content: space-between;
}

.reply {
  margin-left: 10px;
}

.replySample {
  display: flex;
  flex-direction: row;
}
.relySampleId {
  margin-left: 10px;
  margin-right: 10px;
}

.replyIn {
  margin-left: 10px;
  width: 530px;
}
.replyInputBox {
  display: flex;
  flex-direction: row;
}

.addPlace span {
  margin-left: 10px;
}

.feeds {
  /* overflow: auto; */
}
