@import "reset.css";

* {
  box-sizing: border-box;
}
body {
  padding-top: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav_bar {
  padding: 10px 0px;
  max-width: 975px;
  width: 100%;
}

.nav_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar_container_logo {
  font-family: "Lobster", "cursive";
  font-size: 30px;
}

.nav_bar_container_search {
  position: relative;
}

.fa-search {
  position: absolute;
  margin-top: 5px;
  margin-left: 65px;
}

.nav_bar_container_search input {
  text-align: center;
  font-size: 12px;
  padding: 4px 20px;
  background-color: #fafafa;
}

.nav_bar_container_icon {
  min-width: 170px;
}

.main_section {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  background-color: #fafafa;
}

.main_section_container {
  max-width: 975px;
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.main_section_container_box {
  width: 70%;
}

.friend_list {
  display: flex;
  padding: 16px;
}

.friend_list_profile_img_id {
  display: flex;
  flex-direction: column;
}

.friend_item {
  margin: 0 auto;
}

.friend_profile_img img {
  width: 75px;
  border-radius: 50%;
}

.friend_name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
}

.feeds {
  margin: 20px 0;
}

.feeds_area {
  padding: 10px;
}

.feeds_header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.feeds_header_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feeds_header_id {
  word-break: break-all; /* 줄이 박스 공간을 넘어갈시 밑으로 내리기 */
}

.feeds_header_icon {
  margin-left: auto;
}

.feeds_body img {
  width: 100%;
}

.feeds_icon .fa-square {
  margin-left: auto;
}

.feeds_comment_input_area {
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}

.feeds_comment_input_area textarea {
  width: 100%;
  border: none;
  outline: none;
  vertical-align: middle;
  resize: none;
}

.comment_btn {
  margin-left: auto;
  white-space: nowrap; /* 줄바꿈 ㄴㄴ */
  color: #b3dffc;
}

.right_box {
  display: nonoe;
  width: 30%;
  margin-left: 30px;

}

.my_profile {
  display: flex;
  align-items: center;
}

.my_profile_id_name {
  display: flex;
  flex-direction: column;
}

.my_profile_change {
  margin-left: auto;
}

.friend_recommend_container {
  display: flex;
  justify-content: space-between;
}

.follow {
  margin-left: auto;
}

.icon_cursor {
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.test {
  border: 1px solid red;
}

.test1 {
  border: 1px solid black;
}

.flex {
  display: flex;
}

.flex_align_center {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.flex-dir {
  display: flex;
  flex-direction: column;
}

.right_box_font_size {
  font-size: 13px;
}

.font_color_black {
  color: #262626;
}

.font_color_gray {
  color: #989898;
}

.font_color_blue {
  color: #0095f6;
}

.bgcolor_white {
  background-color: #ffffff;
}

.container_border {
  border: 1px solid #dbdbdb;
}

.font_bold {
  font-weight: bold;
}

.fa-heart-color {
  color: #ed4956;
}
