@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  padding-top: 55px;
}

.navbar__main__box {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  z-index: 1;
}

.navbar__second__box {
  display: flex;
  width: 930px;
  height: 55px;
}

.navbar__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.navbar__header h1 {
  font-size: 30px;
  font-family: "Lobster", "cursive";
}

.navbar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 33%;
}

.navbar__search .fa-search {
  position: absolute;
  margin-left: -50px;
  color: #aaacaf;
}

.navbar__search input {
  padding: 6px 28px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

input::placeholder {
  color: #aaacaf;
}

.navbar__icon {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.navbar__icon .navbar__icon__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.main__box {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.main__second__box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 930px;
  height: 2000px;
}

.feeds__friend__box {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.friend__list {
  display: flex;
  align-items: center;
  width: 600px;
  height: 120px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
}

.friend__list .friend__list__box {
  display: flex;
  width: 600px;
  height: 80px;
}

.friend__list .frined__list__box .img__id__box1 {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
}
.friend__list .friend__list__box .img__id__box1 .id {
  font-size: 13px;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
  margin-left: 20px;
  margin-top: 5px;
}

.feeds__friend__box .friend__list .friend__list__box .img__id__box1 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}

.friend__list .frined__list__box .img__id__box2 {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
}

.friend__list .friend__list__box .img__id__box2 .id {
  font-size: 13px;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
  margin-left: 20px;
  margin-top: 5px;
}

.feeds__friend__box .friend__list .friend__list__box .img__id__box2 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}

.feeds__box {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 720px;
  margin-top: 30px;
  border: 1px solid #dbdbdb;
  background-color: #FFFFFF;
}

.header__box {
  display: flex;
  align-items: center;
  width: 600px;
  height: 60px;
  background-color: #FFFFFF;
}

.header__box .img {
  width: 5%;
  margin-left: 10px;
}

.header__box .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.header__box .content {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.header__box .content .id {
  margin-left: 25px;
  font-size: 12px;
  color: #262626;
  font-weight: bold;
}

.header__box .content .fa-ellipsis-h {
  margin-right: 15px;
}

.img__box {
  width: 600px;
  height: 500px;
}

.img__box img {
  width: 597px;
  height: 500px;
}

.feeds__box .icon__box {
  display: flex;
  width: 600px;
  height: 40px;
  margin-top: 10px;
  background-color: #FFFFFF;  
}

.feeds__box .icon__box .icon:nth-child(1) {
  width:30%
}

.feeds__box .icon__box span:nth-child(1) {
  margin-left:10px;
} 

.feeds__box .icon__box .icon span button {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.feeds__box .icon__box span button:focus {
  border: none;
  outline: none;
}

.feeds__box .icon__box .icon:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  width:70%
}

.feeds__box .icon__box .icon .fa-square {
  margin-right: 20px;
}

.feeds__box .comment__box {
  width: 600px;
  height: 400px;
}

.feeds__box .comment__box .like__count {
  margin-left: 15px;
  font-size: 14px;
  font-weight: bold;
}

.comment__box .comment__list {
  width: 600px;
  margin-top: 10px;
  margin-left: 15px;
}

.commnet__box .comment__list .id {
  color: #262626;
}

.comment__box .comment__list .comment__content {
  margin-left: 10px;
}

.comment__box .comment {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  height: 50px;
  border-top: 1px solid #dbdbdb;
}

.comment__box .time {
  margin-left: 10px;
}

.comment .comment__column:nth-child(1){
  width: 5%;
  margin-left: 15px;
}

.comment .comment__column:nth-child(2){
  width: 80%;
}

.comment .comment__column:nth-child(2) input {
  margin-right: 20px;
  border: none;
}

.comment .comment__column:nth-child(3){
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  color: #CDEAFD;
  font-size: 13px;
  width: 20%;
}


.right__box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.right__box .myinfo {
  display: flex;
  margin-top: 20px;
  width: 300px;
  height: 65px;
}

.right__box .myinfo .img {
  width: 20%;
}

.right__box .myinfo .img .fa-user-circle {
  color: #dbdbdb;
}

.right__box .myinfo .id__name {
  width: 60%;
}

.right__box .myinfo .id__name .id {
  margin-top: 12px;
  margin-left: 17px;
  color: #262626;
  font-size: 15px;
}

.right__box .myinfo .id__name .name {
  margin-top: 5px;
  margin-left: 17px;
  color: #939393;
  font-size: 15px;
}

.right__box .myinfo .change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  font-size: 13px;
  font-weight: bold;
  color: #0095f6;
}

.right__box .like {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

.right__box .like .me__like {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: bold;
}

.right__box .like .like__view {
  color: #262626;
  font-size: 12px;
  font-weight: bold;
}

.right__box .follow__list {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.right__box .follow__list .follow__list__box1 {
  display: flex;
  width: 300px;
  height: 40px;
}

.right__box .follow__list .follow__list__box1 .img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.right__box .follow__list .follow__list__box1 .img .fa-user-circle {
  color: #dbdbdb;
}

.right__box .follow__list .follow__list__box1 .id__follow__content {
  width: 60%;
  font-size: 12px;
  padding-left: -50px;
}

.right__box .follow__list .follow__list__box1 .id__follow__content .id {
  margin-top: 5px;
  margin-left: -20px;
  color: #262626;
  font-weight: bold;
}
.right__box
  .follow__list
  .follow__list__box1
  .id__follow__content
  .follow__content {
  margin-left: -20px;
  color: #939393;
}

.right__box .follow__list .follow__list__box1 .follow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  font-size: 13px;
  font-weight: bold;
  color: #0095f6;
}
