html body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 380px;
  width: 350px;
  padding: 30px 37px 20px 37px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.westagram-header {
  font-family: "Lobster", cursive;
  margin-bottom: 40px;
  font-size: 30px;
}

.login-input input {
  display: flex;
  flex-direction: column;
  width: 265px;
  height: 38px;
  margin-top: 7px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  padding: 7px;
  background-color: #fafafa;
}

.login-input input:focus {
  outline: none;
}

.not-disabled {
  cursor: pointer;
}

.login-button {
  width: 265px;
  height: 38px;
  margin-top: 12px;
  background-color: #c7e0fd;
  border: none;
  border-radius: 3px;
  color: white;
}

.login-footer {
  margin-top: 90px;
}

.login-footer a {
  font-size: 12px;
  color: rgb(0, 55, 107);
  text-decoration: none;
}
