* {
  box-sizing: border-box;
  margin: 0;
}

/* body {
  font-family: "DM Sans", sans-serif;
} */

/* Reset CSS */
a {
  /* 색상 상속 받아라 */
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  /* 폰트가 다르게 먹는 부분 수정 */
  font-family: "DM Sans", sans-serif;
  /* 폰트 사이즈가 일반 텍스트보다 작게 들어가는 부분 수정 */
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  /* 암기: 눌러서 포커스 했을 때 파란색 윤곽선 뜨는 부분 스타일 초기화 */
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  /* list-style-type: none; */
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}
