nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 100px;
    border-bottom: 1px solid #dbdbdb;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_mini {
    padding-right: 7px;
    border-right: 1px solid black;
}

.logo_mini_img {
    width: 30px;
    height: 30px;
}

.logo_bar_img {
    width: 150px;
    height: 50px;
}


.logo_bar {
    padding-left: 8px;
}

.point {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    text-align: center;
}



.menu {
    width: 120px;
    height: 60px;
    margin: 0 87.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_size {
    width: 30px;
    height: 30px;
}

/*=================================================nav =================================*/
.padding_box {
    display: flex;
    justify-content: center;
    margin: 0 87.5px;
    padding-top: 30px;
    background-color: #fafafa;
}

.main {
    width: 600px;
    height: 10000px;
    border: hidden;
    margin-right: 28px;

}

.button_bar {
    width: 600px;
    height: 118px;
    background-color: #ffffff;
    margin-bottom: 24px;
    padding: 16px 0;
    border: 1px solid #dbdbdb;
}

.btn_bar_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 598px;
}


.ol_size {
    width: 80px;
    height: 122px;
    padding: 4px;
}

.ol-div {
    width: 60px;
    height: 122px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ol_img {
    width: 56px;
    height: 56px;
    border-radius: 70%;
    border: 1px solid red;
}

.ol_img_name {
    color: #262626;
    font-size: 12px;
    text-align: center;
}

.feed {
    width: 600px;
    height: 835px;
    border: 2px solid green;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents {
    width: 600px;
    height: 600px;
}

.section_top {
    width: 600px;
    height: 40px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.section_bar {
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
}

.like {
    width: 600px;
    height: 18px;
    margin-bottom: 8px;
    padding: 0 16px;
    box-sizing: border-box;
}

.id_contents {
    width: 600px;
    height: 135px;
    padding: 0 16px;
    box-sizing: border-box;
}

.id {
    height: 18.4px;
    width: 87.15px;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    width: 600px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.comment {
    width: 560px;
    height: 32px;
    box-sizing: border-box;
}

.comment_Input {
    width: 540px;
    height: 18px;
    border-style: none;
    outline: none;
    background-color: #fafafa;
}

.comment_Push {
    width: 50px;
    height: 35px;
    padding: 0;
    font-size: 12px;
    border: hidden;
    background-color: rgba(0,0,0,0); 
    color: skyblue; 
    padding: 5px;
}



/* =======================================메인 끝 ====================================*/
/* -----------------------------------------메인 오른쪽-----------------------------*/

.main_right {
    width: 293px;
    height: 770px;
    border: hidden
    margin: 0 0 0 30px;
}


.id_bar {
    width: 293px;
    height: 56px;
    justify-content: left;
    display: flex;
    align-items: center;
}


.id_image {
    width: 66px;
    height: 66px;
    border-radius: 70%;
    padding: -5 -11 -5 -5;
}

.id_name_frame {
    width: 92px;
    height: 38px;
    margin-left: 20px;
}

.id_name {
    width: 92px;
    height: 22px;
    padding: 2px;
    margin: 0 0 2px;
}

.small_font {
    width: 150px;
    height: 14px;
    padding-left: 2px;
    color: #8e8e8e;
    font-size: 12px;
}


.right_li {
    width: 325px;
    height: 300px;
    box-sizing: border-box;
}


.li_img {
    width: 320px;
    height: 48px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.li_img_bundle {
    width: 200px;
    height: 28px;
}

.user {
    width: 32px;
    height: 32px;
    border-radius: 70%;
}


.right_li_bar {
    width: 290px;
    height: 19px;
    margin-top: 12px;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
}

.ul_frame {
    width: 320px;
    height: 266px;
    padding: 8px 0;
    background-color: #fafafa;
}


.bar_recommend {
    width: 210px;
    height: 18px;
    font-size: 14px;
}

.friends {
    width: 55px;
    height: 14px;
    font-size: 12px;
    margin: -2px 0 -3px;
    color: #262626;
    font-weight: bold;
}

.follow {
    color: #0095f6;
    background-color: #fafafa;
    outline: none;
    border: hidden;
}


.foot {
    width: 293px;
    height: 106px;
    padding-bottom: 38px;
    align-items: center;
}

.footer_line {
    width: 293px;
    height: 36px;
    margin-bottom: 16px;
}

.footer {
    font-size: 11px;
    color: #c7c7c7;
}

.copy_right {
    width: 188px;
    height: 13px;
    font-size: 11px;
    color: #c7c7c7;
}