* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
}