.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 935px;
    height: 807px;
    margin: auto;
    margin-top: 32px;
    padding-bottom: 32px;
}

#rightForm {
    width: 350px;
    height: 615px;
    margin-top: 12px;
    padding-top: 10px;
    text-align: center;
}

.title {
    margin-top: 22px;
    margin-bottom: 32px;
    font-size: 34px;
    font-family: "Lobster", cursive;
}

#leftForm {
    width: 454px;
    height: 618px;
}

.loginBox {
    width: 350px;
    height: 380px;
    margin-bottom: 10px;
    padding: 10px 0;
    border: 0.8px solid rgba(var(--b6a, 219, 219, 219), 1);
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 36px;
    margin: auto;
}

.loginForm input {
    margin-bottom: 7px;
    padding: 9px 0px 7px 8px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    text-align: left;
}

.loginBtn {
    height: 30px;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 0.3;
    border: none;
    background-color: rgb(192, 223, 253);
    color: white;
    cursor: pointer;
}

.changeColor {
    background-color: rgb(83, 150, 246);
}

.option {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line {
    position: absolute;
    top: 5px;
    height: 1px;
    border: 0.01px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.option-text {
    position: absolute;
    top: 1px;
    left: 76px;
    text-align: center;
    width: 70px;
    height: 15px;
    margin: 0 18px;
    background-color: white;
    font-size: 13px;
}

.facebookLogin {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    color: #385185;
}

.lostPw {
    margin-top: 12px;
    font-size: 12px;
    color: rgb(1, 55, 106);
}

#signUp {
    height: 63px;
    padding: 10px 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    border: 0.8px solid rgba(var(--b6a, 219, 219, 219), 1);
    font-size: 14px;
}

#signUp a {
    text-decoration: none;
}
.downloadText {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.downloadBtn {
    margin-top: 10px;
}

#downloadBtn img {
    width: 136px;
    height: 40px;
    margin-top: 10px;
    margin-right: 8px;
    cursor: pointer;
}

.info {
    text-align: center;
    color: rgb(142, 142, 142);
    font-size: 14px;
}

.info-text {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    #leftImg {
        display: none;
    }
}

@media screen and (max-width: 278px) {
    #downloadBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
