* {
    box-sizing: border-box;
}

:root {
    --background-color:#FAFAFA;
    --boxline-color: #DBDBDB;
    --box-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.westa_logo{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding-left: 55px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--box-color);
    padding-left: 180px;
    padding-right: 280px;
    border: 1px solid var(--boxline-color);
}

a {
    font-size: x-small;
    z-index: 1;
    margin-left: 485px;
    position: absolute;
    color:#A5A7AB;
}

.fas fa-search {
    width: 10px;
    height: 10px;
}

input {
    position: relative;
    border: 1px solid var(--boxline-color);
    background-color: var(--background-color);
    border-radius: 2px;
    width: 21%;
    padding: 5px 10px;
    text-align: center;
    color: var(--background-color);
    font-weight: 100;
    margin-left: 70px;
}

ul {
    font-size: 25px;
    padding: 0;
}

.icons {
    display: flex;
    margin: 13px 0;
}

i {
    margin-right: 25px;
 
}

.mainuser {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.top-story-box {
    width: 600px;
    height: 120px;
    background-color: pink;
    margin-left: 240px;
    margin-top: 30px;
    border: 1px solid var(--boxline-color);
}
.story-img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 2px double var(--boxline-color);
    margin-top: 20px;
    margin-left: 20px;
}

.stroy-userid {
 
}