:root{
    /* Color */
    --white-color : #ffffff;
    --black-color : #140a00;
    --blue-color : #1e4e7c;
    --red-color : #ff0000;
    --grey-dark-color : #909090;
    --grey-light-color : #e0e0e0;


    /* Font Size */
    --font-large : 18px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;
    }

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    list-style: none;
}
/* NAV */
nav{
    width: 100%;
    height: 54px;
    border-bottom: 1px solid var(--grey-light-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.navContainer {
    width: 975px;
    height : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 auto;
    padding : 0 20px;
} 

.navLogo :nth-child(1) {
    width : 32px;
    margin-right: 12px;
} 

.navLogo :nth-child(2) {
    width : 115px;
    border-left : 2px solid var(--grey-dark-color);
    padding-left: 10px;
} 

.navFind {
    width: 215px;
    height: 28px;
    background-color: rgb(250,250,250);
    border: 1.3px solid var(--grey-light-color);
    border-radius: 3px;
    padding : 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navFind img {
    width: 9px;
    padding-top: 3px;
    color : var(--grey-dark-color);
}

.navFind > span {
    color : var(--grey-dark-color);
    font-size: var(--font-medium);
    margin-left: 6px;
}

.navMenu {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.navMenu img {
    width: 22px;
    margin-left: 22px;
}

/* Main */
main {
    background-color: rgb(250,250,250);
}

.mainContainer {
    width: 935px;
    margin : 0 auto;
    display: flex;
}

.feedsContainer {
    width: 614px;
    margin-top: 80px;
    border : 1px solid var(--grey-light-color);
    background-color: white;
}

.feedHeader {
    margin : 8px;
}
.feedHeader,
.profileContainer {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.profileContainer img {
    width: 32px;
}

.profileContainer p {
    font-size: var(--font-small);
    font-weight: bold;

}
.feedHeader>img {
    width : 16px;
}
.feedPic img {
    width : 100%;
    height: 614px;
}

.feedLogo {
    display: flex;
    justify-content: space-between;
    margin : 8px;
}

.feedLogoLeft {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.feedLogo img {
    width: 24px;
}

.mainRight {
    width: 293px;
}

.feedReply {
    margin :8px;
}

.replyLikeTotal {
    display: flex;
    align-items: center;
}

.replyLikeTotal img {
    width :20px;
    border-radius: 50%;
}

.replyLikeTotal p {
    font-size: var(--font-small);
    font-weight: bold;
    padding-left: 5px;
}

.replyContent {
    padding-top: 10px;
    font-size : var(--font-small);
    font-weight: bold;
}

.replyTime p{
    font-size : var(--font-small);
    color : var(--grey-dark-color);
}

button {
    border: none; 
    background-color: white;
    color : var(--grey-dark-color);
    font-size : var(--font-small);
}

button:focus {
    outline : none;
}

.firstReply,
.secondReply {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.replyContent img {
    width: 12px;
    height: 10px;
}

.feedComment {
    padding : 13px 8px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
}
.feedComment input {
    width: 100%;
    border : none;
    font-size: var(--font-small);
    color : var(--grey-dark-color);
}

input:focus {
    outline : none;
}

.feedComment button {
    width: 30px;
    color : rgba(135,206,235,0.8)
}

.mainRight {
    width : 293px;
    margin-top: 80px;
    margin-left: 28px;
}

.myProfileBox {
    display: flex;
    align-items: center;
}
.myProfileBox img {
    width: 56px;
    border-radius: 50%;
}

.profileInfo {
    padding-left :10px;
}

.profileInfo :nth-child(1) {
    font-size: var(--font-medium);
    font-weight: bold;
}

.profileInfo :nth-child(2) {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--grey-dark-color);
}

.storyBox {
    height: 223px;
    padding : 10px;
    margin-top: 12px;
    border: 1px solid var(--grey-light-color);
    overflow : scroll;
}

.recommendationBox {
    height : 190px;
    padding : 10px;
    margin-top: 10px;
    border: 1px solid var(--grey-light-color);
    overflow: hidden;
}

.boxHeader {
    display : flex;
    justify-content: space-between;
}

.boxHeader :nth-child(1){
    font-size: 13px;
    color: var(--grey-dark-color);
    font-weight: bold;
}

.boxHeader :nth-child(2){
    font-size: 13px;
    font-weight: bold;
}

.storyPics li {
    margin-top: 10px;
    display : flex;
    justify-content: space;
    align-items: center;
}
.recommendationBox .storyPics li {
    display : flex;
    justify-content: space-between;
}


.storyPics img {
    width: 40px;
    border-radius: 50%;
    border-color: ;
}

.recommendationBox .storyPics .picsInfo {
    padding-right: 40px;
}

.picsInfo {
    padding-left: 10px;
    font-size: var(--font-small);
    font-weight: bold;
}

.picsInfo :nth-child(2) {
    color: var(--grey-dark-color);
}

.storyPics li button {
    color : rgb(0,149,246);
    font-size : var(--font-small);
    font-weight: bold;
}

.instagramInfo {
    font-size: var(--font-small);
    margin-top :10px;
    color : var(--grey-dark-color)
}

.instagramInfo :nth-child(4) {
    margin-top: 10px;    
}