

.title {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}


.log_in_box {
  width : 330px;
  height : 340px;
  margin: 0px auto;
  margin-top: 25%;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.log_in {
  margin-top: 30px;
}

.id {
  width: 270px;
  margin: 0px auto;
}

.id_input {
 width: 100%;
 padding: 9px 10px;
 border :1px solid #dbdbdb;
 color: #9b9b9b;
 border-radius: 3px ;
}

.password {
  width: 270px;
  margin-top: 100px;
  margin: 0px auto;
}

.password_input {
  width: 100% ;
  padding: 9px 10px;
  margin-top: 10px;
  border :1px solid #dbdbdb;
  color: #9b9b9b;
  border-radius: 3px;
}

.button_box {
  width: 270px;
  margin: 0px auto;
}

button {
  width: 100%;
  padding: 7px 10px 4px 10px;
  margin-top: 10px;
  background-color: #c5e1fc;
  color: white;
  border: 0px;
  border-radius: 5px;
}

p {
  text-align: center;
  margin-top: 70px;
  color: #4b6c91;
  font-size: 15px;
  font-weight: bold;
}

input:focus-visible {
    outline: #dbdbdb auto 1px;
    border-radius: 3px;
}