* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  margin: 5px;
}

.login.mom {
  width: 300px;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 30px;
  margin: 10px;
}

.id {
  width: 250px;
  height: 35px;
  font-size: 14px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid rgb(219, 219, 219);
}

.pw {
  width: 250px;
  height: 35px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid rgb(219, 219, 219);
}

.bt {
  width: 250px;
  height: 35px;
  background-color: rgb(187, 224, 252);
  color: white;
  border: none;
  margin-top: 20px;
}

.forget {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 100px;
}
