*{
    box-sizing: border-box;
}

#biggest{
    /* border: 1px dotted black; */
    position: relative;
    width: 100%;
    height: 1300px;
    margin: 0 0;
    padding: 0 0;
}

nav{
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    width: 100%;
    height: 54px;
    z-index: 1;
    
}

.navGroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 975px;
    height: 100%;
    padding: 0 20px ;
    /* border: 1px dotted black; */
}


#firstOfNav{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center ;
    height: 100%;
    width: 360px;
}

#logoPic{
    display: inline-block;
    margin-right: 10px;
    /* border-left: 1px solid black;  */
}

#westargramFont{
    padding-left: 10px;
    display: inline-block;
    border-left: 1px solid black;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

#middleOfNav{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: azure; */
    height: 100%;
    width: 215px;
}

#searchText{
    height: 28px;
    width: 215px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    text-align: center;
    padding: 7px;
}

.fa-search{
    position: absolute;
    left: 75px;
    right: 2px;
    color:rgb(211, 211, 211);   
}

#endOfNav{
    /* background-color: beige; */
    height: 100%;
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

#heart, .fa-user{
    padding-left: 70px;
}



main{
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    margin: 45px 25px 0 25px;
    width: auto;
    height : auto;
    /* border-top: 1px solid rgb(211, 211, 211); */
    background-color: #fafafa
}

#feeds{
    width: 624px;
    height: auto;
    margin: 50px 8px 0 -10px;
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
}

#asideInMain{
    width :313px;
    height: auto;
    background-color:blanchedalmond;
}

.navInSection{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211) ;
}

#firstSectionNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

#imgCircle{
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background-image: url("https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s320x320/120349966_422763662018714_7835598670003667169_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=KRctBvoTtD0AX9KVMiT&tp=1&oh=c98d8b1dda7b9948db4f1268485cdf00&oe=6033973E");
    background-size: 30px;
    background-position: center;
    display: block;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 100%;
}

ul,li{
    list-style: none;
    font-size: 11px;
}

ul{
    display: inline;
    margin-left: -30px;
}

#liName{
    font-size: 13px;
    font-weight: bold;
}

.dot1{
    margin-right: 15px;
}

#centerImage{
    width: 622px;
    height: 622px;
    background-image: url(https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.122.1245.1245a/s640x640/121593628_832090380867575_5615781536090597816_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=ZHN3cHurZiQAX9Vt6Kz&tp=1&oh=fe343bf93d402fc2419a9dd30bb65e56&oe=6035EF70);
    background-size:620px;
    background-position:center;
}

footer{
    display: inline-block;
    width: 622px;
    height: auto;
}

#firstLineFooter{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    background-color: white;
    align-items: center;

}

.leftIcons{
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    
}

.buttonInLeft{
    display: inline;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 16px;
    border: 0;
    background-color: white;
    text-align: center;
}

.middleIcons{
    display: inline-block;
    padding:0;
}

.dot{
    display: inline-block
}

.rightIcons{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.middleIcons{
    display: flex;
    width: 222px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.fa-bookmark{
    margin-left: 175px;
}

#secondLineFooter{
    display: flex;
    width: 100%;
    height: 24px;
    margin-top: 3px;
    padding: 0 16px;
    align-items: center;
    background-color: white;    
}

#imgCircle2{
    display: inline;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: 0;
    background-image: url(https://instagram.fplm4-1.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=instagram.fplm4-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=pQ0Fm-UKB3UAX8KBX2t&oh=ad27c700ccff31f38cef72554a80b9e1&oe=6038598F&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2);
    background-size: 22px;
    border: 1.5px solid rgb(211, 211, 211);
    border-radius: 100%;
}

#nextCircle2{
    padding: 2px 0 0 8px;
}

#thirdLineFooter{
    padding: 0 16px;
    margin-top: 10px;
}

#fourthLineFooter{
    flex-direction: column;
    width: 100%;
    height: 38px;
    padding: 0 16px;
}

#fourthLineFooter > div{
    display: inline;
    
}

#aCase{
    width: 100%;
    display: inline;
}

a:link, a:visited{
    color: #00376b;
    text-decoration: none;
}

#더보기{
    display: inline;
    color: gray;
}

.replyContainer{
  display: flex;
  flex-direction: column;
  width: 622px;
  height: auto;
  padding: 0 16px;
  background-color: white;
}

#smallTime{
    font-size: 6px;
    margin: 5px 0 5px 16px;
}

#lastOfFooter{
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: white;
    border-top: 1px solid rgb(211, 211, 211);
}

#comment{
    width: 557.77px; 
    padding: 18px 0;
    font-size: 15px;
    border:0;
    resize: none;
}

#comment::placeholder{
    font-size: 15px;
    font-weight:500;
}

.subInButton{
    color: #b5d2ec;
}

.activeSubInButton{
    color: #0095f6;
}

#lastFooterButton{
    font-size: 15px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

#asideInMain{
    position: relative;
    background-color: white;

}

#asideSection{
    position: fixed;
    width: 313px;
    height: 700px;
    padding-left: 15px;
    background-color: wheat;
    
}

.asideProfileGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px dotted black;
    margin-top: 55px;
    
    
    
}

#leftImageAndText{
    display: inline-flex;
    align-items: center;
    width: 200px
    
}

#imgCircle3{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s320x320/120349966_422763662018714_7835598670003667169_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=KRctBvoTtD0AX9KVMiT&tp=1&oh=c98d8b1dda7b9948db4f1268485cdf00&oe=6033973E");
    background-position: center;
    background-repeat: none;
    background-size: 50px;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 100%;
}

#leftAsideContent{
    color: rgb(211, 211, 211);
}

#transition{
    font-size: 13px;
    color: #0095f6;
}


