#login-wrap {
    background-color: #fafafa;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#login-wrap .login-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #eee;
    margin: auto;
    width: 450px;
    height: 480px;
    padding: 30px;
}

.login-area h1.title {
    height: 51px;
    width: 100%;
    font-family: Billabong;
    text-align: center;
}

.login-area input {
    margin: 5px;
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 5px;
}

.login-area button {
    margin: 15px 5px;
    padding: 15px;
    background-color: #0f76dc;
    border: 1px solid #0566c7;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.login-area button.inactive {
    opacity: .3;
}

.login-area button:not(.inactive):hover {
    opacity: .7;
    cursor: pointer;
}

.find-passwd-str {
    align-self: center;
    padding-top: 100px;
    color: #003469;
    cursor: pointer;
}