nav.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 54px;
    background-color: white;
    border: 1px solid #e6e6e6;
    z-index: 1;
}

nav.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
}

nav.header hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-box {
    position: relative;
    width: 200px;
}

#search-box input {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
}

#search-box input::-webkit-input-placeholder {
    text-align: center;
}

.header-icon-list {
    display: flex;
}

.header-icon-list > span {
    position: relative;
    display: block;
    padding: 0 10px;
 }

.header-icon-list .profile-box,
.header-icon-list .profile-box img {
    width: 25px;
    height: 25px;
}

.profile-popup {
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
}
 
.pofile-popup-wrap {
    display: flex;
    flex-direction: column;
}

.profile-popup-item {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
}

.profile-popup-item-icon {
    margin-right: 12px;
}

.profile-popup-item-title {
    width: 170px;
    height: 28px;
    margin: -3px 0 -4px;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
}

.container {
    padding-top: 54px;
}

.container main {
    background-color: #fafafa;
}

.container main section {
    display: flex;
    justify-content: center; 
    position: relative;
}

.feeds {
    max-width: 600px;
}

.feeds article {
    margin: 35px 0;
    background-color: fff;
    border: 1px solid #e6e6e6;
}

.feeds article header {
    display: flex;
    align-items: center;
    margin: 10px;
}

.feeds article header .profile-box,
.feeds article header .profile-box img {
    width: 42px;
    height: 42px;
    margin: 0 10px 0 0;
}

.feeds-picture,
.feeds-navigation,
.feeds-likes,
.feeds-content,
.feeds-date,
.feeds-comment,
.feeds-comment-list {
    padding: 5px 20px;
}

.feeds-picture {
    position: relative;
    align-items: stretch;
    flex-shrink: 0;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.feeds-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feeds-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.feeds-likes {
    display: flex;
    align-items: center;
    height: 30px;
}

.feeds-likes .profile-box,
.feeds-likes .profile-box img {
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
}

.feeds-comment {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 56px;
    border-top: 1px solid rgba(var(--ce3, 239,239,239),1);
    line-height: 18px;
}

.feeds-comment-list ul li {
    position: relative;
}

.feeds-comment-list ul li .comment {
    flex-grow: 1;
    padding: 0 0 0 10px;   
    overflow-wrap: break-word;
}

.feeds-comment-list ul li .button-list {  
    position: absolute;
    bottom: 0;
    right: 0;
}

.feeds-comment-list ul li .button-list button {  
    width: 15px;
    background: 0 0;
    border: 0;
}

.feeds-comment-list ul li .button-list button:not(:last-of-type) {
    margin-right: 3px;
}

.feeds-comment .emoji {
    padding: 8px 16px 8px 0;
}

.feeds-comment textarea {
    display: flex;
    flex-grow: 1;
    width: 0;
    height: 18px;
    max-height: 80px;
    background: 0 0;
    border: 0;
    outline: 0;
    resize: none;
}

.feeds-comment button {
    position: relative;
    display: inline;
    padding: 0 5px;
    color: rgba(var(--d69,0,149,246),1);
    background: 0 0;
    border: 0;
    cursor: pointer;
}

/* main-right */
.main-right-wrap {
    width: 300px;
    margin-left: 20px;
}

.main-right {
    position: fixed;
    top: 54px;
    width: 300px;
    max-width: 530px;
    padding: 41px 5px 10px;
    background-color: #fafafa;
    font-size: 14px;
}

.main-right header .profile-box {
    float: left;
}

.main-right header .profile-box,
.main-right header .profile-box img {
    width: 42px;
    height: 42px;
    margin: 0 10px 0 0;
}

.main-right-story-box,
.main-right-friend-box {
    position: relative;
    width: 100%;
    min-height: 185px;
    max-height: 320px;
    padding: 10px 12px;
    margin: 18px 0 0 0;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.main-right-story-box h3,
.main-right-friend-box h3 {
    padding-bottom: 3px;
    font-size: 14px;
}

.main-right-story-box div.all_view,
.main-right-friend-box div.all_view {
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.main-right-story-box .profile-box,
.main-right-story-box .profile-box img,
.main-right-friend-box .profile-box,
.main-right-friend-box .profile-box img {
    width: 42px;
    height: 42px;
    margin: 0 12px 0 0;
}

.main-right-story-box .profile-box,
.main-right-friend-box .profile-box {
    display: flex;
    flex-direction: column;
}

.proflie-box-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 0;
}

.proflie-box-desc div {
    padding: 3px 2px;
}

.main-right-story-box ul li,
.main-right-friend-box ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 2px;
}

.main-right footer {
    width: 100%;
    padding-top: 10px; 
    color: #d0d0d0;  
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-transform: none;
}

.main-right footer ul {
    color: #d0d0d0;  
}

.main-right footer ul li {
    display: inline;
}

.main-right footer ul li:not(:last-of-type)::after {
    content: '\00B7';
    margin: 0 .25em;
}

.main-right footer .copylight {
    display: block;
   padding-top: 20px; 
}

.live-view {
    position: relative;
    width: 52px !important;
    height: 52px !important;
    border-style: solid;
    border-color: red;
    border-image-slice: 1;
    border-radius: 70%;
    border-spacing: 3px;
}

.live-view img {
    position: absolute;
    top: 2px;
    left: 2px;
    border-image-slice: 1;
    border-radius: 70%;
    border-spacing: 3px;
} 

#head-search-wrap {
    position: absolute;
    top: 50px;
    left: -15px;
}

.head-search-box {
    width: 230px;
    height: 100%;
    max-height: 300px;
    min-height: 80px;    
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
}

.head-search-box ul li {
    display: flex;
    padding: 13px;
    border-bottom: 1px solid #eaeaea;
}

.head-search-box ul li:hover {
    background-color:#eaeaea;
}

.head-search-box ul li div.profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.head-search-box ul li div.profile-desc div {
    padding: 3px;
}

.head-search-box ul li:last-child {
    padding-bottom: 20px;
}

.head-search-box .profile-box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 42px;
    height: 42px;
}

.head-search-box .profile-box img {
    width: 42px;
    height: 42px;
}

@media only screen and (max-width: 980px) {
    
    .main-right {
        display: none;
    }

    .main-right-wrap {
        width: 0;
    }
}