.main-navbar {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.main-navbar__colomns {
  width: 975px;
  height: 54px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
}

.main-navbar__colomn {
  display: flex;
  width: 33%;
}
.main-navbar__colomn:first-child {
  height: 36px;
  justify-content: flex-start;
  align-items: flex-end;
}
.main-navbar__colomn:last-child {
  justify-content: flex-end;
  align-items: center;
}

.main-navbar__logo {
  width: 103px;
  height: 29px;
  margin-left: -4px;
}

.main-navbar__form {
  position: relative;
  margin: 0 auto;
}

.main-navbar__search {
  width: 215px;
  height: 28px;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 10px 3px 26px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  outline: none;
}
.main-navbar__search::placeholder {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.main-navbar__search:focus::placeholder {
  text-align: left;
}

.main-navbar__search:focus + div {
  top: 6px;
  left: 12px;
}

.main-navbar__placeholder {
  position: absolute;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  top: 6px;
  left: 84px;
  pointer-events: none;
}

.main-navbar__icons > * {
  margin-left: 24px;
}
.profile-icon {
  width: 22px;
  border-radius: 50%;
}
.feeds-main {
  padding-top: 54px;
}

.feeds-main__section {
  display: flex;
  width: 935px;
  position: relative;
  padding: 30px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
}
.feeds {
  width: 614px;
  margin-right: 28px;
}

.feed {
  width: 100%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.feed-header__conrainer {
  display: flex;
  height: 60px;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feed__img {
  width: 100%;
}
.feed__contents-container {
  font-size: 14px;
  padding: 0 16px;
}

.contents-container__btns {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.contents-container__btn-trio {
  display: flex;
  justify-content: flex-start;
  margin-left: -8px;
}
.contents-container__btn:last-child {
  margin-right: -10px;
}

.contents-container__btn {
  width: 42px;
  height: 40px;
  padding: 8px;
}
.contents-container__likeBtn {
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png);
  background-size: 24px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contents-container__btn img {
  width: 100%;
  height: 100%;
}

.contents-container__num-like {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0px;
}
.contents-container__content-container,
.contents-container__time {
  padding: 5px 0;
  margin-bottom: 4px;
}

.content-container__ID {
  font-weight: 600;
}
.content-container__content {
  font-weight: 400;
}
.contents-container__time {
  display: block;
  font-size: 10px;
  color: #8e8e8e;
}
.comment-form {
  display: flex;
  height: 56px;
  padding: 0 16px;
  align-items: center;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}
.comment-form__comment-input {
  width: 554px;
  border: none;
  outline: none;
}
.comment-form__comment-btn {
  font-weight: 600;
  color: #0095f6;
}

.main-right {
  width: 293px;
  position: fixed;
  top: 84px;
  left: calc(50vw + 165px);
  padding-top: 22px;
}
.recommend-header__container {
  display: flex;
  margin: 20px 0 15px;
  justify-content: space-between;
  align-items: center;
}

.recommend-header__header {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.recommend-header__show-all-btn {
  font-size: 12px;
  font-weight: 600;
}
.main-footer {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 38px;
}

.main-footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.main-footer__link {
  padding-bottom: 9px;
}
.main-footer__link a {
  color: rgba(0, 0, 0, 0.3);
}

.storys__container {
  display: flex;
  height: 118px;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 30px;
}
.story {
  display: flex;
  width: 80px;
  flex-direction: column;
  margin-right: 0;
}
.story__profile {
  width: 56px;
  top: 56px;
  margin-bottom: 4px;
  border-radius: 50%;
}
.story__ID {
  font-weight: 300;
}
