* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: transparent;
}

nav {
    /* position: fixed; */
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #ffffff;
}

#navbar {
    display:flex;
    width: 1000px;
    height: 65px;
    line-height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#navbar .navbarLeft span {
    font-size: 26px;
    font-family: 'Yusei Magic', sans-serif;
}

#navbar .navbarMid {
    position: relative;
}

#navbar .navbarMid input {
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}

#navbar .navbarMid input:focus {
    text-align: left;
    padding-left: 30px;
}

#navbar .navbarMid i {
    position: absolute;
    bottom: 27px;
    left: 70px;
    font-size: 12px;
}

#navbar .navbarRight {
    display: flex;
    align-items: center;
    margin-right: 55px;;
}

#navbar .navbarRight img {
    width: 30px;
    margin-right: 15px;
}

#main {
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

#feeds {
    width: 600px;
    height: 1000px;
    background-color: transparent;
}


.friendList {
    width: 600px;
    height: 100px;
    padding: 16px 0;
    margin-bottom: 24px; 
    border: 1px solid #DBDBDB;
    background-color: white;
}

.friendList ul {
    display: flex;
}

.friendList ul li {
    text-align: center;
}

.friendList img {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(212, 11, 78);
    padding: 2px;
    border-radius: 25px;
    margin: 0 10px;
}

.friendList p {
    margin: 0 10px;
    font-size: 14px;
    text-align: center;
}

.pid {
    margin-top: 20px;
    border: 1px solid #DBDBDB;
}

.pidHead {
    width: 600px;
    height: 60px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pidHead > div {
    display: flex;
    align-items: center;
}

.pidHead img {
    width: 42px;
    height: 20px;
    margin-right: 10px;
}

.pidHead span {
    font-size: 12px;
}

.pidBody {
    width: 600px;
    margin: 0;
    border: 1px solid #DBDBDB;
}

.pidImage {
    height: 750px;
}
.pidBody img {
    width: 100%;
    height: 100%;
}

.pidFunc {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 4px;
}

.pidFunc ul {
    display: flex;
}

.pidFunc i {
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
}

.likeInfo {
    padding: 0 22px;
    margin-top: 4px;
    font-size: 14px;
}

.pidInfo {
    padding: 0 22px;
    margin-top: 4px;
    font-size: 14px;
}

.pidInfo a {
    font-weight: bold;
}

.commentInfo {
    margin-top: 4px;
    color: #8e8e8e;
}

.comment {
    display: flex;
}

.comment p {
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
}

.comment span {
    margin-top: 4px;
    line-height: 26px;
    font-size: 14px;
}

.commentWrite {
    margin-top: 4px;
    padding: 10px 22px;
    width: 600px;
    display: flex;
    border-top: 1px solid #DBDBDB;
}
.commentWrite input {
    width: 100%;
    height: 40px;
    border: transparent;
}

.commentWrite input:focus {
    outline: none;
}

.commentWrite button {
    width: 60px;
    padding: 5px 10px;
    font-size: 14px;
    color: #7cc6f8;
    cursor: pointer;
}

#mainRight {
    width: 300px;
    height: 1000px;

    margin-left: 30px;
}

.myInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.myInfo > div {
    display: flex;
}

.myInfo > div a {
    margin-top: 7px;
}
.myInfo > div  p {
    font-size: 14px;
    color:  #8e8e8e;
}

.myInfo img {
    width: 55px;
    height: 55px;
    padding: 2px;
    border-radius: 28px;
    margin-right: 15px;
}

.myInfo .convert {
    margin-top: 4px;
}

.myInfo .convert a {
    font-size: 14px;
    font-weight: 700;
    color:  #0095F6;
}

.listHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listHead a {
    margin: 0;
    font-weight: bold;
}

.recommend ul {
    margin-top: 20px;
}

.recommend ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.recommend ul li img {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 25px;
    margin-right: 15px;
}
.recommend ul li > div {
    display: flex;
}

.recommend ul li > div a {
    margin: 0;
}

.recommend ul li > div p {
    font-size: 14px;
    color:  #8e8e8e;
}

.recommend .follow {
    font-size: 14px;
    color:  #0095F6;
    font-weight: 700;
}


.companyInfo {
    width: 300px;
}

.companyInfo ul{
    display: flex;
    flex-wrap: wrap;
}

.companyInfo ul li {
    font-size: 11px;
    margin-right: 5px;
    color: #c7C7c7;
}

.companyInfo p {
    font-size: 11px;
    color: #c7c7c7;
}