@charset "UTF-8";
@import "../../../styles/variable.scss";

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .comment__div {
    display: flex;
    align-items: center;

    .nickname {
      font-weight: bold;
      margin-right: $padding-value--7;
    }

    .more {
      margin-left: $padding-value--7;
      color: $color-gray;
    }

    .like-delete {
      display: flex;
      align-items: center;
    }

    .mini-like-btn {
      width: $icon-search--width;
      margin-right: $padding-value;
    }

    .mini-heart {
      width: 100%;
    }
  }
}
