body {
    background-color: #fafafa;
    font-size: 14px;
}
.header {
    width: 350px;
    margin: 12px auto;
}
.top {
    background: white;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    padding: 40px 40px 20px 40px;
}
.logo img {
    display: block;
    margin: 0 auto 35px;
}
.input_field {
    margin-bottom: 5px;
}
.input_field input {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    font-size: 12px;
    color: #262626;
    padding: 10px;
}
.input_field input:focus{
    border: 1px solid #b2b2b2;
}
.button {
    margin: 10px 0;
    background-color: #B2dffc;
    border: 1px solid #B2dffc;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}
.button .login {
    color: white; 
}
.forgot {
    font-size: 12px;
    color: #00376b;
    text-align: center;
    margin-top: 50px; 
}
.forgot a{
    color: inherit;
}
.forgot a:focus {
    color: #a4b7ca;
}