body {
    background-color: #fafafa;
}

nav {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #F0F0F0;
    background-color: white;
}

.wrapper {
    width: 975px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    }

.logo_img {
    margin-right: 10px;
}

.logo_text {
    padding-left: 10px;
    border-left: 1.7px solid #333030;
}

.search {
    width: 215px;
    position: relative;
}

.input_search {
    width: 100%;
    border: 1.5px solid #EAEAEA;
    border-radius: 2.5px;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    background-color: #FAFAFA;
}

.search_icon {
    width: 15px;
    position: absolute;
    top: 8px;
    left: 75px;
}

.menu {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.main_wrapper {
    width: 975px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 50px 20px;
    justify-content: space-between;
    }

article {
    width: 614px;
    border: 1.5px solid #EAEAEA;
    border-radius: 2.5px;
    background-color: white;
}

.profile {
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;
    font-size: 16px;
    border-bottom: 1.5px solid #EAEAEA;
}

.profile_img {
    width: 32px;
    border-radius: 50%;
    margin: 0 16px ;
}

.three_dots {
    width: 16px;
    position: absolute;
    right: 16px;
}

.feed_img {
    width: 100%;
}

.react_buttons {
    display: flex;
    position: relative;
    padding: 8px 0px;
}
.react_buttons img {
    width: 26px;
    margin-left: 16px;
}
.bookmark_button {
    position: absolute;
    right: 16px;
}

.total_likes {
    display: flex;
    font-size: 14px;
    padding: 4px 0 8px 0;
    align-items: center;
}
.profile_mini {
    width: 26px;
    border-radius: 50%;
    margin: 0px 5px 0px 16px;
}

.comment_area p {
    font-size: 14px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.previous_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_likebutton {
    width: 12px;
    height: 12px;
    margin-right: 16px;
}
.time {
    font-size: 10px;
    color: grey;
    margin-left: 16px;
    margin-bottom: 10px;
}

.new_comment{
    height: 56px;
    display: flex;
    border-top: 1.5px solid #EAEAEA;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.write_newComment{
    height: 100%;
    border: none;
}

.upload_button {
    color: #B2dffc;
    font-size: 14px;
    background-color: white;
    border: none;
  }
  
.upload_button:hover {
    cursor: pointer;
  }

.main-right {
    width: 293px;
    align-items: flex-start;
}

.myprofile {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}
.profile_img2 {
    width: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile_id1 {
    font-size: 14px;
    margin-bottom: 4px;
}
.profile_id2 {
    font-size: 14px;
    color: grey;
}

.story {
    border: 1.5px solid #EAEAEA;
    margin-top: 16px;
    font-size: 14px;
    background-color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.title {
    color: grey;
}

.story_list {
    width: 293px;
    height: 168px;
    position: relative;
    overflow: hidden;
}
.inner {
    position: absolute;
    top: 0;
    right: -17px;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.friend {
    width: 100%;
    height: 48px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
}

.friend_profile {
    font-size: 14px;
    margin-left: 10px;
}

.gradient_circle {
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.friend_img {
    width: 32px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    border: 2px solid white;

}
.timeline {
    color:grey;
}
.recommend {
    border: 1.5px solid #EAEAEA;
    margin-top: 16px;
    font-size: 14px;
}
.unknown_list {
    width: 293px;
    height: 144px;
    position: relative;
    overflow: hidden;
}

.unknown {
    width: 290px;
    height: 48px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    background-color: white;
}
.unknown_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.unknown_profile {
    font-size: 14px;
    margin-left: 10px;
}
.unknown_img {
    width: 32px;
    border-radius: 50%;
}
.mutual_friend {
    color:grey;
}
.follow_button {
    color: #459dee;
    font-size: 14px;
    background-color: white;
    border: none;
  }
  
.follow_button:hover {
    cursor: pointer;
  }

footer {
    font-size: 11px;
    color: grey;
    margin-top: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    outline: none;
    margin-bottom: 16px;
}
li a{
    color: inherit;
}
