*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #fafafa;
}

nav {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #F0F0F0;
    background-color: white;
}

.wrapper {
    height: 100%;
    width: 975px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.instagram_img {
    margin-right: 10px;
}

.instagram_text {
    padding-left: 10px;
    border-left: 1.7px solid #333030;
}

.search {
    width: 215px;
    position: relative;
}

.inputSearch {
    width: 100%;
    border: 1.5px solid #EAEAEA;
    border-radius: 2.5px;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    position: relative;
    background-color: #FAFAFA;
}

.search_icon {
    position: absolute;
    left: 75px;
    top: 8px;
    width: 15px;
}

.menu {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.mainWrapper {
    height: 100%;
    width: 975px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    
    }

article {
    width: 614px;
    border: 1.5px solid #EAEAEA;
    border-radius: 2.5px;
    background-color: white;
}

.profile {
    display: flex;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    font-size: 16px;
    border-bottom: 1.5px solid #EAEAEA;
    position: relative;
}

.profile_img {
    width: 32px;
    border-radius: 50%;
    margin-left: 16px;
}

.profile_id {
    margin-left: 16px;
}

.three_dots {
    width: 16px;
    position: absolute;
    right: 16px;
}

.feed_img {
    width: 100%;
}

.reactButton {
    display: flex;
    padding: 8px 0px;
    position: relative;
}
.reactButton img {
    width: 26px;
    margin-left: 16px;
}
.bookmarkButton {
    position: absolute;
    right: 16px;
}

.totalLikes {
    display: flex;
    font-size: 14px;
    padding: 4px 0 8px 0;
    align-items: center;
}
.profile_mini {
    width: 26px;
    border-radius: 50%;
    margin: 0px 5px 0px 16px;
}

.commentArea p {
    font-size: 14px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.comment {

}

.previousComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.miniLikeButton {
    width: 12px;
    height: 12px;
    margin-right: 16px;
}
.time {
    font-size: 10px;
    color: grey;
    margin-left: 16px;
    margin-bottom: 10px;
}

.newComment{
    border-top: 1.5px solid #EAEAEA;
    height: 56px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.writeNewComment{
    height: 100%;
    border: none;
}

.uploadButton {
    color: #B2dffc;
    font-size: 14px;
    background-color: white;
    border: none;
  }
  
.uploadButton:hover {
    cursor: pointer;
  }

.main-right {
    width: 293px;
    align-items: flex-start;
}

.myprofile {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}
.profile_img2 {
    width: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile_id1 {
    font-size: 14px;
    margin-bottom: 4px;
}
.profile_id2 {
    font-size: 14px;
    color: grey;
}

.story {
    border: 1.5px solid #EAEAEA;
    margin-top: 16px;
    font-size: 14px;
    background-color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.title {
    color: grey;
}

.listofStories {
    width: 293px;
    height: 168px;
    overflow: hidden;
    position: relative;
}
#inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.friend {
    display: flex;
    padding: 8px 16px;
    height: 48px;
    width: 100%;
    align-items: center;
}

.friend_profile {
    font-size: 14px;
    margin-left: 10px;
}

.gradientCircle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    position: relative;
}

.friend_img {
    width: 32px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 2px;
    top: 2px;

}
.timeline {
    color:grey;
}
.recommend {
    border: 1.5px solid #EAEAEA;
    margin-top: 16px;
    font-size: 14px;
}
.listofUnknowns {
    width: 293px;
    height: 144px;
    overflow: hidden;
    position: relative;
}
#inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.unknown {
    display: flex;
    padding: 8px 16px;
    height: 48px;
    width: 290px;
    align-items: center;
    background-color: white;
}
.unknownWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.unknown_profile {
    font-size: 14px;
    margin-left: 10px;
}
.unknown_img {
    width: 32px;
    border-radius: 50%;
}
.mutual_friend {
    color:grey;
}
.follow_button {
    color: #459dee;
    font-size: 14px;
    background-color: white;
    border: none;
  }
  
.follow_button:hover {
    cursor: pointer;
  }

footer {
    font-size: 11px;
    color: grey;
    margin-top: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    outline: none;
    margin-bottom: 16px;
}
li a{
    color: inherit;
}
