
body{
    background-color: #FAFAFA;
}
.login_box{
    width: 350px;
    height: 378px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 80px auto;
    padding: 10px 0;
    position: relative;
    background-color: white;
}

.logo h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    text-align: center;
}

.login_form{
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input,button{
    width: 250px;
    height: 36px;
    margin: 0 auto;
    display: block;
}
.forget_pw{
    width: 349px;
    position: absolute;
    bottom: -70px;
}
.forget_link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #00376b;
    font-size: 12px;
    font-weight: bold;
}


#login_btn{
margin-top: 10px;
background-color: #B2DFFC;
border: none;
border-radius: 5px;
color:white;
font-weight: bold;
font-size: 15px;
}




