@import "/students/21th/mingikim/css/reset.css";
@import "/students/21th/mingikim/css/common.css";

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40%;
  min-height: 100%;
}

.login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  background-color: white;
  border: var(--main-border);
}

.login-box {
  margin-bottom: 30px;
}

.login-box .logo {
  margin: 22px 86.5px 12px;
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.login-box__form {
  margin-top: 25px;
}

.login-box__form .input {
  padding: 10px 112px 10px 10px;
  font-size: 12px;
  line-height: 18px;
  background-color: #fafafa;
}

.login-box__form .input {
  margin-top: 5px;
  outline: none;
  border-radius: 5px;
  border: var(--main-border);
}

.login-box,
.login-box__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes click {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

.login-box__button {
  margin-top: 18px;
  padding: 10px 115px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-box__button:active {
  animation: click 0.1s linear;
}

.login-box__button:disabled {
  background-color: #c4e1fb;
}

.forgot-box {
  margin: 60px 0px 30px 0px;
}

.forgot-box__message {
  text-decoration: none;
  color: #003569;
  font-weight: 400;
  font-size: 14px;
}
