.overall-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.left-main {
  width: 614px;
  display: flex;
  flex-direction: column;
}

/* story */

.story-container {
  width: 100%;
  height: 110px;
  margin: 25px 0 20px 0;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 16px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.story {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80px;
}

.story .profile-img-container {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/rainbow.png');
  background-size: contain;
}

.story .profile-img-container img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.story .story-id {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.feed-container {
  width: 100%;
  overflow: hidden;
  /* background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px; */
}

article {
  margin-bottom: 70px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

/* feed header area */
.feed-header {
  height: 60px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-header .feed-header-left {
  display: flex;
  align-items: center;
}

.feed-header .profile-img-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/rainbow.png');
  background-size: contain;
}

.feed-header .profile-img-container img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.feed-header img {
  width: 24px;
}

.feed-header .feed-header-left span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.feed-header .feed-header-left span:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* feed content area */

.feed-img-container {
  overflow: hidden;
}

.feed-img-container img {
  width: 100%;
}

.feed-body {
  padding: 0 15px;
}

.feed-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.feed-bar img {
  width: 24px;
}

.bar-left {
  width: 100px;
}

.bar-left img {
  margin-right: 6px;
}

.bar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-center button {
  border: none;
  background-color: gray;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
}

.bar-right {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.feed-likes-counter {
  margin: 6px 0 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.feed-content .id {
  font-weight: bold;
}

.feed-content span {
  font-size: 14px;
}

.feed-content .content-hide {
  display: none;
}

.feed-content .feed-content-morebtn {
  appearance: none;
  border: none;
  background-color: white;
  color: #8e8e8e;
}

.morebtn-invisible {
  display: none;
}

/* comment area */

.comment-counter {
  margin: 3px 0;
  font-size: 14px;
  color: #8e8e8e;
}

.feed-comments .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-left {
  width: 520px;
}

.comment .comment-left span {
  font-size: 14px;
}

.comment .comment-left .id {
  font-weight: bold;
}

.comment-right {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: flex-end;
}

.comment-right:hover {
  cursor: pointer;
}

.comment .comment-right img {
  width: 14px;
}

.comment .comment-right span {
  font-size: 12px;
  color: #af4444;
  margin-left: 10px;
}

.feed-hour {
  font-size: 10px;
  color: #8e8e8e;
}

.newcomment-form {
  margin-top: 10px;
  height: 60px;
  border-top: 1px solid #efefef;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newcomment-form input {
  display: flex;
  flex-grow: 1;
  resize: none;
  height: 20px;
  max-height: 80px;
  align-content: center;
  border: 0;
}

.newcomment-form button {
  border: none;
  background-color: white;
  font-weight: bold;
}

.newcomment-btn-lightblue {
  color: #c0e0fc;
}

.newcomment-btn-blue {
  color: #0095f6;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 980px) {
  .right-main {
    display: none;
  }
  .left-main {
    position: unset;
  }
}

@media screen and (max-width: 640px) {
  .left-main {
    width: 100%;
  }
}
