@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box {
  display: flex;
  padding: 10px 0;
  margin: 0 0 10px;
  width: 350px;
  height: 380px;
  flex-direction: column;
  border: 1px solid #ccc;
}

.title {
  margin: 22px auto 12px;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.input-boxes {
  margin: 24px 40px 8px 40px;
}

.input-boxes input {
  width: 100%;
  height: 36px;
  padding: 9px 0 7px 8px;
  margin-top: 6px;
  background: #fafafa;
  color: #262626;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  align-items: center;
}

#login-button {
  padding: 5px 9px;
  margin: 8px 40px;
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid transparent;
  opacity: 1;
  border-radius: 4px;
  font-weight: 800;
  transition: 0.5s;
}

#login-button:disabled {
  background-color: #0095f6;
  opacity: 0.3;
}

.progerss-bar {
  display: flex;
  padding: 10px 40px 18px;
  align-items: center;
}

.grogress-bar-left {
  height: 1px;
  background-color: #dbdbdb;
  flex-grow: 1;
}

.preogress-bar-text {
  margin: 0 18px;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

.grogress-bar-right {
  height: 1px;
  background-color: #dbdbdb;
  flex-grow: 1;
}

.sign-up-box {
  position: relative;
}

button.facebook-button {
  margin: 8px 80px;
  height: 20px;
  color: #385185;
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

#facebooke-login span img {
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

button#forget-password {
  margin-top: 12px;
  font-size: 12px;
}

.sign-up-box {
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  border: 1px solid #ccc;
  align-items: center;
}

.sign-up-box div {
  margin: 15px;
  color: #262626;
  font-size: 14px;
  text-align: center;
}

.sign-up-box div a {
  color: #0095f6;
  font-weight: 600;
}

.sign-up-box div a:hover {
  text-decoration: none;
}
