@charset "utf-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  /* text-decoration:none;
  color:#333; */
}
img {
  vertical-align: bottom;
  border: 0;
}
input {
  outline: 0;
  border: 0;
}