body {
  background-color: #fafafa;
}
nav {
  width: 100%;
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  z-index: 9999;
}
.nav-wrap {
  width: 975px;
  height: 54px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrap div {
  width: 325px;
}
.nav-left {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-left img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.nav-center {
  font-size: 10px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-box {
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  text-align: center;
}
.search-box:focus {
  text-align: left;
  text-indent: 30px;
}
.fa-search {
  position: absolute;
  left: 125px;
}
.nav-right {
  height: 22px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-right svg {
  margin-left: 24px;
  cursor: pointer;
}
.nav-right img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 24px;
  border-radius: 100%;
  object-fit: contain;
  cursor: pointer;
}

main {
  width: 935px;
  margin: 0 auto;
  padding-top: 84px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
article {
  width: 614px;
  overflow: hidden;
}

.feed-story {
  height: 118px;
  margin-bottom: 24px;
  padding: 16px 0 16px 10px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.story-list {
  width: 80px;
  height: 60px;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-img {
  width: 60px;
  height: 60px;
  background: linear-gradient(to left, orange, red);
  border-radius: 100%;
}
.user-img img {
  width: 56px;
  height: 56px;
  margin: 2px;
  object-fit: contain;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
}
.story-name {
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  cursor: pointer;
}
.feed-main {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 30px;
}
.feed-userinfo {
  height: 61px;
  padding: 16px;
  display: flex;
  align-items: center;
}
.feed-userimg {
  width: 40px;
  height: 40px;
}
.feed-userimg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 100%;
  cursor: pointer;
}
.feed-username {
  width: 542px;
  height: 41px;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feed-myid {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
}
.feed-myname {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}
.feed-more {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.feed-more img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.content-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content-btn {
  height: 40px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-conbtn {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.right-conbtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left-conbtn img,
.right-conbtn img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  visibility: block;
}
.left-conbtn svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 0;
  cursor: pointer;
  visibility: hidden;
}
.like {
  height: 18px;
  padding: 0 16px;
}
.like span {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}
.feed-text {
  height: 41px;
  padding: 0 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feed-textinfo {
  font-size: 14px;
  color: #262626;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.feed-textinfo span:nth-child(1) {
  font-weight: 600;
  cursor: pointer;
}
.feed-textdate {
  font-size: 10px;
  color: #8e8e8e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat {
  padding: 0 16px 8px;
}
.chat div {
  font-weight: 600;
  font-size: 14px;
  color: #262626;
  cursor: pointer;
}
.chat div span {
  font-weight: 400;
}

.comment {
  height: 56px;
  padding: 0 16px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 540px;
  height: 18px;
}
.combtn {
  color: #0095f6;
  opacity: 0.5;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.combtn:focus {
  display: none;
}
.fix-side {
  width: 293px;
}
.side {
  width: 293px;
  position: fixed;
}
.side-user {
  /* width: 293px; */
  height: 56px;
  margin-top: 18px;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.side-userimg {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.side-userimg img {
  max-width: auto;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.side-userinfo {
  width: 200px;
  height: 56px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.side-myid {
  height: 18px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #262626;
  cursor: pointer;
}
.side-myname {
  height: 14px;
  font-size: 12px;
  color: #8e8e8e;
}
.side-recom {
  height: 291px;
  margin-bottom: 30px;
  padding: 8px 0;
}

.recom-menu {
  height: 19px;
  margin-top: 10px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recom-menu span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}
.recom-allbtn {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
}
.recom-list {
  height: 48px;
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recom-userimg {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 100%;
  overflow: hidden;
}
.recom-userimg img {
  max-width: auto;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.recom-userinfo {
  width: 209px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.recom-myid {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
}
.recom-myname {
  font-size: 12px;
  color: #8e8e8e;
}
.recom-follow {
  width: 36px;
  height: 18px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #0095f6;
  cursor: pointer;
}

.caption {
  height: 103px;
  font-size: 10px;
  font-weight: 400;
  color: #c7c7c7;
}
.cap-kr {
  padding-bottom: 20px;
}
.cap-kr span {
  display: inline-block;
  margin-bottom: 3px;
}
