body {
  background: #fafafa;
}

.mainNav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 53px;
  background: #fff;
  border-bottom: 1px solid lightgrey;
}

.maxWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
}
.mainNav > .maxWidth > .logo {
  width: 150px;
  font-size: 22px;
}

.mainNav > .maxWidth > .logo > img {
  width: 20px;
}

.mainNav > .maxWidth > .bar {
  color: #c7c7c7;
}
.mainNav > .maxWidth > .bar > I {
  position: relative;
  left: 40%;
  color: #929191;
  font-size: 12px;
}

.mainNav > .maxWidth > .bar > input {
  width: 200px;
  height: 26px;
  padding: 7px;
  background: #fafbfa;
  border: 0.5px solid #c7c7c7;
  text-align: center;
  outline: none;
}

.searchBar {
  position: absolute;
  top: 50px;
  width: 375px;
  height: 362px;
  display: none;
  color: #747272;
  background: #fff;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  z-index: 1;
}

.searchBar > .searchTitle {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}

.searchBar > .searchTitle > p {
  font-size: 18px;
  font-weight: 800;
}

.searchBar > .searchTitle > button {
  color: #82b7fc;
  font-size: 16px;
  font-weight: 800;
}

.searchBar > .searchList > li > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
}

.searchBar > .searchList > li:hover {
  background: #f3f1f1;
  overflow: hidden;
}

.searchBar > .searchList > li > a > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
}

.searchBar > .searchList > li > a > div > div > p:first-child {
  color: #585858;
  font-weight: 800;
}

.searchBar > .searchList > li > a > div > button {
  font-size: 24px;
  font-weight: 100;
}

.searchBar > .searchList > li > a > img {
  width: 44px;
  border-radius: 50%;
}

.searchBar > .searchList > li > a > div > p:first-child {
  color: rgb(20, 20, 20);
  font-weight: 800;
}

.searchBar > .searchList > li > a > span {
  display: flex;
  align-items: center;
  color: #929191;
}

.searchBar:focus {
  display: block;
}

.mainNav > .maxWidth > ul {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.mainNav > .maxWidth > ul > li :nth-child(2) {
  display: flex;
  flex-direction: column;
}

body > div {
  width: 955px;
  margin: auto;
}

section.main {
  display: flex;
  justify-content: space-between;
  margin: 160px 0;
}

article.feeds {
  width: 620px;
}

.feeds > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 16px;
}

.feeds > header > img {
  width: 32px;
  margin-left: 15px;
  border-radius: 50%;
}

.feeds > header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feeds > header > div > a:first-child {
  margin-left: 14px;
}

.feeds > .feedContent {
  width: 620px;
}

.feeds > .feedContent > img {
  width: 100%;
  vertical-align: bottom;
}

.feeds > .contentBottom {
  border: 1px solid lightgrey;
  font-size: 14px;
}

.feeds > .contentBottom > section:first-child,
.feeds > .contentBottom > section:first-child > ul {
  display: flex;
  justify-content: space-between;
}

.feeds > .contentBottom > section:first-child button {
  padding: 8px;
  font-size: 24px;
}

.feeds > .contentBottom > section:nth-child(2) > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
}

.feeds > .contentBottom > section:nth-child(2) > div > img {
  width: 22px;
  border-radius: 50%;
}

.feeds > .contentBottom > section:nth-child(2) > div > img + span {
  padding-left: 5px;
  font-weight: 800;
}

.feeds > .contentBottom > section:nth-child(2) > div :nth-last-child(2) {
  padding-left: 5px;
  font-weight: 800;
}

.feeds > .contentBottom > div > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 4px 12px;
}

.feeds > .contentBottom > div > div > div > span {
  font-weight: 800;
}

.feeds > .contentBottom > section:last-child.addComment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  border-top: 1px solid lightgrey;
}

.feeds > .contentBottom > section:last-child.addComment > .textarea {
  width: 90%;
  height: 18px;
  resize: none;
  overflow: hidden;
}

.feeds > .contentBottom > .commentList > div > div > .delBtn {
  padding: 0 8px;
  color: #eceaea;
  cursor: pointer;
}

.feeds > .contentBottom > .commentList > div > div > .delBtn:hover {
  color: #363434;
}

.addBtn,
.addBtnReset {
  color: #8abdff;
  font-weight: 800;
}

.addBtnColor {
  color: #0366d6;
  font-weight: 800;
}

aside {
  position: fixed;
  width: 300px;
  z-index: -1;
}

aside > .myAccount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

aside > .myAccount > img {
  width: 56px;
  border-radius: 50%;
}

aside > .myAccount > p {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

aside > .myAccount > p > span:first-child {
  font-weight: 800;
}

aside > section {
  height: 200px;
  margin: 12px 0;
  background: #fff;
  border: 1px solid lightgrey;
  overflow: hidden;
}

aside > section > .head {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  font-weight: 800;
}

aside > section > .head > div {
  color: #a09e9e;
}

aside > section > .storyList > li {
  display: flex;
  justify-content: flex-start;
  padding: 6px 16px;
  font-size: 14px;
}

aside > section > .storyList > li > div {
  margin-left: 16px;
  color: #a8a7a7;
}

aside > section > .storyList > li > img {
  width: 32px;
  border: 2px solid #b21b85;
  border-radius: 50%;
}

aside > section > .storyList > li > div > p:first-child.title {
  color: rgb(20, 20, 20);
  font-weight: 800;
}

aside > section:nth-child(3) > .storyList > li > button {
  width: 60px;
  color: #4695fc;
}

aside > section:nth-child(3) > .storyList > li > div > p:last-child {
  height: 12px;
  font-size: 12px;
  overflow: hidden;
}

aside > nav,
aside > nav > ul > li > a {
  color: #929191;
  font-size: 12px;
}

aside > nav > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0;
}

aside > nav > ul > li {
  margin: 0 8px 8px 0;
}
