.main_border{
    border: 1px solid gray;
    width: 348px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 200px auto;
  }
  .westargram{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-bottom: 70px;
  }
  .login_border{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  .login_txt {
    margin-bottom: 5px;
    line-height: 30px;
  }
  .login_pwd{
    margin-bottom: 10px;
    line-height: 30px;
  }
  .login_btn{
    margin-bottom: 70px;
    border: none;
    line-height: 30px;
    color: white;
    background-color: #B2DFFC;
  }
  a{
    display: block;
    text-decoration: none;
  }
  