.navi{
    display: flex;
    justify-content: space-around;
    height:50px;
    background-color: white;
    align-items: center;
}
/* 왼쪽로고 */
.navi .insta_logo{
    display: flex;
    justify-content: space-around;
    width: 130px;
}

.navi .insta_logo .insta{
    width:20px;
    height: 20px;
}
.navi .insta_logo .logo{
    font-family:'Lobster', cursive;
}

/* 검색바 */
.navi .search_act{
    position: relative;
    top: 15%;
    height:40px;
}

.navi .search{
    position: absolute;
    width:10px;
    height: 10px;
    left:35%;
    top:20%;
}
.navi .search_bar{
    text-align: center;
    border-radius: 3px;
    border:1px solid #D9D9D9;
    background-color: #F3F3F3;
    height: 70%;
}

/* 유저활동 */
.navi .act{
    display: flex;
    justify-content: space-around;
    width:130px;
}

.navi .act .explore{
    width:20px;
    height: 20px;
}
.navi .act .like{
    width:20px;
    height: 20px;
}
.navi .act .user{
    width:20px;
    height: 20px;
}

/* 메인피드 */
.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;

}
.main .feeds{
    width: 500px;
    height: 700px;
    border:1px solid #D9D9D9;
    border-radius: 3px;
}
.main .feed{
    width:100%;
    height: 100%;
}

.main .feed .feed_account{
    padding: 7px;
    /* background-color: blue; */
    height: 40px;
}

.main .feeds #feed_account{
    width: 20px;
    height: 20px;
}
.main .feed .feed_account span{
background-color: blue;
}

.main .feed img{
    width:100%;
}


/* 사이드 피드 */
.main .main-right{
    display: flex;
    width: 250px;
    height:500px;
    background-color: #F3F3F3;
    flex-direction: column;
    justify-content: space-around;
;
}
.main .main-right .profile{
    width:100%;
    height: 50px;
    background-color: #F3F3F3;
}
.main .main-right .story_list_img{
    width: 20px;
    height: 20px;
}

.main .main-right .recommend_list_img{
    width: 20px;
    height: 20px;
}

/* 스토리글자 */
.main .main-right .story_list{
    width: 100%;
    height: 120px;
    border:1px solid #D9D9D9;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color:#868787;
    padding:10px;
}
.main .main-right .story_list .story_list1_img{
    width:20px;
    height: 20px;
}
/* 모두보기 글자 */
.main .main-right .story_list .seeAll_1{ 
    margin-left: 150px;
    font-family: sans-serif;
    color:black;
}

/* 추천 */
.main .main-right .recommend{
    width: 100%;
    height: 200px;
    border:1px solid #D9D9D9;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color:#868787;
    padding: 10px;
    
}

.main .main-right .recommend .recommend_list1_img{
    width: 20px;
    height: 20px;
}
/* 모두보기 */
.main .main-right .recommend .seeAll_2{
    font-family: sans-serif;
    color:black;
    margin-left: 90px;
}


/* 정보 */
.main .main-right .info{
    background-color: #F3F3F3;
    font-family: sans-serif;
    font-size: 10px;
    color:#C7C7C7;
}



body{
    background-color:#F3F3F3;
}

*{
    box-sizing: border-box;
}