.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    background-color: white;
}

.navi .insta_logo{
    display: flex;
    justify-content: space-around;
    width: 130px;
}

.navi .insta_logo .insta{
    width:20px;
    height: 20px;
}
.navi .insta_logo .logo{
    font-family:'Lobster', cursive;
}

.navi .search_act{
    position: relative;
    height:40px;
    top: 15%;
}

.navi .search{
    position: absolute;
    width:10px;
    height: 10px;
    left:35%;
    top:20%;
}
.navi .search_bar{
    text-align: center;
    height: 70%;
    border:1px solid #D9D9D9;
    border-radius: 3px;
    background-color: #F3F3F3;
}

.navi .act{
    display: flex;
    justify-content: space-around;
    width:130px;
}

.navi .act .explore{
    width:20px;
    height: 20px;
}
.navi .act .like{
    width:20px;
    height: 20px;
}
.navi .act .user{
    width:20px;
    height: 20px;
}

.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width:900px;
    margin-top: 30px;
    margin: auto;
}

.main .feeds_box{
    width: 500px;
    height: 700px;
    border-radius: 3px;
    border:1px solid #D9D9D9;
}

.main .feeds_box #feed_account{
    width: 30px;
    height: 30px;
}

.main .feed{
    width:100%;
    height: 100%;
}

.main .feed .feed_account{
    height: 40px;
    padding: 7px;
    background-color: white;
}

.main .feed .feed_account span{
    background-color: blue;
}

.main .feeds_box .feed img{
    width:100%;
}

.main .feeds_box .feed .status{
    display: flex;
    width: 100%;
}

.main .feeds_box .feed .status img{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

.main .main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height:500px;
    background-color: #F3F3F3;
}

.main .main-right .profile{
    display: flex;;
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
}

.main .main-right .profile .wecode_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.main .main-right .profile .wecode_info{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 10px;
}

.main .main-right .profile .wecode_info .wecode_name{
    color:#868787;
}

.main .main-right .profile .wecode_info:first-child:first-child{
    font-size: 10px;
}

.main .main-right .story_list_img{
    width: 20px;
    height: 20px;
}

.main .main-right .recommend_list_img{
    width: 20px;
    height: 20px;
}

.main .main-right .story_list{
    width: 100%;
    height: 120px;
    padding:10px;
    border:1px solid #D9D9D9;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    font-size: 12px;
    color:#868787;
}

.main .main-right .story_list .story_list_info{
    display: flex;
    justify-content: center;
}

.main .main-right .story_list .story_list_img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.main .main-right .story_list .seeAll_1{ 
    margin-left: 150px;
    font-family: sans-serif;
    color:black;
}

.main .main-right .recommend{
    width: 100%;
    height: 200px;
    padding: 10px;
    border:1px solid #D9D9D9;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    font-size: 12px;
    color:#868787;
}

.main .main-right .recommend .recommend_list1_img{
    width: 20px;
    height: 20px;
}

.main .main-right .recommend .seeAll_2{
    margin-left: 90px;
    font-family: sans-serif;
    color:black;
}

.main .main-right .info{
    background-color: #F3F3F3;
    font-family: sans-serif;
    font-size: 10px;
    color:#C7C7C7;
}

body{
    background-color:#F3F3F3;
}

*{
    box-sizing: border-box;
}