@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding-top: 54px;
}

/* navbar */
nav {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-wrapper {
  width: 935px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: "Cookie", cursive;
  font-size: 30px;
  margin-right: 100px;
}

.nav-search {
  position: relative;
}

.nav-search input {
  width: 215px;
  height: 28px;
  background-color: #f9f9f9;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

.nav-search i {
  position: absolute;
  top: 8px;
  left: 79px;
  font-size: 12px;
}

.nav-search input::placeholder,
.nav-search i {
  color: #a0a0a0;
}

.nav-search input::placeholder {
  text-align: center;
  font-size: 13px;
}

.nav-search input:focus {
  padding-left: 25px;
  outline: none;
}

.nav-search input:focus ~ i {
  left: 10px;
}

.nav-search input:focus::placeholder {
  text-align: left;
}

.nav-icons {
  width: 198px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons i {
  font-size: 23px;
}

.nav-icons li {
  position: relative;
}

.nav-icons li:nth-child(2) i::after {
  content: "9+";
  position: absolute;
  top: -5px;
  right: -9px;
  padding: 3px;
  font-size: 12px;
  font-weight: bolder;
  background-color: #ea404c;
  border-radius: 8px;
  color: #ffffff;
}

.user-profile {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-color: #d6d6d4;
  border-radius: 50%;
  position: relative;
  top: 1.5px;
}

/* main  layout*/
.main-container {
  display: flex;
  justify-content: space-between;
  width: 935px;
}

main {
  width: 614px;
  height: 100%;
  /* background-color: lavender; */
  padding-top: 30px;
}

aside {
  width: 293px;
  height: 100%;
  background-color: #fff;
}

/* main-story */
.main-stories {
  width: 100%;
  height: 118px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 24px;
}

/* main-feed */
.main-feed {
  width: 100%;
  /* height: 849px; */
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 60px;
}

.main-feed header {
  height: 60px;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 14px;
}

.feed-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feed-info a {
  font-size: 14px;
  font-weight: 700;
  width: max-content;
}

.feed-info a:first-child {
  font-size: 14px;
  font-weight: 700;
}

.feed-info a:first-child:hover {
  text-decoration: underline;
}

.feed-info a:nth-child(2) {
  font-size: 12px;
  margin-top: 3px;
  font-weight: 400;
}

.main-feed header i {
  color: #5b5b5b;
  font-size: 15px;
}

.feed-image {
  width: 100%;
}

/* feed-comment */
.feed-comment {
  padding: 5px 12px;
}

.feed-icons {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 9px;
}

.feed-icons-left {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.feed-icons i {
  cursor: pointer;
}

.feed-likes {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.feed-comment-list li {
  margin-bottom: 2px;
}

.feed-comment-list li a {
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}

.feed-comment-list li span {
  font-size: 14px;
}

.feed-uploaded-time {
  font-size: 10px;
  color: #8e8e8e;
}

.main-feed form {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  padding: 0 12px;
}

.feed-comment-input {
  width: 100%;
  height: 18px;
  /* max-height: 80px; */
  border: none;
  font-family: inherit;
  resize: none;
  /* flex-grow: 1; */
}

.feed-comment-input:focus {
  outline: none;
}

.feed-comment-input::placeholder {
  color: #838383;
}

.feed-comment-submit {
  width: 40px;
  color: #008af5;
  background-color: inherit;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.feed-comment-submit:disabled {
  color: #b7defc;
  cursor: unset;
}

/* story */
.main-stories {
  display: flex;
  align-items: center;
  padding: 16px;
}

.main-stories ul {
  display: flex;
  overflow: scroll;
}

.main-stories ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-stories ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.main-stories ul li {
  margin-right: 15px;
}

.main-stories ul li a img {
  width: 60px;
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 5px;
}

.main-stories ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-profile-name {
  color: #262626;
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  max-width: 60px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

/* aside */
aside {
  position: sticky;
  top: 83px;
  margin-top: 30px;
  padding-top: 27px;
  background-color: inherit;
}

.my-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.my-profile img {
  width: 53px;
  border-radius: 50%;
  margin-right: 15px;
}

.my-profile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-profile-info span {
  font-size: 14px;
}

.my-profile-info span:first-child {
  color: #262626;
  margin-bottom: 3px;
  font-weight: 700;
}

.my-profile-info span:last-child {
  color: #8e8e8e;
  font-weight: 600;
}

.my-profile > span {
  color: #0095f6;
  font-size: 12px;
  font-weight: 600;
}

.recommend-profile > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.recommend-profile > div h4 {
  color: #8e8e8e;
  font-size: 14px;
}

.recommend-profile > div span {
  font-size: 12px;
  color: #262626;
  font-weight: 700;
}

.recommend-profile ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.recommend-profile ul li img {
  width: 33px;
  border-radius: 50%;
  margin-right: 15px;
}

.recommend-profile ul li div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommend-profile ul li > span {
  color: #0095f6;
  font-size: 12px;
  font-weight: 600;
}

.recommend-profile ul div span {
  font-size: 14px;
}

.recommend-profile ul div span:first-child {
  color: #262626;
  margin-bottom: 3px;
  font-weight: 700;
}

.recommend-profile ul div span:last-child {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 600;
}
