html,
body {
  overflow: auto;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-snow);
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-snow: #fafafa;
  --color-white-smoke: #efefef;
  --color-cyan-blue: #c4e0fb;
  --color-cobalt: #0f3568;
  --color-nobel: #949494;
  --color-suva-grey: #a7a7a7;
  --color-gainsoboro: #dbdbdb;
  --color-blue: #3395f6;
  --color-fun-green: #272727;
  --color-columbia-blue: #bee0fd;
  --color-grey: #8e8e8e;
  --color-right-blue: #5cabf3;

  --font-large: 80px;
  --font-medium: 50px;
  --font-semi-medium: 30px;
  --font-semi-small: 15px;
  --font-small: 13px;
  --font-small-x2: 11px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
}
