* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/* FLOAT & CLEAR-FIX */

.clear {
    clear: both;
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}
