body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN __ SLIDER */
main .slider {
    width: 454px;
    height: 618px;
    position: relative;
    display: none;
    margin-right: -16px;
    background: url('https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png')
        center center no-repeat;
}

main .slider li {
    position: absolute;
    top: 100px;
    left: 150px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

main .slider li.focus {
    opacity: 1;
}

main .slider li img {
    width: 100%;
}

/* MAIN __ ENTRY __ SIGN-IN */

main .entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .entry .sign-in {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ddd;
}

main .entry .sign-in__logo {
    width: 176px;
    height: 52px;
    margin: 22px 86.5px 12px;
    background: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png)
        0 -130px no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

main .entry .sign-in__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-top: 24px;
}

main .entry .sign-in__form input {
    outline: 0;
    border: 0;
    width: 100%;
    height: 36px;
    padding: 9px 0 7px 8px;
    margin-bottom: 6px;
    background: #fafafa;
    border: 1px solid #ddd;
    font-size: 12px;
}

main .entry .sign-in__form input::placeholder {
    color: #999;
}

main .entry .sign-in__form button {
    outline: 0;
    border: 0;
    height: 30px;
    margin: 8px 0;
    background: #b2dffc;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: initial;
}

main .entry .sign-in__form button.right {
    background: #0095f6;
    cursor: pointer;
}

main .entry .sign-in__thin-line {
    width: 100%;
    height: 15px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 10px 0 18px;
}

main .entry .sign-in__thin-line div {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-indent: -9999px;
}

main .entry .sign-in__thin-line span {
    width: 60px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: #fff;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

main .entry .sign-in__fb-button a {
    height: 20px;
    display: flex;
    margin-top: 14px;
}

main .entry .sign-in__fb-button--icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 6px;
    background: url('https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png') -413px -259px
        no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

main .entry .sign-in__fb-button--text {
    color: #385185;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

main .entry .sign-in__forgot-pw a {
    display: block;
    margin: 12px 0;
    color: #385185;
    font-size: 12px;
}

/* MAIN - ENTRY __ SIGN-UP */

main .entry .sign-up {
    width: 350px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
}

main .entry .sign-up__text {
    margin-right: 4px;
}

main .entry .sign-up__link {
    display: block;
    color: #0095f6;
    font-weight: bold;
}

/* MAIN - ENTRY __ QUICK-LINK */
main .entry .quick-link {
    width: 350px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .entry .quick-link__text {
    display: block;
    margin: 10px 20px;
    font-size: 14px;
}

main .entry .quick-link__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

main .entry .quick-link__icon-container span {
    width: 140px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;
}

main .entry .quick-link__icon-container .app-store {
    background: url('https://www.instagram.com/static/images/appstore-install-badges/badge_ios_korean-ko.png/4a5c9d62d51b.png')
        0 0 no-repeat;
    background-size: contain;
}

main .entry .quick-link__icon-container .google-play {
    background: url('https://www.instagram.com/static/images/appstore-install-badges/badge_android_korean-ko.png/f155b664a93b.png')
        0 0 no-repeat;
    background-size: contain;
}

main .entry .quick-link__icon-container a {
    height: 100%;
    display: block;
}

/* FOOTER */

footer {
    max-width: 1012px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .site-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .site-map {
    display: flex;
}

footer .site-map li a {
    display: block;
    padding: 0px 8px 8px;
    font-size: 12px;
    font-weight: bold;
}

footer .copyright {
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
}

/* MEDIA QUERIES */

@media (min-width: 875px) {
    main .main--left {
        display: block;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }

    footer .site-map li a {
        padding: 0px 8px;
    }

    footer .site-map-container {
        flex-direction: row;
    }
}
