* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fafafa;
}

/* 전체 페이지 레이아웃*/
article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 30px auto 30px;
}

/* 로그인 좌측 이미지 */

.loginImage {
  width: 454px;
  height: 618px;
  position: relative;
  background-image: url(../img/login_background1.png);
  background-size: cover;
}

.loginImage img {
  position: absolute;
  top: 100px;
  left: 150px;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.loginImage img:nth-of-type(2) {
  animation-delay: -4s;
}

.loginImage img:nth-of-type(3) {
  animation-delay: -2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 로그인 우측 패널 */
.loginPanel {
  margin-top: 30px;
  margin-right: 40px;
}

/* 로그인 화면 레이아웃 */
.login {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* forgot password 부분 */
.createAccount {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

.createAccount > p > span {
  color: blue;
  font-weight: 700;
}

/* 앱 다운로드 부분 */
.getApp img {
  width: 136px;
  height: 44px;
}

.getApp > p {
  text-align: center;
}

.appIcon {
  display: flex;
  justify-content: center;
}

/* 로고 */
.logo {
  text-align: center;
  margin: 20px 10px;
}

/* 로그인폼 */
.loginForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.loginForm > input {
  border: 1px solid#dbdbdb;
  border-radius: 5px;
  padding: 9px 0 7px 8px;
  background-color: #fafafa;
  margin-bottom: 5px;
}

.loginForm > button {
  height: 33px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  font-size: 16px;
}

/* 비밀번호 찾기 */
.passwordFind {
  margin-top: 40px;
  text-align: center;
}

.passwordFind p {
  color: #3b5988;
  font-weight: 700;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  margin: 40px 120px;
  align-items: center;
  font-size: 14px;
}

footer ul {
  width: 700px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

footer li {
  color: #3b5998;
  font-weight: 700;
  display: inline;
  list-style: none;
}
