* { 
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html, body {
    height:100%;
    background-color: #fafafa;
}

.wrap {
    display: flex;
    justify-content: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    display: flex;
    flex-grow: 1;
}

.innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 ;
    padding-bottom: 44px;
    max-width: 935px;
    width: 100%;
}

.sliderBox {
    background-image: url(../img/phone_img.png);
    background-size: cover;
    width: 454px;
    height: 618px;
}

.sliderImg {
    position: relative;
    margin-top: 99px;
    margin-left: 151px;
}

.sliderImg img {
    position: absolute;
    top: 0;
    right: 63px;
    width: 240px;
    height: 427px;
    opacity: 0;
    transition: opacity 2.5s ease-out;
}

.sliderImg .active {
    opacity: 1;
}

.loginBox .loginWrap{   
    padding: 10px 0; 
    margin-bottom: 10px;
    max-width: 350px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    background-color: #fff;
}

.loginBox h1 {
    overflow: hidden;
    margin: 22px auto 12px;
    background-image: url(../img/logo_text.png);
    background-size: cover;
    width: 175px;
    height: 51px;
    text-indent: 110%;
}

.loginForm {
    margin: 24px 0 10px 0;
    padding-top: 24px;
    width: 100%;
}

.formBox {
   margin: 0 40px;
}

.formBox input {
    padding: 9px 0 9px 9px;
    margin-bottom: 6px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 14px;
    color: #262626;
    outline: none;
}

.loginBox .btnBox {
    margin: 0 40px;
} 

.loginBox .btnBox .loginBtn {
    margin: 8px 0;
    padding: 6px 9px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
    background-color: rgba(0,149,246,.3);
    opacity: 1;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.lineWrap {
    display: flex;
    margin: 10px 40px 26px;
}

.lineWrap .line {
    display: flex;
    flex-grow: 1;
    margin-top: 7px;
    background-color: #dbdbdb;
    height: 1px;

}

.lineWrap .lineText {
    margin: 0 18px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: #8e8e8e;
}

.downloadApp {
    margin: 10px 20px 10px 20px;   
}

.downloadApp p {
    margin: 20px 20px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.downloadApp .downloadImg {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.downloadImg a {
    margin-right: 8px;
}

.downloadImg a:last-child {
    margin-right: 0;
}

.downloadImg img { 
    height: 40px;
}

.joinBox {
    padding: 6px 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.joinBox p {
    margin: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #262626;
}

.joinBox p a {
    color: #0095f6;
    font-weight: 600;
}

.loginPw {
    margin: 0 40px;
}

.loginPw .snsBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    width: 100%;
    border: 0;
    background: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.snsBtn .snsImg {
    display: inline-block;
    margin-right:8px;
    width: 16px;
    height: 16px;
    background-image: url(../img/facebook_img.png);
    background-size: cover;
}

.snsBtn .snsLogin {
    color: #385185;
    font-weight: 600;
    font-size: 14px; 
    line-height: 18px;
}

.loginPw a {
    display: flex;
    justify-content: center;
    color: #00376b;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.footer {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1012px;
    width: 100%;
}

.footerBox {
    padding: 38px 0;
    display: flex;
    justify-content: space-between;
}

.footerBox li {
    display: inline-block;
    margin-bottom: 7px; 
    margin-right: 16px;
}

.footerBox li a {
    color: #00376b;
    font-size: 12px;
    font-weight: 600;
}

.footerBox span {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 600;
}