/* common CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

button,
textarea {
  border: none;
  background-color: transparent;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  display: inline-block;
}
