* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* border color */
  --color-border: rgb(219, 219, 219);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-red: ;
}

body {
  width: 100%;
  height: 100vh;
}

/* main */

.mainPage {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 120px;
}

/* header-nav */

.header {
  border-bottom: 1px solid var(--color-border);
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 100;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 15px 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.headerNavLeftSideImg {
  width: 30px;
}

.headerNavLeftSideImg {
  margin-right: 7px;
}

.headerNavLeftSide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
}

.headerNavLeftSideTitle::before {
  display: inline;
  content: ' ';
  border-left: 1px solid var(--color-black);
  width: 10px;
  height: 20px;
  margin-right: 10px;
}

.headerNavLeftSideTitle {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  color: var(--color-black);
  text-align: center;
  font-size: 23px;
}

.headerNavCenter {
  position: relative;
}

.headerNavCenter .fa-search {
  color: var(--color-border);
  position: absolute;
  left: 30%;
  top: 30%;
}

.headerNavInput {
  padding: 8px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-border);
}

.headerNavRightSide {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.headerNavRightSide button:nth-child(2),
.headerNavRightSide button:last-child {
  background-color: transparent;
  cursor: pointer;
}

.headerNavRightSideImg1,
.headerNavRightSideImg2,
.headerNavRightSideImg3 {
  width: 30px;
}

/* section-article */

.sectionArticle {
  border: 1px solid var(--color-border);
  margin-right: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.sectionArticleUser {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.sectionArticleUser div {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.sectionArticleUserImg {
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.sectionArticleUsername {
  color: var(--color-black);
  font-weight: 500;
}

.sectionArticleModal {
  background-color: transparent;
  font-size: 20px;
}

.sectionArticleImg {
  width: 100%;
}

.sectionArticleIconbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 5px;
}

.sectionArticleIconbar .far {
  font-size: 30px;
  cursor: pointer;
}

.section .sectionArticleIconbarLeftSide {
  display: flex;
}

.sectionArticleLikeButton,
.sectionArticleCommentButton {
  margin-right: 15px;
}

.sectionArticleCommentlistScroll {
  overflow: auto;
  height: 50px;
}

.sectionArticleCommentlistScroll::-webkit-scrollbar {
  display: none;
}

.sectionArticleCommentList {
  margin-bottom: 20px;
}

.sectionArticleSinceCommentTime {
  opacity: 0.5;
}

.sectionArticleContainer {
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-border);
}

.sectionArticleLikeNumber {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}

.sectionArticleUserlink,
.sectionArticleFanslink {
  font-weight: 700;
}

.sectionArticleShowFullComment {
  font-size: 16px;
  opacity: 0.5;
  cursor: pointer;
}

.sectionArticleCommentContents {
  display: flex;
  justify-content: space-between;
}

.sectionArticleCommentContents .fa-smile {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.sectionArticleCommentLinkButton {
  opacity: 0.5;
  cursor: pointer;
}

/* section-article-commentInput */
.sectionArticleCommentInput {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
}

.sectionArticleCommentInput::-webkit-scrollbar {
  display: none;
}

.sectionArticleCommentContents {
  display: flex;
  line-height: 30px;
}

.sectionArticleCommentUpload {
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 149, 246);
  opacity: 0.5;
  width: 80px;
}

.sectionArticleCommentUpload.active {
  opacity: 1;
}

.sectionArticleCommentUpload.active:hover {
  cursor: pointer;
}

/* aside */

.aside {
  width: 400px;
  position: sticky;
  top: 120px;
  height: 1px;
}

.asideTop {
  display: flex;
  margin-bottom: 20px;
}

.asideTopImg {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.asideTopContents {
  display: flex;
  flex-direction: column;
}

.asideTopContents a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.asideCenterContainer {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px;
  height: 200px;
  overflow: auto;
}

.asideCenterTopbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  margin-bottom: 10px;
  top: 0;
  background-color: white;
}

.asideCenterContents div {
  display: flex;
}

.asideCenter div:first-child a {
  margin-right: 10px;
}

.asideCenterContentImg {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.asideCenterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.asideCenterContent::-webkit-scrollbar {
  display: none;
}
