*{
    box-sizing: border-box;
    margin: 0;
    background-color: #FAFAFA;
}

/* nav 맨위 */
nav{
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #FAFAFA;
    
}

.nav-container {
    margin: 0 auto;
    width: 975px; 
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.nav-left img{
    width: 103px;
    height: 29px;
    position: relative;
    top: 5px;
}

.nav-center{
    position: relative;
}

.nav-center input {
    width: 230px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid lightgray;
}

input::placeholder{
    text-align: center;
}

input:focus{
    outline: none;
}

.nav-right{
    width: 230px;
    border: 1px solid red;
}

.nav-right img {
    height: 24px;
    width: 24px;
    margin-left: 14px;
}

.nav-right img:nth-child(5){
    border-radius: 50%;
    position: relative;
}

/* main */
main {
    background-color: #FAFAFA;
    width: 100%;
    margin: 0 auto;
}

.main-container {
    padding-top: 5%;
    display: flex;
}

/* main 왼쪽 */
.feeds {
    width: 614px;
    border: 2px solid #FAFAFA;
}

.feed1-writer-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    
}

#feed1-writer-photo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
}

#feed1-writer-id{
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}

#feed1-photo{
    width: 614px;
    height: 614px;
}

article {
    height: 100%;
    width: 100%;
    background-color: white;    
}

.article-icon{
    display: flex;
    justify-content: space-between;
}

.article-icon img{
    padding-left: 8px;
    height: 24px;
    width: 24px;
}



.comment{
    border-top: 2px solid #FAFAFA;
    width: 614px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.comment input{
    width: 554px;
    border: 0px solid white;
}

.comment input:focus{
    outline:none;
}

/* main오른쪽 */
.main-right{
    width: 355px;
}

.main-right-container{
    position: sticky;
    top: 105px;
}

.main-right-myProfile img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.main-right-myProfile {
    display: flex;
    margin-left: 30px;
}

.main-right-myProfile-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    font-size: 13px;
}

.recomand{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 13px;
}

#recomand-forYou{
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

#recomand-all{
    font-weight: bold;
}

.friends {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}


#friend1-photo{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.friend1{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: 13px;
}

.friend1-id{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.follow{
    color: #3d92ed;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .main-right{
        display: none;
    }
  }

  .search-container{
    position: relative;
  }

  .search-container ul{
      border: 2px solid black;
      height: 200px;
      width: 240px;
      position: absolute;
      display: none;
      z-index: 100;
      background-color: white;
      overflow: scroll;
      padding: 0;
  }

  .search-container ul li{
      padding: 5px;
      list-style: none;
      border-bottom: 1px solid gray;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
  }

  .search-container ul img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 4px;
  }

  .menu-box {
    border: 2px solid lightgray;
    height: 200px;
    width: 240px;
    display: none;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 40px;
    z-index: 100;
  }

  .menu-box ul {
      padding: 10px;
      list-style: none;
  }

  .menu-box ul li {
      padding: 5px;
  }

  .menu-box ul li:nth-child(4){
      border-top: 1px solid;
  }

  .div-p ul{
      padding-left: 12px;
  }

  .nav-right>div{
      margin: 100px;
      position: relative;
  }