@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Variable(global) */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-white-grey: #fafafa;
  --color-grey: #dbdbdb;
  --color-dark-grey: #8e8e8e;
  --color-white-blue: #c0dffd;
  --color-blue: #0095f6;
  --color-dark-blue: #385185;
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-white-grey);
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  width: 100%;
  margin-bottom: 6px;
  padding: 10px;
  background-color: var(--color-white-grey);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  outline: none;
}

input::placeholder {
  font-size: 12px;
}

/* Typography */
h1 {
  font-family: "Loved by the King", cursive;
}

/* Login form */
#loginForm {
  position: relative;
  top: 33px;
  width: 348px;
  height: 380px;
  padding: 10px 40px 0px 40px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
}

.loginForm__container {
  display: flex;
  flex-direction: column;
}

.loginForm__logo {
  margin: 20px 0px 30px 0px;
  font-size: 40px;
  text-align: center;
}

.loginForm__btn {
  margin-top: 10px;
  padding: 6px 0px;
  color: var(--color-white);
  background-color: var(--color-white-blue);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.loginForm__divide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm__divide__line {
  width: 100px;
  border-bottom: 1px solid var(--color-grey);
}

.loginForm__divide__text {
  margin: 15px 18px;
  color: var(--color-dark-grey);
  font-size: 13px;
  font-weight: 500;
}

.change-btn {
  background-color: var(--color-blue);
}

.loginForm__forget {
  display: flex;
  justify-content: center;
}

.loginForm__forget__text {
  position: absolute;
  bottom: 15px;
  color: var(--color-dark-blue);
  font-size: 11px;
}

.loginForm__facebook {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: var(--color-dark-blue);
}

.loginForm__facebook__icon {
  margin-right: 8px;
  font-size: 18px;
}

.loginForm__facebook__text {
  font-size: 14px;
  font-weight: 700;
}
