@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color:#fafafa;
}
 /* nav css */
nav{
    width:100%;
    height:55px;
    background-color:#fff;
    border-bottom :1px solid #ddd;
    position:fixed;
    top:0;
    z-index:1;
}

nav ul{
    margin:auto;
    height:inherit;
    width:60%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size:25px;
    margin-top:-5px;
}

.logo-icon i {
    font-size :24px;
}

.search-wrap {
    position:relative;
}
.search-wrap input {
    width:200px;
    height:30px;
    border:1px solid #ddd;
    background-color:#fafafa;
    outline:none;
    border-radius: 5px;
}

.search-wrap i {
    color:#888;
    font-size:12px;
    position:absolute;
    left:70px; top:9px;
}

.search-wrap input::placeholder{
    text-align:center;
}

.icon {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left:-30px;
}

.icon li {
    position:relative;
    margin-left:15px;
}

.icon li:nth-child(2):after {
    width:4px;
    height:4px;
    border-radius:50%;
    content:"";
    background-color:red;
    position:absolute;
    top:30px;
    right:10px;
}
.icon li a img{
    width:25px;
    height:25px;
}

.icon li:last-child a img {
    border-radius: 50%;
}

/* main css */

main {
    width:60%;
    height:auto;
    margin:auto;
    margin-top:55px;
}

.main-left {
    width:60%;
    height:auto;
    margin-right:30px;
}

.story-wrap {
    width:100%;
    height:120px;
    background-color:#fff;
    margin-top:90px;
    margin-bottom:30px;
    border:1px solid #ddd;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    overflow: hidden;
    position:relative;
}

.story-wrap li {
    height:80px;
    margin-left:20px;
    transition:all 3s;
    position: relative;
}

.story-wrap li:first-child {
    margin-left:20px;
}

.story-update {
    width:100%;
    height:100%;
    border-radius:50%;
    border: 1px solid #ddd;
}
.story-wrap li :after {
    width:64px;
    height:64px;
    border:1px solid #ddd;
    border-radius: 50%;
    content:"";
    position:absolute;
    top:-3px; left:-3px;
}

.story-list li:nth-child(1)::after,
.story-list li:nth-child(2)::after {
    border-color: linear-gradient( 45deg, yellow, red );
}
.story-wrap li a img {
    width:100%;
    width:60px;
    height:60px;
    border-radius:50%;
    margin-bottom:5px;
}

.story-id{
    font-size:13px;
    text-align:center;
    color:#888;
}

.next {
    width:25px;
    height:25px;
    position:absolute;
    transform: translateX(50%);
    left:90%;
    background-color:#fff;
    border-radius: 50%;
    z-index:5;
    text-align:center;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888;
}

.next i {
    color:#ddd;
    line-height:25px;
}
.feeds-wrap {
    position:relative;
}

.feeds {
    width:100%;
    height:auto;
    border:1px solid #ddd;
    background-color:#fff;
    margin-top:30px;
}

article {
    width:100%;
    height:auto;
}

.feeds-header {
    width:100%;
    height:55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.feeds-idwrap {
    width:100%;
    height:inherit;
}

.feeds-idwrap ul{
    width:22%;
    height:inherit;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.feeds-idwrap ul .mini-profile {
    margin-left:20px;
}

.feeds-idwrap ul .mini-profile img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.feeds-idwrap ul .mini-id {
    font-weight: 600;
    font-size:16px;
    margin-left:20px;
}

.feeds-idwrap ul .mini-id a {
    text-decoration: none;
    color:#000;
}

.feeds-header .more {
    margin-right:20px;
    font-size:15px;
    cursor:pointer;
}

article > img {
    width:100%;
    height:auto;
}

.feeds-bottom {
    width:100%;
    height:auto;
}

.feeds-bottom ul {
    width:97%;
    height:45px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.feeds-bottom button {
    background-color:#fff;
    border:none;
}

.feeds-bottom button i {
    font-size:22px;
}

.feeds-iconbox {
    width:100%;
    height:40px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.feeds-iconbox li {
    margin-left:20px;
}
.feeds-iconbox li:first-child {
    margin-left:0;
}

.heart-count {
    width:94%;
    margin:auto;
    height:30px;
    margin-bottom:10px;
}

.heart-count img {
    width:25px;
    height:25px;
    border-radius:50%;
    float:left;
}

.heart-count p {
    line-height:25px;
    margin-left:30px;
}

.heart-count p span {
    font-weight:700;
}

.comment {
    width:100%;
    height:auto;
}

.author-content {
    width:94%;
    margin:auto;
    display:flex;
    justify-content: flex-start;
    margin-bottom:10px;
}

.friend-content {
    width:94%;
    margin:auto;
    display:flex;
    justify-content: flex-start;
    position:relative;
}

.chat-id {
    font-weight:700;
    margin-right:10px;
}

.author-content .morechat {
    color:#888;
}

.friend-content button {
    position:absolute;
    top:-5px;
    right:0;
}

.friend-content button img {
    width:15px;
    height:15px;
}

.time {
    font-size:12px;
    margin:15px 18px;
    color:#888;
}

.comment-write {
    width:94%;
    height:50px;
    margin:auto;
    display:flex;
    align-items: center;
    border-top:1px solid #ddd;
}

.comment-write li{
    float:left;
    margin-right:20px;
}

.comment-write li:nth-child(2) {
    width:80%;

}
.comment-write li:nth-child(3) {
    margin-right:0;
} 
.comment-write li i {
    font-size:30px;
}

.comment-write li input {
    width:100%;
    height: 40px;
    border:none;
    font-size:20px;
    outline:none;
}

.comment-write li button {
    background-color:#fff;
    border:none;
    font-size:16px;
    color:#0094f64b;
}

.comment-write li input::placeholder{
    font-size:14px;
}

/* main-right style */

.main-right {
    width:22%;
    height:600px;
    margin-top:90px;
    position:fixed;
    top:0;
    right:20%;
}

.recommend-header {
    margin-top:5px;
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.recommend-header li {
    position:relative;
}

.recommend-header li:nth-child(2) {
    margin-left:-25%;
}

.recommend-header .log-out {
    width:30%;
    justify-self: end;
}

.recommend-blue{
    font-size:12px;
    font-weight:600;
    color:#0094f6;
    text-align:right;
}

.recommend-header-id {
    font-weight:700;
}
.recommend-header li:first-child::after {
    width:64px;
    height:64px;
    border:1px solid #ddd;
    border-radius: 50%;
    content:"";
    position:absolute;
    top:-3px; left:-3px;
}
.recommend-header li a img {
    width:100%;
    width:60px;
    height:60px;
    border-radius:50%;
    margin-bottom:5px;
}

.recommend-title {
    width:100%;
    height:40px;
    margin-bottom:5px;
}
.recommend-title-left {
    float:left;
    font-size:14px;
    color:#888;
    font-weight:700;
}
.recommend-title-right {
    float:right;
    font-size:12px;
    font-weight:600;
}

.friend-list {
    width:100%;
    height:300px;
}

.friend-list {
    width:100%;
    height:auto;
}

.friend-list ul {
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:relative;
}

.friend-list ul li {
    margin-bottom:10px;
}
.friend-list ul li:nth-child(2) {
    position:absolute;
    left:15%;
}

.friend-list ul li img {
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-top:2px;
    margin-right:20px;
}

.friends-id {
    font-size:15px;
    font-weight:700;
}

.friends-follow {
    margin-top:6px;
    font-size:13px;
    color:#888;
}