/* COMMON & WRAP */
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 30px;
}

.user-img {
  border-radius: 50%;
  border: 1px solid #DBDBDB;
  object-fit: cover;
}
em.user-name {
  font-weight: 600;
  font-size: 14px;
}
.gradient-back {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border-radius: 50%;
}


/* HEADER */
.top-header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 30px;
}
.top-header .top-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 934px;
  padding: 12px 0;
}
h1 {
  margin-right: 82px;
  font-size: 26px;
  cursor: pointer;
}
.search-container {
  position: relative;
}
.search-container input {
  width: 215px;
  padding: 7px 0 7px 26px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  font-size: 13px;  
}
.search-container input::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -57%);
}
.search-container i {
  position: absolute;
  top: 10px;
  left: 82px;
  font-size: 11px;
}
.search-container input:focus::placeholder {
  left: 38px;
}
.search-container input:focus + i {
  left: 10px;
}
.search-container .search-result {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  background: white;
  z-index: 9999;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 13px;
}
.search-container .search-result li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.search-container .search-result li + li {
  border-top: 1px solid #DBDBDB;
}
.search-container .search-result li img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.search-container .search-result li em {
  font-size: 12px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  cursor: pointer;
}
nav > ul > li + li {
  margin-left: 20px;
}
nav ul li i {
  font-size: 22px;
}
nav .my-profile-btn {
  position: relative;
}
nav .my-profile-btn .my-profile-menu {
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: -5px;
  width: 200px;
  border-radius: 5px;
  background: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 13px;
  cursor: default;
  z-index: 9999;
}
nav .my-profile-btn .my-profile-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #DBDBDB;
}
nav .my-profile-btn .my-profile-menu ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 14px;
}
nav .my-profile-btn .my-profile-menu ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-right: 10px;
}
nav .my-profile-btn .my-profile-menu div {
  padding: 10px 20px;
}
nav .my-profile-btn .my-profile-menu div span {
  cursor: pointer;
}


/* MAIN */
main {
  display: flex;
  justify-content: center;
}

/* contents container */
.contents-container {
  margin-right: 28px;
  width: 612px;
}
/* contents-container > story-container */
.story-container {
  position: relative;
  padding: 16px 0 16px 10px;
  margin-bottom: 24px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}
.story-container ul {
  position: relative;
  display: flex;
  overflow: hidden;
}
.story-container ul li {
  display: flex;
  flex-direction: column;
  width: 66px;
  margin: 0 7px;
  cursor: pointer;
}
.story-container ul li .gradient-back {
  position: relative;
  width: 64px;
  height: 64px;
}
.story-container ul li .gradient-back .user-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 59px;
  height: 59px;
  background: white;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}
.story-container ul li span {
  font-size: 12px;
  margin-top: 5px;
}

/* contents-container > feed */
.feed {
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}

/* contents-container > feed > feed-header */
.feed-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.feed-header .feed-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.feed-header .feed-user img {
  width: 36px;
  height: 36px;
}
.feed-header .feed-user em {
  margin-left: 14px;
}
.feed-header .feed-more .dots {
  display: flex;
  justify-content: space-between;
  width: 16px;
  padding: 15px 6px 10px;
  box-sizing: content-box;
  cursor: pointer;
}
.feed-header .feed-more .dots i {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #262626;
}

/* contents-container > feed > feed-contents */
.feed-contents {
  border-bottom: 1px solid #DBDBDB;
}

.post-img-container {
  font-size: 0;
}
.post-img-container img {
  width: 100%;
}

.post-desc-container {
  padding: 8px 16px 40px;
}
.post-desc-container .feed-btns {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 8px;
}
.post-desc-container .feed-btns button i  {
  font-size: 23px;
}
.post-desc-container .feed-btns .feed-btns-left button{
  margin-right: 8px;
}

.post-desc-container .sum-like {
  margin: 0 0 10px;
  font-weight: 600;
}

.post-desc-container .feed-details {
  position: relative;
}
.post-desc-container .feed-details .detail-text {
  display: flex;
  margin-bottom: 6px;
}
.post-desc-container .feed-details .user-name {
  margin-right: 7px;
}
.post-desc-container .feed-details .detail-text .text-contents {
  height: 18px;
  margin-top: -1px;
  line-height: 1.4;
}
.post-desc-container .feed-details .detail-text .post-more-btn {
  margin-left: 10px;
  font-weight: 600;
  cursor: pointer;
}
.post-desc-container .feed-details .detail-time {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 11px;
}
.post-desc-container .feed-details .detail-comments .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-desc-container .feed-details .detail-comments .comment span {
  width: 100%;
}
.post-desc-container .feed-details .detail-comments .comment div {
  display: flex;
}
.post-desc-container .feed-details .detail-comments .comment + .comment {
  margin-top: 3px;
}
.post-desc-container .feed-details .detail-comments .comment i {
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
}

/* feed-comments-input */
.feed-comments-input {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.feed-comments-input input {
  width: 70%;
}


/* ASIDE */
/* aside > .my-container */
.my-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.my-container .img-container {
  margin-right: 15px;
} 
.my-container .img-container img {
  width: 56px;
  height: 56px;
}
.my-container .my-info p {
  margin-top: 3px;
}

/* aside > .recommend-container */
.recommend-container {
  padding-bottom: 18px;
}
.recommend-container .recommend-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.recommend-container .recommend-top {
  font-weight: 600;
}
.recommend-container .recommend-top button {
  font-weight: 600;
  font-size: 12px;
}
.recommend-container .recommend-bottom  ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.recommend-container .recommend-bottom ul li .img-container {
  margin-right: 8px;
}
.recommend-container .recommend-bottom ul li .img-container img {
  width: 32px;
  height: 32px;
}
.recommend-container .recommend-bottom ul li .recommended-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 204px;
  height: 30px;
}
.recommend-container .recommend-bottom ul li .recommended-info .grey-letter {
  font-size: 12px;
}
.recommend-container .recommend-bottom ul li button {
  font-size: 12px;
}


/* FOOTER */
footer {
  width: 294px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
footer ul li {
  position: relative;
  padding: 3px 0;
}
footer ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  width: 1px;
  height: 1px;
  background: #8E8E8E;
  border-radius: 50%;
}
footer ul li + li {
  margin-left: 8px;
}
footer ul li:nth-child(7) {
  margin-left: 0;
}
footer ul li:last-of-type::after {
  background: transparent;
}


/* media query */

/* 1129px이하*/
@media screen and (max-width: 1129px) {
  .top-header .top-header-contents {
    width: 900px;
  }
}

/* 974px 이하 */
@media screen and (max-width: 974px) {
  .contents-container {
    margin: 0;
  }
  .right-container {
    display: none;
  }
  .top-header .top-header-contents {
    width: 90%;
  }
}

/* 699px 이하 */
@media screen and (max-width: 699px) {
  .top-header {
    margin-bottom: 10px;
  }
  .search-container {
    display: none;
  }  
}

/* 634px 이하 */
@media screen and (max-width: 634px) {
  .top-header {
    margin-bottom: 2px;
  }
  .contents-container {
    width: 100%;
  }
  .contents-container .story-container {
    width: 100vw;
  }
  .feeds-container .feed {
    border: none;
  }
  .feed-contents {
    border-bottom: none;
  }
  .post-img-container img {
    width: 100%;
  }
  .post-desc-container {
    padding: 8px 20px 40px;
  }
  .feed-comments-input {
    display: none;
  }
}
