.mainWrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #fafafa;
}

.mainBoxWrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    max-width: 935px;
}

.mainBox{
    height: 100%;
    width: 100%;
    max-width: 614px;
    margin-right: 28px;
}

.feedWrapper{
    height:100%;
    width: 612px;
    background-color: white;
}

.feedBox{
    border: 0.5px solid #c9c9c9;
}

.feedHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.feedLeftBox{
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 15px;
}

.feedLeftBox .profile{
    height: 30px;
    width: 30px;
}

.feedLeftBox a{
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
}

.feedRightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.feedImgBox img{
    height: 100%;
    width: 100%;
}

.footerIconBox{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.footerLeft, .footerRight{
    display: flex;
    align-items: center;
}

.footerLeft > *, .footerRight > *{
    height: 24px;
    width: 24px;
    margin: 10px;
}

.likeBox{
    height: 18px;
    margin-bottom: 8px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
}

.commentBox{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    font-size: 14px;
}

.comment{
    display: flex;
}

.delBtn{
    width: 14px;
    margin-left: 10px;
}


.commentBox a{
    margin-right: 10px;
    font-weight: 600;
}

.inputCommentBox{
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}

.inputCommentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.smileButton{
    padding: 8px 16px 8px 0;
    height: 40px;
    width: 40px;
    background-color: white;
}

.inputComment{
    padding: 0;
    resize: none;
}

.submitButton{
    height: 40px;
    width: 40px;
    background-color: white;
    color: #b2dffc;
    font-size: 14px;
}
