.mainWrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #fafafa;
}

.mainBoxWrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 100%;
    width: 100%;
    max-width: 935px;
}

.mainBox{
    height: 100%;
    width: 100%;
    max-width: 614px;
    margin-right: 28px;
}

.feedWrapper{
    height:100%;
    width: 612px;
}

.feedBox{
    border: 0.5px solid #c9c9c9;
}

.feedHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.feedLeftBox{
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 40px;
}

.feedLeftBox .profile{
    height: 30px;
    width: 30px;
}

.feedLeftBox a{
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
}

.feedRightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.feedImgBox{
    height: 600px;
}

.feedImgBox img{
    height: 100%;
    width: 100%;
}

.footerIconBox{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.footerLeft, .footerRight{
    display: flex;
    align-items: center;
}

.footerLeft > *, .footerRight > *{
    margin: 10px;
    height: 24px;
    width: 24px;
}

.likeBox{
    margin-bottom: 8px;
    padding: 0 16px;
    height: 18px;
    font-size: 14px;
    font-weight: 600;
}

.commentBox{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    font-size: 14px;
}

.commentBox a{
    margin-right: 10px;
    font-weight: 600;
}

.inputCommentBox{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 56px;
}
.inputCommentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.smileButton{
    padding: 8px 16px 8px 0;
    background-color: white;
    height: 40px;
    width: 40px;
}

.inputComment{
    resize: none;
    padding: 0;
}

.submitButton{
    height: 40px;
    width: 40px;
    background-color: white;
    font-size: 14px;
    color: #b2dffc;
}

.recommendBox{
    position: sticky;
    height: 100vh;
    width: 100%;
    max-width: 293px;
    background-color: violet;
}