.navWrapper{
    background-color: aqua;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 50px;
}

.navContentWrapper{
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    height: 100%;
    padding: 0 20px;
    max-width: 975px
}

.navLogoBox{
    display: flex;
    align-items: center;
    height: 100%;
    width: 360px;

}

.navInput{
    display: flex;
    align-items: center;
    height: 100%;
    width: 215px;
    background-color: violet;
}

.navIcon{
    display: flex;
    align-items: center;
    height: 100%;
    width: 360px;
    background-color: teal;
}

.iconBox {
    display: flex;
    justify-content: flex-end;
    height: 22px;
    width: 360px;
}

.iconBox img, div{
    margin-left: 5px;
}

.navIcon img{
    height: 100%;
    width: 22px;
}

.profile {
    border-radius: 10px;
    height: 100%;
    width: 22px;
    background-image: url("../images/juyoung.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}