:root {
  /* Color */
  --lightgray-color: #fafafa;
  --bordergray-color: rgb(221, 218, 218);
}
a {
  text-decoration: none;
}

body {
  background-color: var(--lightgray-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main div */
main {
  position: relative;
  width: 348px;
  height: 348px;
  background-color: white;
  border: 1px solid var(--bordergray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 10;
  font-family: "Lobster", cursive;
  margin-top: 30px;
}
/* Login box */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}

.login_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id_pw:focus {
  outline: 1px solid rgb(204, 198, 198);
  border-radius: 3px;
}

.id_pw {
  background-color: var(--lightgray-color);
  width: 258px;
  height: 30px;
  border: 1px solid var(--bordergray-color);
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 3px 10px;
}
.id_ph,
.pw_ph {
  font-size: 12px;
  color: rgb(150, 148, 148);
}

.login_btn:focus {
  border: 0;
}
.login_btn:hover {
  cursor: pointer;
}
.login_btn {
  width: 280px;
  height: 32px;
  background-color: #c0dffd;
  margin-top: 7px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

/* forgot */
.forgotBox {
  color: #385185;
  position: absolute;
  bottom: 25px;
  font-size: 12px;
}
a:visited {
  color: #385185;
}
