* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

label {
  cursor: text;
}

div.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 348px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
}

h1 {
  height: 51px;
  margin-top: 22px;
  margin-bottom: 12px;
  font-family: "Lobster", "cursive";
  font-size: 42px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.enter {
  position: relative;
  width: 266px;
  height: 36px;
  margin-bottom: 8px;
}

.input {
  width: 266px;
  height: 36px;
  margin-bottom: 6px;
  padding: 9px 0 7px 8px;
  background-color: #fafafa;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  outline: none;
}

.entered {
  width: 266px;
  height: 36px;
  padding: 14px 0 2px 8px;
}

.form-description {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #8e8e8e;
  font-size: 12px;
  text-align: center;
}

.hidden {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-weight: bold;
  border: none;
}

.invisible {
  display: none;
}

.focused {
  position: absolute;
  top: 25%;
  transition-property: font-size;
  font-size: 7px;
}

a.forgotPw {
  width: 100%;
  height: 14px;
  margin-top: 12px;
}

.login.btn {
  width: 268px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0, 149, 246, 0.3);
  color: white;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.active {
  background-color: rgb(0, 149, 246) !important;
}

.loginOption {
  width: 268px;
}

.loginOption > p {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 18px;
  color: rgb(142, 142, 142);
  font-size: 13px;
}

.loginOption > p::before {
  content: "";
  flex-grow: 1;
  background: rgb(219, 219, 219);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin-right: 18px;
}

.loginOption > p::after {
  content: "";
  flex-grow: 1;
  background: rgb(219, 219, 219);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin-left: 18px;
}

.facebook {
  display: flex;
  justify-content: center;
  width: 268px;
  height: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.facebook > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.facebook > span {
  color: rgb(56, 81, 133);
  font-size: 14px;
  font-weight: bold;
}

a.forgotPW {
  margin: 10px 0px;
  text-decoration: none;
  color: rgb(56, 81, 133);
  font-size: 12px;
}

div.create-account {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  
}

.create-account > p {
  margin: 15px;
  font-size: 14px;
  text-align: center;
}

.create-account > p > a {
  color: rgb(0, 149, 246);
  font-weight: bold;
  text-decoration: none;
}
