* {
  margin: auto;
  background-color: #fafafa;
}

.wrap {
  width: 100vh;
  height: 100vh;
  -border: 1px solid black;
  background-color: #fafafa;
  padding-top: 50px;
}

header {
  -border: 1px solid black;
  background-color: #fafafa;
  height: 600px;
}

.main {
  border: 1px solid #dbdbdb;
  width: 360px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-color: white;
  margin-bottom: 30px;
}

.main img {
  width: 210px;
  height: auto;
}

.main input {
  background-color: #fafafa;
  color: #8e8e8e;
  width: 270px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 12px;
}

#log-id {
  margin-top: 30px;
}

#log-pass {
  margin: 5px auto;
}

#login {
  background-color: #b2dffc;
  color: white;
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px auto;
}

#login.active {
  background-color: #0095f6;
}

.or {
  -border: 1px solid black;
  width: 275px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px auto;
}

.box1 {
  -border: 1px solid black;
  color: #8e8e9d;
  text-align: center;
  width: 100px;
  font-size: 13px;
  font-weight: bold;
}

.or hr {
  margin: 0;
  width: 100px;
  border-color: #dbdbdb;
}

.facebook {
  -border: 1px solid black;
  width: 180px;
  color: #385185;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin: 20px auto;
}

.fa-facebook-square {
  font-size: 20px;
}

.facebook a {
  text-decoration: none;
  color: #385185;
}
.lost {
  font-size: 13px;
  margin-bottom: 20px;
}

.lost a {
  text-decoration: none;
  color: black;
}

.join {
  border: 1px solid #dbdbdb;
  width: 320px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  font-size: 14px;
}

.join a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.download {
  -border: 1px solid black;
  width: 360px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin: 20px auto;
}

.down {
  -border: 1px solid black;
  width: 360px;
  text-align: center;
  font-size: 14px;
}

.downbox {
  margin: 20px auto;
}

.download .apple {
  width: 130px;
}

.download .google {
  width: 130px;
}

footer {
  margin-bottom: 50px;
}

.imformation {
  -border: 1px solid black;
  text-align: center;
  margin-top: 40px;
}

.imformation a {
  text-decoration: none;
  font-size: 12px;
  color: #8e8e8e;
}

.addimfor {
  -border: 1px solid black;
  text-align: center;
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 30px;
}

select {
  border: none;
  display: inline;
  color: #8e8e8e;
}

address {
  -border: 1px solid black;
  display: inline;
}
