body {
  background-color: #fafafa;
}

nav {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10000;
  background-color: #fff;
  position: fixed;
}

.nav-box {
  display: flex;
  width: 975px;
  height: 54px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 103px;
  height: 54px;
  display: flex;
}

.logo a {
  margin: 0;
  padding: 0;
  border: 0;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.search-box {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  position: relative;
  align-items: center;
}

.search {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  text-align: center;
}

.search:focus {
  outline: none;
  text-align: left;
  text-indent: 25px;
}

.search::placeholder {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 300;
}

.search-icon {
  position: absolute;
  left: 78px;
  font-size: 10px;
  color: #8e8e8e;
}

.nav-btn-box {
  display: flex;
}

.nav-btn {
  height: 22px;
}

.nav-btn svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 24px;
  cursor: pointer;
}

.nav-btn img {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  margin-left: 24px;
  cursor: pointer;
}

.nav-profile-img img {
  border-radius: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 24px;
}

main {
  width: 935px;
  margin: 0 auto;
  padding-top: 84px;
  display: flex;
  justify-content: space-between;
}

article {
  width: 100%;
  max-width: 614px;
  margin-right: 28px;
}

ul {
  display: flex;
}

.feed-story {
  height: 122px;
  padding: 16px 0 16px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 24px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.story-list {
  list-style: none;
  padding: 0 10px;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.story-profile-img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(to left, orange, red);
  margin-bottom: 8px;
}

.story-profile-img img {
  border-radius: 100px;
  width: 56px;
  height: 56px;
  margin-top: 2px;
  margin-left: 2px;
  border: 2px solid #fff;
}

.story-list span {
  font-size: 14px;
  color: #262626;
}

.feeds {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  margin-bottom: 60px;
}

header {
  display: flex;
  height: 60px;
  padding: 16px;
  align-items: center;
}

.feed-profile-img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feeds-profile-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
}

.feeds-profile-id {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.dots-box {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-box img {
  width: 24px;
  height: 24px;
}

.img-box img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.feed-icon-box {
  display: flex;
  justify-content: space-between;
}

.feed-icon-left {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.icon-box {
  width: 36px;
  height: 36px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box:last-child {
  margin-right: 10px;
}

.icon-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.heart {
  visibility: visible;
}

.fillheart {
  font-size: 24px;
  position: absolute;
  margin-left: 6px;
  margin-top: 7px;
  color: rgb(237, 73, 86);
  visibility: hidden;
  cursor: pointer;
}

.like-count {
  margin: 0 0 8px;
  margin-top: 5px;
  padding: 0 16px;
}

.like-count p {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

.feed-article {
  padding: 0 16px;
}

.feed-article p {
  line-height: 18px;
}

.feed-article-id {
  font-size: 14px;
  font-weight: 700;
}

.feed-article-comment {
  font-size: 14px;
  font-weight: 400;
}

.feed-article-hashtag {
  font-size: 14px;
  font-weight: 400;
  color: #00376b;
}

.comment {
  max-height: 50px;
  overflow: hidden;
  overflow-y: scroll;
}

.comment li {
  font-size: 14px;
  padding: 0 16px;
  padding-top: 5px;
  color: #262626;
}

.article-time {
  padding: 0 16px;
  font-size: 10px;
  color: #8e8e8e;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-input {
  height: 56px;
  border-top: 1px solid #efefef;
  margin: 4px 0 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.comment-input input {
  width: 90%;
}

.comment-input input:focus {
  outline: none;
}

.comment-input button {
  opacity: 0.5;
}

.comment-input button:focus {
  outline: none;
}

.right-fix {
  width: 293px;
}

.main-feed-right {
  width: 293px;
  position: fixed;
}

.main-feed-right-profile {
  height: 56px;
  margin-top: 18px;
  display: flex;
  padding-left: 5px;
  justify-content: flex-start;
  align-items: center;
}

.right-profile-img-box {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-profile-img-box img {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  object-fit: contain;
}

.right-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  line-height: 14px;
}

.right-profile-id {
  margin: 0 0 2px;
  padding: 2px;
  font-size: 15px;
  color: #262626;
  font-weight: 700;
}

.right-profile-introduce {
  margin: 0 0 2px;
  padding: 2px;
  font-size: 12px;
  color: #8e8e8e;
}

.recommend-container {
  padding: 8px 0;
}

.right-recommend-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 16px 0;
}

.recommend {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 600;
}

.see-all {
  font-size: 12px;
  color: #262626;
  font-weight: 600;
}

.recommend-profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.recommend-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210px;
}

.recommend-profile-img-box {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.recommend-profile-img-box img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.recommend-profile-id {
  font-size: 14px;
  color: #262626;
  font-weight: 700;
}

.recommend-profile-introduce {
  font-size: 12px;
  color: #8e8e8e;
  height: 14px;
}

button {
  background: transparent;
  color: #0095f6;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  justify-content: flex-end;
}

button:focus {
  outline: none;
}

.main-feed-right-copyright {
  font-size: 11px;
  color: #c7c7c7;
  line-height: 18px;
}

.main-feed-right-copyright p {
  margin-top: 15px;
}
