* {
    box-sizing: border-box;
}

#box {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 10px 25px;
    margin: 20px auto;
    width: 350px;
    height: 450px;
}

.logo {
    width: 175px;
    height: 51px;
    margin: 22px auto 70px;
}

.login_id , .login_pw {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color:ivory;
    font-size: 15px;
}

.login_button {
    background-color: lightblue;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 15px;
}

p {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    color: darkblue;
}

