* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

div {
  background-color: #fff;
}

main,
section {
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}

a,
a:visited {
  color: #262626;
  text-decoration: none;
}
