body {
  display: flex;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.entire {
  width: 350px;
}

.entire_top {
  height: 380px;
}

.entire_bottom {
  height: 63px;
}

.content {
  padding: 10px 0;
  margin: 0 0 10px;
  border: 1px solid #dbdbdb;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_container h1 {
  width: 175px;
  height: 51px;
  margin: 22px auto 12px;
  font-family: "Lobster", cursive;
  font-size: 40px;
  font-weight: 100;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}

.form-contents form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contents input {
  width: 268px;
  height: 38px;
  padding: 9px 0 7px 8px;
  margin: 0 0 7px 0;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  color: #8e8e8e;
  font-size: 12px;
  line-height: 36px;
  overflow: hidden;
  outline: 0;
  text-overflow: ellipsis;
}

.form-contents .login-button {
  width: 268px;
  height: 30px;
  margin: 9px 0 18px;
  background-color: rgba(0, 149, 246);
  border: 0px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.3;
  cursor: pointer;
}

.form-contents .login-button:disabled {
  cursor: none;
}

.line_container {
  display: flex;
  margin: 0 0 28px 0;
}

.line_container .line {
  position: relative;
  top: 0.45em;
  height: 1px;
  flex-grow: 1;
  background-color: #dbdbdb;
}

.line_container .line-word {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 25px;
}

.social-login-button {
  display: inline;
  margin-bottom: 20px;
  border: none;
  color: rgb(56, 81, 133);
  background-color: #fff;
}

.social-login-button:hover {
  cursor: pointer;
}

.social-login-button span {
  font-size: 14x;
  font-weight: 600;
  line-height: 18px;
}

.social-login-button img {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.search-password {
  color: #00376b;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
}

.entire_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  font-size: 14px;
  line-height: 63px;
  text-align: center;
}

.entire_bottom p {
  color: #262626;
  font-size: 14px;
}

.entire_bottom p a {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
}
