body {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  overflow-y: scroll;
}

/* -------------nav--------------- */
.nav-container {
  display: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 975px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.nav-logo a {
  font-size: 24px;
  font-family: "Lobster", cursive;
  color: rgb(38, 38, 38);
}

.nav-search-bar {
  position: relative;
  width: 215px;
  height: 28px;
}

.nav-search-bar .active-input {
  font-size: 16px;
  color: #8e8e8e;
  background: #fafafa;
  height: 100%;
  width: 100%;
  padding: 3px 10px 3px 26px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  outline: none;
}

/* :placeholder-shown :placeholder?????  */
.nav-search-bar input:placeholder-shown {
  font-size: 14px;
}

.nav-search-bar .input-search-icon {
  position: absolute;
  top: 9px;
  left: 11px;
  background: url("../image/insta-sprite.png") no-repeat -399px -321px;
  width: 10px;
  height: 10px;
}

.nav-search-bar .input-cancle {
  position: absolute;
  top: 7px;
  right: 5px;
  background: url("../image/insta-sprite.png") no-repeat -321px -336px;
  width: 14px;
  height: 14px;
}

.nav-search-inactive-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  cursor: text;
  z-index: -1;
}

.inactive-search-icon {
  display: inline-block;
  background: url("../image/insta-sprite.png") no-repeat -399px -321px;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.search-word {
  color: #8e8e8e;
}

.nav-icons ul {
  display: flex;
}

.nav-icons li {
  font-size: 22px;
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.message-box-icon {
  background: url("../image/insta-sprite.png") no-repeat -229px -158px;
  width: 22px;
  height: 19px;
}

.heart-icon {
  background: url("../image/insta-sprite.png") no-repeat -254px -157px;
  width: 24px;
  height: 21px;
}

.user-icon {
  background: url("../image/user-icon.jpg");
  background-size: cover;
  width: 22px;
  height: 22px;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
}

.nav-icons li i {
  font-size: 22px;
  color: rgb(38, 38, 38);
}

/* --------------main--------------- */
main {
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  max-width: 935px;
  padding-top: 30px;
  margin: 0 auto;
}

.left-contents {
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
  background-color: #fafafa;
}

.stories {
  height: 118px;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 16px 0;
}

.story-container {
  display: flex;
  padding: 0 10px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100%;
}

.story-link-container {
  width: 80px;
  height: 66px;
  margin: 0 auto;
}

.story-link {
  width: 100%;
  height: 100%;
}

.story .link-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../image/insta-sprite.png") no-repeat -306px -66px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

/* .story .link-background img {
  background-color: blue;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
} */

.image-container {
  background-color: gray;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
}

.link-background .image-link {
  background-color: black;
  background: url("../image/insta-sprite.png") no-repeat -373px -1px;
  width: 56px;
  height: 56px;
}

.story .story-name {
  font-size: 14px;
}

.feeds {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  background-color: #fafafa;
}

.feed {
  background: #fff;
  margin-bottom: 60px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.feed header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid #efefef;
}

.header-contents-align {
  display: flex;
  align-items: center;
}

.user-image-container {
  width: 32px;
  height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  overflow: hidden;
}

.user-image {
  /* background: url('../images/insta-sprite.png') no-repeat -306px 0;
	width: 64px;
	height: 64px; */
  width: 100%;
  height: 100%;
  background-color: #8e8e8e;
}

.user-info-container {
  margin-left: 14px;
}

.user-info-container .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-container .user-info .user-name {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}
.user-info-container .user-info .city {
  font-size: 12px;
}

.feed header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.feed-image {
  position: relative;
  width: 100%;
}

.feed-image img {
  width: 100%;
  object-fit: cover;
}

.feed .comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4px;
  background: #fff;
}

.feed .comments > div {
  padding: 0 16px;
}

.feed .comments .comments-icons {
  display: flex;
  position: relative;
  padding: 0 16px;
}

.comments-icons button {
  width: 40px;
  height: 40px;

  cursor: pointer;
  border: none;
  background: #fff;
}

.comments-icons .button-bookmark {
  position: absolute;
  right: 8px;
}

.like-counts {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
}

.comments-icons .like-counts a {
  font-weight: 600;
}

.user-comment-container {
}

.comment-id {
  font-weight: 600;
}

.other-comments {
  display: flex;
  flex-direction: column;
}

.time-container {
  margin-bottom: 4px;
}

.time-container a {
  color: #8e8e8e;
  margin-bottom: 5px;
}

.time-container a time {
  font-size: 10px;
  letter-spacing: 0.2px;
}

.post-comment {
  display: flex;
  align-items: center;
  color: #8e8e8e;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  border-top: 1px solid #efefef;
  min-height: 56px;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-form .emoji-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px 16px 8px 0;
  border: none;
  background: #fff;
  cursor: pointer;
}

.emoji-button .svg {
  width: 24px;
  height: 24px;
}
.comment-form .comment-input {
  color: #262626;
  width: 512px;
  height: 18px;
  max-height: 80px;
  border: 0;
  flex-grow: 1;
  outline: 0;
  padding: 0;
  resize: none;
  overflow-y: auto;
}

.comment-input:placeholder-shown {
  color: #8e8e8e;
}

/* 새 댓글 기능 달기할 때 여기 소스 참고해서 만들기 */
.comment-form .post-button {
  width: auto;
  height: 18px;
  border: 0;
  font-weight: 600;
  color: #0095f6;
  background-color: #fff;
  cursor: pointer;
  opacity: 1;
}

.post-button:disabled {
  pointer-events: none;
  opacity: 0.3;
}
