body {
  width: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  z-index: 10;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 975px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-logo a {
  color: rgb(38, 38, 38);
  font-size: 24px;
  font-family: "Lobster", cursive;
}

.nav-search-bar {
  position: relative;
  width: 215px;
  height: 28px;
}

.nav-search-bar .active-input {
  width: 100%;
  height: 100%;
  padding: 3px 10px 3px 26px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #8e8e8e;
  font-size: 16px;
  background: #fafafa;
  outline: none;
}

.nav-search-bar input::placeholder {
  font-size: 14px;
}

.nav-search-bar .input-search-icon {
  position: absolute;
  top: 9px;
  left: 11px;
  background: url("../image/insta-sprite.png") no-repeat -399px -321px;
  width: 10px;
  height: 10px;
}

.nav-search-bar .input-cancle {
  position: absolute;
  top: 7px;
  right: 5px;
  background: url("../image/insta-sprite.png") no-repeat -321px -336px;
  width: 14px;
  height: 14px;
}

.inactive-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
  cursor: text;
}

.inactive-search-icon {
  display: inline-block;
  background: url("../image/insta-sprite.png") no-repeat -399px -321px;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.search-word {
  color: #8e8e8e;
}

.nav-icons ul {
  display: flex;
}

.nav-icons li {
  font-size: 22px;
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.message-box-icon {
  background: url("../image/insta-sprite.png") no-repeat -229px -158px;
  width: 22px;
  height: 19px;
}

.heart-icon {
  background: url("../image/insta-sprite.png") no-repeat -254px -157px;
  width: 24px;
  height: 21px;
}

.user-icon {
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  background: url("../image/user-icon.jpg");
  background-size: cover;
  width: 22px;
  height: 22px;
}

.nav-icons li .fas,
.nav-icons li .far {
  color: rgb(38, 38, 38);
  font-size: 22px;
}

.search-results-container {
  visibility: hidden;
  width: 375px;
  height: 362px;
  position: relative;
  top: 12px;
  margin-left: -80px;
}

.rotate {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 14px;
  height: 14px;
  border-top: 1px solid rgba(0, 0, 0, 10%);
  border-left: 1px solid rgba(0, 0, 0, 10%);
  transform: rotate(45deg);
}

.search-results {
  width: 100%;
  height: 100%;
  padding: 12px 0 0 0;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  overflow-x: hidden;
  overflow-y: scroll;
}

.result-content {
  padding: 8px 16px;
  cursor: pointer;
}

.result {
  display: flex;
}

.result > img {
  width: 44px;
  height: 44px;
  margin-right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 50%;
  cursor: pointer;
}

.result > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result .searched-user .searched-username {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searched-user > span {
  color: #8e8e8e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main {
  height: 100%;
  margin-top: 70px;
}

section {
  max-width: 935px;
  margin: 0 auto;
  padding-top: 30px;
}

.left-contents {
  float: left;
  width: 100%;
  max-width: 614px;
  margin-right: 28px;
  background-color: #fafafa;
}

.stories {
  height: 118px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 16px 0;
  background: #fff;
}

.story-container {
  display: flex;
  padding: 0 10px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100%;
}

.story-link-container {
  width: 80px;
  height: 66px;
  margin: 0 auto;
}

.story-link {
  width: 100%;
  height: 100%;
}

.story .link-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../image/insta-sprite.png") no-repeat -306px -66px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.image-container {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
}

.image-container div {
  width: 100%;
  height: 100%;
}

.link-background .image-link {
  position: relative;
  top: -4px;
  left: -4px;
  background: url("../image/insta-sprite.png") no-repeat -306px 0;
  width: 64px;
  height: 64px;
}

.story .story-name {
  font-size: 14px;
}

.feeds {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  background-color: #fafafa;
}

.feed {
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fff;
}

.feed header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}

.header-contents-align {
  display: flex;
  align-items: center;
}

.user-image-container {
  width: 32px;
  height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  overflow: hidden;
}

.user-image {
  width: 100%;
  height: 100%;
  background-color: #8e8e8e;
}

.user-info-container {
  margin-left: 14px;
}

.user-info-container .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-container .user-info .user-name {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}
.user-info-container .user-info .city {
  font-size: 12px;
}

.feed header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.feed-image {
  position: relative;
  width: 100%;
}

.feed-image img {
  width: 100%;
  object-fit: cover;
}

.feed .comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4px;
  background: #fff;
}

.feed .comments > div {
  padding: 0 16px;
}

.feed .comments .comments-icons {
  display: flex;
  position: relative;
  padding: 0 16px;
}

.comments-icons button {
  width: 40px;
  height: 40px;
  border: none;
  background: #fff;
}

.comments-icons .button-bookmark {
  position: absolute;
  right: 8px;
}

.like-counts {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
}

.user-comment,
.all-comments-show,
.other-comments,
.other-comments .comment {
  margin-bottom: 4px;
}

.comment-id {
  font-weight: 600;
}

.all-comments-show a {
  color: #8e8e8e;
}

.other-comments {
  display: flex;
  flex-direction: column;
}

.other-comments .comment {
  display: flex;
  justify-content: space-between;
}

.other-comments .comment .fas {
  color: red;
}

.time-container {
  margin-bottom: 4px;
}

.time-container a {
  margin-bottom: 5px;
  color: #8e8e8e;
}

.time-container a time {
  font-size: 10px;
  letter-spacing: 0.2px;
}

.post-comment {
  display: flex;
  align-items: center;
  min-height: 56px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #efefef;
  color: #8e8e8e;
}

.comment-form {
  display: flex;
  align-items: center;
}

.comment-form .emoji-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px 16px 8px 0;
  border: none;
  background: #fff;
}

.emoji-button .svg {
  width: 24px;
  height: 24px;
}
.comment-form .comment-input {
  flex-grow: 1;
  width: 512px;
  height: 18px;
  max-height: 80px;
  padding: 0;
  border: 0;
  color: #262626;
  outline: 0;
  resize: none;
  overflow-y: auto;
}

.comment-input:placeholder-shown {
  color: #8e8e8e;
}

.comment-form .post-button {
  width: auto;
  height: 18px;
  border: 0;
  color: #0095f6;
  font-weight: 600;
  background-color: #fff;
  opacity: 1;
}

.post-button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.right-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 293px;
}

.right-contents > div {
  position: fixed;
  background-color: #fafafa;
}
.transparent {
  background: transparent;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
}

.profile .userid-link {
  width: 56px;
  height: 56px;
}

.profile a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile .userinfo-text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  background-color: transparent;
}

.profile .userinfo-text a {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile .userinfo-text span {
  color: #8e8e8e;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.profile-container button {
  color: #0095f6;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  border: 0;
}

.recommend-container {
  margin-top: 20px;
  margin-bottom: 12px;
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommend span {
  margin: -3px 0 -4px;
  color: #8e8e8e;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.recommend a {
  margin: -2px 0 -3px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}

.recommend-list {
  padding-bottom: 8px;
  padding-top: 8px;
}

.recommend-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.item {
  display: flex;
}

.item .item-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.item img {
  object-fit: none;
  object-position: -376px -241px;
  width: 40px;
  height: 40px;
}

.item .username {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  background-color: #fafafa;
}

.item .username a {
  font-weight: 600;
}

.item .username span {
  display: block;
  width: 201px;
  margin-top: 2px;
  color: #8e8e8e;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommend-item .follow-button {
  color: #0095f6;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  margin: -2px 0 -3px;
  border: none;
}

footer {
  width: 293px;
}

footer ul {
  width: 100%;
  margin-bottom: 16px;
}

footer ul li {
  display: inline;
  white-space: nowrap;
}
footer ul li a {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

footer ul li a::after {
  content: "\00B7";
  margin: 0 0.25em 0 0.25em;
  color: #c7c7c7;
}

footer ul li:last-child a:after {
  content: none;
}

footer span {
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
}
