.input{
    background: #FAFAFA;
    padding:10px;
    border: 1px solid #EFEFEF;
    width:80%;
    margin-bottom:10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn{
 background: #C4E1FB;
color: white;
width:80%;
text-align: center;
padding:12px;
border-radius: 5px;
border:none;
/* font-weight: 900px; */
}