* {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
}

main {
  display: flex;
  min-height: 100vh;
}

section {
  border: 2px solid #ececec;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  margin: auto;
}

div.logo {
  margin: 30px auto;
  width: 100%;
  height: auto;
  text-align: center;
}

div.login {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

input {
  background-color: #fafafa;
  border: 2px solid #ededed;
  border-radius: 2px;
  margin: 3px;
  padding: 5px;
  font-size: 12px;
  width: 268px;
  height: 36px;
}

input:focus {
  outline-color: #a5a4a4d5;
  border-radius: 2px;
}

button {
  all: unset;
  background-color: #b2dffc;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 9px 3px;
  width: 268px;
  height: 29.6px;
}

div.alert {
  color: #385185;
  font-size: 12px;
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
