* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: 56px;
  border-bottom: 2px solid #ededed;
  background-color: #ffffff;
}

nav.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 975px;
  height: 54px;
  margin: 0 auto;
  padding: 0 20px;
}

.camera {
  padding-right: 12px;
  border-right: 2px solid #2c2829;
}

.logo img {
  height: 29px;
}

li.search_location {
  position: relative;
}

input.search {
  width: 215px;
  height: 25px;
  background-color: #fafafa;
  border: 2px solid#ededed;
  border-radius: 3px;
  font-size: 14px;
  color: #ededed;
}

input.search:focus {
  outline-color: #a5a4a4d5;
  border-radius: 2px;
  color: #2c2829;
}

input.search:focus::placeholder {
  text-align: left;
}

input::placeholder {
  text-align: center;
}

ul.search_box {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-55%, 0);
  width: 241px;
  max-height: 362px;
  border: 1px solid #bbbbbbd5;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
}

div.search_user_container {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 14px;
  border-bottom: solid 1px #fafafa;
  background-color: #ffffff;
}

div.search_user_container:hover {
  background-color: #fafafa;
}

img.search_user_image {
  width: 32px;
  height: 32px;
  border-radius: 60%;
}

div.search_user_info {
  padding-left: 5px;
}

p.search_user_id {
  font-size: 14px;
  font-weight: bold;
}

p.search_user_description {
  padding-top: 4px;
  font-size: 13.5px;
  color: #b8b7b7;
}

li.no_data_box {
  height: 50px;
  color: #b8b7b7;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  border: 1px solid #bbbbbbd5;
  background-color: #ffffff;
  visibility: hidden;
}

.icons img {
  height: 25px;
  margin: 0 15px;
}

img.profile_icon {
  cursor: grab;
}

div.tool_container {
  position: absolute;
  width: 230px;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 5px;
  z-index: 1;
  visibility: hidden;
}

div.tool {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

div.tool:nth-child(3) {
  margin-bottom: 4px;
}

div.tool:last-child {
  margin-bottom: 4px;
  border-top: 1px solid #ededed;
}

i.tool_icon::before {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: #fafafa;
}

section {
  max-width: 614px;
  margin-top: 40px;
  margin-bottom: 60px;
  border: 1px solid #bbbbbbd5;
  border-radius: 0.5%;
  background-color: #ffffff;
}

div.user_info {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
}

img.user_image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 60%;
}

p.user_id {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}

img.feed_img {
  width: 614px;
  height: auto;
}

div.feed_icons {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.feed_icons ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

div.left_icons {
  margin-left: 10px;
}

div.right_icon {
  margin-right: 10px;
}

img.feed_icons_image {
  width: 24px;
  height: 24px;
  padding: auto 0;
  margin: 0 5px;
}

.reply_container {
  width: auto;
}

p.liked_number {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
}

li.reply_content {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

div.content_information {
  display: flex;
}

p.reply_user_comment {
  margin-left: 5px;
  font-size: 14px;
  line-height: 24px;
}

div.button_container {
  display: flex;
}

i.fas.fa-times {
  padding-left: 5px;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  line-height: 0;
}

div.reply_input_container {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-top: 1px solid #bbbbbbd5;
  padding: 10px 20px;
}

input.reply_input_text {
  all: unset;
}

input.reply_input_text::placeholder {
  text-align: left;
}

button.reply_input_button {
  all: unset;
  color: #b2dffc;
  font-size: 15px;
  cursor: default;
}

aside {
  width: 293px;
  margin-top: 40px;
  margin-left: 28px;
  padding-right: 20px;
}

div.user_id_container {
  display: flex;
  margin-bottom: 20px;
}

img.aside_user_image {
  width: 56px;
  height: 56px;
  border-radius: 60%;
}

div.aside_user_info {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  font-size: 14px;
}

p.aside_user_id {
  font-size: 13px;
  font-weight: bold;
}

p.aside_user_description {
  padding-top: 5px;
  font-size: 12px;
  color: #b8b7b7;
}

p.user_description {
  padding-top: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #b8b7b7;
}

div.recommend_container {
  display: flex;
  justify-content: space-between;
}

p.recommend_title {
  font-size: 14px;
  font-weight: bold;
  color: #8e8e8e;
}

p.recommend_click {
  font-size: 12px;
  font-weight: bold;
}

li.recommend_list {
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.recommend_group_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 8px 0;
}

div.recommend_group {
  margin-left: 7px;
}

p.follow_btn {
  color: #0095f6;
  font-size: 12px;
  font-weight: bold;
}

footer {
  font-size: 11px;
  font-weight: 500;
  color: #b8b7b7;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  input.search {
    display: none;
  }

  img.feed_img {
    width: 100%;
  }
}
