@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fdfdfd;
}
/* font-family: 'Lobster', cursive; */