.nav-bar {
    background: #ffffff;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 16%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-logos {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instaLogo-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.verticalBar {
    border: 1px solid black;
    height: 30px;
    margin-right: 15px;
}
.instaLogo-text {
    width: 103px;
    height: 29px;
}
form input {
    height: 30px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fafafa;
}
.nav-icon {
    width: 22px;
    height: 22px;
    margin-left: 25px;
}
#nav-search {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchText {
    position: absolute;
    color: #8e8e8e;
    font-size: 14px;
}
.nav-icons {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main {
    background: #fafafa;
}
.widthControl {
    margin: 0 16%;
    padding-top: 100px;
    display: flex;
}
.feeds{
    width: 612px;
    margin-right: 12px;
    flex-grow: 5;
}
.feeds article {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 55px;
}
.feedAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 10px;
}
.feedAccount img:nth-child(1) {
    width: 35px;
    height: 35px;
}
.feedInfo p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
}
.threeDots {
    width: 20px;
    height: 20px;
} 
.feedPhoto {
    height: 615px;
}
.commentIcons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.commentsIconsLeft img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.commentsIconsRight img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.comment-heart {
    width: 13px;
    height: 13px;
}
.comments {
    margin: 0 10px 5px 10px;
}
.comments li {
    display: flex;
    justify-content: space-between;
}
.comments p {
    padding-bottom: 3px;
}
.commentsSpan {
    font-weight: 400;
    font-size: 13px;
}
.commentsContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#commentsInput {
    background-color: #ffffff;
    opacity: 0.8;
    font-weight: 400;
    border: none;
}
/* input:focus border:none */
#commentsPost {
    border: none;
    background-color: #ffffff;
    color: #0095f6;
    opacity: 0.3;
}
.main-right {
    width: 280px;
    flex-grow: 1;
}
.fixedPart {
    position: fixed;
    height: 100vh;
}
.profileImage-wecode {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
}
.storys {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 12px;
}
.storyAll {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.storyAll p:nth-child(1) {
    color: #8e8e8e;
    font-weight: 400;
}
.storyAll p:nth-child(2) {
    font-size: 12px;
}
.profileInfo {
    display: flex;
    align-items: center;
    padding-bottom: 3px;

}
.profileInfo img {

    margin: 6px 12px 4px 4px;
}
.accountInfo p:nth-child(2) {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
}
.wecode {
    margin-bottom: 10px;
}
.suggestion {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
}
.suggestionAll {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}
.suggestedAccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.suggestedAccount>p {
    color: #0095f6;
    font-size: 12px;
}
.suggestionAll p:nth-child(1) {
    color: #8e8e8e;
    font-weight: 400;
}
.suggestionAll p:nth-child(2) {
    font-size: 12px;
}
.moreInfo {
    font-size: 12px;
    color: #c7c7c7;
    padding: 12px 1px;
}