* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  height: 1000vh;
  width: 100vw;
}

#navMain {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 110%;
  border-bottom: 2px #ececec solid;
}

#navBar {
  display: flex;

  justify-content: space-between;
  background-color: #ffffff;

  padding: 0px;
  width: 1100px;
  height: 80px;
}

.navBarLeft {
  display: flex;
  align-items: center;
}

.navBarLeft h1 {
  font-weight: 100;
  font-size: 45px;
}

.navBarLeft span {
  font-size: 40px;
  letter-spacing: -2px;
}

.navBarLeft i {
  font-size: 40px;
}

.navBarCenter {
  display: flex;
  align-items: center;
}

.navBarRight {
  display: flex;
  align-items: center;
}

.navBarRight i {
  font-size: 35px;
  padding: 0px 10px;
}

.mainDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 1100px;
}

.feeds {
  border: 2px #ececec solid;
  background-color: #ffffff;
  display: flex;
  margin-right: 20px;
}

.mainRight {
}

.myAccount {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 12px;
}

.accountName {
  margin-left: 12px;
}

.navRightContainer {
  background-color: white;
  border: #ececec 2px solid;
  margin-bottom: 12px;
  width: 390px;
}

.navRightTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.storyBody {
}

.otherAccount {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 12px;
  margin-bottom: 12px;
}

#article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedImage {
  width: 820px;
  height: 820px;
}

.feedImage img {
  width: 100%;
  height: 100%;
}

.feedTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.whoIsUploader {
  margin: 5px 0px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.whoIsUploader span {
  margin-left: 10px;
}

.feedTop i {
  margin-right: 10px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feedAddOn {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: rgb(122, 255, 188);
  background-color: white;
}

.feedAddOnLeft {
  margin-left: 12px;
}
.feedAddOnLeft:hover,
.feedAddOnRight:hover {
  cursor: pointer;
}

.feedAddOnRight {
  margin-right: 12px;
}

.feedAddOnRight .none {
  display: none;
}

.numOfLikesMain {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #ffffff;
  font-size: 20px;
}

.numOfLikes .profile {
  width: 20px;
  height: 20px;
}

.numOfLikes {
  margin-left: 12px;
}

.newReplyInput {
  border: none;
  height: 60px;
  text-indent: 15px;
}

.newReplyInput:focus {
  outline: none;
}

.newReplyInput::placeholder {
  text-indent: 15px;
}

.uploadReply {
  margin-right: 10px;
  color: rgb(0, 153, 255);
}

.replies {
  margin-left: 12px;
  border-bottom: 2px #efefef solid;
}

.reply {
  display: flex;
}

.ReplyBar {
  display: flex;
  justify-content: space-between;
}

.deleteReply {
  background-color: blue;
}

.delete {
  border: none;
  width: 15px;
  height: 15px;
  background-color: inherit;
}

.forTab {
  border: none;
  background-color: inherit;
}

.forTab:focus {
  outline: none;
}

.none {
  display: none;
}

.noNone {
  display: "";
  border: none;
  background-color: inherit;
}

.floatLeft {
  float: left;
}

.feedAddOnLeft .none {
  display: none;
}

.feedAddOnLeft i,
.feedAddOnRight i {
  color: red;
}
