header{
  display:flex;
  flex-direction: row;
  width:100%;
  border-bottom: 1px solid lightgray;
  padding: 0px 20px;
  
}

.h1{
  font-family: 'Lobster', cursive;
  font-size: 23px;
  width: 320px;
  height: 29px;
  margin-left: 220px;
  margin-top: 8px;
  
}
.head{
 width: 250px;
 height: 54px;
 padding: 0px 20px;
 position:relative;
}

input{
  width: 215px;
  height: 29px;
  padding: 8px;
  background: #ffff;
  background-color: rgb(241, 236, 236)
}

input::placeholder{
  text-align: center;
}

.img{
  width: 198px;
  height: 29px;
  display:flex;
  margin-top:10px;
  margin-left: 140px;
  justify-content: space-between;
}


.fa-search{
  color: lightgray;
  position: absolute;
  margin-top:15px;
  margin-left:100px;
}

.profile{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.img i{
  font-size:20px;
}

section{
  margin: 0 122px;
  padding-top: 30px;
}

nav{
  width: 612px;
  height: 100px;
}


.followers{
  width:600px;
  height:118px;
  border: 1px solid lightgray;
  margin: 0 0 24px;
  padding: 16px 0;
}

*{
  list-style:none;
}

.people {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.people img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  justify-content: space-around;
}

.easter{
  flex-direction: column;
}

article{
  width: 600px;
  height: 100%;
}

.headName{
  width: 600px;
  height: 60px;
  
  border: 1px solid lightgray;
  margin-top: 70px;
  
}

.profilePhoto{
  font-size: 12px;
  display:flex;
  flex-direction: row
}

.profilePhoto img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-top: 8px;
}

.profilePhoto1{
  padding-left:10px;
}

.name{
  margin-top: 20px;
  padding-left: 18px;
  font-size: 13px;
  font-weight: bold;
}

.dot{
  padding-left :450px;
  font-size:18px;
  margin-top: 19px;
}

.mainPhoto img{
  width: 600px;
  height: 600px;
}

.mainPhotoComment{
  width: 568px;
  height: 187px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid lightgray;
}

.mainPhotoIcon{
  font-size: 24px;
  padding-left: 10px;
  margin-top: 8px;
  justify-content: space-between;
}

.fa-comment,
.fa-paper-plane{
  margin-left:8px;
}

.fa-bookmark{
  margin-left:430px;
}
