* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FAFAFA;
}

.signup-border {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.signup-main {
    width: 348px;
    height:358px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBDBDB;
}

.insta-image {
    margin-top: 20px
}

.signup-content {
    height: 263px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display:flex;
    flex-direction: column;
}

.signup-content input {
    width: 280px;
    height: 40px;
    font-size: 13px;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;       
    text-indent: 10px;
}

.signup-content input::placeholder {
    padding-left: 1px;
}

.signup-content input:focus {
    outline: none;
    box-shadow: 0 0 0 0.5px #3D3D3B;
    
}

.signup-content button {
    width: 280px;
    height: 30px;
    color: white;  
    background-color: #B9E0FC;    /* 활성화 할떄 색 #0095f6 */
    border: 1px;
    border-radius: 5px;
   
}

.password{
    margin-top: 8px;
}

.login{
    margin-top: 16px;
}

.forgotPassword {
    height: 14px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #00376b;
  }
