a {
  text-decoration: none;
  color: #00376b;
}

li {
  list-style: none;
}

.text14 {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.text12 {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  line-height: 18px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: RGB(250, 250, 250);
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

section {
  display: flex;
  position: relative;
  width: 935px;
  height: 780px;
  margin: 32px 0 0 0;
}

.leftImgBox {
  display: flex;
  position: relative;
  height: 618px;
  width: 454px;
}

.mainImg {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 65px 0 0 55px;
  z-index: 1;
}
.innerMainImg {
  display: flex;
  position: absolute;
  top: 165px;
  right: 8px;
  width: 240px;
  height: 427px;
  z-index: 2;
}
.rightBox {
  position: relative;
  flex-direction: column;
  float: left;
  top: 112px;
  left: 40px;
  height: 500px;
}
.loginBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 321px;
  background-color: white;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}
.loginBox img {
  padding-top: 70px;
  width: 175px;
  height: 52px;
  margin-bottom: 20px;
}
.loginBox input {
  width: 200px;
  height: 20px;
  margin-top: 5px;
  padding-left: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.loginBox input::placeholder {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
}
.loginButton {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  border: 0px;
  background-color: #0095f6;
  color: white;
  cursor: pointer;
}
.errorMsg {
  display: flex;
  justify-content: center;
  width: 350px;
  padding-top: 20px;
}
.signUpBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 92px;
  background-color: white;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  text-align: center;
  color: #8e8e8e;
  padding-top: 25px;
  margin-top: 12px;
}
.questionText {
  margin-bottom: 2px;
}
.signUpText a {
  color: #0095f6;
}
.signUpText span {
  color: #8e8e8e;
}
.downloadText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 58px;
  text-align: center;
}

.downloadButton {
  display: flex;
  justify-content: center;
}
.downloadButton img {
  width: 136px;
  height: 40px;
  margin: 4px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 260px 0 220px;
}
.loginInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  font-weight: 600;
}

.loginInformation ul {
  display: flex;
  list-style: none;
}

.loginInformation ul li {
  margin: 6px;
}

.loginCopyright {
  color: #8e8e8e;
  font-weight: 600;
}
