/* 공통 테그 */
.xSmallText {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.11px;
  word-spacing: 0px;
}

.smallText {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.largeText,
.profileTextStyle,
.feedTopProfileName,
.countFeedLikeStyle,
.feedBodyNameTextStyle,
.foodBodyTextStyle,
.commentButtonTextStyle {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.normalWeight,
.foodBodyTextStyle,
.commentButtonTextStyle {
  font-weight: 400;
}

.lightHeavyWeight {
  font-weight: 500;
}

.heavyWeight,
.profileTextStyle,
.feedTopProfileName,
.countFeedLikeStyle,
.feedBodyNameTextStyle {
  font-weight: 600;
}

.grayColor,
.commentButtonTextStyle {
  color: #8e8e8e;
}

.lightGrayColor {
  color: #c7c7c7;
}

.linkColor {
  color: #0095f6;
}

.leftMainBox {
  width: 614px;
}

.container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}
/* 디폴트 값 리셋 */
body {
  margin: 0;
  padding: 0;
  background-color: RGB(250, 250, 250);
  display: block;
}

input:focus {
  outline-width: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
}

button:focus {
  outline-width: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* main 태그 */
.flexHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 54px;
  width: 100%;
  margin: 0px auto;
  z-index: 2;
}

.flexNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 935px;
  z-index: 3;
}

.flexMenuBox {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 360px;
  height: 36px;
  cursor: pointer;
}

.logoImage {
  display: flex;
  position: relative;
  width: 103px;
  height: 29px;
  cursor: pointer;
  padding: 0 0px 0px 0px;
}

.flexSerchBox {
  display: flex;
  position: relative;
  justify-content: center;
  height: 28px;
  width: 215px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
}

.flexSerchIconBox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 81px;
}

#serchIcon {
  width: 10px;
  height: 10px;
}

.inputSerchWord {
  text-align: center;
  width: 215px;
  border: none;
  background-color: RGB(250, 250, 250);
}
.inputSerchWord::placeholder {
  display: flex;
  position: absolute;
  text-overflow: ellipsis;
  color: rgb(145, 145, 145);
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.flexNavigationMenuBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 320px;
}
.navigationMenuList {
  padding: 0px 11px;
}

.navigationMenuList:last-child {
  padding-right: 0px;
}
.navigationMenuIcon {
  display: flex;
  align-items: center;
}

.myProfile {
  width: 22px;
  height: 22px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  width: 935px;
  max-width: 975;
  min-width: auto;
  min-height: auto;
  margin: 0 368px 0 368px;
  padding: 84px 0 0 0;
  box-sizing: border-box;
  z-index: 1;
}

.addToStoryData {
  display: flex;
  overflow-x: auto;
  height: 118px;
  margin: 0 0 24px 0;
  padding: 0 0 0 17px;
  padding-right: 17px;
}

.addToStoryData::-webkit-scrollbar {
  display: none;
}

.storyDataList {
  display: flex;
  position: relative;
  margin: 17px 14px 18px 0;
}
.stotyProfileCanvas {
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 0;
}
.storyProfileImage {
  position: absolute;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 5px 5px 5px 5px;
  z-index: 1;
}
.storyProfileName {
  text-align: center;
  width: 66px;
  padding-top: 68px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.feedContainer {
  width: 614px;
  display: block;
  margin-bottom: 60px;
}

.flexfeedTopBox {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  height: 60px;
  width: 614px;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  z-index: 2;
}
.feedTopProfile {
  position: relative;
  left: 14px;
  height: 32px;
  width: 32px;
}
.feedTopProfileImage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.feedTopProfileName {
  position: relative;
  left: 28px;
}
.feedTopSetting {
  position: absolute;
  left: 580px;
}
.feedBodyImageBox {
  max-height: 760px;
  overflow: hidden;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  z-index: 1;
}
.feedBodyImage {
  position: relative;
  width: 100%;
  bottom: 120px;
}

.flexFeedBodyButtonBox {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 6px 0 6px;
  margin-top: 4px;
}

.flexFeedleftButton {
  display: flex;
  left: 100px;
}

.flexFeedrightButton {
  display: flex;
}

.feedButtonBox {
  height: 24px;
  width: 24px;
  padding: 8px 8px 8px 8px;
}
.feedButton svg {
  width: 24px;
  height: 24px;
}

.countFeedlike {
  height: 18px;
  padding: 0 16px 0 16px;
  margin: 0 0 8px 0;
}

.feedBody {
  padding: 0 16px 0 16px;
  border-bottom: 1px solid #ececec;
}
.feedBodyContent {
  margin-bottom: 4px;
}
.viewComment {
  margin-bottom: 4px;
}
.viewComment a:visited {
  color: #8e8e8e;
}
.comment {
  margin-bottom: 4px;
}
.commentTime {
  margin-bottom: 8px;
}

.writeCommentBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
}
.writeCommentBox input {
  border: 0px solid red;
  width: 572px;
  box-sizing: border-box;
  padding: 14px;
}
.writeCommentBox input::placeholder {
  color: gray;
}
.writeCommentBox input:focus {
  border: 0px;
  outline-width: 0;
}
.buttonComment {
  color: #0094f8;
}
.deleteButton {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.rightBar {
  position: sticky;
  top: 88px;
  bottom: -118px;
  width: 298px;
  margin: 4px 0 0 28px;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  padding: 16px 0 16px 0;
}
.profileBox img {
  width: 56px;
  height: 56px;
  border: 1px solid #ececec;
  border-radius: 50%;
}
.profileName {
  margin-left: 12px;
}

.recomTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommend {
  margin: 12px 0 0 0;
}
.recomBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
.recomBoxLast {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recomFiBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recomFiPicCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}
.recomFiPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}
.recomFiNameBox {
  width: 213px;
  margin-left: 6px;
}
.follow {
  display: flex;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.infomation {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.infomation ul {
  padding: 0px;
}
.infomation ul li {
  float: left;
  padding-right: 3px;
  list-style: none;
}
.infomation ul li a {
  color: #c7c7c7;
}
.infomation ul li::after {
  position: relative;
  padding-left: 2px;
  content: '\00b7';
  color: #c7c7c7;
}
.copyRight {
  margin-top: 5px;
}

.margin5px {
  margin-left: 5px;
}
