.wrap {
  -border: 1px solid red;
}

.head {
  -border: 1px solid black;
  width: 930px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.head-left {
  -border: 1px solid red;
  width: 210px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.head img {
  -border: 1px solid green;
  width: 110px;
}

.head-center {
  -border: 1px solid red;
  width: 210px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search {
  border: 1px solid #b9babc;
  border-radius: 2px;
  background-color: #fafafa;
  width: 200px;
  height: 25px;
  text-align: center;
  color: #b9babc;
  font-size: 14px;
}

.fa-search {
  position: absolute;
  left: 75px;
  top: 18px;
  font-size: 11px;
  color: #b9babc;
}

.head-right {
  -border: 1px solid red;
  width: 210px;
  height: 50px;
  color: #b9babc;
  font-size: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.fa-home,
.fa-paper-plane,
.fa-compass,
.fa-heart,
.fa-user {
  -border: 1px solid black;
  display: block;
}

main {
  -border: 1px solid blue;
  border-top: 1px solid #b9babc;
  width: 100%;
  height: 700px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fafafa;
}

.main-story {
  border: 1px solid #b9babc;
  width: 930px;
  height: 590px;
  margin: 35px auto;
  display: flex;
}

.story-img {
  -border: 1px solid green;
}

.first {
  width: 600px;
  height: 590px;
}

.story-text {
  -border: 1px solid black;
  width: 330px;
  background-color: white;
}

.story-follow {
  -border: 1px solid red;
  border-bottom: 1px solid rgb(219, 219, 219, 0.7);
  height: 70px;
  display: flex;
}

.wecode-img {
  -border: 1px solid green;
  width: 55px;
  height: 70px;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
}

.wecode-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.story-follow-text {
  -border: 1px solid black;
  width: 275px;
  display: flex;
}

.follow-text-center {
  -border: 1px solid pink;
  width: 275px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.follow-text-main {
  -border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0;
}

a {
  text-decoration: none;
}

.gray a {
  color: black;
}

.blue a {
  color: #0095f6;
}

.follow-text-sub {
  -border: 1px solid red;
  font-size: 12px;
}

.black a {
  color: #b9babc;
}

.follow-text-option {
  -border: 1px solid blue;
  width: 30px;
  height: 68px;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
}

.story-read {
  -border: 1px solid green;
  border-bottom: 1px solid rgb(219, 219, 219, 0.7);
  height: 380px;
  display: flex;
}

.read-left {
  -border: 1px solid black;
  width: 55px;
}

.read-left img {
  border-radius: 50%;
  width: 35px;
}

.story-option {
  -border: 1px solid blue;
  border-bottom: 0.5px solid rgb(219, 219, 219, 0.7);
  height: 80px;
  position: relative;
}

.icon {
  -border: 1px solid black;
  height: 40px;
  font-size: 25px;
  color: #b9babc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.icon-left {
  -border: 1px solid pink;
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.icon-right {
  -border: 1px solid purple;
  width: 110px;
  display: flex;
  justify-content: flex-end;
}

.option-good {
  -border: 1px solid red;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 40px;
}

.option-day {
  -border: 1px solid green;
  font-size: 11px;
  position: absolute;
  left: 20px;
  top: 60px;
}

.option- .story-comment {
  -border: 1px solid gold;
  height: 58px;
}
