html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

input:focus,
button:focus {
  outline: 0;
}

.accountInput:focus,
.passwordInput:focus {
  border-color: rgb(142, 142, 142);
}

a {
  text-decoration: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(249, 249, 249);
}

.rightContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}

.logInWrapper {
  display: flex;
  flex-direction: column;
  width: 348px;
  height: 358px;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid rgb(214, 214, 214);
  background-color: white;
}

.logInWrapper img {
  text-align: center;
  height: 51px;
  margin: 22px 86.5px 12px 86.5px;
}

.logInInputsContainer {
  margin: 0 40px;
}

.logInInputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.logInInputs input {
  box-sizing: border-box;
  width: 268px;
  height: 38px;
  margin-bottom: 6px;
  padding: 9px 0 7px 8px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: 12px;
  color: #8e8e8e;
}

.logInInputs button {
  box-sizing: border-box;
  width: 268px;
  height: 30px;
  margin: 8px 0;
  padding: 5px 9px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  background-color: rgb(178, 220, 252);
}

.orLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px 40px 18px;
}

.orLines span {
  position: relative;
  display: block;
  top: 10px;
  width: 105px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.or {
  font-size: 13px;
  font-weight: 600;
  margin: 0 20px;
  color: #8e8e8e;
}

.additionalRequests {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.additionalRequests button {
  background: 0;
  appearance: none;
  border: none;
}

.additionalRequests a {
  font-size: 12px;
  color: rgb(0, 48, 96);
}

.facebookLogIn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.facebookLogIn button {
  display: inline-block;
}

.facebookLogo {
  display: inline-block;
  position: relative;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png");
  background-position: -347px -329px;
  background-size: 440px 411px;
  margin-right: 8px;
  top: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.facebookText {
  color: rgb(49, 71, 122);
  font-weight: 600;
  cursor: pointer;
}

.forgotPassword {
  margin: 8px;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 350px;
  height: 63px;
  margin-bottom: 10px;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  font-size: 14px;
}

.signUp a {
  font-weight: 600;
  color: rgb(0, 149, 246);
  margin: 3px;
}

.signUp span {
  font-weight: 300;
  font-size: 14px;
}

.getTheApp {
  position: relative;
  margin: 10px 20px;
  text-align: center;
  font-size: 14px;
}

.appStores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 10px 0;
}

.appStores img {
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  padding: 0 20px;
}

.navBottom {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
  margin: 0 auto;
  min-width: 876px;
  max-width: 1012px;
  font-size: 12px;
  font-weight: 600;
}

.navBottom li {
  margin: 0 16px 7px 0;
  text-align: center;
}

.navBottom span {
  color: #8e8e8e;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline-block;
  list-style: none;
  margin-right: 16px;
  text-transform: uppercase;
}

footer a {
  color: rgb(18, 55, 103);
}

footer span {
  color: rgb(214, 214, 214);
}

article {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 30px auto 0;
  padding-bottom: 44px;
}

.phoneFrame {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/9364675fb26a.png");
  background-size: cover;
  width: 440px;
  height: 618px;
}

.imagesInPhone img {
  position: absolute;
  width: 240px;
  top: 100px;
  left: 151px;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 25s;
}

.imagesInPhone img:nth-of-type(1) {
  animation-delay: 20s;
}
.imagesInPhone img:nth-of-type(2) {
  animation-delay: 15s;
}
.imagesInPhone img:nth-of-type(3) {
  animation-delay: 10s;
}
.imagesInPhone img:nth-of-type(4) {
  animation-delay: 5s;
}
.imagesInPhone img:nth-of-type(5) {
  animation-delay: 0s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 875px) {
  .leftContainer {
    display: none;
  }
  .navBottom {
    flex-direction: column;
  }
  .navBottom ul {
    max-width: 360px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
