* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

html,
body,
img {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: default;
}
