nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 60px;
  z-index: 1;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.feeds {
  width: 400px;
  border: 1px solid lightgray;
}

.logo-div > div {
  margin: 5px;
}

.logo-link-img {
  width: 25px;
  height: 25px;
}

.logo-link-span {
  font-size: 20px;
  font-family: "Lobster", cursive;
}

.searchInput {
  text-align: center;
  width: 200px;
  padding: 5px;
  background-color: #fafafa;
  border: 1px solid lightgrey;
}

.link-img-div > div {
  margin: 5px;
}

.link-img-div > div > button > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.feeds-user-profile,
.user-post-comment-button-list {
  margin: 10px;
}

.user-post-comment-list {
  margin: 0 10px 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.user-profile-link-middie-span {
  font-size: 20px;
}

.user-profile-link-middie-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.user-profile-link-small-span {
  font-size: 15px;
}

.user-profile-link-small-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.user-small-span > span {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.user-post-comment-button-list {
  display: flex;
  justify-content: space-between;
}

.user-post-feedback-button-list {
  display: flex;
}

.user-post-feedback-button-list > div {
  margin: 1px 5px;
}

.user-post-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  height: 50px;
}

.user-post-comment > div {
  margin: 10px;
}

.user-post-comment-input,
.comment {
  width: 70%;
}

.user-post-info {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 700;
}

.comment-list {
  list-style: none;
}

.comment-posting-button {
  background-color: white;
  color: #0095f6;
  cursor: pointer;
}

.comment-posting-button:disabled {
  color: #c1dffd;
  cursor: default;
}

li,
li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > div > span {
  margin: 2px;
}

.search-result {
  position: absolute;
  top: 35px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid lightgray;
  border-radius: 6px;
  overflow: auto;
  margin: 10px;
  background-color: white;
}

.search-result > div {
  margin-left: 10px;
}

.main-right {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  margin-left: 20px;
  width: 300px;
}

.user-profile-link-large-span {
  font-size: 25px;
}

.user-profile-link-large-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.user-recommend {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid lightgray;
}

.user-recommend > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.follow {
  color: #0095f6;
}

.company {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 15px;
  color: lightgray;
}

.user-info {
  position: fixed;
  display: flex;
  top: 35px;
  flex-flow: column;
  align-items: flex-start;
  border: 1px solid lightgray;
  width: 150px;
  padding: 10px;
  z-index: 0;
  background-color: white;
}

.user-info > div {
  margin: 5px;
}

.displayNone {
  display: none;
}

@media screen and (max-width: 700px) {
  .main-right {
    display: none;
  }
}
