html,
body {
  background-color: #fafafa;
  margin: 8px;
}

.wrapping {
  width: 699px;
  height: 758px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 50%;
  margin: 60px 0;
}

input {
  width: 535px;
  height: 68px;
  margin: 8px 0;
  padding-left: 20px;
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  color: #999999;
}

button {
  width: 535px;
  height: 60px;
  margin: 12px 0;
  background-color: #c0dffd;
  border-style: none;
  border-radius: 8px;
  outline: none;
  font-size: 20px;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

a {
  margin-top: 250px;
  font-size: 18px;
  color: #2d5481;
  text-decoration: none;
}
