*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}
.img100per {
  width: 100%;
}

button {
  font-size: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
