/* nav */
/* css 정리 해보기~! */
#nav {
  display: flex;
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  z-index: 9999;
}
#nav .navFlexItems {
  display: flex;
  height: 100%;
}
#nav .navFlexItems li {
  padding: 5px;
}
#nav .navFlexItems li a {
  height: 100%;
}
#nav .navFlexItems li a img {
  height: 100%;
}
#nav .wrapper {
  display: flex;
  width: 975px;
  padding: 5px 0;
  justify-content: space-between;
}
#nav .leftContent ul li {
  position: relative;
}
#nav .leftContent ul li:nth-child(1)::after {
  display: block;
  width: 1px;
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 8px;
  content: "";
  background-color: #333;
}
#nav .leftContent ul li:nth-child(2) {
  width: 130px;
}
#nav .rightContent {
  position: relative;
}
#nav .rightContent .navFlexItems {
  padding: 0 10px;
}
#nav .rightContent .navFlexItems li {
  width: 45px;
  height: 45px;
  padding: 10px 0;
}
#nav .rightContent .navFlexItems li:last-child {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
#nav .rightContent .navFlexItems li .imgBox {
  border-radius: 100px;
  overflow: hidden;
}
#nav .rightContent .navFlexItems li .imgBox img {
  width: 100%;
}
#nav .rightContent .profileBox {
  width: 230px;
  position: absolute;
  top: 50px;
  right: -15px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
}
#nav .rightContent .profileBox.clicked {
  opacity: 1;
  visibility: visible;
}

#nav .rightContent .profileBox:after {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  right: 22px;
  content: "";
  background-color: #fff;
  transform: rotate(45deg);
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}
#nav .rightContent .profileBox ul li {
  padding: 10px 15px;
  text-align: left;
}
#nav .rightContent .profileBox ul li a {
  position: relative;
}
#nav .rightContent .profileBox ul li a svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#nav .rightContent .profileBox ul li span {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 25px;
}
#nav .rightContent .profileBox ul li:last-child {
  border-top: 1px solid #d9d9d9;
}
#nav .rightContent .profileBox ul li:last-child span {
  margin: 0;
}
#nav .middleContent {
  position: relative;
}
#nav .middleContent .placeholder {
  position: absolute;
  color: #888;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -40%);
}

#nav .middleContent input {
  width: 250px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #888;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
}
#nav .middleContent .placeholder {
  z-index: -2;
}

#nav .middleContent .searchBox {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
}
#nav .middleContent .searchBox:after {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -8px;
  left: 50%;
  background-color: #fff;
  content: "";
  transform: translateX(-50%) rotate(45deg);
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
#nav .middleContent .searchBox .searchList li {
  display: flex;
  width: 100%;
  width: 260px;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
#nav .middleContent .searchBox .searchList li:last-child {
  border-bottom: none;
}
#nav .middleContent .searchBox .searchList li:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
#nav .middleContent .searchBox .searchList li .textBox {
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  text-align: left;
  padding-left: 15px;
}
#nav .middleContent .searchBox .searchList li .textBox .id {
  font-weight: 500;
  color: #000;
  margin-bottom: 3px;
}
#nav .middleContent .searchBox .searchList li .textBox .name {
  color: #666;
}
#nav .middleContent .searchBox .imgBox {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
}

/* main Feed */
#main {
  width: 975px;
  position: relative;
  margin: 0 auto;
  margin-top: 54px;
  overflow: hidden;
}
#main .wrapper {
  display: inline-block;
  width: 975px;
  overflow: hidden;
}
#main .feeds {
  width: 70%;
  padding-top: 30px;
}
#main article {
  margin-bottom: 60px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}
#main article .profile_top {
  display: flex;
  height: 60px;
  position: relative;
  padding: 16px 0 16px;
  align-items: center;
}
#main article .profile_top .profileImgBox {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 100px;
  margin-right: 5px;
  margin-left: 15px;
}
#main article .profile_top span {
  display: inline-block;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}
#main article .profile_top .more {
  margin-left: auto;
}
#main article .profile_top .more a {
  display: inline-block;
  padding: 15px 0;
}
#main article .profile_top .more a img {
  transform: scale(0.5);
}
#main article .icons ul {
  display: flex;
  padding: 0 10px;
}
#main article .icons ul li {
  height: 40px;
  padding: 5px;
  cursor: pointer;
}
#main article .icons ul li img {
  height: 100%;
}
#main article .icons ul li:last-child {
  margin-left: auto;
}
#main article .likeCount {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5px;
  padding-left: 10px;
}
#main article .feedContext {
  padding: 0 0 15px 10px;
}
#main article .feedContext a {
  float: left;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 10px 0 3px;
}
#main article .feedContext p {
  display: inline-block;
}
#main article .feedContext button {
  font-size: 1.2rem;
  color: #666;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
#main article .commentInput {
  position: relative;
  padding: 5px 0;
  border-top: 1px solid #d9d9d9;
}
#main article .commentInput input {
  width: 100%;
  height: 40px;
  padding: 10px 15px 10px 30px;
  border: none;
  outline: none;
}
#main article .commentInput .replyBtn {
  position: absolute;
  font-weight: bold;
  color: #0094f68a;
  padding: 10px;
  top: 50%;
  right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  transform: translateY(-50%);
}
#main article .comments {
  margin-top: 15px;
}
#main article .comments .commentList .comment {
  display: flex;
  position: relative;
  margin-bottom: 5px;
}
#main article .comments .commentList .comment a {
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 10px 0 3px;
}
#main article .comments .commentList .comment p {
  display: inline-block;
  font-size: 1.3rem;
}
#main article .comments .commentList .comment .likeBtn {
  color: #333;
  padding: 0 5px;
  margin-left: auto;
  margin-right: 5px;
}
#main article .comments .commentList .comment .deleteBtn {
  font-size: 1.6rem;
  color: #666;
  margin-right: 15px;
}
#main article .comments .commentList .comment .deleteBtn:active {
  color: rgb(233, 0, 0);
}
#main article .timeAgo {
  display: inline-block;
  font-size: 1.2rem;
  color: #777;
  padding-left: 5px;
  margin-top: 15px;
}
/* main Right */
#main .main-right {
  width: 293px;
  position: fixed;
  top: 100px;
  right: 359px;
  min-height: 500px;
}
#main .main-right .profile .top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#main .main-right .profile .imgBox {
  width: 56px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}
#main .main-right .profile .textBox a {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  flex-direction: column;
}

#main .main-right .profile .textBox .nick {
  color: rgb(168, 168, 168);
}

.main-right .content {
  padding: 15px;
  flex: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #fff;
}
#main .main-right .content .text {
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  color: #999;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
#main .main-right .content .text button {
  font-weight: bolder;
  color: #333;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
.main-right .content .list ul {
  font-size: 1.4rem;
  padding-top: 10px;
}
#main .main-right .content .list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#main .main-right .content .list ul li .textBox {
  display: flex;
  flex-direction: column;
}
#main .main-right .content .list ul li .textBox .id {
  font-weight: bold;
}
#main .main-right .content .list ul li .textBox .sub {
  font-size: 1.2rem;
  color: rgb(168, 168, 168);
}
#main .main-right .content .list ul li .imgBox {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
}
#main .main-right .content .list ul li button {
  font-weight: bold;
  color: #0095f6;
  margin-left: auto;
  cursor: pointer;
}
