:root {
    --border-color: rgb(219, 219, 219); 
    --main-backgroundColor: #FFFFFF;
    --sub-backgrouondColor: #FAFAFA;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

