* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/* 전체 */
.mainPage{
    background-color: silver;
    height: 100vh;
    position: relative;
}
 /* 네비게이션 바 */
nav {
    width: 100%;
    position: fixed;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: rgb(219, 219, 219) solid 1px;
    top: 0px;
    left: 0px;
    right: 0px;
}
.mainNav {
    padding: 0 20px;
    margin: 0px auto;
    width: 975px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
}

.mainNav_logo{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
}
.mainNav_logo img {
    width: 103px;
    height: 35px;
}

.mainNav_search input{
    padding: 3px 10px 3px 26px;
}

.mainNav_icons {
    display: flex;
    height: 22px;
    position: absolute;
    right: 20px;
    justify-content: space-around;
}

/* 인스타그램 스토리 */
.instaStory img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.instaStory {
    height: 119px;
    background-color: #FFFFFF;
    border: rgb(219, 219, 219) solid 1px;
    margin-bottom: 30px;
    padding: 16px 0 16px 10px;
    display: flex;
}

.instaStory_profile{
    margin: 0px 10px;
    display: flex;
    flex-direction:column ;
    padding: 5px 10px 10px 10px;

}

/* 메인 */
.mainSection{
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 90px 0 ;
    margin: 0px auto;

}

.feeds {
    margin-right: 10px;
    background-color: #FAFAFA;
    height: 100%;
    width: 619px;
    
}
/* 인스타그램 게시글 */
.instaPost{
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid rgb(219, 219, 219);

}

.instaPost_header{
    padding: 16px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.instaPost_header img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.instaPost_img img{
    width: 100%;
    height:100% ;
}

.instaPost_icons {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0px 10px;
    position: relative;
}

.instaPost_icons img {
    width: 24px;
    height: 24px;
    margin: 3px;
}

.bookmark_icon {
    position: absolute;
    right: 10px;
}

.instaPost_comments {
    margin: 0px 16px;
}

.instaPost_comments p {
    font-size: 10px;
    color: #8E8E8E;
    padding:10px 0 ;
    margin: 0;
    border-bottom: rgb(219, 219, 219) solid 1px;
}
.instaPost_like{
    font-weight: 700;
    margin-bottom: 5px;
}

.instaPost_id{
    font-weight: 700;
}

.instaPost_commentsBar {
    display: flex;
}
.instaPost_commentsBar img{
    width: 24px;
    height: 24px;
    margin: 10px;
}

.instaPost_input{
    width: 100%;
    padding: 10px 10px 10px 0px;
    border: none;

}

.instaPost_input:focus{
    outline: none;
}

.submit {
    font-size: 14px;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #0095F6;
    width: 50px;
    cursor: pointer;
}

.
/* 옆에 사이드바 */
.main-right{
    background-color: #FAFAFA;
    width: 293px;
}

.myProfile {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    align-items: center;
}

.myProfile img {
    width: 56px ;
    height: 56px;
    border-radius: 50%;
    margin: 10px;
}

.myProfile_name_id{
    margin: 0px;
}
.myProfile_name_introduce{
    margin: 0px;
    color: gray;
}

.friendRecommend_description {
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
}

.friendProfile {
    display: flex;
    align-items: center;
}

.friendProfile img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px;
}

.friendProfile_name_id {
    margin: 0px;
}

.freindProfile_name_description{
    margin: 0px;
    color: gray;
}

.friendRecommend_description_one{
    font-size: 14px;
    color: gray;
}

.friendRecommend_description_two{
    position: absolute;
    right: 10px;
    font-size: 12px;
}
