.mainPage {
    position: relative;
    height: 100vh;
}

.mainPage nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--main-backgroundColor);
    border-bottom: var(--border-color) solid 1px;
}

.mainNav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 975px;
    height: 100%;
    padding: 0 20px;
    margin: 10px auto;
    background-color: var(--main-backgroundColor);
}

.mainNav_logo {
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    left: 30px;
}
.mainNav_logo img {
    width: 103px;
    height: 35px;
}

.mainNav_search input {
    padding: 3px 10px 3px 26px;
}

.mainNav_search input:focus {
    outline: none;
}

.mainNav_icons {
    display: flex;
    position: absolute;
    right: 20px;
    justify-content: space-around;
    height: 22px;
}

.instaStory img {
    width: 56px;
    height: 56px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.instaStory {
    display: flex;
    height: 119px;
    padding: 16px 0 16px 10px;
    margin-bottom: 30px;
    border: var(--border-color) solid 1px;
    background-color: var(--main-backgroundColor);
}

.instaStory_profile {
    display: flex;
    flex-direction:column ;
    margin: 0px 10px;
    padding: 5px 10px 10px 10px;

}

.mainSection {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 90px 0 ;
    margin: 0px auto;
    background-color: var(--sub-backgrouondColor);
    
}

.feeds {
    width: 619px;
    height: 100%;
    margin-right: 10px;
    background-color: var(--sub-backgrouondColor);
    
}

.instaPost {
    height: auto;
    background-color: var(--main-backgroundColor);
    border: 1px solid var(--border-color);

}

.instaPost_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 16px;
}

.instaPost_header img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}

.instaPost_img img {
    width: 100%;
    height:100% ;
}

.instaPost_icons {
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    margin: 0px 10px;
}

.instaPost_icons img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

.bookmark_icon {
    position: absolute;
    right: 10px;
}

.instaPost_comments {
    margin: 0px 16px;
}

.instaPost_time {
    margin: 0;
    padding:10px 0 ;
    color: #8E8E8E;
    font-size: 10px;
    border-bottom: var(--border-color) solid 1px;
}

.instaPost_content{
    display: flex;
    position: relative;
}

.instaPost_like {
    margin-bottom: 5px;
    font-weight: 700;
}

.instaPost_content p {
    margin: 0px 10px 0px 0px;
}

.instaPost_id {
    font-weight: 700;
}

.deleteBtn {
    position: absolute;
    right: 10px;
    background-color: var(--main-backgroundColor);
    border: none;
    cursor: pointer;
}

.instaPost_commentsBar {
    display: flex;
}

.instaPost_commentsBar img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.instaPost_input {
    width: 100%;
    padding: 10px 10px 10px 0px;
    border: none;
}

.instaPost_input:focus {
    outline: none;
}

.submit {
    width: 50px;
    border: 0;
    color: #0095F6;
    background-color: var(--main-backgroundColor);
    font-size: 14px;
    outline: 0;
    cursor: pointer;
}

.main-right {
    width: 293px;
    background-color: var(--sub-backgrouondColor);
}

.myProfile {
    display: flex;
    align-items: center;
    margin-top: 13px;
    padding-left: 20px;
}

.myProfile img {
    width: 56px ;
    height: 56px;
    margin: 10px;
    border-radius: 50%;
}

.myProfile_name_id {
    margin: 0px;
}

.myProfile_name_introduce {
    margin: 0px;
    color: gray;
}

.friendRecommend_description {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px;
}

.friendProfile {
    display: flex;
    align-items: center;
}

.friendProfile img { 
    width: 32px;
    height: 32px;
    margin: 10px;
    border-radius: 50%;
}

.friendProfile_name_id {
    margin: 0px;
}

.freindProfile_name_description {
    margin: 0px;
    color: gray;
}

.friendRecommend_description_one {
    color: gray;
    font-size: 14px;
}

.friendRecommend_description_two {
    position: absolute;
    right: 10px;
    font-size: 12px;
}
