body {
  padding: 0;
  margin: 0;
  background-color: rgb(248, 247, 247);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 2px -2px gray;
}

.navWrap {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.logo {
  font-family: 'lobster', cursive;
  font-size: 30px;
  text-align: center;
  margin-right: 200px;
}

.nav_menus {
  display: flex;
  list-style-type: none;
  padding-left: 200px;
}

ul>li>img {
  width: 24px;
  height: 24px;
  margin: 10px;
}

.profilePic {
  border: 1px solid gray;
  border-radius: 50%;
}

.searchWrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.searchBar {
  width: 210px;
  height: 28px;
  margin: auto;
  text-align: center;
  background-color: rgb(248, 247, 247);
  border: 1px solid lightgray;
  border-radius: 3px;
}

.searchBarImg {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 80px;
}

.body-wrap {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.feed-wrap {
  margin-right: 350px;
}

.story-wrap {
  background: white;
  border: 1px solid lightgray;
  height: 120px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.feed {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.main-right {
  width: 293px;
  height: 500px;
  border: 1px solid black;
  position: fixed;
  margin-left: 650px;
}

.feed-header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 0 15px;
}

.feed-header-profile {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid gray;
  margin-right: 15px;
}

.feed-header-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.feed-header-id {
  font-weight: 500;
  font-size: 15px;
}

.feed-header-more-option {
  width: 15px;
  height: 15px;
}



.feed-footer {
  background-color: yellow;
  height: 100px;
}

.feed-img {
  border-bottom: 1px solid lightgray;
}

.feed-img > img {
  width: 614px;
}

.stories {
  display: flex;
  list-style-type: none;
}