* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    display: flex;
    background: #fafafa;
}

.nav-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: 56px;
    top: 0;
    border-bottom:  1px solid #DBDBDB;
    background-color: #ffffff;
}

.mainFeeds {
    width: 900px;
    margin: 80px auto 0;

}

.storys {
    border: 1px solid #DBDBDB;
    height: 84px;
    margin-bottom: 24px;
    background-color: #ffffff;
}

.mainFeeds .feeds {
    display: flex;
    justify-content: center;
    border: 1px solid #DBDBDB;
    height: 710px;
    background-color: #ffffff;
}

.feedBox {
    width: 550px;
}

.mainRight {
    border: 1px solid DBDBDB;
    width: 321px;
    height: 869px;
    position: fixed;
    left: calc(50% + 130px);
    top: 80px;
}


.searchBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border:1px solid black; */
}

input {
    width: 200px;
    height: 29px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
    background-color: #fafafa;

}

.navBox {
    height: 100%;
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.nav-bar a {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
    
}

.imgBox>img {
    width: 30px;
}

.fas.fa-search {
    position: absolute;
    left: 72px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: #A4A7AA;
}
