/* media query */
@import url("media_query_main.css");



/* main.css styles */
body {
  font-family: 'Arimo', sans-serif;
  background-color: #fafafa;
}


/***** navigation bar *****/
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 53.5px;
  position: fixed;
  z-index: 10;
}

.nav-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black; */
}

.nav-logo, .nav-search-box-container, .nav-menu {
  flex-shrink: 0;
}

.nav-logo {
  width: 107px;
  align-self: flex-end;
  position: relative;
  bottom: 5.5%;
  z-index: 1;
  overflow: hidden;
  /* border: 1px solid black; */
}

img.nav-logo {
  width: 100%;
}

.nav-search-box-container {
  width: 215px;
  height: 28px;
  position: absolute;
  top: 23%;
  right: 39%;
  z-index: 2;
  /* overflow: hidden; */
  /* border: 1px solid black; */
}

.nav-search-box {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 0.5px solid #dbdbdb;
  background-color: #fafafa;
  font-size: 88%;
  color: black;
  text-indent: 41%;
}

.nav-search-box::placeholder {
  color: #959595;
}

.nav-search-icon {
  width: 20px;
  position: absolute;
  top: 15%;
  left: 31.5%;
  opacity: 0.5;
}

.nav-search-clear-icon {
  width: 11%;
  position: absolute;
  top: 5%;
  right: 1%;
  opacity: 0.2;
  display: none;
  /* border: 1px solid red; */
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 216px;
  height: 40px;
  position: relative;
  right: 0.2%;
  z-index: 2;
  /* border: 1px solid black; */
}

.nav-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  z-index: 3;
  /* border: 1px solid black; */
}

.avatar-outer-border {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  right: 2.5%;
  border: none;
  z-index: 1;
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0.5px 0.5px #919191;
  /* border: 0.5px solid black; */
}

img.menu-item-icon {
  cursor: pointer;
}

img.home-icon {
  width: 130%;
}

img.dm-icon {
  width: 125%;
}

img.explore-icon {
  width: 130%;
}

img.heart-icon {
  width: 120%;
}

img.avatar-icon {
  align-self: center;
  border-radius: 0;
  width: 100%;
  height: auto;
  position: relative;
  top: 22%;
}

div.nav-menu-dropdown {
  display: none;
}

ul.nav-menu-dropdown-items {
  width: 230px;
  height: 160px;
  border-radius: 3%;
  background-color: #fff;
  box-shadow: 0 0 4px 0.2px #c8c8c8;
  position: absolute;
  top: 117%;
  right: -10%;
  z-index: 3;
  /* border: 1px solid green; */
}

a.nav-menu-dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  /* border: 1px solid black; */
}

a.nav-menu-dropdown-item:hover {
  background-color: #fafafa;
}

a.nav-menu-dropdown-item.logout {
  padding-top: 15px;
  border-top: 1px solid #dbdbdb;
}

div.nav-dropdown-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  overflow: hidden;
  /* border: 1px solid blue; */
}

div.nav-dropdown-item-img.settings-img {
  border-radius: 50%;
}

img.nav-dropdown-item-img {
  width: 160%;
}

img.nav-dropdown-item-img.settings-img {
  width: 265%;
}

p.nav-dropdown-item-text {
  color: #262626;
  font-size: 85%;
  padding: 0 10px;
}

p.logout-text {
  padding: 0;
}

.nav-menu-dropdown-connector-figure {
  width: 13px;
  height: 13px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 99%;
  right: 6%;
  box-shadow: -1px -1px 2px 0 #dbdbdb;
  z-index: 4;
}


/***** main section - feeds & side sections *****/

.main {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  position: relative;
  top: 48px;
  padding-top: 38px;
  /* border: 1px solid black; */
}


/***** feeds section *****/
.feeds-section {
  width: 612px;
  /* border: 1px solid black; */
}

/***** Story *****/
.story-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 118px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  position: relative;
}

div.story-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 149, 149, 0.6);
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 5px 0.5px #919191;
  cursor: pointer;
}

div.story-arrow-button.left {
  left: 2.8%;
  display: none;
}

div.story-arrow-button.right {
  right: 1%;
}

img.story-arrow-img {
  width: 180%;
}

.story {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0, 0);
  /* border: 1px solid black; */
}

li.story-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 14px;
  /* border: 1px solid black; */
}

li.story-element:first-child {
  margin-left: 16px;
}

li.story-element:last-child {
  margin-right: 14px;
}

.story-element a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.story-profile-pic-outer-glow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  background: linear-gradient(270deg, #c82d8e, #f99d4c);
  border-radius: 50%;
}

.story-profile-pic-mid-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  background: white;
  border-radius: 50%;
}

div.story-profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  overflow: hidden;
  background-color: #dbdbdb;
  box-shadow: 0 0 0.5px 0.5px #919191;
  border-radius: 50%;
  position: relative;
}

img.story-profile-pic {
  width: 128%;
  border-radius: 50%;
  position: absolute;
}

.story-profile-id {
  max-width: 66px;
  font-size: 77%;
  padding-top: 6px;
}


/***** Feeds *****/
.feeds {
  width: 100%;
  margin-top: 25px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.feed-element {
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 12px;
  padding-right: 8px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  /* border: 1px solid black; */
}

.feed-profile-pic-outer-glow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  background: linear-gradient(270deg, #c82d8e, #f99d4c);
  border-radius: 50%;
}

.feed-profile-pic-mid-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  background: white;
  border-radius: 50%;
}

div.feed-profile-pic {
  width: 33px;
  height: 33px;
  overflow: hidden;
  background-color: #dbdbdb;
  box-shadow: 0 0 0.5px 0.5px #919191;
  border-radius: 50%;
  padding: 5px;
  position: relative;
}

img.feed-profile-pic {
  width: 128%;
  border-radius: 50%;
  position: absolute;
  top: -12%;
  left: -10%;
}

.feed-profile-id-n-place {
  position: absolute;
  left: 62px;
}

.feed-profile-id {
  color: black;
  font-weight: 700;
  font-size: 85%;
}

.feed-place {
  color: #919191;
  font-size: 75%;
  padding-top: 5px;
  overflow: hidden;
}

.feed-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  cursor: pointer;
  /* border-style: none; */
}

img.feed-option {
  width: 80%;
  height: auto;
}

.feed-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feed-main-pic {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
}

.feed-actions {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid black; */
}

div.feed-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* border: 1px solid black; */
}

div.feed-tag {
  position: absolute;
  right: 1%;
}

img.feed-action-heart {
  width: 90%;
}

img.feed-action-comment {
  width: 100%;
}

img.feed-action-dm {
  width: 100%;
}

img.feed-action-tag {
  width: 90%;
  /* border: 1px solid black; */
}

div.feed-likes {
  display: flex;
  align-items: center;
  padding: 3px 15px;
}

div.focused-liker-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dbdbdb;
  overflow: hidden;
  box-shadow: 0 0 0.5px 0.5px #919191;
  position: relative;
}

img.focused-liker-img {
  width: 122%;
  border-radius: 50%;
  position: absolute;
  top: -11%;
  left: -10%;
}

.likes-count {
  font-size: 90%;
  padding-left: 5px;
}

.likes-count span {
  font-weight: 700;
}

.feed-exp-box {
  display: flex;
  align-items: center;;
  width: 100%;
  padding: 3px 15px;
}

.feed-exp {
  padding-left: 5px;
  font-size: 90%;
}

ul.feed-comments {
  width: 100%;
  padding: 3px 15px;
}

li.feed-comment-item {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 2px 0;
}

.feed-comment {
  padding-left: 5px;
  font-size: 90%;
}

.feed-comment-like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.feed-comment-heart {
  width: 90%;
}

.feed-posted-time {
  width: 100%;
  padding: 7px 15px;
  padding-bottom: 10px;
  font-size: 65%;
  color: #9d9d9d;
}

.feed-post-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-top: 0.5px solid #efefef;
}

.post-comment-box {
  width: 90%;
  font-size: 90%;
  text-indent: 12px;
  outline: none;
  border: none;
  opacity: 0.8;
}

.post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 90%;
  font-weight: 700;
  color: #0095f6;
  background-color: #fff;
  border: none;
  opacity: 0.3;
}


/***** side section *****/
.side-section {
  width: 315px;
  height: 600px;
  position: sticky;
  top: 95px;
  /* border: 1px solid black; */
}

.account-profile-box {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 13px auto;
  padding-left: 11px;
  /* border: 1px solid black; */
}

.account-profile-pic {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0.3px 0.3px #919191;
}

img.account-profile-pic {
  align-self: center;
  border-radius: 0;
  width: 120%;
  height: auto;
  position: relative;
  top: 16%;
}

.account-profile-id-n-name {
  margin-top: 3px;
  margin-left: 18px;
}

.account-profile-id-n-name p {
  padding: 3.3px 0;
}

.account-profile-id {
  color: black;
  font-size: 95%;
  font-weight: 700;
}

.account-profile-name {
  color: #919191;
  font-size: 75%;
}

.suggestions-box {
  /* border: 1px solid black; */
}

.suggestions-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 16px 10px 5px;
  font-weight: 700;
  /* border: 1px solid black; */
}

.suggestions-heading {
  color: #929292;
  font-size: 88%;
}

.suggestions-see-all {
  color: black;
  font-size: 75%;
}

ul.suggestions-list {
  /* border: 1px solid black; */
}

.suggestion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  /* border: 1px solid black; */
}

div.suggested-profile-pic {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: #dbdbdb;
  box-shadow: 0 0 0.5px 0.5px #919191;
  /* border: 0.2px solid #919191; */
  border-radius: 50%;
  position: relative;
}

img.suggested-profile-pic {
  width: 118%;
  position: absolute;
  top: -10%;
  left: -8%;
}

.suggested-profile-id-n-followers {
  position: absolute;
  left: 17%;
}

.suggested-profile-id {
  color: black;
  font-weight: 700;
  font-size: 85%;
  padding-top: 5px;
}

.followed-by {
  width: 185px;
  color: #919191;
  font-size: 75%;
  padding-top: 5px;
  overflow: hidden;
}

p.follow {
  color: #0095f6;
  font-size: 75%;
  font-weight: 700;
  padding: 5px;
}

footer {
  margin: 25px 0;
}

.footer-menus {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7px;
  margin-bottom: 22px;
}

li.footer-menu {
  padding: 1px 0;
}

li.footer-menu:not(:last-of-type)::after {
  content: '\00B7';
  margin: 0 2px;
  color: #cbcbcb;
}

li.footer-menu a{
  color: #cbcbcb;
  font-size: 70%;
}

li.footer-menu .item-8, li.footer-menu .item-9, li.footer-menu .item-10, li.language {
  letter-spacing: 0.2px;
} 

.footer-copyright {
  color: #cbcbcb;
  font-size: 70%;
  margin-left: 7px;
}




