body {
  background-color: var(--color-white);
}

/* header section */

.header__container {
  display: flex;
  justify-content: space-between;
  width: 945px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 15px;
}

.logo {
  display: flex;
  margin-left: 30px;
  margin-top: 8px;
  font-size: var(--font-medium);
}

.logo li {
  margin-right: 10px;
}

.logo img {
  width: 83px;
  height: 27px;
}

.search {
  position: relative;
}

.search__bar {
  text-align: center;
  padding: 11px 39px;
  color: var(--color-light-grey);
}

.search__glass {
  position: absolute;
  top: 10px;
  right: 129px;
  color: var(--color-light-grey);
}

ul .icons {
  font-size: var(--font-medium);
}

header .icons {
  display: flex;
}

header .icons .icons__list {
  display: flex;
  margin-top: 8px;
}

header .icons li {
  margin-right: 20px;
}

header .icons li img {
  width: 24px;
  height: 24px;
}

.icons .red-dot {
  width: 3px;
  height: 3px;
  background-color: red;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 10px;
}

/* main section */

main {
  background-color: var(--color-dark-white);
  border-top: 1px solid var(--color-light-grey);
  width: 100%;
  height: 100%;
}

.main__container {
  display: flex;
  width: 898px;
  margin: 0 auto;
  height: 810px;

  background-color: var(--color-dark-white);
}

/* feeds section*/

.feeds {
  width: 472px;
  height: 725px;
  margin-top: 46px;
  margin-right: 38px;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-grey);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.nav .account {
  margin-top: 7px;
}

.mainImg-container,
.mainimg-container__img {
  position: relative;
  width: 470px;
  height: 398px;
  vertical-align: top;
}

.mainImg-container__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info__content {
  margin-left: 15px;
  margin-bottom: 11px;
}

.info__comment {
  overflow-y: scroll;
  height: 50px;
}

.info__comment::-webkit-scrollbar {
  display: none;
}

.icons,
.icon-list__left {
  display: flex;
  justify-content: space-between;
}

.icon-list__left {
  font-size: var(--font-regular);
  margin-top: 13px;
}

.icon-list__left li {
  margin-right: 12px;
  padding: 3px;
}

.icon__list--red {
  color: var(--color-red);
}

.icon__list--right {
  font-size: var(--font-regular);
  margin: 13px;
  padding: 3px;
}

.like {
  margin-bottom: 8px;
}

.like img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.metadata {
  display: flex;
  margin-bottom: 5px;
}

.metadata li {
  margin-right: 8px;
}

.divide-line {
  margin-bottom: 8px;
}

.see-more,
.upload-time {
  color: var(--color-light-grey);
}

.comment {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid var(--color-light-grey);
  vertical-align: top;
  vertical-align: bottom;
}

.comment-box {
  width: 400px;
  height: 35px;
  padding: 15px 0px 0px 15px;
  border: none;
  resize: none;
}

.post-btn {
  color: var(--color-light-blue);
  padding: 15px 15px 0px 0px;
}

.comment__content,
.upload-time {
  margin-left: 15px;
}

.upload-time {
  font-weight: lighter;
  font-size: var(--font-micro);
}

.comment__content,
.content__left {
  display: flex;
}

.comment__content {
  justify-content: space-between;
  margin-bottom: 5px;
}

.content__id {
  margin-right: 8px;
}

.content__heart {
  font-size: var(--font-small);
  margin-right: 13px;
}

/* margin-right seciton */

.main__right {
  margin-top: 46px;

  display: block;
}

.main__right ul li {
  margin-top: 12px;
}

.main__right .story,
.recommend {
  border: 1px solid var(--color-light-grey);
}

.author {
  display: flex;
}

.author .account {
  display: flex;
  flex-direction: column;
}

.account {
  display: flex;
  margin-left: 10px;
}

.author img,
.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.account .account__name {
  font-weight: var(--weight-bold);
  margin-bottom: 7px;
}

.account .account__location {
  color: var(--color-light-grey);
  font-weight: var(--weight-semi-bold);
}

.account .account__info {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  margin-left: 18px;
}

.account__follow,
.account__time {
  color: var(--color-light-grey);
}

.story__title,
.recommend__title {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.story__title--grey,
.recommend__title--grey {
  color: var(--color-light-grey);
}

.recommend__title--grey {
  font-weight: var(--weight-semi-bold);
}

.see-all {
  font-weight: var(--weight-semi-bold);
}

.account__list {
  margin-bottom: 20px;
}

.account__list li {
  margin-right: 12px;
}

.follow-btn {
  color: var(--color-blue);
  margin-top: 8px;
}

.rights {
  margin-top: 20px;
  color: var(--color-light-grey);
}

.description {
  font-size: var(--font-small);
  font-weight: lighter;
}
