body {
  background-color: var(--color-white);
}

/* header section */

header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 945px;
  margin: 0 auto;
  margin-top: 17px;
}

.logo {
  display: flex;
  margin-left: 24px;
  font-size: var(--font-medium);
}

.logo li {
  margin-right: 10px;
}

.logo img {
  width: 104px;
  height: 50px;
}

.search {
  position: relative;
}

.search__bar {
  text-align: center;
  padding: 8px 42px;
  margin-top: 8px;
}

.search__glass {
  position: absolute;
  top: 16px;
  right: 129px;
  color: var(--color-grey);
}

ul .icons {
  font-size: var(--font-medium);
}

header .icons {
  display: flex;
  margin-right: 85px;
}

header .icons .icons__list {
  display: flex;
  margin-top: 8px;
}

header .icons li {
  margin-right: 20px;
}

header .icons li img {
  width: 24px;
  height: 24px;
}

.icon__list--account img {
  border-radius: 50%;
}

.icons__list .selected {
  border-style: none;
  background-color: var(--color-white);
  position: relative;
  bottom: 14px;
}

.icons__count {
  font-weight: lighter;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: -4px;
}

/* main section */

main {
  background-color: var(--color-dark-white);
  border-top: 1px solid var(--color-grey);
  width: 100%;
  height: 100%;
}

.main__container {
  display: flex;
  width: 898px;
  margin: 0 auto;
  height: 810px;

  background-color: var(--color-dark-white);
}

/* feeds section*/

.feeds {
  width: 472px;
  height: 725px;
  margin-top: 46px;
  margin-right: 38px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.nav .account {
  margin-top: 7px;
}

.mainImg-container,
.mainimg-container__img {
  position: relative;
  width: 470px;
  height: 398px;
  vertical-align: top;
}

.mainImg-container__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info__content {
  margin-left: 15px;
  margin-bottom: 11px;
}

.comment__container {
  overflow-y: scroll;
  height: 50px;
  margin-left: 15px;
}

.comment__container::-webkit-scrollbar {
  display: none;
}

.infoComment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icons,
.icon-list__left {
  display: flex;
  justify-content: space-between;
}

.icon-list__left {
  font-size: var(--font-regular);
  margin-top: 13px;
}

.icon-list__left li {
  margin-right: 12px;
  padding: 3px;
}

.icon__list--red {
  color: var(--color-red);
}

.icon__list--right {
  font-size: var(--font-regular);
  margin: 13px;
  padding: 3px;
}

.like {
  margin-bottom: 8px;
}

.like img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.metadata {
  display: flex;
  margin-bottom: 5px;
}

.metadata__userName {
  font-weight: var(--weight-semi-bold);
}

.metadata li {
  margin-right: 8px;
}

.metadata p {
  /* display: inline-block; */
}

.divide-line {
  margin-bottom: 8px;
}

.seeMore,
.uploadTime {
  color: var(--color-grey);
}

/* comment part */

.comment {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid var(--color-grey);
  vertical-align: top;
  vertical-align: bottom;
}

.comment-box {
  width: 400px;
  height: 35px;
  padding: 15px 0px 0px 15px;
  border: none;
  resize: none;
}

.postBtn {
  color: var(--color-light-blue);
  padding: 15px 15px 0px 0px;
}

.comment__content,
.uploadTime {
  margin-left: 15px;
}

.uploadTime {
  font-weight: lighter;
  font-size: var(--font-micro);
}

.comment__content,
.contentLeft {
  display: flex;
}

.comment__content {
  justify-content: space-between;
  margin-bottom: 5px;
}

.contentId {
  margin-right: 8px;
  font-weight: var(--weight-semi-bold);
}

.contentHeart {
  font-size: var(--font-small);
  margin-right: 13px;
}

/* margin-right seciton */

.main__right {
  margin-top: 46px;

  display: block;
}

.main__right ul li {
  margin-top: 12px;
}

.main__right .story,
.recommend {
  border: 1px solid var(--color-grey);
}

.author {
  display: flex;
}

.author .account {
  display: flex;
  flex-direction: column;
}

.account {
  display: flex;
  margin-left: 10px;
}

.author img,
.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.account .account__id {
  font-weight: var(--weight-bold);
  margin-bottom: 7px;
}

.account .account__name {
  font-weight: lighter;
  color: var(--color-grey);
}

.account .account__location {
  font-weight: lighter;
  font-size: var(--font-micro);
}

.account .account__info {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  margin-left: 18px;
}

.account__follow,
.account__time {
  font-size: var(--font-micro);
  color: var(--color-grey);
}

.story__title,
.recommend__title {
  font-size: var(--font-small);
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.story__title--grey,
.recommend__title--grey {
  color: var(--color-grey);
  margin-top: -1px;
}

.recommend__title--grey {
  font-weight: var(--weight-semi-bold);
}

.seeAll {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

.account__list {
  margin-bottom: 20px;
}

.account__list li {
  margin-right: 12px;
}

.followBtn {
  color: var(--color-blue);
  margin-top: 8px;
}

.rights {
  font-size: smaller;
  margin-top: 20px;
  color: var(--color-grey);
}

.description {
  font-size: var(--font-small);
  font-weight: lighter;
}

.tag1,
.tag2 {
  font-size: smaller;
}

.tag1 {
  margin-bottom: 8px;
}
