body {
    height: 100vh;
    width: 100vw;
    background: rgb(236, 236, 236);
}

.login-page{
    width: 100%;
    max-width: 935px;
    padding-bottom: 32px;
    margin: 32px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    width: 350px;
    height: 380px;
    border: 0.5px #fafafa solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    position: relative;
}

.logo {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
}

.logo-img {
    width: 175px;
}

.main-box .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
}

input {
    width: 250px;
    height: 35px;
    margin: 4px 0px;
    background: #fafafa;
    text-decoration: none;
    border: 1px solid #fafafa;
    border-color: silver;
    border-radius: 2px;
    font-size: 12px;
}

button {
    width: 250px;
    height: 28px;
    background: rgb(201, 224, 249);
    border-style: none;
    border-radius: 2px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.forgetpw {
    position: absolute;
    top: 340px;
}

.forgetpw a {
    font-size: 12px;
    text-align: center;
    color: #00376b;
    cursor: pointer;
}

.acticeLogin {
    color: #0095f6;
}

.unactiveLogin {
    color: 'rgb(201, 224, 249)';
}