html, body {
    width: 100%;
    height: 100%;

}
.layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.main-container {    
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: #fafafa;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

nav .nav-inside {
    width: 975px;
    display: flex;
    padding: 0px 20px;
}
.logo-img {
    height: 32px;
}

.far {
    font-size: 25px;
}
.logo {
    width: 33.3%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
}

.search-bar {
    width: 33.3%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 215px;
    height: 28px;
    padding: 7px;
    background: #fafafa;
    border-radius: 2px;
    border: 0.5px solid;
    border-color: silver;
    outline: none;
}

input:focus{
    outline: none;
}

input:focus::-webkit-input-placeholder { 
    color: transparent !important;
    }


.icon {
    width: 33.3%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
}

.icon-menu {
    height: 100%;
    padding-top: 3px;
}

.icon-menu img {
    display: flex;
    align-items: center;
    width: 22px; 
    height: 22px;
}

.icon ul {
    display: flex;
}

.icon ul li {
padding-left: 20px;
}

.icon-menu:nth-child(5) img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.search-bar input::placeholder {
    text-align: center;
    color: lightgrey;
    opacity: 1;
}

main {
    height: 1200px;
    width:935px;
    display: flex;
    justify-content: center;
    position: relative;
}

.feed {
    width: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-container {
    width: 100%;
    height: 100%;
    padding:32px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.story-box {
    width: 614px;
    height: 118px;
    border: 1px solid #dbdbdb;
    margin-bottom: 24px;
    padding: 16px 0px ;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.story-place{
    width: 900px;
    height: 110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.personal-story {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    background-image: url(../image/rainbow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

.personal-story img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    top: 18px;
    left: 0px; 
}

.story-image {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-name {
    padding-top: 22px;
}

article {
    width: 614px;
    height: auto;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 2px;
}

.user-info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.user-info img {
    width: 35px;
    height: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.feed-photo {
    width: 100%;
    height: 613px;
}

.feed-photo img {
    width: 100%;
    height: 613px;
}

.feed-icon {
    width: 100%;
    height: 40px;
}

.icon-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.left-side-icon img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
} 

.right-side-icon img {
    width: 24px;
    height: 24px;
} 

.like {
    width: 100%;
    height: 18px;
    padding: 0px 16px;
}

.like p {
    font-size: 14px;
    color: #262626;
    font-weight: 700;
}

.comments {
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 0px 16px;
}

.comments p {
    margin-top: 3px;
}

.bold {
    font-weight: 700;
    font-size: 14px;
}

.normal {
    font-size: 12px;
}

.mensions-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 28;
    line-height: 28px;
}

.user-account-name {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.mensions-list {
    width: inherit;
    height: auto;
    display: flex;
    justify-content: left;
}

.mention-like img {
    width: 12px;
    height: 12px;
}

.time-history {
    width: 100%;
    height: 19px;
    line-height: 19px;
    border-bottom: 0.5px solid #efefee;
}

.time-history p {
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    color: #8E8E8E;
    padding: 0px 16px;
}

.write-comment {
    width: 100%;
    height: 56px;
    /* border: 1px solid #dbdbdb; */
    padding: 0px 16px;
}

.putin-place {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-comment .putin-place input {
    outline: none;
    border: none;
    height: 30px;
    width: 500px;
    line-height: 30px;
    text-align: left;
    color: black;
}

.putin-place button {
    outline: none;
    border: none;
    background-color: transparent;
    /* color: rgb(201, 224, 249); */
    cursor: pointer;
}

.main-right {
    width: 293px;
    height: 450px;
    margin-left: 30px;
    position: sticky;
    top: 87px;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.user-account {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profile-photo img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.account-name {
    width: 200px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.name {
    font-size: 14px;
    color: #8E8E8E;
}

.add-other-accounts{
    width: 325px;
    height: 19px;
    display: flex;
    justify-content: space-between;
}

.other-accounts {
    width: 325px;
    height: 58px;
}

.other-accounts  ul {
    width: 325px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.other-accounts li {
    width: 325px;
    height: 58px;
    display: flex;
    align-items: center;
}

.recommend {
    width: 100%;
    height: 58px;
}

.other-profile {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.other-profile-photo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.other-profile-photo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    width: 40px;
}

.follow-btn button {
    color:#0095f6;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.intro-menu {
    width: 293px;
    height: 136px;
}

.intro-menu p {
    font-size: 11px;
    color: #c7c7c7;
}

.activeLogin {
    color: #0095f6;
}

.inactiveLogin {
    color: #c0e0fc;
}