nav {
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
}

.line {
    border-left: 0.5px solid gray;
    height: 30px;
    display: inline-block;
}   

.imagelogo {
   object-fit: cover;
   height: 30px;
   margin-top: 15px;
   margin-right: 10px;
   margin-left: 350px;

}

.textlogo {
    object-fit: cover;
    height: 30px;
    margin-left: 10px;
}

form {
    justify-content: center;
    display: flex;
}

textarea {
    font-size: 14px;
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    resize: none;
    text-align: center;
    padding: 5px;  
    margin: -32px;
}


.icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 350px;
  margin-top: -32px;
}


.explore {
    object-fit: cover;
    height: 30px;
    margin-right: 25px;
}

.heart {
    object-fit: cover;
    height: 30px;
    margin-right: 25px;
}

.mypage {
    object-fit: cover;
    height: 30px;
}

.feeds {
    margin-left: 350px;
}

.feedpic {
    margin-top: 150px;
}

