:root {
    --background-color: #fafafa;
    --white: #fff;
    --gray: #dbdbdb;
    --skyblue: #b2dffc;
    --darkgray: #929292;
    --facebook: #385185;
}

body {
    background-color: var(--background-color)
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    margin-top: 24px;
}

.login_container {
    width: 350px;
    height: 377px;
    margin: 0 0 10px;
    padding: 10px 0;
    border: 1px solid var(--gray);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 171px;
    height: 51px;
    margin: 22px auto 12px;
}

.login_form input, .login_btn {
    font-size: 14px;
    line-height: 18px;
}

.login_form input {
    width: 285px;
    height: 36px;
    margin: 0 40px 6px;
    padding: 9px 0 7px 8px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    background-color: var(--background-color)
}

.login_form input:focus {
    border: 1px solid var(--darkgray);
    border-radius: 3px;
}

.login_btn {
    width: 286px;
    height: 29px;
    margin: 8px 40px;
    padding: 5px 9px;
    border-radius: 4px;
    background-color: var(--skyblue);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.or_wrap {
    width: 268px;
    height: 14px;
    margin: 10px 40px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or_line1, .or_line2, .or_text {
    width: 100%;
}

.or_line1, .or_line2 {
    height: 1px;
    background-color: var(--darkgray);
}

.or_text {
    margin: 0 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}


.facebook_btn {
    background-color: var(--white);
}

.facebook_login {
    color: var(--facebook);
    font-weight: 600;
    cursor: pointer;
}

.forget_pw {
    margin: 12px 0 0;
    font-size: 12px;
    text-align: center;
}