button {
    background-color: #fff;
}

.navbar {
    width: 100%;
    height: 53px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar_inside {
    width: 975px;
    height: 53px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logos */
.logo_wrap {
    width: 200px;
    height: 22px;
    display: flex;
    align-items: center;
}

.logo_image, .logo_centerline, .logo_text {
    height: 29px;
    margin: 4px 8px;
}

.logo_image {
    width: 29px;
    cursor: pointer;
}

.logo_centerline {
    width: 2px;
    background-color: #3d3a3b;
}

.logo_text {
    width: 103px;
    cursor: pointer;
}

/* Search */
.searchbar_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar_img {
    width: 16px;
    height: 16px;
    position: relative;
    left: 40%;
    z-index: 4;
}

.searchbar {
    width: 215px;
    height: 28px;
    padding: 3px 10px 3px 26px;
    border: 1px solid #dbdbdb;
    background-color:#fafafa;
    background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
    background-size: 12px 12px;
    background-position: 80px;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 3;
    cursor: text;
}

.searchbar:focus {
    background-position: 6px;
    text-align: left;
}


/* Icons */
.nav_icons {
    width: 222px;
    height: 22px;
    display: flex;
    flex-wrap: nowrap;
}

.explore_icon, .follow_icon, .account_icon {
    width: 22px;
    height: 22px;
    margin: 0 12px;
    cursor: pointer;
}

/* 본문 */
main {
    width: 100%;
    height: 100%;
}

.main_wrap {
    width: 975px;
    height: 100%;
    margin: 59px auto 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.left_wrap {
    width: 614px;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* feed */

.feed {
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed_top {
    width: 100%;
    height: 60px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_user_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_user_img {
    width: 42px;
    height: 42px;
    margin: 0 8px 0 0;
}

.top_user_name {
    font-weight: 600;
}

.option {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.option img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.feed_center {
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.feed_image {
    width: 100%;
}

.feed_bottom {
    width: 100%;
    padding: 0 8px;
    background-color:  #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feed_btns_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heartbtn, .bubblebtn, .sharebtn, .bookmarkbtn {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.heart, .bubble, .share, .bookmark {
    width: 24px;
    height: 24px;
    position: relative;
}

.user_likecount_wrap {
    width: 100%;
    height: 28px;
    padding: 8px;
    display: flex;
    align-items: center
}

.user_likecount_wrap img {
    width: 24px;
    height: 24px;
    border: 2px solid #dbdbdb;
    border-radius: 50%;
    position: relative;
}

.user_likement {
    padding-left: 8px;
}

.user_like {
    font-weight: 600;
}

.comment_wrap, .comments_container {
    width: 100%;
    margin: 4px 0 0;
    padding: 0 8px;
    display: flex;
}

.comments_container {
    height: 100%;
    flex-direction: column;

}

.comments_linewrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments_comment {
    display: flex;
    font-size: 13px;
}

.comments_btnwrap {
    display: flex;
    align-items: center;
}

.comments_deletebtn {
    padding: 0 4px;
    font-weight: 600;
}


.far, .fas{
    width: 12px;
    height: 12px;
    margin-right: 8px;
    padding: 0 4px;
}

.far:hover, .fas:hover {
    color: red;
    cursor: pointer;
}   

.far {
    color: #dbdbdb;
}

.fas {
    color:red;
}

.comments_time {
    margin-top: 4px;
    font-size: 13px;
}

.comments_userlink {
    margin-right: 4px;
    font-weight: 600;
}

.comment_wrap {
    height: 56px;
    align-items: center;
}

.comment {
    width: 554px;
    height: 18px;
    cursor: text;
}

.commentbtn {
    width: 36px;
    height: 17px;
    color: #b2dffc;
    font-weight: 600;
    font-size: 14px;
}

/* aside */
.right_wrap, aside {
    height: 100%;
}

.right_wrap {
    width: 325px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

aside {
    width: 293px;
}

aside header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}

.account_img {
    width: 59px;
    height: 59px;
    margin-right: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.accountinfo_wrap {
    display: flex;
    flex-direction: column;
}

.accountinfo_name {
    font-weight: 600;
}

.names {
    color: #929292;
    font-weight: 500;
}

.story {
    width: 321px;
    height: 256px;
    margin-top: 16px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.story_header, .recommand_header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.story_header span, .recommand_header span {
    color: #929292;
    font-weight: 600;
}

.story_header a, .recommand_header a {
    font-weight: 600;
}

.story_container {
    height: 200px;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.storyuser_wrap {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.storyuser_img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: 
        linear-gradient(to bottom left, #c32aa3, #ffdc7d);
    }

.storyname_wrap, .recommandname_wrap {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.storyname_wrap a, .recommandname_wrap a{
    font-weight: 600;
}

.storyname_wrap span, .recommandname_wrap span{
    color:#929292;
    font-weight: 600;
}

.recommand {
    width: 321px;
    height: 208px;
    margin-top: 16px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.recommand_container {
    height: 200px;
}

.recommand_img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    padding: 1px;
    border: 1px solid #fafafa;
    border-radius: 50%;
}

.recommand_wrap {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.recommandname_wrap {
    width: 100%;
}

.recommand_follow {
    width: 55px;
    color: #0095f6;
    font-size: 12px;
    font-weight: 600;
}

.infos, .info_year {
    width: 100%;
    margin-top: 24px;
    line-height: 13px;
    font-size: 13px;
    font-weight: 600;
}

.infos a, .info_year {
    color: #dbdbdb;
}

@media only screen and (max-width:960px) {
    .right_wrap {
        display: none;
    }

    .navbar_inside {
        width: auto;
    }
}