* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #FAFAFA;
}

.wrapLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px 0px;
}

.wrapLoginMain {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    width: 350px;
    height: 377.8px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.logoImage {
    width: 175px;
    margin: 22px 86.5px 25px;
}

input {
    width: 268px;
    height: 36px;
    margin: 3px;
    padding: 9px 0px 7px 8px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    font-size: 12px;
    background-color: #FAFAFA;
}

input.loginButton {
    width: 258px;
    height: 29.6px;
    margin: 8px 40px;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0095f6;
    opacity: 30%;
}

.loginForm a {
    text-decoration: none;
    color: #385185;
    font-weight: bold;
}

.divLine {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 18px;
    margin-left: 40px;
}

.orLine {
    width: 100px;
    height: 1px;
    background-color: #dbdbdb;
}

.orText {
    font-size: 12px;
    font-weight: bold;
    color: #8e8e8e;
}

.forgetPassword {
    margin-top: 15px;
}

.forgetPassword a {
    margin: 12px 0px 0px;
    text-decoration: none;
    color: #00376B;
    font-size: 12px;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 62.6px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    background-color: #FFFFFF;
}

.singUp p{
    color: #262626;    
}

.signUp a{
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

.downloadApp {
    width: 350px;
    height: 100.8px;
    text-align: center;
}

.downloadApp a {
    text-decoration: none;
} 

.downloadApp p {
    width: 310px;
    height: 17.6px;
    margin: 20px 20px;
    font-size: 14px;
    color: #262626;
}

.appstoreDownload {
    width: 136px;
    height: 40;
    margin-top: 5px;
}

.googlePlayDownload {
    width: 134.28px;
    height: 40;
    margin-top: 5px;
}
