body{
    background-color:#fafafa;
}

nav{
    position:fixed;
    top:0;
   
    background-color: white;
    border-bottom: 1px solid gray;
    z-index:2;
}

.mainLogo,.searchWrapper,.iconWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.iconWrapper img{
    width:24px;
}


.navWrapper{
    display:flex;
    justify-content: space-between;
    margin:0 150px;
    padding:15px;
}

.mainLogo span{
    margin-right:80px;
    font-size:30px;
    font-family: 'Lobster';
}

.searchWrapper{
  position:relative;
  margin:0 200px;
}

.search{
    width: 200px;
    height:25px;
    background-color: #fafafa;
    border:1px solid #e0e0e0;
    border-radius: 3px;
    text-align: center;
}

.searchWrapper i{
    position:absolute;
    left: 70px;
    color:gray;
    font-size:13px;
}

.iconWrapper{
    display:flex;
    justify-content: space-between;
    width:200px;
    margin-left:85px;
}

.iconWrapper .myProfile{
    border-radius: 50%;
}

.mainWrapper{
    display:flex;
    margin: 100px 100px;
}

.main-left{
    margin:0 40px;
}

.storyBox, article{
    border: 1px solid #e0e0e0;
}

.storyBox{
    margin-bottom:30px;
    background-color:white;
    border-radius:5px;
}

.storyBox img{
    width:60px;
    height:60px;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px palevioletred;
}

.storyBox ul{
    display:flex;
    justify-content: space-between;
    margin:20px 20px 15px 20px;
    list-style: none;
}

.storyBox li{
    text-align: center;
}

.storyBox i{
    margin-top:20px;
    color:#e0e0e0;
}

.storyBox p{
    margin-top:5px;
}

article{
    border-radius: 5px;
}

.feedUpper, .feedLower{
    background-color:white;
}

.feedUpper{
    display:flex;
}

.mainProfile{
    width:24px;
    height:24px;
    margin:18px;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px palevioletred;
}

.feedProfile{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.feedUpper strong{
    margin:18px 0;
}

.contentWrapper, .iconSpace{
    margin-left:15px;
}

.feedIcon{
    display:flex;
    justify-content:space-between;
    padding-top:10px;
}

.icon-left{
    display: inline-block;
    width: 100px;
}

.iconSpace{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.icon-right{
    display:inline-block;
    margin-right:15px;
}

.contentWrapper .clickGood{
    display:flex;
    align-items: center;
    margin: 10px 0;
}

.contentWrapper img{
    width:18px;
    margin-right:5px;
    border-radius: 50%;
}

.myContent, .contentWrapper a, .commentList li{
    margin-bottom:4px;
}

.contentWrapper a{
    display:block;
    color:gray;
    text-decoration: none;
}

.contentWrapper p{
    margin: 10px 0;
    color:gray;
    font-size: 11px;
}

.contentWrapper ul{
    list-style: none;
}

.inputWrapper{
    display:flex;
    height:55px;
    border-top:1px solid #e0e0e0;
}

.inputWrapper img{
    width:20px;
    height:20px;
    margin:18px 15px;
}

.inputWrapper .inputBox{
    display:flex;
    width:100%;
}

.inputBox input, .inputBox button{
    margin:15px 0;
}

.inputBox input{
    padding:10px 0;
}

.inputBox input{
    flex:9;
    border:none;
    font-size:15px;
}

.inputBox button{
    flex:1;
    border:none;
    background-color: white;
    color:#1182d9;
    font-weight:bold;
    font-size:15px;
}

.inputBox button:hover{
    cursor: pointer;
}

.main-right{
    margin-left:60px;
}

.profileBox{
  display:flex;
}

.profileBox .imageBox{
  width: 30px;
}

.profileBox img{
    display:inline-block;
    width:60px;
    height:60px;
    border-radius: 50%;
}

.profileBox .nameBox{
    display:flex;
    flex-direction: column;
    width:250px;
    margin-left:45px;
}

.profileBox button{
    width:50px;
    border:none;
    background-color: #fafafa;
    color:#1182d9;
}

.profileBox button:hover{
    cursor: pointer;
}

.recommendBox{
    display:flex;
    justify-content: space-between;
    margin:10px 0;
}

.recommendContent{
    color: gray;
}

.recommendAll{
    font-size:12px;
}

.followBox ul{
    list-style: none;
}

.followBox li{
    position:relative;
    height:50px;
}

.followBox img{
    position:absolute;
    left:0;
    width:24px;
    height:24px;
    margin-top:5px;
    border-radius: 50%;
}

.followBox .columnBox{
    display:flex;
    flex-direction: column;
    position:absolute;
    left:35px;
}

.columnBox span{
    color:gray;
    font-size:13px;
}

.followBox .followButton{
    position:absolute;
    right:0;
    margin-top:5px;
    color:#1182d9;
    font-size:13px;
}

footer{
    margin-top: 20px;
}

footer span{
    color:gray;
    font-size:13px;
}