body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.container {
  border: thin solid lightgray;
  padding: 5px;
}

.input-box {
  height: 175px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forget-pw {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box {
  width: 318.39px;
  height: 56px;
  margin: 0 50px;
  padding: 0 5px;
  border-radius: 5px;
  border: thin solid lightgray;
  background-color: #fafafa;
}

.input-box button {
  margin-top: 10px;
  height: 43.75px;
  opacity: 10;
  background-color: #b3dffd;
  color: white;
}
