* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  height: 500px;
  border: thin solid lightgray;
}

.input-box {
  height: 35%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forget-pw {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box {
  width: 80%;
  height: 32%;
  margin: 0 auto;
  border-radius: 5px;
  border: thin solid lightgray;
  background-color: #fafafa;
}

.input-box button {
  margin-top: 10px;
  height: 25%;
  opacity: 10;
  background-color: #b3dffd;
  color: white;
}
