body {
  margin: 0;
  z-index: 1;
}

nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0px;
  border-bottom: thin solid #dadada;
  background-color: white;
}

.nav-container {
  width: 975px;
  height: 54px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left-box {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-left-box img {
  width: 103px;
  height: 29px;
}

.search-box input {
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: tomato;
}

.icon-box {
  width: 360px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding-left: 24px;
}

main {
  margin-top: 55px;
  background-color: #fafafa;
}

.wrapper {
  width: 935px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

article {
  width: 614px;
}

.story {
  height: 118px;
  padding: 16px 0 16px 10px;
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

.story ul {
  display: flex;
}

.story li {
  width: 80px;
  height: 80px;
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-border {
  width: 61px;
  height: 61px;
  border-radius: 100%;
  background: linear-gradient(to left, orange, red);
}

.story-border img {
  width: 56px;
  height: 56px;
  margin-top: 2.48px;
  margin-left: 2.48px;
  border-radius: 100%;
  border: solid 1.5px white;
}

.feed {
  background-color: #fafafa;
}

.first {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 20px;
}

header {
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-profile {
  width: 32px;
  height: 32px;
}

.header-profile img {
  width: 32px;
  height: 32px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 100%;
  border: solid 0.5px white;
}

.header-content {
  width: 536px;
  height: 42px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.three-dots img {
  width: 25px;
  height: 25px;
}

.feed-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.feed-bottom {
  padding-left: 16px;
  padding-right: 16px;
}

.bookmark-bar {
  height: 40px;

  display: flex;
  justify-content: space-between;
}

.bookmark-bar img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.bookmark-img-container {
  margin-right: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like {
  height: 18px;
  margin: 0 0 8px;
}

.comment-box {
  display: block;
  padding-top: 10px;
}

.each-comment {
  width: 582px;
  height: 18px;
  padding: 11px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.comment-id,
.content-id {
  font-weight: bold;
  padding-right: 5px;
}

.show-comment-all {
  font-size: 16px;
  color: grey;
}

.like-heart {
  position: absolute;
  right: 0;
}

.submit-heart {
  width: 15px;
}

.time-stamp {
  font-size: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: grey;
}

.comment-imput {
  height: 56px;
}

.comment-imput form {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 16px;
  border-top: solid thin lightgrey;
}

#submit-comment {
  width: 100%;
  height: 40px;
  border: none;
}

.submit-btn {
  border: none;
  background-color: white;
  color: #b3dffd;
}

.feed-right {
  width: 294px;
  height: 750px;
  overflow: hidden;
  /* background-color: hotpink; */
}

.side-profile {
  width: 294px;
  height: 56px;
  padding: 0 0 0 5px;
  margin-bottom: 10px;
  margin-top: 18px;
}

.side-profile-container {
  display: flex;
  align-items: center;
}

.side-user-img img {
  width: 61px;
  height: 61px;
  border-radius: 100%;
  border: 1px solid green;
}

.user-info-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-id {
  margin-bottom: 2px;
}

.side-recommend {
  width: 325px;
  height: 301px;
  margin: 0 0 12px -16px;
}

.side-recommend-top {
  width: 325px;
  height: 19px;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.recommend-text-left {
  width: 248.08px;
  height: 18px;
  font-size: 14px;
  color: grey;
}

.recommend-text-right {
  width: 44.92px;
  height: 14px;
  font-size: 12px;
  color: black;
}

.padding-side-group {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-top-bottom-8px {
  padding-bottom: 8px;
  padding-top: 8px;
}

.recommend-list-wrap {
  width: 325px;
}

.recommend-list-container {
  height: 250px;
}

.area-label {
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-left img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 0.5px grey;
}

.friend-img-box {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.label-center {
  width: 205.86px;
  height: 28px;
}

.friend-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 14px;
}

.friend-info {
  color: grey;
}

.friend-info {
  width: 205.86px;
  margin-top: 8px;
  font-size: 13px;
}

.label-right {
  width: 31.14px;
}

.follow {
  width: 31.14px;
  font-size: 12px;
  color: #4eb3f8;
}

.side-underInfo {
  font-size: 11px;
  color: grey;
}

.quick-menu {
  display: inline-block;
  padding: 0;
  text-align: start;
}

.quick-menu li {
  display: inline;
}

.quick-menu li:after {
  content: "﹒";
  letter-spacing: 0.2px;
  background: center center no-repeat;
}

.quick-menu li:last-child::after {
  content: "";
}
