* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
}

body {
  max-height: 3000px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.navbar p {
  margin-left: 20px;
  font-size: 25px;
  font-family: "Lobster Two", cursive;
}

.searchContainer {
  position: relative;
}

.searchContainer i {
  position: absolute;
  width: 10px;
  margin-top: 7px;
  margin-left: 75px;
  color: #b6b4b4;
}

.searchContainer input {
  width: 230px;
  height: 23px;
  padding: 13px 0px 13px 8px;
  color: #b6b4b4;
  background-color: #fafafae5;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-right: 20px;
}

nav i {
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1500px;
  background-color: #fafafa;
  
}

.feeds {
  display: flex;
  flex-direction: column;
  height: 2000px;
  width: 600px;
  margin-left: 20px;
  background-color: #fafafa;
}

.main-right {
  height: 100%;
  width: 400px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 30px;
  background-color: #fafafa;
}

.stories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  margin-top: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

.stories img {
  width: 70px;
  margin-left: 15px;
  padding: 2px;
  border-radius: 35px;
  border: 2px solid #c62e61;
}

.stories .story1,
.story2,
.story3,
.story4,
.story5 {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.stories p {
  text-align: center;
  font-size: 13px;
  padding-left: 10px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 25px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.accountContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.accountContainer img {
  width: 30px;
  margin-left: 20px;
  border-radius: 30px;
}

article header h1 {
  width: 476px;
  padding-left: 20px;
  color: black;
  text-align: left;
  font-weight: bold;
}

header i {
  margin-right: 20px;
  color: #595757;
}

article header .seeMore {
  width: 50px;
  height: 40px;
}

article .mainImage {
  width: 100%;
  height: 600px;
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 20px;
}

footerNav,
.likes,
.accountName,
.contentDetail,
section {
  padding-left: 20px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

footer i {
  width: 20px;
  font-size: 25px;
}


.filledFooterHeart, .filledCommentHeart {
  color: red;

}

.filledCommentHeart {
  color: red;
}

footerNav i {
  margin-right: 20px;
}

article .likes {
  font-weight: bold;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  max-height: 25px;
}

article .accountName {
  font-weight: bold;
}

.commentsContainer {
  list-style-type: none;
}

.commentsLog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentsContainer li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userAccount {
  font-weight: bold;
}

.commentsLog li {
  margin-top: 3px;
}

.commentsLog span {
  margin-right: 10px;
}

.commentsLog p {
  margin-top: 10px;
  color: #959595;
  font-size: 10px;
}

.main-right .myProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  background-color: #fafafa;
}

.main-right img {
  width: 70px;
  border-radius: 70px;
}

.main-right .accountInfo {
  margin-left: 15px;
  background-color: #fafafa;
}

.main-right h1,
h2 {
  background-color: #fafafa;
  text-align: left;
}

.main-right h1 {
  font-weight: bold;
}

.main-right h2 {
  margin-top: 3px;
  color: rgb(145, 144, 144);
}

.addComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 15px 20px 15px 20px;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-radius: 2px;
  
}

.inputComment {
  width: 500px;
  border: none;
  outline: none;
}

.inputSubmit {
  width: 30px;
  color: #c0dffd;
  border: none;
}

.darkBtn {
  color: #1c7ed6;
}

.commentsContainer i {
  margin-right: 20px;
  align-items: center;;
  color: darkgrey;
  font-size: 13px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 260px;
  margin-top: 20px;
  background-color: #fafafa;
}

.suggestions .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #fafafa;
  
}

.suggestions .suggestForYou {
  color: rgb(145, 144, 144);
  background-color: #fafafa;
  font-weight: bold;
}

.suggestions .seeAll {
  color: #262626;
  background-color: #fafafa;
  font-weight: bold;
  font-size: 13px;
}

.suggestProfiles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
}

.suggestProfile1,
.suggestProfile2,
.suggestProfile3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.imageAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
}

.imageAndName img {
  width: 35px;
  border-radius: 35px;
  margin-right: 15px;
}

.profileContainer .name {
  background-color: #fafafa;
  font-weight: bold;
}

.profileContainer .detail {
  color: rgb(145, 144, 144);
  background-color: #fafafa;
  font-size: 13px;
}

.suggestProfiles .follow {
  color: #0095f6;
  background-color: #fafafa;
  font-size: 13px;
}

.backgroundColor {
  background-color: #fafafa;
}
