* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafae5;
}

.loginContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px auto;
  width: 350px;
  height: 450px;
  border: 1px solid #dbdbdb;
  padding: 10px 0;
}

h1 {
  margin: 25px auto 0px;
  font-family: "Lobster Two", cursive;
  width: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px;
}

input {
  width: 258px;
  height: 36px;
  background-color: #fafafae5;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin: 3px auto;
  color: #8e8e8e;
  padding: 9px 0px 7px 8px;
}

button {
  width: 258px;
  height: 30px;
  background-color: #c0dffd;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  padding: 0;
  color: white;
}

.orContainer {
  display: flex;
  width: 350px;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
}

.left,
.right {
  width: 120px;
  border-top: 1px solid #cdcaca;
  height: 10px;
}

.left {
  margin: 7px 0 3px 45px;
}

.right {
  margin: 7px 45px 3px 0;
}

.orContainer p {
  width: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #8e8e8e;
}

span {
  color: darkblue;
  padding: 5px;
  margin: 30px auto;
}

.login-filled {
  background-color: darkblue;
}
