* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafae5;
}

.loginContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px auto 0px;
  padding: 10px 0;
  width: 350px;
  height: 390px;
  border: 1px solid #dbdbdb;
}

h1 {
  margin: 25px auto 0px;
  width: 200px;
  text-align: center;
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px;
}

input {
  background-color: #fafafae5;
  margin: 3px auto;
  padding: 11px 0px 11px 8px;
  width: 258px;
  height: 36px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #8e8e8e;
}

button {
  background-color: #c0dffd;
  margin: 10px auto;
  padding: 0;
  width: 258px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.darkBtn {
  background-color: #1c7ed6;
}

.orContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  height: 30px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.left,
.right {
  width: 120px;
  height: 10px;
  border-top: 1px solid #cdcaca;
}

.left {
  margin: 9px 0 3px 45px;
}

.right {
  margin: 9px 45px 3px 0;
}

.orContainer p {
  width: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #8e8e8e;
}

.loginFacebook {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.loginFacebook img {
  width: 20px;
  margin: 0px 6px;
}

.loginFacebook p {
  color: #385085;
  font-size: 14px;
  font-weight: bold;
}

.loginContainer span {
  color: #124172;
  padding: 5px;
  margin: 15px auto;
  font-size: 12px;
}

.noAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 65px;
  margin: 15px auto;
  text-align: center;
}

.noAccount h5 {
  margin-top: 20px;
}
.noAccount span {
  font-size: 13px;
  margin-top: 20px;
  color: #0095f6;
  font-weight: bold;
}

.getTheApp {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 350px;
}

.getTheApp h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.getTheApp .appImage {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.getTheApp img {
  margin: 0 3px;
  height: 120px;
}
