.container {
    width: 350px;
    height: 380px;
    margin: 100px auto;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
}

.logo {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

input {
    margin: 3px;
    padding: 9px 0px 7px 8px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa; 
}

button {
    margin: 8px 3px;
    padding: 9px 0px 7px;
    border: 0;
    background-color: #badffc;
    color: white;
    text-align: center;
}

input, button {
    border-radius: 3px;
}

input::placeholder {
    color: #b8b8b8;
}

input:focus {
    outline: none;
    border-color: gray;
}

.input {
    margin: 8px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    line-height: 10px; 
}

a{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    color: #00366b;
    font-size: 13px;
    text-decoration: none;
}
