* {
    box-sizing: border-box;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    padding: 0px 20px;
    border-bottom: 1px solid #efefef;
}

.logo {
    width: 360px;
    height: 36px;
}

.logo img{
    width: 103px;
    height: 29px;
}

.search {
    width: 215px;
    height: 28px;
    padding: 7px;
    background-color: #FAFAFA;
    border: 1px solid #efefef;
    border-radius: 3px;
}

.typing {
    width: 199px;
    height: 18px;
    background-color: #FAFAFA;
    border: none;
    outline: none;
    text-align: center;
}

.iconBar {
    width: 360px;
    height: 22px;
    margin: 0px 0px 0px 24px;
}
    

.profile {
    border-radius: 70%;
    overflow: hidden;
}

.icon img, .profile {
    width: 22px;
    height: 22px;
    margin: 0 8px 10px;
}