*{
    margin : 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

body{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    width: 100%
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    height: 55px;
    width:100%;
    z-index: 2;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
}

.searchWrapper{
    display: flex;
    justify-content: center;
    background-color: #FAFAFA ;
    width: 215px;
    height: 25px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.iconWrapper{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#logo{
    font-family: 'Lobster', cursive;
    color: #252529;
    font-size: 24px;
    text-decoration: none;
}

#searchInput{
    background-color:#FAFAFA ;
    width: 160px;
    height: 25px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#searchInput::placeholder{
    text-align: center;
    color: rgb(138, 138, 138);
    font-weight: 300;
    font-size: 14px;
}


/* feeds */

.feeds{
    margin-right: 30px;
}

.feedsWrapper{
    display: flex;
}

main{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%
}

#myProfile{
    width: 24px;
    height: 24px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.feedProfile{
    width: 32px;
    height: 32px;
    border: 1px solid #dbdbdb ;
    border-radius: 50%;
}

.feedArticleHeader{
    width:568px;
    height:27px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    display: flex;
    padding:16px;
}

.feedProfileWrapper{
    display: flex;
    align-items: center;
}



.articleHeaderWrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.userId{
    margin-left: 14px;
    text-decoration: none;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
    font-size: 14px;
}

.userId:hover, .otheruserId:hover {
    text-decoration:underline;
}


.otheruserId{
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}


.articlePhoto{
    width:600px;
    height: 600px;
}

.photoWrapper{
    width:600px;
    height: 600px;
    border: 1px solid #dbdbdb;
}

/* Comments */


.commentIconWrapper{
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 10px 16px;
}

.leftIcon{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.iconSet {
    width: 24px;
    height: 24px;
}


.writtenCommentsContainer{
    width: 600px;
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: white;
    position:relative;
}

#commentNum{
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}
.userComment{
    margin: 5px 0px;
}

#userIdinComment{
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

#userIdinComment:hover{
    text-decoration: underline;
}

#smileEmoji{
    width: 24px;
    height: 24px;
    margin: 12px;
}

.commentContainer{
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border: 1px solid #dbdbdb;
    border-top:none;
    background-color: white;
}


.commentInputWrapper{
    display: inline;
}

.commentText{
    width: 500px ;
    border: none;
    outline: none;
    margin-left: 14px;
}

.commentContent{
    display: inline;
    margin-bottom:5px;
    font-weight: 400;
    color: #252529;
}

.myCommentId{
    margin-right: 10px;
    text-decoration: none;
    color: #252529;
    font-weight: 600;
}

.myCommentId:hover{
    text-decoration: underline;
}

.myCommentWrapper{
    margin-bottom: 5px;
}

.commentText::placeholder{
    color: rgb(139, 139, 139);
}

.listContainer{
    margin-bottom: 15px;
    list-style: none;
}

.uploadButton{
    background-color: white;
    border: none;
    color: #0095F6;
    font-weight: 600;
    margin-left: 8px;
}

.uploadButton:hover{
    cursor: pointer;
}

.writtenInfo{
    margin-left:16px;
}


/* aside */

.asideRight{
    width: 293px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    
}

.recommendTextWrapper{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 0px 0px;
}

.myProfileContanier{
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

#myProfileWrapper{
    text-decoration: none;
}

.myProfileImg{
    width: 50px;
    border: 1px solid #dbdbdb ;
    border-radius: 50%;
}

.myNameText{
    color:#252529;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-left:16px;
}

#recommendText{
    display: inline-block;
    color:rgb(133, 133, 133);
    font-weight:600;
}

#seeAll{
    color:#252529;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.userRecommend{
    position: relative;
    list-style: none;
    padding: 10px 0px;
    width:100%;
}

.userList{
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.recommendListWrapper{
    display: inline-block;
}

#user1Profile{
    width: 32px;
    margin-right:12px;
}

.recommendId{
    font-weight: 600;
    text-decoration: none;
    color: #262626;
}

.recommendId:hover{
    text-decoration: underline;
}

.followerInfo{
    font-size: 12px;
    color: rgb(139, 139, 139);
}

.followButton, .switchButton{
    position: absolute;
    right: 0px;
    background-color: #fafafa;
    border: none;
    color: #0095F6;
    font-weight: 600;
    font-size: 12px;
}

.followButton:hover, .switchButton:hover{
    cursor: pointer;
}

.footerText{
    font-size: 11px;
    color: rgb(196, 196, 196);
    line-height: 160%;
    padding: 10px 0px;
}

