:root {
    --main-padding: 14px;
    --comment-fontSize: 13px;
    --aside-fontSize: 12px;
    --border-color: #e6e6e6;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100%;
    padding: 0 83px;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
}

.navLogo {
    position: relative;
    display: flex;
}

.navLogo img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.navLogoTitle {
    line-height: 20px;
    font-size: 20px;
    font-family: "Lobster", cursive;
}

.navLogo .navLogoTitle::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 20px;
    background-color: black;
}

.navSearchWrap {
    position: relative;
}

.navSearch {
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-align: center;
}

.searchPopup {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: auto;
    z-index: 100;
}

.searchPopup li {
    display: block;
    display: flex;
    margin: 10px;
}

.searchPopup li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.navLink img {
    width: 22px;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
    background-color: #fafafa;
}

main .feeds {
    width: 614px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.articleHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px;
}

.articleHeader .profileImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.articleHeader .profileName {
    color: black;
    font-weight: bold;
    font-size: var(--comment-fontSize);
}

.articleHeader .viewMore {
    position: absolute;
    right: 10px;
    background-color: transparent;
    font-size: 0.8rem;
    color: #525252;
    outline: none;
    border: none;
}

.articleImg {
    width: 100%;
}

.articleLnb {
    display: flex;
    position: relative;
    padding: var(--main-padding);
    padding-bottom: 0;
}

.articleLnb a {
    margin-right: 10px;
}

.lnbImg {
    background: url("../images/sprite.png");
    width: 25px;
    height: 25px;
}

.articleLnb .heartImg {
    background-position: -130px -478px;
}

.articleLnb .msgImg {
    background-position: -307px -401px;
}

.articleLnb .shareImg {
    background-position: -517px -364px;
}

.articleLnb.bookmarkImg {
    position: absolute;
    right: 14px;
    background-position: -517px -260px;
}

.articleComment {
    position: relative;
    padding: var(--main-padding);
    margin-bottom: 10px;
}

.articleComment .articleLikes {
    font-size: var(--comment-fontSize);
    margin-bottom: 15px;
}

.articleComment .articleLikes span {
    font-weight: bold;
    font-size: var(--comment-fontSize);
}

.articleComment .comments {
    position: relative;
    margin-bottom: 5px;
}

.articleComment .commenter {
    font-weight: bold;
    font-size: var(--comment-fontSize);
}

.articleComment .myComment {
    display: inline-block;
    width: 190px;
    font-size: var(--comment-fontSize);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.articleComment .comment {
    font-size: var(--comment-fontSize);
}

.articleComment .commentBtn {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    color: #868686;
    font-size: 0.8rem;
    outline: none;
    cursor: pointer;
}

.articleComment .fa-heart {
    position: absolute;
    right: 0;
}

.articleComment .commentDeleteBtn {
    right: 20px;
}

.articleComment .commentTime {
    position: absolute;
    bottom: -5px;
    font-size: var(--comment-fontSize);
    color: #999999;
}

.articlePostComment {
    position: relative;
}

.postCommentInput {
    width: 100%;
    padding: 15px 55px 15px 40px;
    border: none;
    border-top: 1px solid #efefef;
}

.postCommentInput::placeholder {
    font-size: 13px;
}

.postCommentInput:focus {
    outline: none;
}

.articlePostComment .smile {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.articlePostComment .postCommentBtn {
    position: absolute;
    right: 10px;
    height: 100%;
    font-size: 13px;
    color: #72c2fa;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

aside {
    width: 293px;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px;
}

.asideProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profileImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.profileId {
    font-size: var(--aside-fontSize);
    font-weight: bold;
    margin-bottom: 5px;
}

.profileName {
    font-size: var(--aside-fontSize);
    color: grey;
}

.asideContainer {
    background-color: #fff;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.asideHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.asideHeader .title {
    color: grey;
    font-size: 13px;
    font-weight: bold;
}

.asideHeader .viewMore {
    font-weight: bold;
    font-size: 13px;
}

.asideMain {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.asideMain .imgAndId {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.asideMain img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.asideMain img::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    border: 1px solid red;
}

.asideMain .imgAndId {
    font-size: var(--aside-fontSize);
}

.asideMain .id {
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
}
.grey {
    color: grey;
}
.blue {
    color: blue !important;
}
.red {
    color: red;
}
.hide {
    visibility: hidden;
}

li {
    display: inline-block;
}
