  body {
    margin: 0px;
  }

  nav {
    border-bottom : 1px solid white; 
    padding : 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;    
    background-color: white;
  }
  
  main {
     padding-top: 100px;
     display: flex;
     justify-content: center;
  }
  
  .browser {
   background-color: #f8f7fa;
  }
  
  .border {
    margin-right: 20px;
  }
  
  #navFind {
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid white;
    padding: 5px 15px;
    text-align: left;
    background-color: whitesmoke;
    width: 15%;
    margin-right: 15%;
    }
  
  input {
      background: url('img/searcharea1.png') no-repeat top right;      
  }

  .imgWecode {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  
  #instagram {
    width: 130px;
    height: 50px;
    border-left: 1px solid black;
    padding-left: 15px;
    margin-right: 15%;
  }
  
  #main-left {
    position: relative;
    border: 1px solid white;
    width: 630px;
    top : 35px;
    float: left;
  }
  
  #wecodeBottom {
    background-color: white;
    display: flex;
    justify-content: flex-end;
  }
  

  #main-right {
    position: relative;
    top: 35px;
  }
  
  #typeComment {
    border-top: 1px solid #e6e6e8;
  }
  
  #wecodeMain {
    width: 630px;
    height: 650px;
  }
  
  .wecodeImg {
    border-radius: 50%;
    width: 7%;
    height: 7%;
    margin: 10px 15px 7px 10px;
  }
  
  .circle1 {
    border-radius: 60%;
    width: 8%;
    height: 4%;
    margin: 10px 15px 7px 8px;
  }

  .circle2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 15px 7px 20px;
    position: relative;
  }
  
  .threeDot {
    width: 5%;
    height: 5%;
    float: right;
    margin-right: 15px;
    margin-top: 0px;
    margin-left: 65%;
  } 

  .story-right{
    margin-left : 700px;
  }

  .dotRight {
    margin-left: 50%;
    margin-bottom: 10px;
  }
  
  
  .peopleLike {
    width: 500%;
  }
  
  .commentUser {
    padding-left: 15px; 
    margin-top: 5px;
    font-weight: bold;
  }
  
  .commentMsg {
    padding-left: 10px;
  }
  
  .commentTime {
    padding: 3px 0px 7px 15px;
    color: gray;
    margin: 0px;
  }
  
  #typeComment {
    background-color: white;
  }
  
  #typeComment input[type="text"] {
    border-style: hidden;
    font-size: medium;
    padding: 15px;
    box-sizing: border-box;
    width: 88%;
    color: gray;
  }
  
  #typeComment button[type="submit"] {
    float: right;
    margin: 15px;
    border-style: hidden;
    color: #bfe0f2;
    font-size: medium;
    background-color: white;
  }
  
  .deleteBtn {
    display: absolute;
    float: right;
    border: none;
    background-color: white;
    margin-right: 20px;
    font: medium;
    color: tomato;
  }
  
  .userId {
    margin-bottom: 0px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .makeBorder {
    border: 1px solid white;
    width: 350px;
    padding: 20px 10px 10px 0px;
    margin: 70px 0px 5px 30px;
    background-color: white;
  }
  
  .timePassed {
    margin-top: 0px;
    color: gray;
  }
  
  .follow {
    font-weight: bold;
    color: #3c81f0; 
    position: absolute;
    margin-left: 270px;
  }
  
  .user {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 97%;   
  }
  
  .bind {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .wordGray {
    margin-left: 25px;
    color: gray;
  }
  
  #white1 {
    position: absolute;
    background-color: ghostwhite;
    left: 2px;
    margin-top: 20px;
    margin-left: 60%;
  }

  .wordBlack {
    margin-right: 20px;
  }
  
  .white {
    background-color: white;
  }