body {
    background-color: rgba(250,250,250,1);
    padding-top: 50px;
    margin: 0;
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}
a {
    font: 14px;
    font-family: inherit;
    font-weight: 600;
    color: rgb(38,38,38);
    text-decoration: none;
}
.appliedMargin {
    margin-left: 14px;
}
.navContainer {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgb(219,219,219);
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    padding: 0 50px;
}
.navLeft img{
    width: 103px;
    height: 29px;
}
.navMid {
    width: 215px;
    height: 28px;
    border: solid 1px rgb(219,219,219);
    border-radius: 3px;
    background-color: rgb(250,250,250);
}
.navMid input {
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    border: 0px;
    background: rgb(250,250,250);
    padding: 3px 10px;
}
.navRight {
    display: flex;
    align-items: center;
}
.navIcon {
    margin-left: 5px;
}
.navIcon img {
    width: 22px;
    height: 22px;
}
.navIcon img:last-of-type {
    border-radius: 50%;
}

.feedsContainer {
    width: 935px;
    display: flex;
    justify-content: center;
    margin: 0 35.5px;
    padding-top: 30px;
}
.feedsStoryBox {
    width: 614px;
    height: 118px;
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 16px 0;
    margin: 0 0 24px;
    overflow: scroll;
}
.feedsStoryList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.feedsStoryListIdBox {
    text-align: center;
    margin: 0 12px;
}
.feedsStoryListIdBox img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.feedsStoryListId {
    font-size: 12px;
}
.feedsContents {
    width: 614px;
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
    margin: 0 28px 60px 0;
}
.feedsContents img {
    width: 100%;
}
.feedsTop {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
}
.feedsTopRight {
    display: flex;
}
.feedsTopRight img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.feedsTopDots {
    position: absolute;
    top: 14px;
    right: 0;
    padding: 8px;
}
.feedsTopDots img {
    width: 20px;
    height: 20px;
}
.feedsTopLocation {
    font-size: 12px;
}

.replySection {
    background-color: #FFFFFF;
}
.replyIconBar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.replyIconLeft img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.replyIconRight img {
    width: 24px;
    height: 24px;
}
.replyLikes {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 16px;
    margin: 0 0 8px;
}
.replyLikes img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
}
.replyListBox{
    padding: 0 16px;
}
.replyContents, .replyNumber, .reply {
    margin-bottom: 4px;
}
.replyNumber a {
    font-size: 14px;
    color: rgb(0,55,107);
}
.replyNumber a:active {
    color: rgb(142,142,142);
}
.reply {
    position: relative;
}
.reply a {
    margin-right: 2px;
}
.reply span {
    font-size: 14px;
}
.reply img {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
}
.replyTime {
    width: 100%;
    height: 19px;
    padding: 0 16px;
}
.replyTime time {
    font-size: 10px;
}
.replyTypeBox {
    width: 100%;
    border-top: 1px solid rgb(219,219,219);
    background: #FFFFFF;
    margin-top: 4px;
    padding: 0 16px;
}
.replyTypeLine {
    display: flex;
}
.replyTypeBox textarea {
    width: 540px;
    height: 18px;
    border: 0;
    margin: 19px 0;
    resize: none;
    outline: none;
}
.replyUploadBtn {
    color: rgba(0,149,246,.3);
}

.mainRight {
    width: 293px;
    height: 689px;
    position: fixed;
    left: 820px;
    padding: 0;
    margin: 0 0 30px;
}
.mainRightTop {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: 18px 0 10px 0;
}
.mainRightTop img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.mainRightTopId {
    font-size: 14px;
    margin-left: 20px;
}
.mainRightName {
    margin: 0 0 2px;
}
.mainRightNick {
    color: rgb(142,142,142);
    font-size: 12px;
}

.recommendContainer{
    width: 325px;
    margin: 0 0 12px -16px;
}
.recommendTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    margin: 12px 0 0;
}
.recommendTopRight {
    color: rgb(142,142,142);
    font-size: 14px;
}
.recommendTop a {
    font-size: 12px;
}
.recommendListBox {
    margin-bottom: 20px;
}
.recommendList {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.recommendListRight {
    display: flex;
}
.recommendList img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.recommendListName a {
    color: rgb(38,38,38);
    text-decoration: none;
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
}
.recommendListInfo {
    color: rgb(142,142,142);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0 -3px;
}
.recommendList button {
    color: rgb(0,149,246);
    font-weight: 600;
}

.extraInfo {
    width: 100%;
    padding: 0 16px;
}
.extraInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}
.extraInfo ul li::after {
    content: '\00B7';
    color: rgb(199,199,199);
    margin: 0;
}
.extraInfo ul li {
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
}
.extraInfo ul li a {
    text-decoration: none;
    color: rgb(199,199,199);
}
.extraInfo ul li a:visited {
    text-decoration: none;
}
.extraInfo span {
    font-size: 11px;
    letter-spacing: .5px;
    color: rgb(199,199,199);
}