* {
    box-sizing: border-box;
}
body {
    background-color: rgba(250,250,250,1);
    padding-top: 50px;
    margin: 0;
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer; /*disabled일 때 어떻게 포인터 없앨까*/    
}
a {
    font: 14px;
    font-family: inherit;
    font-weight: 600;
    color: rgba(38,38,38,1);
    text-decoration: none;
}
.appliedMargin {
    margin: 0 0 0 14px;
}
.navOuterContainer {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(219,219,219,1);
    background: #FFFFFF;
    z-index: 1;
    position: fixed;
    top: 0;
}
.navInnerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLeft img{
    width: 103px;
    height: 29px;
}
.navMid {
    width: 215px;
    height: 28px;
    border: solid 1px rgba(219,219,219,1);
    border-radius: 3px;
    background-color: rgba(250,250,250,1);
}
.navMid input {
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    border: 0px solid;
    background: rgba(250,250,250,1);
    padding: 3px 10px; /*돋보기 넣고 왼쪽 패딩 좀 넣어야함*/
}
.navRight {
    display: flex;
    align-items: center; /*안 먹는 느낌?*/
}
.navIcon {
    margin-left: 5px;
}
.navIcon img {
    width: 22px;
    height: 22px;
}
.navIcon img:last-of-type {
    border-radius: 50%;
}
.feedsOuterContainer {
    width: 935px;
    margin: 0 auto;
}
.feedsContainer {
    width: 935px;
    display: flex;
    justify-content: center;
    margin: 0 35.5px;
    padding-top: 30px;
}
.feedsStoryBox {
    width: 614px;
    height: 118px;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 16px 0;
    margin: 0 0  24px;
    overflow: scroll;
}
.feedsStoryList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.feedsStoryListIdBox {
    text-align: center;
    margin: 0 12px;
}
.feedsStoryListIdBox img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.feedsStoryListId {
    font-size: 12px;
}
.feedsContents {
    width: 614px;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
    margin: 0 28px 0 0;
}
.feedsContents img {
    width: 100%;
}
.feedsTop {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
}
.feedsTopRight {
    display: flex;
}
.feedsTopRight img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.feedsTopDots {
    position: absolute;
    top: 14px; /*안 쓰면 왜 내려갈까..연구해보자*/
    right: 0;
    padding: 8px;
}
.feedsTopDots img {
    width: 20px;
    height: 20px;
}
.feedsTopLocation {
    font-size: 12px;
}
.replySection {
    background-color: #FFFFFF;
}
.replyIconBar{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.replyIconLeft img, .replyIconRight img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    /*인스타처럼 img size는 24px, padding 0 16px을 주면 이미지가 작아지고
    img size 40, padding 8px을 주면 왼쪽 정렬이 조금 안맞는 문제가 있음. 생각해보자
    마지막 아이콘만 옆으로 오른쪽 정렬에 맞출 방법도 생각해보자.*/
}
.replyLikes {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 16px;
    margin: 0 0 8px;
}
.replyLikes img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.replyListBox{
    padding: 0 16px;
}
.replyContents, .replyNumber, .reply {
    margin-bottom: 4px;
}
.replyNumber a {
    font-size: 14px;
    color: rgba(0,55,107,1);
}
.replyNumber a:active {
    color: rgba(142,142,142,1);
}
.reply {
    position: relative;
}
.reply span {
    font-size: 14px;
}
.reply img {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
}
.replyTime {
    width: 100%;
    height: 19px;
    padding: 0 16px;
}
.replyTime time {
    font-size: 10px;
}
.replyTypeBox {
    width: 100%;
    height: 56px;
    border-top: 1px solid rgba(219,219,219,1);
    background: #FFFFFF;
    margin: 4px 0 0 0;
    padding: 0 16px;
}
.replyTypeLine {
    display: flex;
}
.replyTypeBox textarea {
    width: 540px;
    height: 18px;
    border: 0;
    margin: 19px 0;
    resize: none;
    outline: none;
}
.replyUploadBtn {
    color: rgba(0,149,246,.3);
}
.mainRight {
    width: 293px;
    height: 689px;
    padding: 0;
    margin: 0 0 30px;
}
.mainRightTop {
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
    margin-top: 18px;
    margin-bottom: 10px;
}
.mainRightTop img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.mainRightTopId {
    font-size: 14px;
    margin: 0 0 0 20px;
}
.mainRightName {
    margin: 0 0 2px;
}
.mainRightNick {
    color: rgba(142,142,142,1);
    font-size: 12px;
}
.recommendContainer{
    width: 325px;
    margin: 0 0 12px -16px;
}
.recommendTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    margin: 12px 0 0;
}
.recommendTopRight {
    color: rgba(142,142,142,1);
    font-size: 14px;
}
.recommendTop a {
    font-size: 12px;
}
.recommendListBox {
    margin-bottom: 20px;
}
.recommendList {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.recommendListRight {
    display: flex;
}
.recommendList img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.recommendListName a {
    color: rgba(38,38,38,1);
    text-decoration: none;
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
}
.recommendListInfo {
    color: rgba(142,142,142,1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0 -3px;
}
.recommendList button {
    color: rgba(0,149,246,1);
    font-weight: 600;
}

.extraInfo {
    width: 100%;
    padding: 0 16px;
}
.extraInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}
.extraInfo ul li::after {
    content: '\00B7';
    color: rgba(199,199,199,1);
    margin: 0;
}
.extraInfo ul li {
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
}
.extraInfo ul li a {
    text-decoration: none;
    color: rgba(199,199,199,1);
}
.extraInfo ul li a:visited {
    text-decoration: none;
}
.extraInfo span {
    font-size: 11px;
    letter-spacing: .5px;
    color: rgba(199,199,199,1);
}