header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

body {
  background-color: #fafafa;
}

.hLine {
  width: 2px;
  height: 35px;
  margin: 0 15px;
  background-color: #5e5e5e;
}

.instaMainImg {
  height: 30px;
  margin: 0 5px;
}

.home {
  height: 29px;
}

.dmIcon {
  height: 29px;
}

.profile {
  height: 25px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.iconStyle {
  height: 25px;
  margin: 0 5px;
}

.navTextBar {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 4px;
  padding: 13px 25px;
}

.navTextBarCon {
  position: relative;
  margin-top: 5px;
}

input::placeholder {
  color: #b1b1b1;
}

.navBar {
  width: 975px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 8px 20px;
  margin: 0 auto;
}

.homeIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrefIcons {
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feeds {
  width: 615px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 60px;
}

main {
  margin-top: 80px;
}

.wrapMain {
  position: relative;
  width: 935px;
  margin: 0 auto;
}

.wrapProfileR img {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  border-radius: 70%;
}

.wrapProfileL img,
.wrapProfile img {
  width: 40px;
  height: 40px;
  margin: 7px 10px;
  border-radius: 70%;
}

.wrapProfileL div p,
.wrapProfileR div p,
.wrapProfile div p {
  margin: 0;
  color: #b1b1b1;
  font-size: 14px;
}

.wrapProfileL,
.wrapProfileR,
.wrapProfile {
  display: flex;
  align-items: center;
  margin: 8px 5px;
}

.storyRecomWrap {
  height: 225px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.feedStyle {
  width: 100%;
}

.feedIcons {
  display: flex;
  justify-content: space-between;
  margin: 3px 9px 6px;
  background-color: white;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.feedLike {
  display: flex;
  align-items: center;
}

.feedTime {
  font-size: 12px;
  color: gray;
  margin: 13px 0;
  padding-left: 10px;
}

.feedComment {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eaeaea;
}

.commentText {
  width: 90%;
  height: 18px;
  border: 0;
  padding: 0 12px;
  margin: 18px 0;
  resize: none;
  overflow-y: auto;
}
.commentText::-webkit-scrollbar {
  display: none;
}

.commentButton {
  width: 10%;
  color: #b4def7;
  background-color: white;
  border: 0;
}

.asideWrap {
  position: absolute;
  top: 0;
  right: 293px;
}

.main-right {
  position: fixed;
  max-width: 293px;
  width: 100%;
  height: 100vh;
  margin-bottom: 30px;
}

.storyRecomStyle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.storyRecomStyle div {
  font-size: 14px;
  color: gray;
  font-weight: bold;
}
.storyRecomStyle a {
  font-size: 12px;
}

.emptyBox {
  max-width: 293px;
  width: 100%;
  height: 1px;
  right: 0;
}

.storyRecomWrap .wrapProfile {
  margin-top: 0;
  margin-bottom: 0;
}

.copyRight {
  color: #b1b1b1;
  font-size: 12px;
}

.commentListContainer {
  padding: 0 10px;
  margin: 0;
}

.feedContents {
  position: relative;
  word-break: break-all;
  margin-bottom: 8px;
}

.feedContents a {
  margin: 0 5px;
}

.commentIcons {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentHeart {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.feedsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img:hover {
  cursor: pointer;
}

.feedStyle:hover {
  cursor: default;
}

.searchIconBox {
  width: 215px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 2;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  cursor: text;
  background-color: #fafafa;
  padding: 7px;
}

.searchIconBox div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.searchImg {
  height: 10px;
  width: 10px;
  background-image: url(../img/123123.png);
  background-repeat: no-repeat;
  background-position: -399px -321px;
  margin-right: 10px;
}

.wrapNavTextBar {
  position: relative;
}

.searchText {
  color: #b1b1b1;
  font-size: 14px;
}

.changeMain {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hiddenSearchBox {
  display: none;
}

.searchBox {
  width: 241px;
  height: 362px;
  display: flex;
  position: fixed;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: white;
  z-index: 20;
  overflow: auto;
}

.wrapSearchBox {
  position: absolute;
  top: 51px;
  right: calc(50% + (241px / 2) + 22px);
}

.WrapSearchList {
  width: 100%;
}
.searchProfile {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.searchXBtn {
  background-image: url(../img/123123.png);
  background-repeat: no-repeat;
  background-position: -318px -333px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.navTextBarCon .searchXBtn {
  position: absolute;
  right: 5px;
  top: 4px;
}

.peopleCount {
  font-weight: bold;
  font-size: 16px;
}

.searchImgInText {
  position: absolute;
  top: 9px;
  left: 10px;
  height: 10px;
  width: 10px;
  background-image: url(../img/123123.png);
  background-repeat: no-repeat;
  background-position: -399px -321px;
}
