* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
    margin-left: auto;
    margin-right: auto;
}

* ul {
    list-style: none;
}

* a {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

* button {
    background: none ;
    outline: none;
    border: none;
}
* input {
    outline: none;
}
body {
    margin: auto;
    
}
header {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

nav {
    width: 935px;
    height: 47px;
    padding: 0 0 0 40px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.mainLogo {
    width: 270px;
    height: 30px;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    justify-content: flex-start;
    margin: 0px;
}

.searchBar {
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}
   
.searchText {
    width: 215px; 
    height: 24px;
    text-align: center;
    font-size: 12px;
    color: rgb(219, 219, 219);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px; 
}

.fa-search {
    font-size: 11px;
    color: rgb(219, 219, 219);
    position: absolute;
    margin-top: 7px;
    margin-right: 70px;
}

.navIcon {
    width: 198px;
    height: 22px; 
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.navIcon img {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin-top: 2px;
}

.navIcon a {
    text-decoration: none;
}

.navIcon i {
    font-size: 20px;  
    padding-top: 3px;
    white-space: nowrap;
    margin-right: 20px;
    
}

main {
    margin: auto;
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
    
}    

main section {
    width: 935px;
    height: 1000px;
    padding-top: 77px;
    display: flex;
    flex-flow: row nowrap;
}

.feedBox {
    max-width: 560px;
    width: 100%;
    height: 1000px;
    background-color: yellow;
    margin:0 0 0 40px;
    display: flex;
    flex-direction: column;
    display:inline-block;
}


.storyBox {
    box-sizing: content-box;
    width: 560px;
    height: 84px;
    padding: 16px 0px; 
    background-color: #ffffff; 
    border: 1px solid  rgb(219, 219, 219);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.storyUl {
    width: 20px;
    height: 84px;
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.storyList {
    width: 80px;
    height: 112px;
   
}

.storyBig {
    width: 80px;
    height: 122;
    display: flex;
    justify-content: center;
    position: relative;
}

.storyBig button {
    width: 64px;
    height: 68px;
    background-color: #ffffff;
    border: none;
    outline: none;
    
}

.storySmall {
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.storyCanvas {
    width: 66px;
    height: 66px;
    position: absolute;
    top: -4px;
    left: -10px;
    
}

.storySmall span {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 2px;
    left: -4px;
}

.storyUser {
    width: 62px;
    height: 14px;  
    font-size: 12px;
    color: rgb(83, 83, 83);
    position: absolute;
    top: 68px;
    left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.storyImg {
    width: 56px;
    height: 56px; 
    border-radius: 70px;  
    border: 1px solid rgb(219, 219, 219);
}

.viewBox {
    width: 560px;
    height: 840px;
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


.writer {
    width: 560px;
    height: 60px;
}
.userInfo {
    width: 550px;
    height: 55px;
    padding: 7px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goMypage {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border: none;
    outline: none;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goMypage .storySmall {
    width: 42px;
    height: 42px;
    display: flex;   
}

.storySmall .smallCanvas {
    width: 42px;
    height: 42px;
    position: absolute;
    left: -9px;
}

.storySmall span{
    width: 32px;
    height: 32px;
}

.smallImg img {
    width: 32px;
    height: 32px;
    border-radius: 70px;
    position: absolute;
    left: 5px;
    top: 5px;    
}

.userName {
    width: 500px;
    height: 36px;
    position: relative;
}

.linkName {
    font-style: bold;
    font-size: 13px;
    width: 117px;
    height: 15px;
    position: absolute;
    left: 12px;
}

.linkMap {
    font-size: 11px;
    width: 100px;
    height: 15px;
    position: absolute;
    left: 12px;
    top: 20px;
}
   
.mainImg {
    width: 560px;
    height: 560px;
    position: relative;
}
.bigImg img {
    width: 560px;
    height: 560px;
}

.tagIcon, .tagBtn{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagBtn {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.fa-user-circle {
    font-size: 25px;
}

.mainImg .fa-user-circle {
    display: none;
}
.mainImg:hover .fa-user-circle {
    display: block;
}

.talkBox {
    width: 560px;
    height: 203px;
    margin-left: 2px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.talkIcon {
    width: 520px;
    height: 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.talkIcon span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    align-items: center;
    position: relative;
}

.talkIcon button {
    width: 24px;
    height: 24px;
    align-items: center;
    margin: 0px;
}

.talkIcon i {
    font-size: 22px;  
    white-space: nowrap;
    align-items: center;
}

span.bookmarkIcon {
    padding-left: 388px;
}

.likeBox {
    width: 520px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 13px;
    font-style: bold;
    margin-left: 8px;
}

.likeBox a {
    margin: 0px;
}

.talkUsers {
    width: 540px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
}

.mainTalker, .commenter {
    width: 540px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8px; 
}

.linkUser {
    width: auto;
    height: auto;
    font-style: bold;
    margin: 0px;
}

.userWrite {
    width: 135px;
    height: 18px;
    font-size: 12px;
    margin: 0 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.moreText {
    width: 32px;
    height: 18px;
    margin: 0 0 0 3px;
    display: flex;
    align-items: center;
}

.viewAllComment {
    width: 540px;
    height: 18px;
    color: rgb(219, 219, 219);
    padding: 0 0 0 9px;
}

.viewAllComment a {
    width: 540px;
    height: 18px;
    color: rgb(142, 142, 142);
}

.linkFriend {
    width: auto;
    height: auto;
    margin: 0 5px 0 5px;
}

.linkFriend a {
    width: auto;
    height: auto;
    color: rgb(51, 94, 136);
}
.commenter {
    width: 540px;
    height: 18px;
    position: relative;
}
.commenter .heartIcon {
    width: 20px;
    height: 18px;
    margin: 0px;
    position: absolute;
    right: 5px;
}

.commenter button {
    width: 20px;
    height: 18px;
}


aside {
    max-width: 270px;
    width: 100%;
    height: 900px;
    background-color: green;
    position: fixed;
    top: 77px;
    right: 330px;   
}