body {
  display: block; ??
  background-color: #fafafa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 975px;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.instagram-icon, .nav-icons img {
  width: 22px;
  height: 22px;
}

.line {
  width: 1px;
  height: 24px;
  margin: 0 14px;
  background-color: #000;
}

.logo-img {
  width: 90px;
  height: 34px;
  padding-top: 6px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 7px;
}

.search {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.search-placeholder {
  position: absolute;
}

.fa-search {
  font-size: 10px;
  color: #8e8e8e;
}

.search-placeholder span {
    font-size: 14px;
    font-weight: 300;
    color: #8e8e8e;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.heart-icon, .profile-icon {
  margin-left: 24px;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  margin: auto;
  padding-top: 94px;
  width: 935px;
}

.feeds {
  max-width: 616px;
  margin-right: 28px;
}

.main-right {
  position: fixed;
  width: 293px;
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.feed {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.feed-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 60px;
}

.feed-link {
  display: flex;
  justify-content: space-between;
}

.user-location {
  font-size: 12px;
  font-weight: 400;
}

.user-link-location {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.user-location, .user-link {
  margin: 2px;
}

.user-link {
  font-size: 14px;
  font-weight: 600;
}

.feed-img {
  width: 614px;
}

.feed-info {
  padding: 16px;
}

.user-profile, .menu-btn {
  display: inline-block;
}

.menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.menu-icon {
  width: 16px;
  height: 16px;
  color: #262626;
}

.my-profile {
  display: flex;

  width: 100%;
  height: 56px;
}

.my-profile-img {
  width: 48px;
  height: 48dpx;
  border-radius: 50%;
}

/*
* {
  border: 1px solid red !important;
}
*/

