body {
  display: block;
  background-color: #fafafa;
}

.btn {
  padding: none;
  margin: none;
  border: none;
  background-color: transparent;
}

.user-profile-medium {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-link, .likes-users {
  font-size: 14px;
  font-weight: 600;
}

.likes-users {
  margin: inherit;
  padding: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 975px;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.instagram-icon, .nav-icons img {
  width: 22px;
  height: 22px;
}

.line {
  width: 1px;
  height: 24px;
  margin: 0 14px;
  background-color: #000;
}

.logo-img {
  width: 90px;
  height: 34px;
  padding-top: 6px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search {
  width: 215px;
  height: 28px;
  margin: 0 20px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.search-placeholder {
  position: absolute;
  color: #8e8e8e;
}

.fa-search {
  font-size: 10px;
}

.search-placeholder span {
    font-size: 14px;
    font-weight: 300;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.heart-icon, .profile-icon {
  margin-left: 24px;
}

main {
  display: flex;
  position: relative;
  margin: auto;
  padding-top: 94px;
  width: 935px;
}

.feeds {
  display: block;
  max-width: 616px;
  margin-right: 28px;
}

.feed {
  width: 100%;
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.feed-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 60px;
}

.feed-link {
  display: flex;
}

.user-link-location {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.user-location {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
}

.more-icon {
  width: 40px;
  height: 40px;
}

.more-icon-img {
  width: 16px;
  height: 16px;
  color: #262626;
}

.feed-img {
  width: 100%;
}

.feed-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 8px;
}

.feed-icons button {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
}

.feed-icons img {
  width: 24px;
  height: 24px;
}

.likes-num, .feed-content, .comment-written, .time {
  display: flex;
  justify-content: column;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 4px;
}

.likes-num {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.user-profile-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.view-more {
  color: #8e8e8e;
}

.likes-num p, .feed-content p, .comment-written p {
  font-size: 14px;
  padding-left: 5px;
}

.time {
  margin: 10px 0;
  font-size: 12px;
  color: #8e8e8e;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 56px;
  border-top: 1px solid #dbdbdb;
}

.comment-input {
  width: 100%;
  border: none;
}

.comment-submit {
  min-width: fit-content;
  color: #0095f6;
  font-weight: 600;
}










.wrap-main-right {
  width: 293px;
}

.my-profile {
  display: flex;
  align-items: center;
  width: 56px;
  height: 56px;
}

.my-profile-img {
  width: 48px;
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

.main-right {
  position: fixed;
  width: 293px;
}

.link {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 600;
}

.stories, .recommendation {
  display: block;
  width: 100%;
  max-height: 300px;
  margin-top: 10px;
  padding: 16px 16px 0 16px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.aside-title-container {
  display: flex;
  justify-content: space-between;
}

.aside-title {
  font-size: 14px;
  font-weight: 600;
  color: #8e8e8e;
}

.show-all {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

.story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.img-user-info {
  display: inline-flex;
  align-items: center;
}

.user-id-time {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-size: 14px;
  
}

.user-id {
  padding-bottom: 4px;
  font-weight: 600;
}

.story-time {
  font-weight: 400;
  color: #8e8e8e;
}

.story-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
}

.story-border {
  border: 2px solid;
  width: 100%;
  height: 100%;
  border-radius: 50%;
	background-image: var(), linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

.thumbnail-img {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

.follow {
  color: #0095f6;
  font-weight: 600;
}


footer {
  margin-top: 20px;
  font-size: 12px;
  color: #c7c7c7;
}

.language {
  padding: 0;
  font-size: 12px;
  color: #c7c7c7;
  background-color: transparent;
  border: none;
}

.copyright {
  margin-top: 20px;
}


/*
* {
  border: 1px solid red !important;
}
*/

