* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa; /* 전체 배경 색 */
    font-family: 'Montserrat', sans-serif, 'Nanum Gothic'; /* 폰트 */
}
