.main_bd {
  margin: auto;
  border-radius: 3px;
  align-items: center;
  background-color: #FAFAFA;
}

body {
  display: flex;
  position: relative;
  align-items: center;
  background-color: lightgray;
}


/* 메뉴 */
nav {
  display: flex;
  border-bottom: 1px solid lightgray;
  background-color: white;
  width: 1500px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.nav_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 15px;
}

.left_icons {
  display: flex;
  align-items: center;
}

.left_icons h1 {
  color: gray;
  font-size: 30px;
  font-weight: lighter;
  margin: 8px;
}

.left_icons h3 {
  font-size: 20px;
  font-family: Lobster, cursive;
}

.left_icons img {
  width: 20px;
  height: 20px;
}

.search input {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.right_icons img {
  width: 20px;
  height: 20px;
  margin: 10px;
}


/* 메인 */
.main {
  background-color: white;
  display: flex;
  width: 500px;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main div.feeds {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.main div.feeds .feeds_left {
  display: flex;
  align-items: center;
  margin: 5px;
}

.main div.feeds .feeds_left img {
  width: 33px;
  height: 33px;
  border-radius: 16px;
  margin: 10px;
}

.main div.feeds .feeds_left h1 {
  font-size: 18px;
  margin-left: 7px;
}

.main div.feeds .feeds_right p {
  margin: 13px;
  font-size: 30px;
  margin-left: 330px;
}

.main div.feeds .feeds_content {
  margin: 0;
}

.main div.feeds .feeds_content img {
  display: flex;
  width: 498px;
}

.main div.feeds .feeds_icons {
  display: -webkit-inline-box;
}

.main div.feeds .feeds_icons img {
  padding-top: 7px;
  padding-left: 10px;
}

.main div.feeds .feeds_icons_left img {
  width: 35px;
  height: 33px;
  margin: 3px;
}

.main div.feeds .feeds_icons_right img {
  width: 35px;
  height: 33px;
  margin: 3px;
  margin-left: 315px;
}

.main div.feeds .feeds_text {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.main div.feeds .feeds_text_top {
  display: flex;
  align-items: flex-end;
}

.main div.feeds .feeds_text img {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 5px;
}

.main div.feeds .feeds_text h1 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
}

.main div.feeds .feeds_text h2 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

.main div.feeds .feeds_text p {
  color: gray;
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}


/* 댓글 */
.main div.feeds .reply {
  display: flex;
}

.main div.feeds .reply input {
  display: flex;
  width: 400px;
  height: 45px;
  border: none;
  margin-left: 20px;
  border-radius: 2px;
}

.main div.feeds .reply #reply-btn {
  border: none;
  color: gray;
  background-color: white;
  width: 70px;
}

.main div.feeds .feeds_text #list li {
  display: flex;
  list-style: none;
  margin-left: 15px;
  margin-bottom: 5px;
}

/* 오른쪽 사이드 타이틀 */
.main-right .main_right_nav .main_right_title {
  font-size: 7px;
  display: flex;
  align-items: center;
}

.main-right .main_right_nav .main_right_title h1 {
  margin-left: 15px;
}

.main-right .main_right_nav .main_right_title h1 p {
  color: #BDBDBD;
}

.main-right .main_right_nav img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 35px;
}


/* 오른쪽 사이드 첫번째 박스 */
.main-right .main_right_top {
  background-color: white;
  width: 300px;
  height: 235px;
  border: 1px solid lightgray;
  margin-left: 30px;
  margin-top: 17px;
}

.main-right .main_right_top .title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
}

.main-right .main_right_top .title h1 {
  color: #A4A4A4;
  margin-right: 130px;
  font-size: 15px;
}

.main-right .main_right_top .title p {
  font-weight: bolder;
  font-size: 13px;
}

.main-right .main_right_top .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.main-right .main_right_top .profile img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  margin-left: 22px;
  margin-bottom: 10px;
}

.main-right .main_right_top .profile_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-right .main_right_top .profile_detail h1 {
  font-size: 15px;
  display: flex;
  margin-left: 10px;
  margin-bottom: 12px;
  flex-direction: column;
}

.main-right .main_right_top .profile_detail p {
  color:#A4A4A4;
  font-size: 13px;
  display: flex;
}


/* 오른쪽 사이드 두번째 박스 */
.main-right .main_right_bottom {
  background-color: white;
  width: 300px;
  height: 235px;
  border: 1px solid lightgray;
  margin-left: 30px;
  margin-top: 17px;
}

.main-right .main_right_bottom .title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
}

.main-right .main_right_bottom .title h1 {
  color: #A4A4A4;
  margin-right: 60px;
  font-size: 15px;
}

.main-right .main_right_bottom .title p {
  font-weight: bolder;
  font-size: 13px;
}

.main-right .main_right_bottom .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.main-right .main_right_bottom .profile img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  margin-left: 22px;
  margin-bottom: 10px;
}

.main-right .main_right_bottom .profile_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-right .main_right_bottom .profile_detail h1 {
  font-size: 15px;
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}

.main-right .main_right_bottom .profile_detail p {
  color:#A4A4A4;
  font-size: 13px;
  display: flex;
}


/* 오른쪽 사이드 맨 밑 footer */
.main-right .main_right_bottom .detail_text h1 {
  color:lightgray;
  font-size: 15px;
  margin-top: 30px;
}

.main-right .main_right_bottom .detail_text h2{
  color: lightgray;
  font-size: 15px;
}