* {
  box-sizing: border-box;
}

/*/여기부터 nav/*/ /*/여기부터 nav/*/ /*/여기부터 nav/*/

.nav {
  height: 55px;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.nav-concent {
  display: flex;
  justify-content: space-between;
  width: 975px;
  height: 54px;
}

.r-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 360px;
}
.r-nav-icon {
  display: flex;
}
.r-nav-icon img {
  width: 22px;
  margin: 15px;
}

img.logo-insta {
  height: 29px;
  width: 103px;
  margin-left: 10px;
}
.l-nav {
  align-items: center;
  display: flex;
  width: 360px;
}

input {
  text-align: center;
  width: 215px;
  height: 28px;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid darkgray;
  padding: 7px;
}
.search-bar {
  display: flex;
  align-items: center;
}
/*/여기까지 nav/*/ /*/여기까지 nav/*/ /*/여기까지 nav/*/

.main-content {
  background-color: #fafafa;
}

.feeds {
  margin: 0 485px;
  padding-top: 30px;
  width: 935px;
  height: 19891.4px;
  display: flex;
}

.article {
  margin-right: 28px;
  width: 614px;
  height: 19891.4px;
}

.profile-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  border: solid #dbdbdb 1px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 24px;
  padding: 16px 0;
  width: 612px;
  height: 118px;
  font: inherit; /*이게뭔지 찾아보기*/
}

.profile-box-pic {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  border: 3px solid yellow;
}

.profile-box-name {
  font-size: medium;
  text-align: center;
}

.feeds-top {
  display: flex;
  padding: 16px;
  border: 1px solid #dbdbdb;
  width: 614px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.fedds-top-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}

.feeds-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.feeds-top-name-dot {
  display: flex;
  width: 536px;
  height: 26px;
  margin-left: 14px;
  justify-content: space-between;
  align-items: center;
}

.dot-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 24px;
  height: 24px;
}

.big-img {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.big-in-img {
  width: 612px;
  height: 614px;
}

.feeds-bottom {
  width: 614px;
  height: 197px;
  border-right: solid 1px#dbdbdb;
  border-left: solid 1px #dbdbdb;
  border-bottom: #dbdbdb 1px solid;
  background-color: #ffffff;
}

.feeds-bottom-icons {
  width: 614px;
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
}

.feeds-bottom-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.feeds-bottom-icon img {
  width: 24px;
  height: 24px;
}

.feeds-bottom-iconR {
  margin-left: -10px;
  width: 40px;
  height: 40px;
  margin-left: 440px;
}

.feeds-bottom-likes {
  padding-right: 16px;
  padding-left: 16px;
  width: 614px;
  height: 18px;
  margin-bottom: 8px;
}

.feeds-bottom-likes p {
  width: 582px;
  height: 18px;
}

.text-area {
  width: 614px;
  height: 66px;
  padding-left: 16px;
  padding-right: 16px;
}

.text-area-1 {
  width: 582px;
  height: 18px;
  margin-bottom: 4px;
}

.reply-input {
  width: 614px;
  height: 56px;
  margin: 4px 0px 0px;
  padding: 0px 16px;
  display: flex;
  justify-content: flex-start;
}

.reply-input-1 {
  width: 614px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}

.reply-input-bar {
  min-width: 550.766px;
  min-height: 18px;
  flex-shrink: 0; /*수축속성*/
  resize: none;
  border-style: none;
  outline: none;
}

button {
  width: 30px;
  height: 18px;
  border-style: none;
  color: #0095f6;
  background-color: unset;
}

.main-right {
  width: 293px;
  height: 632px;
  background-color: #fafafa;
  position: fixed;
  left: 1127px;
  top: 88px;
  margin: 0 0 30px;
}

.main-right-info {
  width: 293px;
  height: 56px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-right-profile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.main-right-profile-info {
  width: 56.75px;
  height: 23px;
  margin-left: 5px;
}

.main-right-box {
  width: 325px;
  height: 291px;
}

.recommend {
  padding: 4px 16px;
  margin: 12px 0 0;
  width: 325px;
  height: 19px;
  display: flex;
  justify-content: space-between;
}

.recommend-list {
}

.list {
  display: flex;
  width: 321px;
  height: 256px;
  padding: 8px 0;
}

.list1 {
  display: flex;
  width: 321px;
  height: 48px;
}

.litst-img {
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

.list-name {
  width: 205.86px;
  height: 28px;
}
