* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.main-mold {
  width: 21.875em;
  height: 23.813em;
  border: 0.1em solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  margin-top: 0.5em;
}

.login-and-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17em;
  height: 7em;
  margin: 2em 0em;
  margin-bottom: 0.7em;
}

input {
  border-radius: 0.3em;
  outline: none;
  background-color: #fafafa;
  border: 0.1em solid #dbdbdb;
  font-size: 0.75em;
  height: 3em;
}

.id,
.password {
  padding: 0.6em;
}

.login-button {
  width: 17.05em;
  height: 2em;
  line-height: 1em;
  background-color: #b2dffc;
  color: #ffffff;
  font-size: 1em;
}

.login-button {
  padding: 0.6em;
  margin-bottom: 7em;
  border-style: none;
  border-radius: 0.3em;
  outline: none;
}

.missing-password {
  text-align: center;
  margin-top: 0em;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #00376b;
}
