*{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #8e8e8e;
}

a{
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

b{
    color: white;
}

input{
    color: black;
    line-height: normal;
    padding-left: .8em;
}

#hr1{
    border-style: none;
    border-top: 1px solid lightgray;
    margin: 10px 15px 0 45px;
}

#hr2{
    border-style: none;
    border-top: 1px solid lightgray;
    margin: 10px 45px 0 15px;
}


.download-app{
    height: 20px;
    color: #262626;
    font-size: 14px;
    margin: 16px auto;
}

main{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fafafa;
    height: 80vh;
    width: 100vw;
}

.container{
    box-sizing: border-box;
    border: 1px solid lightgray;
    background-color: white;
    justify-content: center;
}

.users-form {
    width: 350px;
    height: 380px;
    padding: 0 0 10px 0;
}

#or- {
    width: 80px;
    font-size: 13px;
}

.or {
    display: flex;
    margin-top: 10px;
    font-weight: 700;
}

.sign-up{
    width: 350px;
    height: 64px;
    box-sizing: border-box;
    background-color: white;
    margin: 10px 0 0 0;
}

button{
    width: 135px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 4px;
}

.download{
    display: flex;
    justify-content: center;
}

.instagram-img{
    width: 455px;
    height: 620px;
    background-color: blue;
    display: none;
}
.had-account{
    margin: 10px 0;
}

.footer {
    height: 20vh;
    background-color: #fafafa;
}

.footer-menu{
    margin: 0 auto;
    width: 60vw;
    display: flex;
    list-style: none;
    font-size: 12px;
    color: #8e8e8e;
    display: flex;
    
    
}

.footer-info{
    text-align: center;
}

.facebook-logo{
    width: 16px;
    padding-top: 10px;
}

.insta-logo{
    width: auto;
    height: 50px;
    margin: 30px auto;
    margin-top: 40px;
}

.btn{
    width: 258px;
    height: 36px;
    background-color: #fafafa;
    margin: 3px 0px;
    padding: 9px 0 px 7px 8px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.login{
    background-color: #C6DEFA;
    width: 270px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 10px
}

.login-to-facebook{
    padding-top: 20px;
}

.login-to-fb{
    display: inline;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    padding-left: 4px;
}
.forgot-password{
    font-size: 12px;
    color: #00376b;
    margin: 18px 0;
}
.had-account{
    font-size: 14px;
    color: black;
}

.sign-up-link{
    display: inline;
    font-size: 14px;
    color: #0095f6;
    font-weight: 600;
    padding-left: 4px;
}
.starts{
    box-sizing: border-box;
    padding-top: 22px;
}