/* mainBox */
.warp{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;}

.mainBox{
  width: 350px;
  height: 379px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background: #fff;
  margin: 0 auto;}

.logo{
  text-align: center;
  margin: 35px auto 25px;}

.loginBox{
  width: 350px;
  height: 170px;
  display: flex;
  text-align: center;
}
.loginFom{
  justify-content: center;
  flex-direction: column;}

.loginFom input{
    width: 260px;
    height: 36px;
    font-size: 12px;
    letter-spacing: -1px;
    color: #8e8e8e;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    padding: 3px 0 0 10px;
    border-radius: 5px;
    line-height: 36px;
    margin-bottom: 5px;}

.loginFom #loginButton{
    width: 260px;
    height: 34px;
    font-size: 15px;
    line-height: 34px;
    color: #fff;
    font-weight: bold;
    background-color: #b2dffc;
    border: 1px solid #b2dffc;
    margin-top: 6px;
    cursor: pointer;
}

.loginFom #loginButton:hover{
  background-color: #0095f6;
}

.helptext{
  text-align: center;
  margin-top: 35px;
}

.helptext a{
    font-size: 13px;
    letter-spacing: -1px;
    text-decoration: none;
    color: #4a5786;
    font-weight: bold;
}
