// font-size
$font-size--micro: 11px;
$font-size--small: 12px;
$font-size--normal: 14px;
$font-size-large: 25px;
$font-size-xlarge: 2em;

/* login elements size */
$westagram-box--width: 350px;
$login-text--width: 266px;
$body-min--height: 810px;
$icon-width: 16px;
$banner-width: 300px;

$westagram-box--height: 418px;
$login-text--height: 36px;
$login-submit--height: 30px;
$banner-height: 618px;

/* main elements size */
$icon-instagram--width: 22px;
$icon-search--width: 10px;
$search-input--width: 215px;
$img-profile--width: 32px;
$img-profile-like--width: 20px;
$img-profile-aside--width: 56px;

$search-input-height: 28px;
$textarea-height: 50px;

/* margin & padding */
$margin-value: 25px;

$padding-value: 16px;
$padding-value--7: 7px;
$padding-value--10: 10px;
$padding-value--14: 14px;
$padding-value--20: 20px;

/* color */
$color-font--main: #262626;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ed4956;
$color-blue: #21a3f7;
$color-activate-blue: #0195f6;
$color-skyblue: #c0dffd;
$color-darkblue: #00376b;
$color-darklightblue: #43525f;
$color-gray: #939393;
$color-gray2: #dbdbdb;
$color-gray3: #909090;
$color-lightgray: #fafafa;
$color-darkgray: #8e8e8e;
$color-font--gray: #b8b8b8;
$color-facebook: #385185;
$color-facebooklight: #687185;
