* {
    box-sizing: border-box;
    background-color: #ececec;
   }


.borderBox {
    background-color: white;
    width: 550px;
    height: 600px;
    margin: 100px auto;
    padding: 70px;
    border: 1.5px solid #cecece;
    border-radius: 2px;
    position: relative; /*p.text에 position: absolute; 주기 위해*/
}

h1 {
    background-color: white;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    margin: 0 0 50px 0;
}

.login {
    background-color: white;
}

input {
    display: block;
    width: 100%;
    height: 50px;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-size: 14px;    
}

input::placeholder {  
    color: #a1a1a1; 
} /*input 안의 텍스트 색깔 바꾸기*/



.btn {
    background-color: #3495f5;
    color: white;

    display: block;
    width: 100%;
    height: 50px;
    margin: 20px auto;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    opacity: 0.3;
}


a.text {
    background-color: white;
    color: #2929ad;
    text-align: center;
    text-decoration-line: none; /*a 링크 밑줄 없애기*/

    position: absolute; /*부모인 .border에 relative를 줌*/
    left: 0;
    right: 0;   /*left:0;과 right: 0;을 동시에 주면 width:100% 준 것과 같은 효과*/
    bottom: 30px;

}