* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

button {
  background-color: transparent;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0px;
  background-color: #fff;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.nav_bar {
  margin: 0 auto;
  width: 910px;
  height: 100%;
  margin: 0, auto;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav_left {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.nav_logo {
  height: 22px;
  width: 22px;
}

.nav_titile {
  font-size: 22px;
  font-family: "Lobster", cursive;
  margin-left: 30px;
}

.nav_center {
  display: flex;
  align-items: center;
  position: relative;
}

#search {
  height: 15px;
  position: absolute;
  left: 50px;
}

.search_bar {
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  width: 164px;
  height: 22px;
}

.nav_right {
  align-items: center;
  display: flex;
  padding-right: 24px;
}

.nav_right_imgs {
  width: 198px;
  display: flex;
  justify-content: space-around;
}

.nav_right_img {
  width: 22px;
  height: 22px;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_left {
  width: 614px;
  height: 893px;
}

.story_container {
  border: 1px solid #bdbbbb;
  height: 100px;
  width: 612px;
  padding: 16px, 0px;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  border-radius: 3px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72px;
  padding-left: 4px;
  padding-right: 4px;
}

.story_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}
.story_name {
  padding : 5px;
  height: 14px;
  font-size: 10px;
}

article {
  width: 614px;
  height: 893px;
}

.header_container {
  border: 1px;
  width: 614px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.header_left {
  padding: 16px;
  display: flex;
}

.feed_header_img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.feed_header_name {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 9px;
}


.feed_ficture {
  height: 612px;
  width: 612px;
}

.main_right {
  margin-left: 30px;
  width: 293px;
  height: 893px;
}

.feed_icons {
  display: flex;
  justify-content: space-between;
}

.feed_ions_left {
  display: flex;
}

.like,
.content{
  height: 40px;
  width: 40px;
  padding: 8px;
}
.comment {
  height: 43px;
  width: 43px;
  padding-bottom: 5px;
}

.feed_icons_right {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.fa-bookmark {
  font-size: 25px;
  font-weight: 100;
}

.likeNum{
  height: 18px;
  
}

.likeNum_btn {
  text-align: center;  
  font-size: 12px;
  height: 18px;
  width: 120px;
  outline: none;
  border: none;
  font-weight: 600;
}

#feed_content{
  width: 400px;
  height: 18px;
  position: relative;
  left: 15px;
}

.add_input {
  width: 614px;
  height: 58px;
} 

.add_comment {
  display: flex;
  position: relative;
  justify-content: space-between;
  
}

.addBtn {
  position: absolute;
    margin-top: 20px;
    right: 10px;
  }

  .add{
    border: 0;
    outline: 0;
  }

  .main_right_avator_container{
    display: flex;
    align-items: center;
    
  }

  .main_right_avator_imgs{
    height: 58px;
    width: 58px;
  }

  .avator_img {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    margin-top: 15px;
  }

  .avator_info {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 13px;
  }