* {
    box-sizing: border-box;
    font-family: 'Apple SD Gothic Neo','helvetica neue', Roboto, Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}
span, p {
    font-size: 14px;
    margin: 0;
}