* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
}

.loginBox {
  position: relative;
  margin: auto;
  padding: 10px 0;
  width: 350px;
  height: 360px;
  background-color: #ffff;
  border: 1px solid #dbdbdb;
}

.loginImg > img {
  display: block;
  margin: 22px auto 24px auto;
  margin-right: auto;
  width: 175px;
  height: 51px;
}

.form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}

button {
  width: 268px;
  height: 30px;
  margin: 8px 40px;
  background-color: #c0dffd;
  color: #ffff;
  border: 1px solid #c0dffd;
  border-radius: 3px;
}

input {
  width: 250px;
  height: 20px;
  padding: 9px 0px 7px 8px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 12px;
  outline: none;
}

div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-size: 13px;
  color: #00376b;
  text-decoration: none;
}
