*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}

a{
    text-decoration: none;
    color: #00376b;
}

.login_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 380px;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;    
    padding: 10px, 0;
    margin: 0 auto;
}

input::placeholder { 
    font-size: 80%; 
}

.login_input_container{
    display: flex;
    flex-direction: column;
}

.input_id{
    padding: 9px 0px 7px 8px;
    margin-bottom: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}

.password{
    padding: 9px 0px 7px 8px;
    margin-bottom: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
}

.loginBtn{
    background-color: rgba(0,149,246,.3);
    border-style: none;
    border-radius: 4px;
    padding: 9px 0px 7px 8px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}