body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--b3f,250,250,250),1);
}

a{
    text-decoration: none;
    color: #00376b;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(var(--cdc,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 350px;
    height: 380px;
    margin: 0, 0, 10px;
    padding: 10px, 0;

}

input::placeholder { 
    font-size: 80%; 
}


.loginPlace{
    display: flex;
    flex-direction: column;


}

.input_id{
    display: flex;
    flex-direction: column;
    padding: 9px 0px 7px 8px;
    margin-bottom: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);

}

.input_password{
    display: flex;
    flex-direction: column;
    padding: 9px 0px 7px 8px;
    margin-bottom: 7px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);

}

.loginBtn{
    background-color: rgba(0,149,246,.3);
    border-style: none;
    border-radius: 4px;
    padding: 9px 0px 7px 8px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

}





