*{
    box-sizing: border-box;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

.nav_bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-bottom: 1px solid#dbdbdb;
}

.nav_bar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 975px;
    height: 100%;
    margin: 0 auto;    
}

.nav_bar_logo{
    display: flex;
    justify-content: space-around;
}

.nav_bar_logo .logo_img{
    width: 22px;
    height: 22px;
}

.vertical_line{
    border-left: 2px solid black;
    height: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.nav_bar_logo .text_logo_img{
    width: 103px;
    height: 29px;
}

.logoText{
    width: 103px;
    height: 29px;
}
/*검색창 */
.search_bar{
    display: flex;
    position: relative;
    align-items: center;
    width: 215px;
    height: 28px;
    padding: 7 7 7 0px;
    border: 1px solid #dbdbdb;
    background-color: #FAFAFA;
}

.search_bar_input_text{
    width: 100%;
    height: 28px;
    padding: 3px 10px 3px 26px;
}

.search_icon{
    width: 10px;
    height: 10px;
}

.search_bar_container{
    position: absolute;
    text-align: center;
    width: 215px;
    height: 28px;
    font-size: 14px;
    cursor: text;
    border: 1px solid #dbdbdb;
    color: #8e8e8e;
    background-color: #fafafa;
}

.search_bar_gui{
    display: inline;
}

.nav_bar_icon img{
    width: 22px;
    height: 22px;
    margin-left: 22px;
    cursor: pointer;
}
/* 본문 margin box*/
.total_contents{
    width: 100%;
    height: 927px;
    padding-top: 50px;
    background-color: #fafafa;
}

.total_contents_container{
    display: flex;
    width: 935px;
    margin: 0 auto;
}
/* 좌측 게시글 */
.feed{
    width: 616px;
    height: 918px;
    margin-right: 28px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.feed_header_container{
    display: flex;
    width: 100%;
    height: 60px;
}

.feed_header_gui_container{
    display: flex;
    align-items: center;
    padding: 16px;
}

.feed_header_gui_container img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.feed_header_id_text{
    width: 450px;
    margin-left: 14px;
    cursor: pointer;
}

.feed_see_more_details_container{
    padding: 8px;
}

.see_more_deatils_btn{
    width: 40px;
    height: 40px;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.see_more_deatils_btn img{
    width: 16px;
    height: 16px;
}


.feed_img{
    width: 100%;
    height: 614px;
}

.feed_img img{
    width: 100%;
    height: 100%;
}

/* 좋아요, 댓글, 북마크 섹션 */
.like_share_comment_container{
    width: 100%;
    height: 242px;
}

.like_share_Section{
    display: flex;
    width: 100%;
    height: 40px;
    margin: 4px 0 0;
    padding: 0 16px;
    background-color: white;
}

.like_share_icon{
    display: flex;
}

.like_share_icon button{
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.like_share_icon img{
    width: 24px;
    height: 24px;
}

.like_share_blank_space{
    width: 500px;
    height: 40px;
}

.book_mark{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.book_mark img{
    width: 24px;
    height: 24px;
}

/* 좋아요 count */
.like_count{
    display: flex;
    align-items: center;
    height: 18px;
    width: 100%;
    margin: 0 0 8px;
    padding: 0 16px;
    background-color: white;
}

.like_count_btn{
    width: 80px;
    height: 18px;
    padding: 0;
    font-size: 14px;
    border: none;
    background-color: white;
}
/* comment 영역 */
.comment_section{
    width: 100%;
    height: 88px;
    padding: 0 25px;
    overflow: auto;
    background-color: white;
}

.comment_section_my_text{
    height: 18px;
    margin-bottom: 4px;
    font-size: 14px;
}

.comment_section_my_text a{
    font-weight: 600;
}

.comment_section_my_text button{
    height: 18px;
    outline: none;
    cursor: pointer;
    border: none;
    color:#8E8E8E;
    background-color: white;
}

.comment_section_user_text{
    font-size: 14px;
}
.comment_section_user_text li{
    margin-bottom: 4px;
}

.comment_section_user_text li a{
    font-weight: 600;
}

.upload_time{
    width: 100%;
    height: 20px;
    font-size: 10px;
    padding: 0 0 0 25px;
    align-items: center;
}

.input_comment_section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 4px 0 0;
    padding: 0 16px;
    border-top:1px solid #dbdbdb;
    background-color: white;
}

.input_comment_section_container{
    margin: 0 auto;
}

.input_area{
    width: 541px;
    height: 18px;
    padding: 0;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
}

.upload_btn{
    height: 18px;
    border: none;
    opacity: .3;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    color: #0095f6;
}
/* 우측 프로필 */
.profile_section{
    width: 293px;
    height: 500px;
    margin-right: 245px;
    background-color: #FAFAFA;
}

.profile_section_header{
    display: flex;
    align-items: center;
}

.profile_pic img{
    width: 56px;
    height: 56px;
    margin-top: 4px;
    border-radius: 50%;
}

.profile_section_my_id_container{
    margin-left: 20px;
}

.my_id{
    font-size: 14px;
}
.my_info{
    font-size: 12px;
}
/*추천 스토리*/
.recommend_story{
    width: 325px;
    height: 291px;
    margin: 0 0 12px -16px;
    padding: 4px 16px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-color: rgb(250,250,250,1);
}

.recommend_story_header{
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
 
}

.recommend_story_header a{ 
    font-weight: 600;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}

.recommend_profile_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recommend_profile_pic{
    padding: 8px;
}

.recommend_profile_pic img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.info_text{
    font-size: 14px;
    font-weight: 600;
    color: #8e8e8e;
}

.recommend_profile_info{
    width: 219.88px;
    height: 48px;
    padding-bottom: 8px;
}

.profile_Id{
    font-size: 14px;
}

/* 스토리 모두보기 */
.activity_time{
    font-size: 12px;
}

.follow_btn{
    font-size: 12px;
    width: 50px;
    height: 18px;
    outline: none;
    font-weight: 600;
    color: #0095f6;
}

.recommend_profile_list button{
    border: none;
    background-color: #FAFAFA;
}

.recommend_head{
    width: 325px;
    height: 191px;
    margin: 0 0 12px -16px;
    padding: 4px 16px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-color: #FAFAFA;
}

.insta_info_container{
    width: 100%;
    height: 106px;
    background-color:#FAFAFA;
}

.insta_info{
    width: 100%;
    height: 39px;
    margin-bottom: 16px;
    background-color:#FAFAFA;
}

.insta_info li{
    font-size: 12px;
    list-style: none;
    float: left;
    margin-left: 2.75px;
}

.insta_info ul{
    padding: 0;
    margin: 0 0 3px;
}

.insta_info li a{
    color: #c7c7c7;
}

.insta_company_info{
    font-size: 11px;
    color: #c7c7c7;
}

@media screen and (max-width: 1000px){
    .profile_section{
        display: none;
    }

    .feed{
        margin: 0 auto;
    }    
}