content {
    width: 350px;
    height: 380px;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border: 2px solid #e6e6e6;
    border-radius: 1px;
}

.instagramLogo {
    text-align: center;
}

.loginIdInput {
    width: 250px;
    height: 20px;
    padding: 9px 0 7px 8px;
    margin: 0 auto 10px;
    display: block;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.loginPasswordInput {
    width: 250px;
    height: 20px;
    margin: 10px auto 0;
    display: block; 
    padding: 9px 0 7px 8px;
    background-color: white ;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

button {
    width: 268px;
    height: 36px;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px; 
    background-color: #3897f0;
    opacity: 90%;
    border: 1px solid transparent;
    border-radius: 3px; 
    color: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.forgotPasswordHyperLink {
    text-align: center;
    margin-top: 80px;
    color: #00376B;
}
