nav {
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1)
}

.bar {
    max-width: 964px;
    padding: 0 20px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.nav-icons {
    list-style: none;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    margin-left: 300px;
}

.homeIcon, .messageIcon, .feedIcon, .likeIcon, .myPageIcon {
    margin: 0 7px;
}

.nav-searchBox {
    width: 300px; 
    height: 26px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 200px;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    background-image: url("../img/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 30%;
    font-size: 14px;
    text-align: center;
    background-color: #FAFAFA;
}


.instagramWord {
    width: 103px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.main {
    width: 80%;
}

.feeds {
    border: 2px solid black;
    width: 50%;
    margin-top: 20px;

}

.article {
    border: 1px solid black;
    width: 99%;
    margin: auto;
}

.rightOfMain { 
    border: 2px solid black;
    width: 30%;
}

.div {
    display: inline-block;
}

.feedTopBar {
    display: flex;
}

.chelseaLogo {
    width: 10%;
}

.chelseaAccount {
    text-size-adjust: 14px;
    font-weight: bold;
    text-align: center;
    margin: 15px 450px 0 10px;
}

.chelseaPlayer {
    width: 100%;
}