nav {
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

span {
    color: #8E8E8E;
    font-size: 10px;
}

.bar {
    max-width: 964px;
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    padding: 0 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.nav-icons {
    list-style: none;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    margin-left: 100px;
}

.icon {
    width: 25px;
    margin: 0 7px;
}

.nav-searchBox {
    width: 215px; 
    height: 26px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 100px;
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    background-image: url("../img/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 30%;
    font-size: 14px;
    text-align: center;
    background-color: #FAFAFA;
}

.instagramWord {
    width: 103px;
    
}

main {
    display: inline-flex;
    background-color: #FAFAFA;
}

.storyBar {
    display: block;
    overflow-x: auto;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 70%;
    margin: 20px 20px 0 100px;
    background-color: #FFFFFF;
}

.storyFeed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 118px;
    margin: auto;
    padding: 0 20px 0 25px;
    cursor: pointer
}

.storyUserGroup {
    width: 62px;
    height: 62px;
    justify-content: center;
    padding: 2px 0 0 2px;
    border-radius: 100%;
    background: radial-gradient(
        circle at 0% 99%,
        #FFC900 0%,
        #FFAB00 20%,
        #CC0C67 70%
        );
    text-align: center;
    margin-right: 5px;
}

.picStoryUser {
    width: 56px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    color: #8E8E8E;
}

.newsFeeds {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 70%;
    margin: 20px 20px 0 100px;
    background-color: #FFFFFF;
}

.article {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
}

.feedTopBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.leftFeedTopBar {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

.chelseaLogo {
    width: 11%;
}

.rightFeedTopBar {
    display: flex;
}
.chelseaAccountName {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 10px;
}

.dotDotDotButton {
    width: 60%;
    margin: 0 0 0 5px;
}

.chelseaPlayer {
    width: 100%;
}

.feedIcons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.feedIconsLeft {
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 60%;
}

.feedIconsRight {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.reply { 
    margin: 0 0 0 10px;
    font-size: 14px;
}

.comment { 
    display: flex; 
}

.userId { 
    font-size: 14px;
    font-weight: bold;
}

.commentMessage { 
    width: 60%;
    display: flex;
    margin-left: 10px;
}

.seeAll, .commentTime {
    font-size: 10px;
    margin:5px 0 5px 10px;
}

.leaveCommentBar {
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
}

.leaveCommentBox {
    width: 80%;
    margin: 10px 0 10px 10px;
    border: none;
    font-size: 14px;
}

.leaveCommentButton {
    border: none; 
    background-color: white;
    font-size: 14px; 
    color: #00376B;
}

.rightOfMain { 
    border: 2px solid black;
    width: 30%;
    margin: 20px 0 0 0;
    border: none;
}

@media (max-width: 613px) {
    .rightOfMain {
        display: none;
    }
}

.myAccountBox {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 20px;
    width: 290px;
    height: 45px;
}
.myAccountBoxPicture {
    display: flex;
    align-items: center;
    width: 50px;
    border-radius: 50px;
}
.myAccountBoxInformation {
    display: block;
    margin: 10px 0 0 20px;
}

.suggestedList {
    display: flex;
    font-size: 10px; 
    color: #8E8E8E;
}

.suggestedListForUser {
    display: flex; 
    width: 70%; 
    justify-content: flex-start;
    margin: 20px 10px 5px 20px;
}

.suggestedListSeeAll {
    display: flex; 
    width: 30%; 
    justify-content: flex-end;
    margin: 20px 10px 5px 10px;
}

.suggestedFriends {
    display: flex;
    margin: 10px 0 10px 0;
}

.suggestedFriendPic {
    width: 56px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 0 0 18px;
}

.suggestedFriendText {
    width: 50%;
    margin-left: 10px;
}

.suggestedFriendId {
    font-weight: bold;
    font-size: 14px;
}

.followSuggestedFriend {
    align-items: center;
    margin: 10px 0 10px 27px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px; 
    color: #00376B;
}

.companyInformation {
    display: inline-block;
    padding: 3px 3px 3px 3px;
    margin-top: 20px;
    font-size: 10px; 
    color: #C7C7C7;
}

.about1, .about2, {
    margin: 20px 0 5px 0;
}

.copyright {
    margin: 10px 0 10px 0;
}

.newContainer {
    display: flex;
}

.addedComment {
    margin-left: 10px;
}
.newUserId {
    font-size: 14px;
    font-weight: bold; 
}

.newComment {
    width: 60%;
    margin-left: 10px;
}

.heart {
    width: 8px;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;
}