.fullPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox{
    border: 1px solid #DBDBDB;
    text-align:center;
    height: 450px;
    width: 420px;
}

.loginLog{
    margin: 10% 0;
}

.loginInput{
    height: 30%;
}

input{
    width: 78%;
    height: 45px;
    margin: 3px 0;
    border-radius: 4px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}

button{
    width: 78%;
    height: 40px;
    margin: 13px 0;
    border-radius: 4px;
    background-color: #B2DFFC;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 17px;
}

.forgetPw{
    margin-top: 125px;
    font-size: 14px;
    color: #00376B;
    font-weight: bold;
 }
