@charset "UTF-8";
@import url("common.css");

body,
html {
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

/* 헤더 */
.main-wrapper .we-header {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0px;
  border-bottom: 1px solid var(--color-gray2);
}

.main-wrapper .we-header .header__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* 헤더 - 로고 박스 */
.main-wrapper .we-header .logo-box {
  flex: 0 1 15%;
  display: flex;
}

.main-wrapper .we-header .logo-box .icon-box {
  display: flex;
  align-items: center;
  padding-right: var(--padding-value--14);
  border-right: 2px solid var(--color-black);
}

.main-wrapper .we-header .logo-box .icon-box img {
  width: var(--icon-instagram--width);
}

.main-wrapper .logo-box h1 {
  margin-left: var(--padding-value--14);
  font-size: var(--font-size-large);
}

/* 헤더 - 검색 박스 */
.main-wrapper .we-header .search-box {
  position: relative;
  flex: 0 1 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-value);
}

.main-wrapper .we-header .search-box .search {
  width: var(--search-input--width);
  height: var(--search-input-height);
  padding: var(--padding-value--7);
  border-color: var(--color-gray2);
  border-radius: 5px;
  background-color: var(--color-lightgray);
  text-align: center;
}

.search::placeholder {
  color: var(--color-font--gray);
}

.main-wrapper .we-header .search-box img {
  position: absolute;
  left: 39%;
  width: var(--icon-search--width);
}

/* 헤더 - 링크 박스 */
.main-wrapper .we-header .link-box {
  flex: 0 1 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-wrapper .we-header .link-box a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper .we-header .link-box a::after {
  content: "";
  width: 4px;
  display: inline-block;
  border-bottom: 4px solid var(--color-red);
}

.main-wrapper .we-header .link-box a.invisible::after {
  visibility: hidden;
}

.main-wrapper .we-header .link-box a img {
  width: var(--icon-instagram--width);
  height: var(--icon-instagram--width);
  margin-bottom: var(--padding-value--7);
}

/* 메인 */
.main-wrapper .we-main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: var(--margin-value);
  background-color: var(--color-lightgray);
  overflow: scroll;
}

.we-main {
  flex: 0 0 50%;
}

/* 피드 헤더 */
.main-wrapper .we-main .feed-box {
  display: flex;
  justify-content: center;
  padding-bottom: var(--margin-value);
}

.main-wrapper .we-main .feed-box .feed {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 1px solid var(--color-gray2);
}

.main-wrapper .we-main .feed-box .feed .feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-value);
  background-color: var(--color-white);
}

.main-wrapper .we-main .feed-box .feed .feed__header .profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper .we-main .feed-box .feed .feed__header .menu-icon {
  width: var(--icon-width);
}

.main-wrapper .we-main .feed-box .feed .feed__header .menu-icon .menu {
  width: 100%;
}

.main-wrapper .we-main .feed-box .feed .feed__header .profile-box .name {
  padding: var(--padding-value--7);
  font-weight: bold;
  font-size: var(--font-size--normal);
}

.feed .feed__header .profile-box .profiles {
  width: var(--img-profile--width);
  height: var(--img-profile-width);
  border: 0;
  margin-left: 0;
}

.feed__header .profile-box .profiles img {
  border: 0;
}

/* 피드 사진 */
.main-wrapper .we-main .feed-box .feed__photo {
  height: 60vh;
}

.main-wrapper .we-main .feed-box .feed__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 좋아요 */
.comment-wrapper {
  background-color: var(--color-white);
}

.main-wrapper .we-main .feed-box .feed__like {
  display: flex;
  flex-direction: column;
  padding: var(--padding-value--7) var(--padding-value);
}

.main-wrapper .we-main .feed-box .feed__like .like__section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main-wrapper .we-main .feed-box .feed__like .like__section .icons {
  text-align: center;
}

.icon-btn {
  width: var(--icon-instagram--width);
  height: var(--icon-instagram--width);
  margin-left: var(--padding-value--7);
}

.icon-btn:first-child {
  margin-left: 0;
}

.icon-btn img {
  width: 100%;
  height: 100%;
}

/* 좋아요 정보 */
.feed .profiles {
  width: var(--img-profile-like--width);
  height: var(--img-profile-like--width);
  margin-right: var(--padding-value--7);
  margin-left: var(--padding-value);
}

.feed .profiles img {
  border: 1px solid var(--color-gray2);
}

/* 피드 댓글 */
.main-wrapper .we-main .feed-box .feed__comment {
  margin: var(--padding-value--7) var(--padding-value);
}

.main-wrapper .we-main .feed-box .feed__comment .comment {
  display: flex;
  justify-content: space-between;
}

.main-wrapper .we-main .feed-box .feed__comment .comment .comment__div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-wrapper .we-main .feed-box .feed__comment .comment .comment__div .more {
  color: var(--color-gray);
}

.main-wrapper .we-main .feed-box .feed__comment .comment .comment-heart {
  width: var(--icon-search--width);
}

.main-wrapper .we-main .feed-box .feed__comment .comment .comment-heart img {
  width: 100%;
}

.feed__comment .time {
  margin-top: var(--padding-value--7);
  color: var(--color-gray);
}

/* comment-input */
.main-wrapper .we-main .feed-box .comment-input {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-gray2);
}

.main-wrapper .we-main .feed-box .comment-input .comment__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-wrapper .we-main .feed-box .comment-input .comment__form .comment-area {
  flex: 1 1 90%;
  display: flex;
  align-items: center;
  max-height: var(--textarea-height);
  padding: var(--padding-value);
  resize: none;
}

.comment-area:focus {
  outline: none;
}

.comment-input .post-btn {
  flex: 1 1 10%;
  display: inline;
  font-weight: bold;
  color: var(--color-blue);
}

/* aside */
.aside-box {
  flex: 0 0 30%;
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0px;
  margin-left: var(--padding-value--20);
}

.aside-box .profiles-wrapper .profiles {
  width: var(--img-profile-aside--width);
  height: var(--img-profile-aside--width);
}

/* aside-in-list */
.aside-box .aside-in-list {
  display: flex;
  flex-direction: column;
  margin: var(--padding-value--20) 0;
  padding: var(--padding-value--10);
  border: 1px solid var(--color-gray2);
  background-color: var(--color-white);
}

.aside-in-list .aside__header {
  flex: 0 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-value--7) var(--padding-value--7);
}

.aside__header .title {
  color: var(--color-gray);
}

.aside__header .all-btn {
  color: var(--color-darkgray);
  font-weight: bold;
}

.aside-in-list ul {
  height: 18vh;
  overflow: scroll;
}

.aside-in-list .aside-list {
  display: flex;
  justify-content: space-between;
  padding-top: var(--padding-value);
}

.aside-in-list .aside-list .profiles-wrapper .profiles {
  width: var(--img-profile--width);
  height: var(--img-profile--width);
}

.aside-in-list .aside__header .title {
  font-weight: bold;
}

.aside-in-list .aside-list .follow-btn {
  font-weight: bold;
  color: var(--color-blue);
}

/* etc-link */
.etc-link {
  margin: var(--padding-value) 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links .links-item:after {
  content: "\00B7";
  margin-right: 3px;
}

.aside-box p {
  color: var(--color-gray);
}

/* 공통 CSS */
.profiles-wrapper {
  display: flex;
  align-items: center;
}

.profiles {
  width: var(--img-profile--width);
  height: var(--img-profile--width);
}

.profiles img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--padding-value);
}

.nickname {
  font-weight: bold;
  margin-right: var(--padding-value--7);
}

.profile-info .sentence {
  color: var(--color-gray);
}
