* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  background-color: #fafafa;
}

main {
  display: flex;
  padding-top: 30px;
  margin: 0 65px;
}
nav {
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 54px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > img {
  width: 103px;
  height: 29px;
  margin-left: 20px;
}

label {
  cursor: text;
}

.search-section {
  position: relative;
}

.search-section > input {
  background-color: #fafafa;
  width: 215px;
  height: 28px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  outline: none;
  padding-left: 25px;
}

.search {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 300;
}

#search:focus::placeholder {
  transform: none;
}
#search::placeholder {
  transform: translateX(40%);
}

.search-section:focus-within .fas {
  transform: translateX(-76px);
}
.fas {
  font-size: 10px;
  color: rgb(142, 142, 142);
  margin-right: 4px;
}

.menu-section {
  width: 222px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-section > a {
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 20px;
}
.menu-section i {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.7);
}

.menu-section i:hover {
  color: rgb(0, 0, 0);
}

.menu {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: none;
}

div.feeds {
  width: 614px;
  margin-right: 28px;

  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

div.story-section {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  width: 600px;

  background-color: white;
  margin-bottom: 24px;

  display: flex;
  overflow: scroll;
}
.story {
  margin: 16px 10px;

  width: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.story:nth-child(1) {
  margin-left: 20px;
}

.story > p {
  font-size: 14px;
}

.userPic {
  border-radius: 50px;
  border: 2.5px solid transparent;
  width: 66px;
  height: 66px;
  background-image: linear-gradient(#fafafa, #fafafa),
    linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 5px;
}

article {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  width: 600px;

  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

div.main-right {
  width: 293px;
  height: 100vh;
  position: fixed;
  left: 707px;
  right: 0;
  top: 88px;
}

/* feed */
/* header */
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header {
  width: 42px;
  height: 42px;
  border: 2.4px solid transparent;
}

header > p {
  width: 80%;
  margin-left: 14px;
  font-weight: bold;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
header > button {
  width: 32px;
  height: 32px;
  padding: 6px;

  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;
}
header > button > div {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

.photo {
  width: 100%;
  height: 600px;

  background: url(https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/121069093_380151816696989_4721420429397917324_n.jpg?tp=1&_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=hVhB1oCWwB8AX-JSahB&edm=AP_V10EAAAAA&ccb=7-4&oh=af01baecb8e947c6832cabe4e4e90245&oe=60A2ADE1&_nc_sid=4f375e);
}

.feedOptions {
  width: 100%;
  height: 40px;
  padding: 0 8px;

  display: flex;
  align-items: center;
}

.feedOptions img {
  width: 24px;
  height: 24px;
}
.feedOptions button {
  padding: 8px;
}

.feedOptions button:last-of-type {
  margin-left: 464px;
}
.photoDes {
  font-size: 14px;
  padding: 0 16px;
}

.numOfLikes {
  font-weight: 600;
}

ul {
  font-size: 14px;
  padding: 0 16px;
}

li {
  list-style: none;
  list-style-position: inside;
}

.invisible {
  display: none;
}

article img {
  width: 24px;
  height: 24px;
}

.comments > form {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
form > button {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px 16px 8px 0;
  align-items: center;
}

form input {
  width: 80%;
  border: none;
  outline: none;
}

form > button:last-of-type {
  color: rgba(0, 149, 246, 0.4);
  padding: 8px 0px 8px 16px;
}

/* side */
.userProfile-section {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-top: 16px;
  align-items: center;
  justify-content: space-between;
}

.userProfile-section > img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  margin-right: 16px;
}

.userInfo {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo > p {
  font-weight: bold;
  font-size: 14px;
}

.userProfile-section > button {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 149, 246);
}
.recommendTitle {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.recommendTitle > span:first-child {
  font-size: 14px;
  font-weight: 600;
  color: rgb(142, 142, 142);
}

.recommendTitle > span:last-child {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.recommendation {
  margin-top: 16px;
  display: flex;
  padding: 8px 0px 8px;
  width: 100%;
  justify-content: space-between;
}
.recommendation > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  margin-right: 10px;
}
.recommendation > button {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 149, 246);
  margin-left: 16px;
  padding: 0;
}
.recommendation .userInfo {
  width: 190px;
}

.recommendation .userMessage {
  font-size: 13px;
  color: rgb(145, 145, 145);
  font-weight: 400;
}

.footer {
  padding: 24px 0;
  height: 110px;
  font-size: 12px;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
