* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --border-color: rgb(219, 219, 219);
  --body-backgroundColor: #fafafa;
  --article-backgroundColor: rgb(255, 255, 255);
  --lessImportant-color: rgb(142, 142, 142);
  --active-btn-color: rgb(0, 149, 246);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 54px;
  background-color: var(--body-backgroundColor);
}

main {
  display: flex;
  padding-top: 30px;
  margin: 0 65px;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 1px;
  background-color: var(--body-backgroundColor);
}
nav > img {
  width: 103px;
  height: 29px;
  margin-left: 20px;
}

label {
  cursor: text;
}

.searchBar {
  position: relative;
}

.searchBar > input {
  position: relative;
  width: 215px;
  height: 28px;
  padding-left: 25px;
  background-color: var(--body-backgroundColor);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
}

.search {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--lessImportant-color);
  font-size: 14px;
  font-weight: 300;
}

#search::placeholder {
  transform: translateX(40%);
}

.fas {
  font-size: 10px;
  color: var(--lessImportant-color);
  margin-right: 4px;
}

#search:focus::placeholder {
  transform: none;
}

.searchBar:focus-within .fas {
  transform: translateX(-76px);
}

.linksOfMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 22px;
}

.linksOfMenu > a {
  margin-right: 20px;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
}

.linksOfMenu i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 23px;
}

.linksOfMenu i:hover {
  color: rgb(0, 0, 0);
}

.linksOfMenu > button {
  padding: 0;
  margin-right: 20px;
}

.linksOfMenu img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

div.feeds {
  display: flex;
  flex-direction: column;
  width: 614px;
  margin-right: 28px;
}

div.storyBox {
  display: flex;
  width: 600px;
  margin-bottom: 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--article-backgroundColor);
  overflow: scroll;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 10px;
  width: 66px;
}

.story:nth-child(1) {
  margin-left: 20px;
}

.story > p {
  font-size: 14px;
}

.userPic {
  width: 66px;
  height: 66px;
  margin-bottom: 5px;
  border-radius: 50px;
  border: 2.5px solid transparent;
  background-image: linear-gradient(#fafafa, #fafafa),
    linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

article {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 60px;
  background-color: var(--article-backgroundColor);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 16px;
}

.header {
  width: 42px;
  height: 42px;
  border: 2.4px solid transparent;
}

header > p {
  width: 80%;
  margin-left: 14px;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

header > button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: transparent;
}

header > button > div {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

.photo {
  width: 100%;
  height: 600px;
  background: url(https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/121069093_380151816696989_4721420429397917324_n.jpg?tp=1&_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=hVhB1oCWwB8AX-JSahB&edm=AP_V10EAAAAA&ccb=7-4&oh=af01baecb8e947c6832cabe4e4e90245&oe=60A2ADE1&_nc_sid=4f375e);
}

.feedOptions {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 8px;
}

.feedOptions button {
  padding: 8px;
}

.feedOptions button:last-of-type {
  margin-left: 464px;
}

.photoInfo {
  padding: 0 16px;
  font-size: 14px;
}

.numOfLikes {
  font-weight: 600;
}

ul {
  padding: 0 16px;
  font-size: 14px;
}

li {
  list-style: none;
  list-style-position: inside;
}

.invisible {
  display: none;
}

.comments > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
}

form > button {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px 16px 8px 0;
  align-items: center;
}

form > input {
  width: 80%;
  border: none;
  outline: none;
}

form > button:last-of-type {
  padding: 8px 0px 8px 16px;
  color: #b3dffc;
}

.active {
  color: rgb(0, 149, 246) !important;
}

div.main-right {
  position: fixed;
  left: 707px;
  right: 0;
  top: 88px;
  width: 293px;
  height: 100vh;
}

.userProfileBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
}

.userProfileBox > img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--article-backgroundColor);
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
}

.userInfo > p {
  font-size: 14px;
  font-weight: bold;
}

.recommendation .userInfo {
  width: 190px;
}

.recommendation .userMessage {
  font-size: 13px;
  color: var(--lessImportant-color);
  font-weight: 400;
}

.userProfileBox > button {
  color: var(--active-btn-color);
  font-size: 12px;
  font-weight: bold;
}

.recommendTitle {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.recommendTitle > span:first-child {
  font-size: 14px;
  font-weight: 600;
  color: var(--lessImportant-color);
}

.recommendTitle > span:last-child {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.recommendation {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 8px 0px 8px;
}

.recommendation > img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--article-backgroundColor);
}

.recommendation > button {
  margin-left: 16px;
  padding: 0;
  color: var(--active-btn-color);
  font-size: 12px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
  height: 110px;
  color: var(--lessImportant-color);
  font-size: 12px;
}
