.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--login-box-height);
  width: var(--login-box-width);
  margin: 300px auto;
  background-color: white;
  border: 1px solid var(--dark-gray);
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px 0;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.id, input.password{
  height: 36px;
  width: 266px;
  padding: 0 7px;
  border: 1px solid var(--dark-gray);
  background-color: var(--light-gray);
  border-radius: 3px;
}

button.login-button {
  height: 30px;
  width: 268px;
  margin-top: 14px;
  background-color: #C5E0FC;
  color: white;
  border: none;
  border-radius: 4px;
}

input.password {
  margin-top: 6px;
}

.valid-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valid-check-message {
  display: none;
  margin: 7px 0;
  font-size: 14px;
}


.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  color: rgb(0,55,107);
}
