@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  list-style: none;
}


:root {
  --normal-gray: rgb(230,230,230);
  --light-gray: rgb(250,250,250);
  --dark-gray: rgb(219, 219, 219);
  --darker-gray: rgb(170, 170, 170);
  --nav-height: 54px;
  --feed-padding: 15px;
  --content-width: 935px;
}

body {
  background-color: var(--light-gray);
}

img {
  object-fit: cover;
}

/* common */

.westa-border {
  border: 1px solid var(--dark-gray);
  border-radius: 3px;
}

.westa-feed-padding-x {
  padding-right: var(--feed-padding);
  padding-left: var(--feed-padding);
}

button:hover {
  cursor: pointer;
}

/* nav-bar */

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  height: var(--nav-height);
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--dark-gray);
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
}

.nav-logo {
  display: flex;
  align-items: center;
  padding-right: 122px;
}

.nav-search {
  width: 215px;
  height: 28px;
  background-color: var(--light-gray);
}

.nav-search input{
  padding-left: 23px;
  color: var(--dark-gray);
  font-weight: 300;
}

.nav-icons{
  display: flex;
}
.nav-icon{
  padding-top: 3px;
  margin-left: 8px;
}

.nav-icon img{
  width: 22px;
  height: 22px;
  margin-left: 15px;
}
.nav-icon-profile{
  width: 22px;
  height: 22px;
  border-radius: 100%;
}



/* main */

main {
  display: flex;
  justify-content: center;
  padding-top: calc(30px + var(--nav-height));
  width: var(--content-width);
  margin: auto;
}



.main-left{
  display: flex;
  flex-direction: column;
  width: 612px;
  margin-right: 28px;
}

.story-box{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  width: 614px;
  height: 118px;
}

.story-icon-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 15px;
  width: 70px;
  height: 70px;
}

.story-icon-profile img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


/* feeds style */

.feed-box{
  display: flex;
  flex-direction: column;
  width: 614px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: white;
}

.feed-header-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
}

.feed-publisher-box{
  display: flex;
  align-items: center;
}

.feed-publisher-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 100%;
}

.feed-publisher-profile img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.feed-publisher-info-box{
  display: flex;
  flex-direction: column;
}

.feed-publisher-name{
  font-size: 14px;
  font-weight: 600;
}
.feed-publisher-place{
  font-size: 13px;
}

button.feed-header-menu{
  border:none;
  border-radius: 100%;
  font-weight: 600;
  font-family: 'Times New Roman';
  background-color: white;
  width: 20px;
  height: 20px
}

.feed-img-box{
  width: 100%;
  height: 768px;
  overflow: hidden;
}
.feed-img-box img{
  height: 100%;
}

.feed-social-box{
  display: flex;
  flex-direction: column;
}

.feed-social-icons-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

.feed-social-left-icons img{
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.feed-social-right-icons img{
  width: 24px;
}

.feed-social-likes{
  font-size: 15px;
  font-weight: 600;
}

.feed-introduce-box{
  margin-top: 7px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.feed-introduce-publisher-name{
  font-weight: 600;
}

.feed-upload-date{
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 11px;
  color: var(--darker-gray);
}

.feed-comment-box{
  margin-top: 7px;
}

.feed-comment-box li{
  display: flex;
  justify-content: space-between;
  margin: 2px 0 2px 0;
  word-wrap: break-word;
}

.feed-comment-box .comment-userid{
  font-weight: 600;
}

.comment-side-info {
  display: flex;
}
.comment-heart-button {
  margin: 0 3px 0 3px;
}
.comment-heart-button img {
  width: 12px;
  cursor: pointer;
}
.comment-delete-button {
  font-size: 15px;
  cursor: pointer;
  width: 30px;
}

.feed-comment-input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--normal-gray);
}

.feed-new-comment-input{
  border: none;
  width: 550px;
}
.feed-comment-upload-button button{
  border: none;
  background-color: white;
}

/* main-right */

.main-right{
  width: 335px;
}

.fixed-aside{
  display: flex;
  flex-direction: column;
  width: 295px;
  position: fixed;
  padding-top: 10px;
}
.aside-recommend-box{ 
  margin-bottom: 30px;
}
.aside-current-user-box, 
.aside-recommend-user-box,
.aside-recommend-title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-current-user-box{
  height: 80px;
}
.aside-recommend-user-box {
  height: 50px;
}
.aside-recommend-title-box {
  height: 30px;
}
.aside-recommend-show-all button{
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
}

.aside-recommend-for-user {
  color: var(--darker-gray);
  font-size: 14px;
  font-weight: 600;
}

.aside-current-user-info, .aside-recommend-user-info{
  display: flex;
}

.aside-current-user-text-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.aside-recommend-user-text-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.aside-current-user-id, .aside-recommend-user-id{
  font-size: 14px;
  font-weight: 600;
}
.aside-current-user-name, .aside-recommend-user-name{
  margin-top: 2px;
  color: var(--darker-gray);
  font-size: 13px;
}

.aside-current-user-profile,
.aside-recommend-user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.aside-current-user-profile{
  width: 58px;
  height: 58px;
}
.aside-current-user-profile img{
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.aside-recommend-user-profile{
  width: 32px;
  height: 32px;
}
.aside-recommend-user-profile img{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}


.aside-user-change button, .aside-follow-recommend-user button{
  border: none;
  background-color: transparent;
  color: #0395F6;
  font-size: 12px;
  font-weight: 600;
}


/* footer */
small{
  display: block;
  margin-bottom: 15px;
  color: var(--darker-gray);
  font-size: 11.5px;
}
small.westagram-copyright{
  font-weight: 600;
}