* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  list-style: none;
}

:root {
  --normal-gray: rgb(230,230,230);
  --light-gray: rgb(250,250,250);
  --dark-gray: rgb(219, 219, 219);
  --darker-gray: rgb(170, 170, 170);
  --nav-height: 54px;
  --feed-padding: 15px;
  --content-width: 935px;
  --title-box-height: 119px;
  --login-box-height: 378px;
  --login-box-width: 348px;
}

body {
  background-color: var(--light-gray);
}

img {
  object-fit: cover;
}