body {
  height: 400vh;
}
* {
  box-sizing: border-box;
}
.nav {
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid var(--gray-border);
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 210px;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

.navCenter {
  display: flex;
  align-items: center;
  margin-left: 60px;
  position: relative;
}

.navCenter > input {
  padding: 6px 26px;
  text-align: center;
  border-radius: 5px;
}

.navCenter > i {
  position: absolute;
  opacity: 0.4;
  left: 70px;
  top: 17px;
  font-size: 13px;
}
.navRight {
  width: 300px;
}
.navRight {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 160px;
}
.navRight ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navRight ul > li {
  margin: 0px 10px;
}

.navRight ul > li i {
  font-size: 25px;
}

.navRight img {
  width: 24px;
  border-radius: 50%;
}
/* main 화면 !! */
.main {
  height: 100%;
  display: flex;
  background-color: #fafafa;
}

.mainWrapper {
  height: 700px;
  width: 950px;
  margin: 0px auto;
  display: flex;
  background-color: white;
}

.feeds {
  padding-top: 80px;
  background-color: #fafafa;
  width: 600px;
}

.storyBox {
  height: 120px;
  display: flex;
  background-color: white;
  border: 1px solid var(--gray-border);
}

.story {
  width: 80px;
  height: 100%;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  flex-direction: column;
}

.story:first-child {
  margin-left: 10px;
}
.storyPicture {
  display: flex;
  justify-content: center;
}
.storyPicture img {
  width: 60px;
  border-radius: 50%;
  border-width: 3.5px;
  border-style: groove;
  border-color: #e45072 #e45072 #ebac65 #ebac65;
}
/*모든 이미지 마우스 hover 시 cursor : pointer*/
img {
  cursor: pointer;
}
.story-nikname {
  text-align: center;
}

.feed {
  margin-top: 30px;
  background-color: white;
  border: 1px solid var(--gray-border);
}

.feedHeader {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.feedHeader__profile {
  display: flex;
  align-items: center;
}
.feedHeader__profile img {
  margin-left: 20px;
  width: 40px;
  border-radius: 50%;
}

.feedHeader__profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.feedHeader__profile__info .nickname {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.feedHeader__profile__info .location {
  font-size: 12px;
}
.feedHeader__more {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.dot {
  width: 4px;
  height: 4px;
  margin: 0px 1px;
  border-radius: 50%;
  background-color: black;
}

.feedMain img {
  width: 100%;
  height: 500px;
}

.feedFooter {
  display: flex;
  flex-direction: column;
}

.feedFooter .actions {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.actionsLeft,
.actionsRight {
  display: flex;
  align-items: center;
}
.actionsLeft i,
.actionsRight i {
  font-size: 25px;
  margin-left: 15px;
}

.actionsLeft .fa-heart {
  margin-left: 23px;
}
.actions__center {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.actionsRight i {
  margin-right: 15px;
}
.dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0px 3px;
}

.dots:nth-child(2) {
  background-color: var(--deep-blue);
}

.likeCount,
.sentence {
  width: 550px;
  margin: 0px auto;
}
.likeCount span {
  font-size: 14px;
  font-weight: 700;
}

.sentence {
  margin-top: 5px;
}

.sentence span:first-child {
  font-size: 14px;
  font-weight: 600;
}
.sentence span:nth-child(2) {
  font-size: 13px;
}
.sentence span:nth-child(3) {
  font-size: 13px;
  display: none;
}

.main-right {
  padding: 80px 20px 0px 20px;
  width: 350px;
  height: 800px;
  background-color: #fafafa;
}

.main-right {
  display: flex;
  flex-direction: column;
}

.main-right .main-right__profile {
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.main-right__profile {
  display: flex;
  align-items: center;
}
.main-right__profile img {
  width: 60px;
  border-radius: 50%;
}

.main-right__profile__info {
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}

.main-right__profile__info span:first-child {
  font-size: 15px;
}
.main-right__profile__info span:last-child {
  margin-top: 5px;
  font-size: 13px;
  color: var(--middle-gray);
  font-weight: 600;
}

.main-right__change {
  color: var(--deep-blue);
  font-size: 13px;
  font-weight: 600;
}

.main-right__recommend__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.main-right__recommend__title span:first-child {
  font-size: 14px;
  font-weight: 900;
  color: var(--middle-gray);
}

.main-right__recommend__title span:last-child {
  font-size: 11px;
  font-weight: 900;
  color: var(--deep-gray);
}

.main-right__recommend__lists {
  display: flex;
  flex-direction: column;
}

.recommend__list {
  margin: 10px 0 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
}
.recommend__list__profile {
  display: flex;
}

.recommend__list__profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.recommend__list__profile__nickname {
  font-size: 14px;
  font-weight: 600;
}
.recommend__list__profile__reason {
  margin-top: 6px;
  font-size: 10px;
  color: var(--middle-gray);
}
.recommend__list img {
  width: 34px;
  border-radius: 50%;
}

.recommend__list__follow {
  color: var(--deep-blue);
  font-weight: 600;
  font-size: 12px;
}
.uploadDate {
  font-size: 12px;
  color: var(--middle-gray);
  padding: 10px 24px;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
}
.footer .footerComment {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin: 0px auto;
}
.footer #commnetInput {
  background-color: transparent;
  width: 80%;
  height: 100%;
  padding: 5px 0;
}

#submit {
  background-color: transparent;
  color: var(--light-blue);
  font-weight: 600;
}

#commentInput {
  font-size: 15px;
  width: 80%;
  border: 0px;
  background-color: transparent;
}

.comment {
  display: flex;
  justify-content: space-between;
  padding: 3px 25px;
}
.commentLeft {
  display: flex;
}
.commentRight {
  display: flex;
}
.commentLeft .commentNickName {
  font-weight: 600;
  font-size: 14px;
}
.commentLeft .commentContent {
  margin-left: 20px;
  font-size: 14px;
}

#moreBtn {
  outline: none;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
#deleteBtn,
#heartBtn {
  display: flex;
  flex-direction: flex-end;
  outline: none;
  background: transparent;
  border: none;
}

#likeBtn {
  margin: 0px;
  padding: 0px;
  outline: none;
  background: transparent;
  border: none;
}
#deleteBtn:hover,
#heartBtn:hover {
  cursor: pointer;
}

.footerComment i {
  width: 20px;
}

@media screen and (max-width: 1100px) {
  .main-right {
    display: none;
    background-color: #fafafa;
  }
  .feeds {
    margin: 0px auto;
  }
  .mainWrapper {
    background-color: #fafafa;
  }
}
